<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Market(r) - Audit
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/assets/css/now-ui-dashboard.css?v=1.1.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/static/assets/css/demo.css" rel="stylesheet" />
</head>

<body class="audit">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="https://marketr.life" class="simple-text logo-normal">
          <img src="/static/assets/img/marketrwhite.png">
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/begin">
              <i class="now-ui-icons design_app"></i>
              <p>Profile</p>
            </a>
          </li>
          <li class="active">
            <a href="/competitors">
              <i class="now-ui-icons education_atom"></i>
              <p>Company Info</p>
            </a>
          </li>
          <li>
            <a href="/campaigns">
              <i class="now-ui-icons location_map-big"></i>
              <p>Goals</p>
            </a>
          </li>
          <li>
            <a href="/integrations">
              <i class="now-ui-icons ui-1_bell-53"></i>
              <p>History</p>
            </a>
          </li>
          <li>
            <a href="/settings">
              <i class="now-ui-icons users_single-02"></i>
              <p>Diagnosis</p>
            </a>
          </li>
          <li>
            <a href="/settings">
              <i class="now-ui-icons users_single-02"></i>
              <p>Prescription</p>
            </a>
          </li>
          <li>
            <a href="/settings">
              <i class="now-ui-icons users_single-02"></i>
              <p>Begin</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                  </div>
                </div>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="now-ui-icons media-2_sound-wave"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="now-ui-icons location_world"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="now-ui-icons users_single-02"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Account</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="append_to">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="sub_menu">
                  <div class="step">
                    <p class="step_name">Competitors</p>
                  </div>
                  <div class="step">
                    <p class="step_name">Company</p>
                  </div>
                  <div class="step step_active">
                    <p class="step_name sub_active">Audience</p>
                  </div>
                  <div class="step">
                    <p class="step_name">Product</p>
                  </div>
                  <div class="step">
                    <p class="step_name">Sales Cycle</p>
                  </div>
                </div><br><br>

                <div class="card-body yellow_border">
                  <form method="POST" id="setup" action="{{ url_for('product') }}">
                    <div class="card-header">
                      <div class="row">
                        <h6>Finally, who are we talking to?..</h6><br>
                        <h2 class="blue_header">Tell us about your ideal customer</h2>
                        <p>We realize you may have a fantastic product that pplies to a lot of primary <em>and</em> secondary customers, but let's focus on who you believe will be the primary revenue generator for your company.</p>
                        <br>
                      </div>

                      <p><em>Gender (select one)</em></p>
                      <div class="row" style="width: 60%;">
                        <div class="hover_box col-lg-3 col-md-3">
                          <img src="/static/assets/img/female.svg">
                          <h6 class="hidden">female</h6>
                        </div>
                        <div class="hover_box col-lg-3 col-md-3">
                          <img src="/static/assets/img/male.svg">
                          <h6 class="hidden">male</h6>
                        </div>
                        <div class="hover_box col-lg-3 col-md-3">
                          <img src="/static/assets/img/both.svg">
                          <h6 class="hidden">both</h6>
                        </div>
                        <input type="text" class="hidden_input hidden" name="gender">
                      </div>

                      <p><em>Target Age Groups (select all that apply)</em></p>
                      <div class="row row_cancel">
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <br><h6>0-11</h6><br>
                          <input type="text" class="hidden_input hidden" name="age_group_1">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <br><h6>12-17</h6><br>
                          <input type="text" class="hidden_input hidden" name="age_group_2">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <br><h6>18-24</h6><br>
                          <input type="text" class="hidden_input hidden" name="age_group_3">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <br><h6>25-34</h6><br>
                          <input type="text" class="hidden_input hidden" name="age_group_4">
                        </div>
                      </div>
                      <div class="row">
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <br><h6>35-44</h6><br>
                          <input type="text" class="hidden_input hidden" name="age_group_5">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <br><h6>45-54</h6><br>
                          <input type="text" class="hidden_input hidden" name="age_group_6">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <br><h6>55-64</h6><br>
                          <input type="text" class="hidden_input hidden" name="age_group_7">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <br><h6>64+</h6><br>
                          <input type="text" class="hidden_input hidden" name="age_group_8">
                        </div>
                      </div>

                      <div class="row">
                        <p>Where are they primarily located?</p><br>
                        <input type="text" name="location" class="form-control" placeholder="<type>">
                      </div>

                    </div>

                  </div>
                  <div class="grandparent">
                    <div class="card-body yellow_border">
                      <p>Why will your target audience most likely buy from you? (select one)</p>
                      <div class="row row_cancel">
                        <div class="multi_row hover_box col-lg-5 col-md-5">
                          <br><h6>Something just HAPPENED to them</h6><br>
                        </div>
                        <div class="multi_row hover_box col-lg-5 col-md-5">
                          <br><h6>Something they are PLANNING for</h6><br>
                        </div>
                      </div>

                      <div class="row">
                        <div class="multi_row hover_box col-lg-5 col-md-5">
                          <br><h6>Something they NEED</h6><br>
                        </div>
                        <div class="multi_row hover_box col-lg-5 col-md-5">
                          <br><h6>Something they WANT</h6><br>
                        </div>
                      </div>
                      <input type="text" name="why" class="hidden_input hidden">
                    </div>
                  </div>

                <div class="card-body yellow_border">
                  <p>How does your target buyer feel right <span class="blue_header"><strong>BEFORE</strong></span> they buy your product/service? (select all that apply, or if none fit, then describe in the available text box in the follow-up question)</p>
                  <div class="row row_cancel">
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Happy</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_1">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Excited</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_2">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Worried</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_3">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Hungry</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_4">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Bored</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_5">
                    </div>
                  </div>

                  <div class="row">
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Sad</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_6">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-3">
                      <br><h6>Unprepared</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_7">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Angry</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_8">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Thirsty</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_9">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Insecure</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_10">
                    </div>
                  </div>
                  <div class="row inset">
                    <h6>Tell us more about that.  Describe in terms of a common user story why they are buying your product (emphasize what they're feeling)...</h6>
                    <textarea name="before_freeform" class="form-control"><describe the post-purchase resulting actions and feelings></textarea>
                  </div>
                </div>

                <div class="card-body yellow_border">
                  <p>How does your target buyer feel right <span class="blue_header"><strong>AFTER</strong></span> they buy your product/service? (select all that apply, or if none fit, then describe in the available text box in the follow-up question)</p>
                  <div class="row row_cancel">
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Happy</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_1">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Excited</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_2">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Worried</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_3">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Hungry</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_4">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Bored</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_5">
                    </div>
                  </div>

                  <div class="row">
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Sad</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_6">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-3">
                      <br><h6>Unprepared</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_7">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Angry</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_8">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Thirsty</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_9">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Insecure</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_10">
                    </div>
                  </div>

                  <div class="row inset">
                    <p>Tell us more about that.  Describe in terms of a common user story why they are buying your product (emphasize what they're feeling)...</p>
                    <textarea name="after_freeform" class="form-control"><describe the post-purchase resulting actions and feelings></textarea>
                  </div>
                </div>
                </div>
                </div>


                <div class="onward">                
                  <input type="submit" class="continue">
                </div>

            </div>
          </div>
        </div> <!--end row-->
      </div>
    </div>



  <!--   Core JS Files   -->
  <script src="/static/assets/js/core/jquery.min.js"></script>
  <script src="/static/assets/js/core/popper.min.js"></script>
  <script src="/static/assets/js/core/bootstrap.min.js"></script>
  <script src="/static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Chart JS -->
  <script src="/static/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/static/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/static/assets/js/now-ui-dashboard.min.js?v=1.1.0" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src='/static/frontend.js'></script>
  <script src="/static/animations.js"></script>
</body>

</html>