{% extends "layout.html" %}

{% block title %}
<title>
  Market(r) - Audience
</title>
{% endblock %}



{% block content %}
  {% include "/sidebar/sidebar-intake-2.html" %}
  {% include "/topbar/topbar-customer.html" %}
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="append_to">
          <div class="row">
            <div class="col-md-12">
              <div class="card" style="padding: 5%;">
                <div class="sub_menu">
                  <div class="step">
                    <a href="/competitors" class="step_name">Competitors</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company" class="step_name">Company</a>
                  </div>
                  <div class="step step_active">
                    <a href="/competitors/company/audience" class="step_name sub_active">Audience</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company/audience/product" class="step_name">Product</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company/audience/product/product_2/salescycle" class="step_name">Sales Cycle</a>
                  </div>
                </div><br><br>

                <div class="card-body">
                  <form method="POST" id="setup" action="{{ url_for('product') }}">
                    <div class="card-header">
                      <div class="row row_cancel yellow_border">
                        <h6>Finally, who are we talking to?..</h6><br>
                        <h2 class="blue_header">Tell us about your ideal customer</h2>
                        <p>We realize you may have a fantastic product that applies to a lot of primary <em>and</em> secondary customers, but let's focus on who you believe will be the primary revenue generator for your company.</p>
                        <br>
                      </div>
                    </div>

                  <div class="reveal_container">
                    <a class="reveal_button continue">Let's do this</a>
                  </div>

                  <div class="reveal">  


                      <p><em>Gender (select one)</em></p>
                      <div class="row" style="width: 60%;">
                        <div class="hover_box col-lg-3 col-md-3">
                          <img src="/static/assets/img/female.svg">
                          <h6 class="hidden">female</h6>
                        </div>
                        <div class="hover_box col-lg-3 col-md-3">
                          <img src="/static/assets/img/male.svg">
                          <h6 class="hidden">male</h6>
                        </div>
                        <div class="hover_box col-lg-3 col-md-3">
                          <img src="/static/assets/img/both.svg">
                          <h6 class="hidden">both</h6>
                        </div>
                        <input type="text" class="hidden_input hidden" name="gender">
                      </div>

                      <p><em>Target Age Groups (select all that apply)</em></p>
                      <div class="row row_cancel">
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <br><h6>0-11</h6><br>
                          <input type="text" class="hidden_input hidden" name="age_group_1">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <br><h6>12-17</h6><br>
                          <input type="text" class="hidden_input hidden" name="age_group_2">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <br><h6>18-24</h6><br>
                          <input type="text" class="hidden_input hidden" name="age_group_3">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <br><h6>25-34</h6><br>
                          <input type="text" class="hidden_input hidden" name="age_group_4">
                        </div>
                      </div>
                      <div class="row">
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <br><h6>35-44</h6><br>
                          <input type="text" class="hidden_input hidden" name="age_group_5">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <br><h6>45-54</h6><br>
                          <input type="text" class="hidden_input hidden" name="age_group_6">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <br><h6>55-64</h6><br>
                          <input type="text" class="hidden_input hidden" name="age_group_7">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <br><h6>64+</h6><br>
                          <input type="text" class="hidden_input hidden" name="age_group_8">
                        </div>
                      </div>

                      <div class="row">
                        <p>Where are they primarily located?</p><br>
                        <input type="text" name="location" class="form-control" placeholder="<type>">
                      </div>

                    

                  
                  <div class="grandparent">
                    <div class="card-body yellow_border">
                      <p>Why will your target audience most likely buy from you? (select one)</p>
                      <div class="row row_cancel">
                        <div class="multi_row hover_box col-lg-5 col-md-5">
                          <br><h6>Something just HAPPENED to them</h6><br>
                        </div>
                        <div class="multi_row hover_box col-lg-5 col-md-5">
                          <br><h6>Something they are PLANNING for</h6><br>
                        </div>
                      </div>

                      <div class="row">
                        <div class="multi_row hover_box col-lg-5 col-md-5">
                          <br><h6>Something they NEED</h6><br>
                        </div>
                        <div class="multi_row hover_box col-lg-5 col-md-5">
                          <br><h6>Something they WANT</h6><br>
                        </div>
                      </div>
                      <input type="text" name="why" class="hidden_input hidden">
                    </div>
                  </div>

                <div class="card-body yellow_border">
                  <p>How does your target buyer feel right <span class="blue_header"><strong>BEFORE</strong></span> they buy your product/service? (select all that apply, or if none fit, then describe in the available text box in the follow-up question)</p>
                  <div class="row row_cancel">
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Happy</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_1">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Excited</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_2">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Worried</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_3">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Hungry</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_4">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Bored</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_5">
                    </div>
                  </div>

                  <div class="row">
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Sad</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_6">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-3">
                      <br><h6>Unprepared</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_7">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Angry</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_8">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Thirsty</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_9">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Insecure</h6><br>
                      <input type="text" class="hidden_input hidden" name="before_10">
                    </div>
                  </div>
                  <div class="row inset">
                    <h6>Tell us more about that.  Describe in terms of a common user story why they are buying your product (emphasize what they're feeling)...</h6>
                    <textarea name="before_freeform" placeholder="<describe the pre-purchase backstory of why they buy>" class="form-control"></textarea>
                  </div>
                </div>

                <div class="card-body yellow_border">
                  <p>How does your target buyer feel right <span class="blue_header"><strong>AFTER</strong></span> they buy your product/service? (select all that apply, or if none fit, then describe in the available text box in the follow-up question)</p>
                  <div class="row row_cancel">
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Happy</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_1">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Excited</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_2">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Satisfied</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_3">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Confident</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_4">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Safe</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_5">
                    </div>
                  </div>

                  <div class="row">
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Entertained</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_6">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-3">
                      <br><h6>Content</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_7">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Eager</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_8">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Prepared</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_9">
                    </div>
                    <div class="hover_box hb_many col-lg-2 col-md-2">
                      <br><h6>Empowered</h6><br>
                      <input type="text" class="hidden_input hidden" name="after_10">
                    </div>
                  </div>

                  <div class="row inset">
                    <p>Tell us more about that.  Describe in terms of a common user story of what they do and how they feel after purchasing/using your product/service. (emphasize what they're feeling)...</p>
                    <textarea name="after_freeform" placeholder="<describe the post-purchase resulting actions and feelings>" class="form-control"></textarea>
                  </div>
                </div>
                
                


                <div class="onward">                
                  <input type="submit" class="continue">
                </div>
              </div>
            </form>
        
        </div> <!--end row-->
      </div>
    </div>
{% endblock %}
