{% extends "layout.html" %}

{% block title %}
<title>
  Market(r) - Audience
</title>
{% endblock %}



{% block content %}

  {% with company="active" %}
    {% include "/sidebar/sidebar-intake.html" %}
  {% endwith %}
  {% include "/topbar/topbar-customer.html" %}
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="append_to">
          <div class="row">
            <div class="col-md-12">
              <div class="card" style="padding: 5%;">

                <div class="sub_menu">
                  <div class="step">
                    <a href="/competitors" class="step_name">Competitors</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company" class="step_name">Company</a>
                  </div>
                  <div class="step step_active">
                    <a href="/competitors/company/audience" class="step_name sub_active">Audience</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company/audience/product" class="step_name">Product</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company/audience/product/product_2/salescycle" class="step_name">Sales Cycle</a>
                  </div>
                </div>

                <div class="page_loading">
                  <div class='peeek-loading'>
                    <ul>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                  </div>
                </div>

                <div class="card-body invisible">
                    <form class="ignore_default" method="POST" id="setup" action="{{ url_for('product') }}">
                      <div class="card-header">
                        <div class="row row_cancel yellow_border">
                          <h6>Ok, just need to understand a bit more about your key customers...</h6>
                          <h2 class="blue_header">Getting to know your customers</h2>
                          <p>For the following points, please answer with respect to only 1 type of customer.</p>
                        </div>
                      </div>



                    {% if hide == False %}                  
                    <div class="reveal_container">
                      <a class="reveal_button continue">Let's do this</a>
                    </div>
                      <div class="audience reveal">  
                    {% else %}
                      <div class="audience"> 
                    {% endif %}
                      <div style="margin-bottom: 5%;" class="product_prev_container">
                      {% if names_and_ids != False %}
                      {% for name, id in names_and_ids %}
                        <div class='col-lg-3 col-md-3 col-sm-3 persona product_container'>
                          <a class="dyn_link" href="{{ url_for('audience', persona_id = id, redirect=True) }}" id="{{ id }}">
                            {% if name != None %}
                              <p>{{name}}</p>
                            {% else %}
                              <p>Still working...</p>
                            {% endif %}
                          </a>
                        </div>
                      {% endfor %}
                      {% endif %}
                      </div><hr>

                      <div class="yellow_border">
                        <div class="row">
                          <h4 class="center_it persona_intro" style="margin-top: 5%;">
                            
                          </h4>
                        </div>
                        <div class="row">
                        <div>
                          <a id="remove" href="">Remove this persona</a><br><br>
                        </div>
                          <label for="persona_name">Let's give this audience persona a name. Each of your audiences can have different names. Remember that this isn't supposed to be ALL of your customers&mdash;rather, a specific group of customers. You'll have a chance to add others at the end!</label>
                          <input type="text" class="form-control" maxlength="30" name="persona_name" placeholder="Persona Name">
                        </div>
                        <p><em>Gender (select one)</em></p>
                        <div>
                          <div class="row" style="width: 60%;">
                            <div class="hover_box col-lg-3 col-md-3">
                              <img src="/static/assets/img/female.svg">
                              <h6 class="hidden">women</h6>
                            </div>
                            <div class="hover_box col-lg-3 col-md-3">
                              <img src="/static/assets/img/male.svg">
                              <h6 class="hidden">male</h6>
                            </div>
                            <div class="hover_box col-lg-3 col-md-3">
                              <img src="/static/assets/img/both.svg">
                              <h6 class="hidden">both</h6>
                            </div>
                            <input type="text" class="hidden_input hidden" name="gender">
                          </div>
                        </div>

                        <p><em>Target Age Groups (select all that apply)</em></p>
                        <div>
                          <div class="row row_cancel">
                            <div class="hover_box hb_many col-lg-2 col-md-2">
                               <h6>0-11</h6> 
                              <input type="text" class="hidden_input hidden" name="age_group_1">
                            </div>
                            <div class="hover_box hb_many col-lg-2 col-md-2">
                               <h6>12-17</h6> 
                              <input type="text" class="hidden_input hidden" name="age_group_2">
                            </div>
                            <div class="hover_box hb_many col-lg-2 col-md-2">
                               <h6>18-24</h6> 
                              <input type="text" class="hidden_input hidden" name="age_group_3">
                            </div>
                            <div class="hover_box hb_many col-lg-2 col-md-2">
                               <h6>25-34</h6> 
                              <input type="text" class="hidden_input hidden" name="age_group_4">
                            </div>
                          </div>
                          <div class="row">
                            <div class="hover_box hb_many col-lg-2 col-md-2">
                              <h6> 35-44 </h6>
                              <input type="text" class="hidden_input hidden" name="age_group_5">
                            </div>
                            <div class="hover_box hb_many col-lg-2 col-md-2">
                               <h6>45-54</h6> 
                              <input type="text" class="hidden_input hidden" name="age_group_6">
                            </div>
                            <div class="hover_box hb_many col-lg-2 col-md-2">
                               <h6>55-64</h6> 
                              <input type="text" class="hidden_input hidden" name="age_group_7">
                            </div>
                            <div class="hover_box hb_many col-lg-2 col-md-2">
                               <h6>64+</h6> 
                              <input type="text" class="hidden_input hidden" name="age_group_8">
                            </div>
                          </div>
                        </div>

                        <div class="">
                          <p style="">In what city, state, US county, or country are they <u>mostly</u> located?</p> 
                          <input style="width: 75%;" type="text" id="location" name="location" class="form-control" placeholder="<type>">
                        </div>
                      </div>

                    <div class="row" style="margin-top: 5%;">
                      <h6>Time for the fun part! This looks intimidating, but it's not so bad.  Just breeze through, and quickly answer each question with how you would describe this person to a friend:</h6>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 right">
                        <h6>Formality</h6>
                        <p>How formally would you speak with this person?</p>
                      </div>
                      <div class="col-lg-6 col-md-6 left">
                        <div class="hover_box col-md-3 col-lg-3">
                          <h6>Super Casual</h6>
                        </div>
                        <div class="hover_box col-md-3 col-lg-3">
                          <h6>Casual, but respectful</h6>
                        </div>
                        <div class="hover_box col-md-3 col-lg-3">
                          <h6>Very formal</h6>
                        </div>
                        <input type="text" name="formality" class="hidden hidden_input ">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 right">
                        <h6>Who are they buying this for?</h6>
                        <p>For themselves or for their team or someone else?</p>
                      </div>
                      <div class="col-lg-6 col-md-6 left">
                        <div class="hover_box col-md-3 col-lg-3">
                          <h6>For themselves</h6>
                        </div>
                        <div class="hover_box col-md-3 col-lg-3">
                          <h6>For their team</h6>
                        </div>
                        <div class="hover_box col-md-3 col-lg-3">
                          <h6>For the entire organization</h6>
                        </div>
                        <input type="text" name="buying_for" class="hidden hidden_input ">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 right">
                        <h6>Tech Savvy</h6>
                        <p>How comfortable is this person with new technologies and programs?</p>
                      </div>
                      <div class="col-lg-6 col-md-6 left">
                        <div class="hover_box col-md-3 col-lg-3">
                          <h6>Prefers simpler times</h6>
                        </div>
                        <div class="hover_box col-md-3 col-lg-3">
                          <h6>Comfortable w/ common programs</h6>
                        </div>
                        <div class="hover_box col-md-3 col-lg-3">
                          <h6>Early adopter</h6>
                        </div>
                        <input type="text" name="tech_savvy" class="hidden hidden_input ">
                      </div>
                    </div>
                    <div class="row {{ 'hidden' if hide_1 else ' ' }}">
                      <div class="col-lg-6 col-md-6 right">
                        <h6>Decision-making authority</h6>
                        <p>How far removed is this person from making "Buy" decisions?</p>
                      </div>
                      <div class="col-lg-6 col-md-6 left">
                        <div class="hover_box col-md-3 col-lg-3">
                          <h6>Several levels removed from decision maker</h6>
                        </div>
                        <div class="hover_box col-md-3 col-lg-3">
                          <h6>Requires 1-2 other's approval</h6>
                        </div>
                        <div class="hover_box col-md-3 col-lg-3">
                          <h6>Ultimate decision maker</h6>
                        </div>
                        <input type="text" name="decision_making" class="hidden hidden_input ">
                      </div>
                    </div>
                    <div class="row {{ 'hidden' if hide_1 else ' ' }}">
                      <div class="col-lg-6 col-md-6 right">
                        <h6>Detail oriented vs. big picture</h6>
                        <p>Is this person "in the weeds" or stays at the 30,000 foot level?</p>
                      </div>  
                      <div class="col-lg-6 col-md-6 left">
                        <div class="hover_box col-md-3 col-lg-3">
                          <h6>Details matter most</h6>
                        </div>
                        <div class="hover_box col-md-3 col-lg-3">
                          <h6>Both detailed oriented and big-picture</h6>
                        </div>
                        <div class="hover_box col-md-3 col-lg-3">
                          <h6>Big picture ONLY</h6>
                        </div>
                        <input type="text" name="details" class="hidden hidden_input ">
                      </div>
                    </div>
                    <div class="row {{ 'hidden' if hide_1 else ' ' }}">
                      <div class="col-lg-6 col-md-6 right">
                        <h6>Driving motive</h6>
                        <p>What is the primary motivator behind this purchase?</p>
                      </div>
                      <div class="col-lg-6 col-md-6 left">
                        <div class="hover_box col-md-2 col-lg-2">
                          <h6>Save money</h6>
                        </div>
                        <div class="hover_box col-md-2 col-lg-2">
                          <h6>Improve revenues</h6>
                        </div>
                        <div class="hover_box col-md-2 col-lg-2">
                          <h6>Save time/effort</h6>
                        </div>
                        <div class="hover_box col-md-2 col-lg-2">
                          <h6>Reduce risk</h6>
                        </div>
                        <input type="text" name="motive" class="hidden hidden_input ">
                      </div>
                    </div>

                    
                    <div class="grandparent">
                      <div class="card-body yellow_border">
                        <p>Why will your target audience most likely buy from you? (select one)</p>
                        <div class="row row_cancel">
                          <div class="multi_row hover_box col-lg-5 col-md-5">
                             <h6>Something just HAPPENED to them</h6> 
                          </div>
                          <div class="multi_row hover_box col-lg-5 col-md-5">
                             <h6>Something they are PLANNING for</h6> 
                          </div>
                        </div>

                        <div class="row">
                          <div class="multi_row hover_box col-lg-5 col-md-5">
                             <h6>Something they NEED</h6> 
                          </div>
                          <div class="multi_row hover_box col-lg-5 col-md-5">
                             <h6>Something they WANT</h6> 
                          </div>
                        </div>
                        <input type="text" name="why" class="hidden hidden_input ">
                      </div>
                    </div>

                  <div class="card-body yellow_border">
                    <p>How does your target buyer feel right <span class="blue_header"><strong>BEFORE</strong></span> they buy your product/service? (select all that apply, or if none fit, then describe in the available text box in the follow-up question)</p>
                    <div class="row row_cancel">
                      <div class="hover_box hb_many col-lg-2 col-md-2">
                         <h6>Happy</h6> 
                        <input type="text" class="hidden_input hidden" name="before_1">
                      </div>
                      <div class="hover_box hb_many col-lg-2 col-md-2">
                         <h6>Excited</h6> 
                        <input type="text" class="hidden_input hidden" name="before_2">
                      </div>
                      <div class="hover_box hb_many col-lg-2 col-md-2">
                         <h6>Worried</h6> 
                        <input type="text" class="hidden_input hidden" name="before_3">
                      </div>
                      <div class="hover_box hb_many col-lg-2 col-md-2">
                         <h6>Hungry</h6> 
                        <input type="text" class="hidden_input hidden" name="before_4">
                      </div>
                      <div class="hover_box hb_many col-lg-2 col-md-2">
                         <h6>Bored</h6> 
                        <input type="text" class="hidden_input hidden" name="before_5">
                      </div>
                    </div>

                    <div class="row">
                      <div class="hover_box hb_many col-lg-2 col-md-2">
                         <h6>Sad</h6> 
                        <input type="text" class="hidden_input hidden" name="before_6">
                      </div>
                      <div class="hover_box hb_many col-lg-2 col-md-3">
                         <h6>Unprepared</h6> 
                        <input type="text" class="hidden_input hidden" name="before_7">
                      </div>
                      <div class="hover_box hb_many col-lg-2 col-md-2">
                         <h6>Angry</h6> 
                        <input type="text" class="hidden_input hidden" name="before_8">
                      </div>
                      <div class="hover_box hb_many col-lg-2 col-md-2">
                         <h6>Thirsty</h6> 
                        <input type="text" class="hidden_input hidden" name="before_9">
                      </div>
                      <div class="hover_box hb_many col-lg-2 col-md-2">
                         <h6>Insecure</h6> 
                        <input type="text" class="hidden_input hidden" name="before_10">
                      </div>
                    </div>
                    <div class="row inset">
                      <h6>Tell us more about that.  Describe in terms of a common user story why they are buying your product (emphasize what they're feeling)...</h6>
                      <textarea name="before_freeform" placeholder="<describe the pre-purchase backstory of why they buy>" class="form-control"></textarea>
                    </div>
                  </div>

                  <div class="card-body">
                    <p>How does your target buyer feel right <span class="blue_header"><strong>AFTER</strong></span> they buy your product/service? (select all that apply, or if none fit, then describe in the available text box in the follow-up question)</p>
                    <div class="row lastly row_cancel">
                      <div class="hover_box hb_many col-lg-2 col-md-2">
                         <h6>Happy</h6> 
                        <input type="text" class="hidden_input hidden" name="after_1">
                      </div>
                      <div class="hover_box hb_many col-lg-2 col-md-2">
                         <h6>Excited</h6> 
                        <input type="text" class="hidden_input hidden" name="after_2">
                      </div>
                      <div class="hover_box hb_many col-lg-2 col-md-2">
                         <h6>Satisfied</h6> 
                        <input type="text" class="hidden_input hidden" name="after_3">
                      </div>
                      <div class="hover_box hb_many col-lg-2 col-md-2">
                         <h6>Confident</h6> 
                        <input type="text" class="hidden_input hidden" name="after_4">
                      </div>
                      <div class="hover_box hb_many col-lg-2 col-md-2">
                         <h6>Safe</h6> 
                        <input type="text" class="hidden_input hidden" name="after_5">
                      </div>
                    </div>

                    <div class="row lastly">
                      <div class="hover_box hb_many col-lg-2 col-md-2">
                         <h6>Entertained</h6> 
                        <input type="text" class="hidden_input hidden" name="after_6">
                      </div>
                      <div class="hover_box hb_many col-lg-2 col-md-3">
                         <h6>Content</h6> 
                        <input type="text" class="hidden_input hidden" name="after_7">
                      </div>
                      <div class="hover_box hb_many col-lg-2 col-md-2">
                         <h6>Eager</h6> 
                        <input type="text" class="hidden_input hidden" name="after_8">
                      </div>
                      <div class="hover_box hb_many col-lg-2 col-md-2">
                         <h6>Prepared</h6> 
                        <input type="text" class="hidden_input hidden" name="after_9">
                      </div>
                      <div class="hover_box hb_many col-lg-2 col-md-2">
                         <h6>Empowered</h6> 
                        <input type="text" class="hidden_input hidden" name="after_10">
                      </div>
                    </div>

                    <div class="row inset">
                      <h6>Tell us more about that.  Describe in terms of a common user story of what they do and how they feel after purchasing/using your product/service. (emphasize what they're feeling)...</h6>
                      <textarea name="after_freeform" placeholder="<describe the post-purchase resulting actions and feelings>" class="form-control"></textarea>
                    </div>

                    <div style="margin-top:5%;" class="hidden lastlyFade center_it">
                      <h5>Got it, that's incredibly insightful of you. Well done!</h5>
                      <p>Most businesses will have at least 3-4 personas.  Do you have another you'd like to add?</p>
                    </div>

                    <div class="reveal_container">
                      <input name="submit_button" type="submit" style="background-color: #ca7d66;border: 3px solid #ca7d66;" value="+ ADD ANOTHER PERSONA" class="continue">
                    </div><hr style="margin-top: 10%;">
                  </div>

                  <div class="onward">                
                    <input name="submit_button" type="submit" class="continue">
                  </div>
                </div>
              </form>
        
        </div> <!--end row-->
      </div>
    </div>
{% endblock %}

{% block js %}
<script>
  setTimeout(function(){
    $('.page_loading').addClass('hidden')
    $('.card-body').removeClass('invisible')
  }, 200)
</script>
{% endblock %}









