{% extends "layout.html" %}

{% block title %}
<title>
  Market(r) - Competitors
</title>
{% endblock %}



{% block content %}
  {% with company="active" %}
    {% include "/sidebar/sidebar-intake.html" %}
  {% endwith %}
  {% include "/topbar/topbar-customer.html" %}
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="append_to">
          <div class="row">
            <div class="col-md-12">
              <div class="card" style="padding: 5%;">
                <div class="sub_menu">
                  <div class="step step_active">
                    <a href="/competitors" class="step_name sub_active">Competitors</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company" class="step_name">Company</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company/audience" class="step_name">Audience</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company/audience/product" class="step_name">Product</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company/audience/product/product_2/salescycle" class="step_name">Sales Cycle</a>
                  </div>
                </div>


                <form method="POST" id="setup" action="{{ url_for('company') }}">
                  <div class="card-header">


                    <div class="row yellow_border row_cancel">
                      <h6 class="title">Help Market(r) get to know your marketing space better...</h6>
                      <h2 class="blue_header">Let's understand your environment</h2>
                      <p>This will increase the strength of Market(r)'s machine learning engines' (and supporting Humans') analysis.</p>
                    </div>


                  </div>

                  <div class="reveal_container">
                    <a class="reveal_button continue">Let's do this</a>
                  </div>

                  <div class="reveal">  
                    <div class="card-body  all-icons">
                      <div style="margin-bottom:5%;">
                        <label for="industry">Industry</label><br>
                        <input style="width:50%;" name="industry" class="create_form form-control" id="industry" placeholder="Accountants">
                      </div>
                      <div class="row">
                        <p>Provide us with your top 2 competitors - this will ensure Market(r) really understands where your competition lies.</p>
                        <p>Don't have any solid competitors?  Add some companies that would be targeting your same target audience.</p>
                      </div>
                      <div class="row">
                        <div class="col=lg-6 col-md-6">  
                          <label for="competitor_1">Competitor #1 name</label>
                          <input type="text" name="comp_1_name" placeholder="Competitor #1 Name" class="form-control" id="competitor_1">
                        </div>
                        <div class="col=lg-6 col-md-6">  
                          <label for="competitor_1">Competitor #1 website</label>
                          <input type="text" name="comp_1_website" placeholder="www.competitor1.com" class="form-control" id="competitor_1">
                        </div>
                      </div>


                      <h6>What type of competitor are they to you?</h6>
                      <div class="row">
                        <div class="hover_box col-lg-2 col-md-2 col-sm-4">
                          <h6>Direct</h6>
                          <p>Similar product(s) and target market(s)</p>
                        </div>
                        <div class="hover_box col-lg-2 col-md-2 col-sm-4">
                          <h6>Indirect</h6>
                          <p>Different products but similar industry and target market(s)</p>
                        </div>
                        <div class="hover_box col-lg-2 col-md-2 col-sm-4">
                          <h6>Replacement</h6>
                          <p>Products/services that are in a different industry but could be a subsitute</p>
                        </div>
                        <div class="hover_box col-lg-2 col-md-2 col-sm-4">
                          <h6>Potential</h6>
                          <p>Competitor that is currently NOT distributing in your market</p>
                        </div>
                        <div class="hover_box col-lg-2 col-md-2 col-sm-4">
                          <h6>Future</h6>
                          <p>Business capabilities that <strong><em>could</em></strong> allow them to compete in your category/market</p>
                        </div>
                        <input type="text" id="1" name="comp_1_type" class="hidden_input hidden">
                      </div>

                    </div>
                    <div class="card-body  all-icons">
                      <div class="row">
                        <div class="col=lg-6 col-md-6">  
                          <label for="competitor_1">Competitor #2 name</label>
                          <input type="text" name="comp_2_name" placeholder="Competitor #2 Name" class="form-control" id="competitor_1">
                        </div>
                        <div class="col=lg-6 col-md-6">  
                          <label for="competitor_1">Competitor #2 website</label>
                          <input type="text" name="comp_2_website" placeholder="www.competitor2.com" class="form-control" id="competitor_1">
                        </div>
                      </div>



                      <h6>What type of competitor are they to you?</h6>
                      <div class="row">
                        <div id="startup" class="hover_box col-lg-2 col-md-2 col-sm-4">
                          <h6>Direct</h6>
                          <p>Similar product(s) and target market(s)</p>
                        </div>
                        <div id="smb" class="hover_box col-lg-2 col-md-2 col-sm-4">
                          <h6>Indirect</h6>
                          <p>Different products but similar industry and target market(s)</p>
                        </div>
                        <div id="bigbiz" class="hover_box col-lg-2 col-md-2 col-sm-4">
                          <h6>Replacement</h6>
                          <p>Products/services that are in a different industry but could be a subsitute</p>
                        </div>
                        <div id="bigbiz" class="hover_box col-lg-2 col-md-2 col-sm-4">
                          <h6>Potential</h6>
                          <p>Competitor that is currently NOT distributing in your market</p>
                        </div>
                        <div id="bigbiz" class="hover_box col-lg-2 col-md-2 col-sm-4">
                          <h6>Future</h6>
                          <p>Business capabilities that <strong><em>could</em></strong> allow them to compete in your category/market</p>
                        </div>
                        <input type="text" name="comp_2_type" id="2" class="hidden hidden_input">
                      </div>

                    </div>

                  <div class="onward">                
                    <input type="submit" class="continue">
                  </div>

                  </div>

                </form>

            </div>
          </div>
        </div> <!--end row-->
      </div>
    </div>



{% endblock %}

{% block js %}
<script>
  $(document).ready(function(){
    init_competitors()
  })
</script>
{% endblock %}







