{% extends "layout.html" %}

{% block title %}
<title>
  Market(r) - Company Info
</title>
{% endblock %}



{% block content %}
  {% with company="active" %}
    {% include "/sidebar/sidebar-intake.html" %}
  {% endwith %}
  {% include "/topbar/topbar-customer.html" %}

      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="append_to">
          <div class="row">
            <div class="col-md-12">
              <div class="card" style="padding: 5%;">
                <div class="sub_menu">
                  <div class="step">
                    <a href="/competitors" class="step_name">Competitors</a>
                  </div>
                  <div class="step step_active">
                    <a href="/competitors/company" class="step_name sub_active">Company</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company/audience" class="step_name">Audience</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company/audience/product" class="step_name">Product</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company/audience/product/product_2/salescycle" class="step_name">Sales Cycle</a>
                  </div>
                </div>  
                <form class="ignore_default" method="POST" id="setup" action="{{ url_for('audience') }}">
                  <div class="card-header">
                    <div class="row yellow_border">
                      <h6 class="title">Now, let's talk business...</h6>
                      <h2 class="blue_header">Let's feed in data on your business profile.</h2>
                      <p>And we can start easy.  Who are you and who are you selling to?</p>
                       
                    </div>
                    
                  <div class="reveal_container">
                    <a class="reveal_button continue">Let's do this</a>
                  </div>

                  <div class="reveal">  
                      <div class="row row_cancel">
                        <div class="hover_box col-lg-2 col-md-2 col-sm-4">
                          <h6>B2B</h6>
                          <p>A business selling to other businesses</p>
                        </div>
                        <div class="hover_box col-lg-2 col-md-2 col-sm-4">
                          <h6>B2C</h6>
                          <p>A business selling to consumers</p>
                        </div>
                        <div class="hover_box col-lg-2 col-md-2 col-sm-4">
                          <h6>C2C</h6>
                          <p>A consumer selling to other consumers (e.g. etsy)</p>
                        </div>
                        <div class="hover_box col-lg-2 col-md-2 col-sm-4">
                          <h6>OTHER</h6>
                        </div>
                        <input name="selling_to" class="hidden hidden_input" type="text">
                      </div><hr>
                    <div class="card-body  all-icons">
                      <p><em>What is your primary business model? If you have multiple, pick the one that's your bread and butter. Not sure or it's kinda complicated?* (see below)</em></p>
                      <div class="grandparent">
                        <div class="dummy">
                          <div class="row row_cancel">
                            <div class="hover_box multi_row col-lg-2 col-md-2 col-sm-4">
                              <h6>SaaS</h6>
                              <p>Software-based services</p>
                            </div>
                            <div class="hover_box multi_row col-lg-2 col-md-2 col-sm-4">
                              <h6>Digital Product</h6>
                              <p>Ebooks, online courses, music, etc.</p>
                            </div>
                            <div class="hover_box multi_row col-lg-2 col-md-2 col-sm-4">
                              <h6>Tangible Product</h6>
                              <p>Physical item that you can touch and feel</p>
                            </div>
                            <div class="hover_box multi_row col-lg-2 col-md-2 col-sm-4">
                              <h6>Professional Services</h6>
                              <p>Lawyers, consultants, property managers, dentists, etc.</p>
                            </div>
                          </div>
                          <div class="row row_cancel">
                            <div class="hover_box multi_row col-lg-2 col-md-2 col-sm-4">
                              <h6>Affiliate</h6>
                              <p>Paid by third parties for lead referrals</p>
                            </div>
                            <div class="hover_box multi_row col-lg-2 col-md-2 col-sm-4">
                              <h6>Manual Services</h6>
                              <p>Physical labor / skills for hire (landscaping, massages, plumbing, etc.)</p>
                            </div>
                            <div class="hover_box multi_row col-lg-2 col-md-2 col-sm-4">
                              <h6>Media Provider</h6>
                              <p>You produce content and make money from ads/promotions (e.g. blogger, tv station, magazine)</p>
                            </div>
                            <div class="hover_box multi_row col-lg-2 col-md-2 col-sm-4">
                              <h6>Commission/Rev Share</h6>
                              <p>You only make money when your customers do (real estate agent, payment processor, etc.)</p>
                            </div>
                          </div>
                        <input type="text" class="hidden hidden_input" name="biz_model">
                      </div>
                    </div><hr>


                      
                      <p><em>What channels provide sources of revenue today and what % comes from each?  Not sure or it's kinda complicated?* (see below)</em></p>
                      <div class="row row_cancel">
                        <div class="hover_box perc_format hb_many col-lg-2 col-md-2 col-sm-4">
                          <h6>Storefront</h6>
                          <p>Physical store, kiosk, truck, etc.</p>
                          <input style="text-align:center; width:100%;" type="number" class="percent in_box form-control" placeholder="x%" name="storefront_perc">
                        </div>
                        <div class="hover_box perc_format hb_many col-lg-2 col-md-2 col-sm-4">
                          <h6>Direct</h6>
                          <p>Mailers, email, door-to-door, telemarketing, etc.</p>
                          <input style="text-align:center;" type="number" class="percent in_box form-control" placeholder="x%" name="direct_perc">
                        </div>
                        <div class="hover_box perc_format hb_many col-lg-2 col-md-2 col-sm-4">
                          <h6>Online</h6>
                          <p>eCommerce, SaaS, blog, online ads, etc.</p>
                          <input style="text-align:center;" type="number" class="percent in_box form-control" placeholder="x%" name="online_perc">
                        </div>
                        <div class="hover_box perc_format hb_many col-lg-2 col-md-2 col-sm-4">
                          <h6>Tradeshows</h6>
                          <input style="text-align:center;" type="number" class="percent in_box form-control" placeholder="x%" name="tradeshows_perc">
                        </div>
                        <div class="hover_box perc_format hb_many col-lg-2 col-md-2 col-sm-4">
                          <h6>Other</h6>
                          <input style="text-align:center;" type="number" class="percent in_box form-control" placeholder="x%" name="other_perc">
                        </div>
                      </div>
                      <div style="text-align: center;" class="container counter">
                        <span style="font-size:120%" class="perc">0</span>%
                      </div>
                      <hr>

                      <p><em>*Not sure or have some nuanced sales channels or business model? Describe here and we'll handle the rest...</em></p>
                      <div class="row inset">
                        <textarea name="rev_channel_freeform" placeholder="<describe your primary method of making money>" class="form-control"></textarea>
                      </div>



                  <div class="onward">                
                    <input type="submit" class="continue">
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div> <!--end row-->
      </div>
    </div>


{% endblock %}