{% extends "layout.html" %}

{% block title %}
<title>
  Market(r) - Company Info
</title>
{% endblock %}



{% block content %}
  {% include "/sidebar/sidebar-intake-2.html" %}
  {% include "/topbar/topbar-customer.html" %}

      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="append_to">
          <div class="row">
            <div class="col-md-12">
              <div class="card" style="padding: 5%;">
                <div class="sub_menu">
                  <div class="step">
                    <a href="/competitors" class="step_name">Competitors</a>
                  </div>
                  <div class="step step_active">
                    <a href="/competitors/company" class="step_name sub_active">Company</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company/audience" class="step_name">Audience</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company/audience/product" class="step_name">Product</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company/audience/product/product_2/salescycle" class="step_name">Sales Cycle</a>
                  </div>
                </div><br><br>
                <form method="POST" id="setup" action="{{ url_for('audience') }}">
                  <div class="card-header">
                    <div class="row yellow_border">
                      <h6 class="title">Now, let's talk business...</h6>
                      <h2 class="blue_header">Let's feed in data on your business profile.</h2>
                      <p>And we can start easy.  Who are you and who are you selling to?</p>
                      <br>
                    </div>
                    
                  <div class="reveal_container">
                    <a class="reveal_button continue">Let's do this</a>
                  </div>

                  <div class="reveal">  
                      <p><em>Select all that apply</em></p>
                      <div class="row row_cancel">
                        <div class="hover_box hb_many col-lg-2 col-md-2 col-sm-4">
                          <br><h6>B2B</h6><br>
                          <input name="b2b" class="hidden hidden_input" type="text">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2 col-sm-4">
                          <br><h6>B2C</h6><br>
                          <input name="b2c" class="hidden hidden_input" type="text">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2 col-sm-4">
                          <br><h6>C2C</h6><br>
                          <input name="c2c" class="hidden hidden_input" type="text">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2 col-sm-4">
                          <br><h6>OTHER</h6><br>
                          <input name="other" class="hidden hidden_input" type="text">
                        </div>
                      </div><hr>
                    <div class="card-body  all-icons">
                      <p><em>What is your primary business model? Select all that apply.<br>Not sure or it's kinda complicated?* (see below)</em></p>
                    <div class="dummy">
                      <div class="row row_cancel">
                        <div class="hover_box hb_many col-lg-2 col-md-2 col-sm-4">
                          <h6>Saas/Digital Product</h6>
                          <p>Software, web-based tools or products</p>
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2 col-sm-4">
                          <h6>Tangible Product</h6>
                          <p>Physical item that you can touch and feel</p>
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2 col-sm-4">
                          <h6>Services</h6>
                          <p>Professional services & manual labor</p>
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2 col-sm-4">
                          <h6>Affiliate</h6>
                          <p>Paid by third parties for lead referrals</p>
                        </div>
                        <input type="text" class="hidden hidden_input" name="biz_model">
                      </div>
                    </div><hr>


                      
                      <p><em>What channels provide sources of revenue today and what % comes from each?  Not sure or it's kinda complicated?* (see below)</em></p>
                      <div class="row row_cancel">
                        <div class="hover_box hb_many col-lg-2 col-md-2 col-sm-4">
                          <h6>Storefront</h6>
                          <p>Physical stoer, kiosk, truck, etc.</p>
                          <input type="text" class="hidden hidden_input" name="storefront">
                          <input style="text-align:center; width:100%;" type="number" class="form-control" placeholder="x%" name="storefront_percent">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2 col-sm-4">
                          <h6>Direct</h6>
                          <p>Mailers, email, door-to-door, telemarketing, etc.</p>
                          <input style="text-align:center;" type="number" class="form-control" placeholder="x%" name="direct_percent">
                          <input type="text" class="hidden hidden_input" name="direct">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2 col-sm-4">
                          <h6>Online</h6>
                          <p>eCommerce, SaaS, blog, online ads, blog, etc.</p>
                          <input style="text-align:center;" type="number" class="form-control" placeholder="x%" name="online_percent">
                          <input type="text" class="hidden hidden_input" name="online">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2 col-sm-4">
                          <h6>Tradeshows</h6>
                          <input style="text-align:center;" type="number" class="form-control" placeholder="x%" name="tradeshows_percent">
                          <input type="text" class="hidden hidden_input" name="tradeshows">
                          
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2 col-sm-4">
                          <h6>Other</h6>
                          <input style="text-align:center;" type="number" class="form-control" placeholder="x%" name="other_percent">
                          <input type="text" class="hidden hidden_input" name="other">
                        </div>
                      </div><hr>

                      <p><em>*Not sure or have some nuanced sales channels or business model? Describe here and we'll handle the rest...</em></p>
                      <div class="row inset">
                        <textarea name="freeform" placeholder="<describe your primary method of making money>" class="form-control"></textarea>
                      </div>



                  <div class="onward">                
                    <input type="submit" class="continue">
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div> <!--end row-->
      </div>
    </div>


{% endblock %}