{% extends "layout.html" %}

{% block title %}
<title>
  Market(r) - Upload Assets
</title>
{% endblock %}



{% block content %}

  {% with creative="active" %}
    {% include "/sidebar/sidebar-intake.html" %}
  {% endwith %}
  {% include "/topbar/topbar-customer.html" %}
  <div class="panel-header panel-header-sm">
  </div>
  <div class="content">
    <div class="append_to">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="padding: 5%;">
			<form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
			    <input type=file name=photo>
			    <input type="submit">
			</form>
		  </div>
		</div>
	  </div>
	 </div>
   </div>

{% endblock %}

