{% from "macros/_macros.html" import form_open, text_input, breadcrumb, left_nav, form_body, popout, create_element, autocomplete, render_field %}

{% set col_len = "col-lg-2 col-md-2 img_container" %}

<p><em>Select all that apply</em></p>
<div class="row row_cancel">
  <div class="{{ col_len }} hb_many   hover_box">
    <img src="/static/assets/img/Facebook.png">
    <h6 class="hidden">facebook</h6>
    {{ render_field(form.facebook, class="hidden_input") }}
  </div>

  <div class="{{ col_len }} hb_many   hover_box">
    <img src="/static/assets/img/GoogleAds.png">
    <h6 class="hidden">google</h6>
    {{ render_field(form.google, class="hidden_input") }}
  </div>

  <div class="{{ col_len }} hb_many   hover_box">
    <img src="/static/assets/img/Bing.png">
    <h6 class="hidden">bing</h6>
    {{ render_field(form.bing, class="hidden_input") }}
  </div>

  <div class="{{ col_len }} hb_many   hover_box">
    <img src="/static/assets/img/twitter.png">
    <h6 class="hidden">twitter</h6>
    {{ render_field(form.twitter, class="hidden_input") }}
  </div>

  <div class="{{ col_len }} hb_many   hover_box">
    <img src="/static/assets/img/Yelp.png">
    <h6 class="hidden">yelp</h6>
    {{ render_field(form.yelp, class="hidden_input") }}
  </div>
</div>
<div class="row row_cancel">

  <div class="{{ col_len }} hb_many   hover_box">
    <img src="/static/assets/img/Instagram.png">
    <h6 class="hidden">instagram</h6>
    {{ render_field(form.instagram, class="hidden_input") }}
  </div>

  <div class="{{ col_len }} hb_many   hover_box">
    <img src="/static/assets/img/LinkedIn.png">
    <h6 class="hidden">linkedin</h6>
    {{ render_field(form.linkedin, class="hidden_input") }}
  </div>

  <div class="{{ col_len }} hb_many   hover_box">
    <img src="/static/assets/img/Amazon.png">
    <h6 class="hidden">amazon</h6>
    {{ render_field(form.amazon, class="hidden_input") }}
  </div>

  <div class="{{ col_len }} hb_many   hover_box">
    <img src="/static/assets/img/Snapchat.png">
    <h6 class="hidden">snapchat</h6>
    {{ render_field(form.snapchat, class="hidden_input") }}
  </div>

  <div class="{{ col_len }} hb_many   hover_box">
    <img src="/static/assets/img/YouTube.png">
    <h6 class="hidden">youtube</h6>
    {{ render_field(form.youtube, class="hidden_input") }}
  </div>
</div>
<div class="row">
  <div class="{{ col_len }} hb_many   hover_box">
    <br>
    <h6><none></h6>
    <p>Haven't tried any yet</p>
    <br>
    {{ render_field(form.none, class="hidden_input") }}
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <p style="text-align: center;"><strong>What is your average digital ad spend every month?</strong></p>
  </div>
  <div class="col"></div>
  <div class="col">
      {{ render_field(form.digital_spend, class="margin_auto form-control") }}
  </div>
  <div class="col"></div>
</div>





