{% extends "layout.html" %}
{% from "_macros.html" import form_open %}

{% block title %}
<title>
  Market(r) - Create Account
</title>
{% endblock %}



{% block content %}
  {% with begin="active" %}
    {% include "/sidebar/sidebar-intake.html" %}
  {% endwith %}
  {% include "/topbar/topbar-customer.html" %}

<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row row_cancel">
    <div class="col-md-12">
      <div class="card yellow_border" style="padding: 5%;">
        <div class="card-header">
          <p>Let's get to know each other a bit better!</p>
          <h5 class="title blue">Let's set up an account to save your progress</h5>
          <p>This will allow us to setup a profile for you and save your progress in case you need to return later.</p>
          <p>We will NEVER share your information to third parties without your explicit permission.  We hate companies that do that as much as the next person.</p>
        </div><hr>
        <div class="card-body">
          {{ form_open('competitors', request.args.get('home')) }}
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="first_name">Primary Contact First Name</label>
                <input type="text" class="create_form form-control" name="first_name" id="first_name" placeholder="John">
              </div>
              <div class="form-group col-md-6">
                <label for="last_name">Primary Contact Last Name</label>
                <input type="text" class="create_form form-control" name="last_name" id="last_name" placeholder="Smith">
              </div>
            </div>


            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="company_name">Company Name</label>
                <input type="text" class="create_form form-control" name="company_name" id="company_name" placeholder="ACME CORP.">
              </div>                    
              <div class="form-group col-md-4">
                <label for="revenue">Average/expected annual revenues</label>
                <input type="number" class="create_form form-control" name="revenue" id="revenue" placeholder="1,000,000">
              </div>                    
              <div class="form-group col-md-4">
                <label for="employees">Total # of Employees (incl. contractors)</label>
                <input type="number" class="create_form form-control" name="employees" id="employees" placeholder="500">
              </div>
            </div>

            <div class="row col-md-8">
              <label for="zip">In what Zip Code are you primarily headquartered?</label>
              <input placeholder="12345" style="width: 80%;" type="number" id="zip" name="zip" class="form-control">
            
              <label>What is your company website?</label>
              <input placeholder="yourcompanywebsite.com" style="width: 80%;" type="text" name="website" class="website form-control">
              <span class="isValid"></span>
            </div>
            <div class="row row_cancel">

              <div class="card-header">
                <h6 class="title">In what stage is your business currently?</h6>
              </div>
              <div class="card-body all-icons">
                <div class="row">
                  <div id="launch" class="hover_box col-lg-2 col-md-2 col-sm-4">
                    <h6>Launch</h6>
                    <p>Idea phase, or just getting off the ground</p>
                  </div>
                  <div id="growth" class="hover_box col-lg-2 col-md-2 col-sm-4">
                    <h6>Growth</h6>
                    <p>Rapid (possibly unsustainable) growth rates</p>
                  </div>
                  <div id="shake-out" class="hover_box col-lg-2 col-md-2 col-sm-4">
                    <h6>Shake-out</h6>
                    <p>Still growing, but growth rates declining from previous highs</p>
                  </div>

                  <div id="maturity" class="hover_box col-lg-2 col-md-2 col-sm-4">
                    <h6>Maturity</h6>
                    <p>Steady revenues, mild growth, or slight decline</p>
                  </div>
                  <div id="decline" class="hover_box col-lg-2 col-md-2 col-sm-4">
                    <h6>Decline / Recession</h6>
                    <p>Revenues on the definite decline</p>
                  </div>
                  <input class="hidden_input hidden" name="stage" id="one">
                </div>
              </div>

              {% include "modules/submit.html" %}

            </div>




          </form>




        </div>
      </div>


    </div>
  </div>
</div>

{% endblock %}
