{% extends "layout.html" %}

{% block title %}
<title>
  Market(r) - Product
</title>
{% endblock %}



{% block content %}
  {% with company="active" %}
    {% include "/sidebar/sidebar-intake.html" %}
  {% endwith %}
  {% include "/topbar/topbar-customer.html" %}
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="append_to">
          <div class="row">
            <div class="col-md-12">
              <div class="card" style="padding: 5%;">
                <div class="sub_menu">
                  <div class="step">
                    <a href="/competitors" class="step_name">Competitors</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company" class="step_name">Company</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company/audience" class="step_name">Audience</a>
                  </div>
                  <div class="step step_active">
                    <a href="/competitors/company/audience/product" class="step_name sub_active">Product</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company/audience/product/product_2/salescycle" class="step_name">Sales Cycle</a>
                  </div>
                </div>


                <form method="POST" id="setup" action="{{ url_for('product_2') }}">

                  <div class="card-header">
                    <div class="row yellow_border">
                      <h6 class="title">Meat & Potatoes time.</h6>
                      <h2 class="blue_header">Tell us about your offerings.</h2>
                      <p>Help us understand the products and/or services you are trading for someone's hard-earned cash.</p>
                    </div>


                  </div>


                  <div class="reveal_container">
                    <a class="reveal_button continue">Let's do this</a>
                  </div>

                  <div class="reveal">  
                    <div class="card-body  all-icons">
                      
                      <p><em>General offering description.  Tell us about your offerings, generally speaking. Why do customers buy it / them?</em></p>
                      <div class="row">
                        <textarea name="gen_description" placeholder="<describe your goods or services and why clients need or want it>" class="form-control"></textarea>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                          <p>{{mask_5}}</p>
                          <input type="number" class="form-control" name="quantity" placeholder="1">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                          <p>Link to your top-level product page</p>
                          <input type="text" name="link" class="form-control website" placeholder="www.awesomeproducts.com/products">
                          <span class="isValid"></span>
                        </div>
                      </div>
                      <p><em>How do you currently segment your products/services? (select all that apply)</em></p>
                      <div class="row row_cancel">
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <h6>Industry</h6>
                          <input type="text" class="hidden hidden_input" name="segment_1">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <h6>Functionality</h6>
                          <input type="text" class="hidden hidden_input" name="segment_2">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <h6>Customer Needs</h6>
                          <input type="text" class="hidden hidden_input" name="segment_3">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <h6>Customer Preferences</h6>
                          <input type="text" class="hidden hidden_input" name="segment_4">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <h6>Performance</h6>
                          <input type="text" class="hidden hidden_input" name="segment_5">
                        </div>
                      </div>
                      <div class="row">
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <h6>Convenience</h6>
                          <input type="text" class="hidden hidden_input" name="segment_6">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <h6>Quality</h6>
                          <input type="text" class="hidden hidden_input" name="segment_7">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <h6>Premiumization</h6>
                          <input type="text" class="hidden hidden_input" name="segment_8">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <h6>Demographics</h6>
                          <input type="text" class="hidden hidden_input" name="segment_9">
                        </div>
                        <div class="hover_box hb_many col-lg-2 col-md-2">
                          <h6>Other</h6>
                          <input type="text" class="hidden hidden_input" name="segment_10">
                        </div>
                      </div>

                      <p><em>How are these products made/sourced?* (select all that apply)</em></p>  
                      <div class="row {{ 'hidden' if hide_10 else ' ' }}">
                        <div class="hover_box hb_many col-lg-2">
                          <h6>Self</h6>
                          <p>I personally make them</p>
                          <input type="text" class="hidden hidden_input" name="source_1">
                        </div>
                        <div class="hover_box hb_many col-lg-2">
                          <h6>Contractors or employees</h6>
                          <p>I directly hire people to help make them</p>
                          <input type="text" class="hidden hidden_input" name="source_2">
                        </div>
                        <div class="hover_box hb_many col-lg-2">
                          <h6>Third Party Reseller (finished good)</h6>
                          <p>I work with a supplier that produces the item(s)</p>
                          <input type="text" class="hidden hidden_input" name="source_3">
                        </div>
                        <div class="{{ 'hidden' if hide_11 else ' ' }} hover_box hb_many col-lg-2">
                          <h6>Third Party Manufactured</h6>
                          <p>I work with multiple suppliers</p>
                          <input type="text" class="hidden hidden_input" name="source_4">
                        </div>
                      </div>

                      <div class="row yellow_border">
                        <textarea name="source_freeform" placeholder="<describe your method of producing your product offerings for sale>" class="form-control"></textarea>
                      </div>

                      <h2 class="blue_header">Product Details</h2>
                      <p><em>Please complete the following information for each product you currently sell:</em></p>
                      <div class="row">
                        <div style="overflow-x: auto;">
                          <table class="input_table">
                            <thead>
                                <!-- product name -->
                                <th>{{ mask_12 }}</th> 
                                <!-- category  -->
                                <th>Category</th>
                                <!-- cogs -->
                                <th class="{{ 'hidden' if hide_1 or hide_8 else ' ' }}">{{ mask_6 }}</th>

                                <!-- sales price -->
                                {% if mask_3_bool %}
                                  <th>{{ mask_3 }}</th>
                                {% else %}
                                  <th>{{ mask_7 }}</th>
                                {% endif %}

                                <!-- price model -->

                                <th class="">Primary price model</th>
                                <!-- qty sold -->
                                <th><strong>{{ mask_4 }}</strong></th>
                                <!-- est unique buyers -->
                                <th class="{{ ' ' if hide_9 else 'hidden' }}">Estimated unique buyers</th>
                  
                            </thead>
                            <tr class="data-row">
                              <td><input type="text" id="item-1" name="product_1_name" placeholder="name 1"></td>
                              <td><input type="text" id="item-2" name="p1_category" placeholder="details"></td>
                              <td class="{{ 'hidden' if hide_1 or hide_8 else ' ' }}"><input class="cogs" id="item-3" name="p1_cogs" placeholder="$0.00"></td>
                              <td><input class="price" id="item-4" name="p1_sales_price" placeholder="$0.00"></td>
                              <td class="">
                                <select class="form-control" id="item-7" name="price_model_1">
                                  <option></option>
                                  <option>monthly recurring</option>
                                  <option>annual recurring</option>
                                  <option>one-time payment</option>
                                </select>
                              </td>
                              <td><input type="number" id="item-5" name="p1_qty_sold" placeholder="0"></td>
                              <td class="{{ ' ' if hide_9 else 'hidden' }}"><input type="number" id="item-6" name="p1_est_unique_buyers" placeholder="0"></td>
                            </tr>
                            <input type="number" name="product_len" value="1" class="product_len hidden">
                          </table>
                        </div>
                        
                      </div>
                      <a id="add_product" class="continue add_product edit_products">+ Add product</a><a id="remove_product" class="continue remove_product edit_products">- Remove product</a>


                    </div>


                  <div class="onward">                
                    <input type="submit" class="continue">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div> <!--end row-->
      </div>
    </div>
{% endblock %}
