<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Market(r) - Audit
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/assets/css/now-ui-dashboard.css?v=1.1.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/static/assets/css/demo.css" rel="stylesheet" />
</head>

<body onload="load_product_list()" class="audit">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="https://marketr.life" class="simple-text logo-normal">
          <img src="/static/assets/img/marketrwhite.png">
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/begin">
              <i class="now-ui-icons design_app"></i>
              <p>Profile</p>
            </a>
          </li>
          <li class="active">
            <a href="/competitors">
              <i class="now-ui-icons education_atom"></i>
              <p>Company Info</p>
            </a>
          </li>
          <li>
            <a href="/campaigns">
              <i class="now-ui-icons location_map-big"></i>
              <p>Goals</p>
            </a>
          </li>
          <li>
            <a href="/integrations">
              <i class="now-ui-icons ui-1_bell-53"></i>
              <p>History</p>
            </a>
          </li>
          <li>
            <a href="/settings">
              <i class="now-ui-icons users_single-02"></i>
              <p>Diagnosis</p>
            </a>
          </li>
          <li>
            <a href="/settings">
              <i class="now-ui-icons users_single-02"></i>
              <p>Prescription</p>
            </a>
          </li>
          <li>
            <a href="/settings">
              <i class="now-ui-icons users_single-02"></i>
              <p>Begin</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                  </div>
                </div>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="now-ui-icons media-2_sound-wave"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="now-ui-icons location_world"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="now-ui-icons users_single-02"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Account</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="append_to">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="sub_menu">
                  <div class="step">
                    <p class="step_name">Competitors</p>
                  </div>
                  <div class="step">
                    <p class="step_name">Company</p>
                  </div>
                  <div class="step">
                    <p class="step_name">Audience</p>
                  </div>
                  <div class="step step_active">
                    <p class="step_name sub_active">Product</p>
                  </div>
                  <div class="step">
                    <p class="step_name">Sales Cycle</p>
                  </div>
                </div><br><br>


                <form method="POST" id="setup" action="{{ url_for('salescycle') }}">

                  <div class="card-header">
                    <div class="row ">
                      <h6 class="title">Ok, just need to understand a bit more about your products.</h6>
                      <h2 class="blue_header">Relative understanding for [product name 1]</h2>
                      <br>
                    <p><em>For the following topics, let us know relative to other products in your industry, how does each product compare:</em></p>
                    </div>


                  </div>
                  <div class="card-body  all-icons">
                    <hr><br><br><br>
                    <div class="row">
                      <div class="center_it col-lg-6 col-md-6 col-sm-12">
                        <h6>Complexity</h6>
                        <p>How complex is the problem this solves?</p>
                      </div>
                      <div class="radio_container col-lg-6 col-md-6 col-sm-12">
                        <div class="connector">
                          <input type="radio" name="complexity" value="Simple" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">Simple<br><br></label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="complexity" value="Kinda complex" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">Kinda<br>complex</label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="complexity" value="Extremely Complex" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">Extremely<br>Complex</label>
                        </div>
                      </div>
                    </div>
<hr><br><br><br>
                    <div class="row">
                      <div class="center_it col-lg-6 col-md-6 col-sm-12">
                        <h6>Price</h6>
                        <p>Relative to competitive solutions, is this cheap or premium?</p>
                      </div>
                      <div class="radio_container col-lg-6 col-md-6 col-sm-12">
                        <div class="connector">
                          <input type="radio" name="price" value="Free" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">Free<br><br></label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="price" value="Low cost" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">Low<br>cost</label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="price" value="Slight Premium" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">Slight<br>Premium</label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="price" value="High Premium" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">High<br>Premium</label>
                        </div>
                      </div>
                    </div>
<hr><br><br><br>
                    <div class="row">
                      <div class="center_it col-lg-6 col-md-6 col-sm-12">
                        <h6>Product or service oriented</h6>
                        <p>Is this primarily a product or service-based offering?</p>
                      </div>
                      <div class="radio_container col-lg-6 col-md-6 col-sm-12">
                        <div class="connector">
                          <input type="radio" name="product_or_service" value="Mostly Product" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">Mostly<br>Product</label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="product_or_service" value="Some of both" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">Some of<br>both</label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="product_or_service" value="Mostly Service" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">Mostly<br>Service</label>
                        </div>
                      </div>
                    </div>
<hr><br><br><br>
                    <div class="row">
                      <div class="center_it col-lg-6 col-md-6 col-sm-12">
                        <h6>Frequency of use</h6>
                        <p>How often does a purchaser actually use this item?</p>
                      </div>
                      <div class="radio_container col-lg-6 col-md-6 col-sm-12">
                        <div class="connector">
                          <input type="radio" name="frequency_of_use" value="Daily" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">Daily<br><br></label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="frequency_of_use" value="Weekly" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">Weekly<br><br></label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="frequency_of_use" value="Monthly" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">Monthly<br><br></label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="frequency_of_use" value="1-2x per year" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">1-2x<br>per year</label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="frequency_of_use" value="1-2x in life" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">1-2x<br>in life</label>
                        </div>
                      </div>
                    </div>
<hr><br><br><br>
                    <div class="row">
                      <div class="center_it col-lg-6 col-md-6 col-sm-12">
                        <h6>Frequency of Purchase</h6>
                        <p>How often does a customer buy this product?</p>
                      </div>
                      <div class="radio_container col-lg-6 col-md-6 col-sm-12">
                        <div class="connector">
                          <input type="radio" name="frequency_of_purchase" value="Weekly" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">Weekly<br><br></label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="frequency_of_purchase" value="Monthly" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">Monthly<br><br></label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="frequency_of_purchase" value="1-2x per year" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">1-2x<br>per year</label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="frequency_of_purchase" value="Anually" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">Anually<br><br></label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="frequency_of_purchase" value="1-2x in life" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">1-2x<br>in life</label>
                        </div>
                      </div>
                    </div>
<hr><br><br><br>
                    <div class="row">
                      <div class="center_it col-lg-12 col-md-12 col-sm-12">
                        <h6>Value Prop</h6>
                        <p>Why would a customer buy this product?</p>
                      </div>
                      <div class="hover_box col-lg-2 col-md-2 col-sm-2">
                        <br><h6>Save Time</h6><br>
                      </div>
                      <div class="hover_box col-lg-2 col-md-2 col-sm-2">
                        <br><h6>Reduce Effort</h6><br>
                      </div>
                      <div class="hover_box col-lg-2 col-md-2 col-sm-2">
                        <br><h6>Save Money</h6><br>
                      </div>
                      <div class="hover_box col-lg-2 col-md-2 col-sm-2">
                        <br><h6>Increase Output</h6><br>
                      </div>
                      <div class="hover_box col-lg-2 col-md-2 col-sm-2">
                        <br><h6>Status / Feel good</h6><br>
                      </div>
                      <input type="text" class="hidden hidden_input" name="value_prop">
                    </div><hr><br><br><br>
                    <div class="row">
                      <div class="center_it col-lg-6 col-md-6 col-sm-12">
                        <h6>Warranties or Gaurantee</h6>
                        <p>Do you offer any explicit warranties or gaurantees?</p>
                      </div>
                      <div class="hover_box col-lg-2 col-md-2 col-sm-5">
                        <br><h6>Yep!</h6><br>
                      </div>
                      <div class="hover_box col-lg-2 col-md-2 col-sm-5">
                        <br><h6>Nope!</h6><br>
                      </div>
                      <input type="text" class="hidden_input hidden" name="warranties_or_guarantee">
                      <div class="col-lg-6 col-md-6 col-sm-0"></div>
                      <div class="col-lg-6 col-md-6 col-sm-12">
                        <textarea class="form-control" name="warranties_or_guarantee_freeform" placeholder="describe your warranty or guarantee here"></textarea>
                      </div>
                    </div>
<hr><br><br><br>
                    <div class="row">
                      <div class="center_it col-lg-6 col-md-6 col-sm-12">
                        <h6>Low or High Number of SKUs</h6>
                        <p>How many different product items do you currently offer?</p>
                      </div>
                      <div class="radio_container col-lg-6 col-md-6 col-sm-12">
                        <div class="connector">
                          <input type="radio" name="num_skus" value="<5" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one"><5</label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="num_skus" value="5-20" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">5-20</label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="num_skus" value="20-100" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">20-100</label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="num_skus" value="100+" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">100+</label>
                        </div>
                      </div>
                    </div>
<hr><br><br><br>
                    <div class="row">
                      <div class="center_it col-lg-6 col-md-6 col-sm-12">
                        <h6>Level of Customization</h6>
                        <p>Low or High?</p>
                      </div>
                      <div class="radio_container col-lg-6 col-md-6 col-sm-12">
                        <div class="connector">
                          <input type="radio" name="level_of_customization" value="None" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">None<br><br></label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="level_of_customization" value="Some" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">Some<br><br></label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="level_of_customization" value="Most are customized" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">Most are<br>customized</label>
                        </div>
                        <div class="connector">
                          <input type="radio" name="level_of_customization" value="Every Product is customized" id="radio-one" class="form-radio" checked>
                          <br><br><label for="radio-one">Every Product<br>is customized</label>
                        </div>
                      </div>
                    </div>




                    
                  </div>
                </div>


                <div class="onward">                
                  <input type="submit" class="continue">
                </div>

            </div>
          </div>
        </div> <!--end row-->
      </div>
    </div>



  <!--   Core JS Files   -->
  <script src="/static/assets/js/core/jquery.min.js"></script>
  <script src="/static/assets/js/core/popper.min.js"></script>
  <script src="/static/assets/js/core/bootstrap.min.js"></script>
  <script src="/static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Chart JS -->
  <script src="/static/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/static/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/static/assets/js/now-ui-dashboard.min.js?v=1.1.0" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src='/static/frontend.js'></script>
  <script src="/static/animations.js"></script>
</body>

</html>