{% extends "layout.html" %}

{% block title %}
<title>
  Market(r) - Product
</title>
{% endblock %}



{% block content %}
  {% with company="active" %}
    {% include "/sidebar/sidebar-intake.html" %}
  {% endwith %}
  {% include "/topbar/topbar-customer.html" %}
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="append_to">
          <div class="row">
            <div class="col-md-12">
              <div class="card" style="padding:5%;">
                <div class="sub_menu">
                  <div class="step">
                    <a href="/competitors" class="step_name">Competitors</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company" class="step_name">Company</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company/audience" class="step_name">Audience</a>
                  </div>
                  <div class="step step_active">
                    <a href="/competitors/company/audience/product" class="step_name sub_active">Product</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company/audience/product/product_2/salescycle" class="step_name">Sales Cycle</a>
                  </div>
                </div><br><br>

                

     

                

                  <div class="card-header">
                    <div class="row ">
                      <h6 class="title">Ok, just need to understand a bit more about your products.</h6>
                      <h2 class="blue_header">Relative understanding for <span id="product-name">[product name]</span></h2>
                      <br>
                    <p><em>For the following topics, let us know relative to other products in your industry, how does each product compare:</em></p>
                    </div>


                  </div>


                  <div class="reveal_container">
                    <a class="reveal_button continue">Let's do this</a>
                  </div>

                  <div class="reveal">  

                    <div class="product_prev_container">
                    </div>

                    <div class="hide_on_end">

                      <div class="form_container">
                        <input type="text" id="p_id" class="hidden" name="p_id">
                      </div>
                      <div class="card-body  all-icons">
                        <br><br>
                        <div class="row row_cancel">
                          <div class="center_it col-lg-6 col-md-6 col-sm-12">
                            <h6>Complexity</h6>
                            <p>How complex is the problem this solves?</p>
                          </div>
                          <div class="radio_container col-lg-6 col-md-6 col-sm-12">
                            <div class="connector">
                              <input type="radio" name="complexity" value="Simple" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">Simple<br><br></label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="complexity" value="Kinda complex" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">Kinda<br>complex</label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="complexity" value="Extremely Complex" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">Extremely<br>Complex</label>
                            </div>
                          </div>
                        </div>
    <br><br>
                        <div class="row row_cancel">
                          <div class="center_it col-lg-6 col-md-6 col-sm-12">
                            <h6>Price</h6>
                            <p>Relative to competitive solutions, is this cheap or premium?</p>
                          </div>
                          <div class="radio_container col-lg-6 col-md-6 col-sm-12">
                            <div class="connector">
                              <input type="radio" name="price" value="Free" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">Free<br><br></label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="price" value="Low cost" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">Low<br>cost</label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="price" value="Slight Premium" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">Slight<br>Premium</label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="price" value="High Premium" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">High<br>Premium</label>
                            </div>
                          </div>
                        </div>
    <br><br>
                        <div class="row row_cancel">
                          <div class="center_it col-lg-6 col-md-6 col-sm-12">
                            <h6>Product or service oriented</h6>
                            <p>Is this primarily a product or service-based offering?</p>
                          </div>
                          <div class="radio_container col-lg-6 col-md-6 col-sm-12">
                            <div class="connector">
                              <input type="radio" name="product_or_service" value="Mostly Product" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">Mostly<br>Product</label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="product_or_service" value="Some of both" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">Some of<br>both</label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="product_or_service" value="Mostly Service" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">Mostly<br>Service</label>
                            </div>
                          </div>
                        </div>
    <br><br>
                        <div class="row row_cancel">
                          <div class="center_it col-lg-6 col-md-6 col-sm-12">
                            <h6>Frequency of use</h6>
                            <p>How often does a purchaser actually use this item?</p>
                          </div>
                          <div class="radio_container col-lg-6 col-md-6 col-sm-12">
                            <div class="connector">
                              <input type="radio" name="frequency_of_use" value="Daily" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">Daily<br><br></label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="frequency_of_use" value="Weekly" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">Weekly<br><br></label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="frequency_of_use" value="Monthly" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">Monthly<br><br></label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="frequency_of_use" value="1-2x per year" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">1-2x<br>per year</label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="frequency_of_use" value="1-2x in life" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">1-2x<br>in life</label>
                            </div>
                          </div>
                        </div>
    <br><br>
                        <div class="row row_cancel">
                          <div class="center_it col-lg-6 col-md-6 col-sm-12">
                            <h6>Frequency of Purchase</h6>
                            <p>How often does a customer buy this product?</p>
                          </div>
                          <div class="radio_container col-lg-6 col-md-6 col-sm-12">
                            <div class="connector">
                              <input type="radio" name="frequency_of_purchase" value="Weekly" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">Weekly<br><br></label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="frequency_of_purchase" value="Monthly" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">Monthly<br><br></label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="frequency_of_purchase" value="1-2x per year" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">1-2x<br>per year</label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="frequency_of_purchase" value="Anually" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">Anually<br><br></label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="frequency_of_purchase" value="1-2x in life" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">1-2x<br>in life</label>
                            </div>
                          </div>
                        </div>
    <br><br>
                        <div><div class="row row_cancel">
                            
                            <div class="center_it col-lg-12 col-md-12 col-sm-12">
                              <h6>Value Prop</h6>
                              <p>Why would a customer buy this product?</p>
                            </div>
                            <div class="hover_box col-lg-2 col-md-2 col-sm-2">
                              <br><h6>Save Time</h6><br>
                            </div>
                            <div class="hover_box col-lg-2 col-md-2 col-sm-2">
                              <br><h6>Reduce Effort</h6><br>
                            </div>
                            <div class="hover_box col-lg-2 col-md-2 col-sm-2">
                              <br><h6>Save Money</h6><br>
                            </div>
                            <div class="hover_box col-lg-2 col-md-2 col-sm-2">
                              <br><h6>Increase Output</h6><br>
                            </div>
                            <div class="hover_box col-lg-2 col-md-2 col-sm-2">
                              <br><h6>Status / Feel good</h6><br>
                            </div>
                            <input type="text" class="hidden_input hidden" name="value_prop">
                        </div></div><br><br>
                        <div class="row row_cancel">
                            <div class="center_it col-lg-6 col-md-6 col-sm-12">
                              <h6>Warranties or Gaurantee</h6>
                              <p>Do you offer any explicit warranties or gaurantees?</p>
                            </div>
                            <div class="hover_box col-lg-2 col-md-2 col-sm-5">
                              <br><h6>Yep!</h6><br>
                            </div>
                            <div class="hover_box col-lg-2 col-md-2 col-sm-5">
                              <br><h6>Nope!</h6><br>
                            </div>
                            <input type="text" class="hidden_input hidden" name="warranties_or_guarantee">
                            <div class="col-lg-6 col-md-6 col-sm-0"></div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                              <textarea class="form-control" name="warranties_or_guarantee_freeform" placeholder="describe your warranty or guarantee here"></textarea>
                            </div>
                        </div>
    <br><br>
                        <div class="row row_cancel">
                          <div class="center_it col-lg-6 col-md-6 col-sm-12">
                            <h6>Low or High Number of SKUs</h6>
                            <p>How many different product items do you currently offer?</p>
                          </div>
                          <div class="radio_container col-lg-6 col-md-6 col-sm-12">
                            <div class="connector">
                              <input type="radio" name="num_skus" value="<5" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one"><5</label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="num_skus" value="5-20" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">5-20</label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="num_skus" value="20-100" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">20-100</label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="num_skus" value="100+" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">100+</label>
                            </div>
                          </div>
                        </div>
    <br><br>
                        <div class="row row_cancel">
                          <div class="center_it col-lg-6 col-md-6 col-sm-12">
                            <h6>Level of Customization</h6>
                            <p>Low or High?</p>
                          </div>
                          <div class="radio_container col-lg-6 col-md-6 col-sm-12">
                            <div class="connector">
                              <input type="radio" name="level_of_customization" value="None" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">None<br><br></label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="level_of_customization" value="Some" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">Some<br><br></label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="level_of_customization" value="Most are customized" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">Most are<br>customized</label>
                            </div>
                            <div class="connector">
                              <input type="radio" name="level_of_customization" value="Every Product is customized" id="radio-one" class="form-radio">
                              <br><br><label for="radio-one">Every Product<br>is customized</label>
                            </div>
                          </div>
                        </div>
                        <div class="p_form_container">
                          <button class='continue p_form_submit'>Save</button>
                        </div>
                      </div>
                    </div>


                <form method="GET" class="" id="setup" action="{{ url_for('salescycle') }}">
                  <div class="onward">                
                    <input type="submit" class="final hidden continue" value="Let's keep going">
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div> <!--end row-->
      </div>
    </div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function(){
    init_products()
  })
</script>
{% endblock %}