{% extends "layout.html" %}

{% block title %}
<title>
  Market(r) - Product
</title>
{% endblock %}



{% block content %}
  {% with company="active" %}
    {% include "/sidebar/sidebar-intake.html" %}
  {% endwith %}
  {% include "/topbar/topbar-customer.html" %}
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="append_to">
          <div class="row">
            <div class="col-md-12">
              <div class="card" style="padding:5%;">
                <div class="sub_menu">
                  <div class="step">
                    <a href="/competitors" class="step_name">Competitors</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company" class="step_name">Company</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company/audience" class="step_name">Audience</a>
                  </div>
                  <div class="step step_active">
                    <a href="/competitors/company/audience/product" class="step_name sub_active">Product</a>
                  </div>
                  <div class="step">
                    <a href="/competitors/company/audience/product/product_2/salescycle" class="step_name">Sales Cycle</a>
                  </div>
                </div><br><br>

                  <div class="card-header">
                    <div class="row change_on_submit">
                      <h6 class="title">Ok, just need to understand a bit more about your products.</h6>
                      <h2 class="blue_header">Relative understanding for: <span id="product-name">[product name]</span></h2>
                      <br>
                    <p><em>For the following topics, how does each offering compare relative to your direct competitors?</em></p>
                    </div>

                
                  </div>

  <input type="text" class="hidden" class="cogs">
  <input type="text" class="hidden" class="price">
                  <div class="reveal_container">
                    <a class="reveal_button continue">Let's do this</a>
                  </div>

                  <div class="reveal">  

                    <div class="product_prev_container">
                    </div>

                    <div class="hide_on_end">

                      <div class="form_container">
                        <input type="text" id="p_id" class="hidden" name="p_id">
                      </div>
                      <div class="card-body  all-icons">
                        <br><br>
                        <div class="row ">
                          <div class="center_it col-lg-5 col-md-5 col-sm-12">
                            <h6>Complexity</h6>
                            <p>How complex is the problem this solves?</p>
                          </div>
                          &nbsp;<div class="connector hover_box col-lg-2 col-md-2">
                            <h6>Simple</h6>
                          </div>
                          &nbsp;<div class="connector hover_box col-lg-2 col-md-2">
                            <h6>Kinda Complex</h6>
                          </div>
                          &nbsp;<div class="connector hover_box col-lg-2 col-md-2">
                            <h6>Extremely Complex</h6>
                          </div>
                          <input type="text" name="complexity" class="hidden hidden_input">
                        </div>

    
                        <div class="row ">
                          <div class="center_it col-lg-5 col-md-5 col-sm-12">
                            <h6>Price</h6>
                            <p>Relative to competitive solutions, is this cheap or premium?</p>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12">
                            &nbsp;<div class="connector hover_box col-lg-2 col-md-2">
                              <h6>Free</h6>
                            </div>
                           &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6>Low</h6>
                            </div>
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6>Slight Premium</h6>
                            </div>
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6>High<br>Premium</h6>
                            </div>
                          <input type="text" name="price" class="hidden hidden_input">
                          </div>
                        </div>
    
    
                        <div class="row ">
                          <div class="center_it col-lg-5 col-md-5 col-sm-12">
                            <h6>Frequency of use</h6>
                            <p>How often does a purchaser actually use this item?</p>
                          </div>
                          <div class="radio_container col-lg-6 col-md-6 col-sm-12">
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                             <h6>Daily</h6>
                            </div>
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6>Weekly</h6>
                            </div>
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6>Monthly</h6>
                            </div>
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6>1-2x<br>per year</h6>
                            </div>
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6>1-2x<br>in life</h6>
                            </div>
                          <input type="text" name="frequency_of_use" class="hidden hidden_input">
                          </div>
                        </div>
    
                        <div class="row ">
                          <div class="center_it col-lg-5 col-md-5 col-sm-12">
                            <h6>Frequency of Purchase</h6>
                            <p>How often does a customer buy this?</p>
                          </div>
                          <div class="radio_container col-lg-6 col-md-6 col-sm-12">
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6>Weekly</h6>
                            </div>
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6>Monthly</h6>
                            </div>
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6>1-2x<br>per year</h6>
                            </div>
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6>Anually</h6>
                            </div>
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6>1-2x<br>in life</h6>
                            </div>
                          <input type="text" name="frequency_of_purchase" class="hidden hidden_input">
                          </div>
                        </div>
    
                        <div><div class="row ">
                            
                            <div class="center_it col-lg-12 col-md-12 col-sm-12">
                              <h6>Value Prop</h6>
                              <p>Why would a customer buy this?</p>
                            </div>
                            <div class="hover_box col-lg-2 col-md-2 col-sm-2">
                              <h6>Save Time</h6>
                            </div>
                            <div class="hover_box col-lg-2 col-md-2 col-sm-2">
                              <h6>Reduce Effort</h6>
                            </div>
                            <div class="hover_box col-lg-2 col-md-2 col-sm-2">
                              <h6>Save Money</h6>
                            </div>
                            <div class="hover_box col-lg-2 col-md-2 col-sm-2">
                              <h6>Increase Output</h6>
                            </div>
                            <div class="hover_box col-lg-2 col-md-2 col-sm-2">
                              <h6>Status / Feel good</h6>
                            </div>
                            <div class="hover_box col-lg-2 col-md-2 col-sm-2">
                              <h6>Investment</h6>
                            </div>
                            <input type="text" class="hidden_input hidden" name="value_prop">
                        </div></div><br><br>
                        <div class="row ">
                            <div class="center_it col-lg-6 col-md-6 col-sm-12">
                              <h6>Warranties or Gaurantee</h6>
                              <p>Do you offer any explicit warranties or gaurantees?</p>
                            </div>
                            <div id="wogf" class="hover_box col-lg-2 col-md-2 col-sm-5">
                              <h6>Yep!</h6>
                            </div>
                            <div class="hover_box col-lg-2 col-md-2 col-sm-5">
                              <h6>Nope!</h6>
                            </div>
                            <input type="text" class="hidden_input hidden" name="warranties_or_guarantee">
                            <div class="col-lg-6 col-md-6 col-sm-0"></div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                              <textarea class="form-control" id="warranties_or_guarantee_freeform" name="warranties_or_guarantee_freeform" placeholder="describe your warranty or guarantee here"></textarea>
                            </div>
                        </div>
    
                        <div class="row {{ 'hidden' if hide_1 else ' ' }}">
                          <div class="center_it col-lg-6 col-md-6 col-sm-12">
                            <h6>Low or High Number of SKUs</h6>
                            <p>How many different product items do you currently offer?</p>
                          </div>
                          <div class="radio_container col-lg-5 col-md-5 col-sm-12">
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6><5</h6>
                            </div>
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6>5-20</h6>
                            </div>
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6>20-100</h6>
                            </div>
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6>100+</h6>
                            </div>
                          <input type="text" name="num_skus" class="hidden hidden_input">
                          </div>
                        </div>
    
                        <div class="row {{ 'hidden' if hide_2 else ' ' }}">
                          <div class="center_it col-lg-5 col-md-5 col-sm-12">
                            <h6>Level of Customization</h6>
                            <p>Low or High?</p>
                          </div>
                          <div class="radio_container col-lg-6 col-md-6 col-sm-12">
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6>None</h6>
                            </div>
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6>Some</h6>
                            </div>
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6>Most are<br>customized</h6>
                            </div>
                            &nbsp;<div class="hover_box col-lg-2 col-md-2">
                              <h6>Every Product<br>is customized</h6>
                            </div>
                          <input type="text" name="level_of_customization" class="hidden hidden_input">
                          </div>
                        </div>
                        <div class="p_form_container">
                          <button class='continue p_form_submit'>SAVE AND CONTINUE</button>
                        </div>
                      </div>
                    </div>


                  <div class="onward">                
                    <a class="final hidden continue" href="{{ url_for('splash', next_step='salescycle') }}">Let's keep going!</a>
                  </div>

              </div>

            </div>
          </div>
        </div> <!--end row-->
      </div>
    </div>
{% endblock %}

{% block js %}

<script>
  $(document).ready(function(){
    init_radio()
    init_products()
  })
</script>
{% endblock %}