<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Market(r) - Audit
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/assets/css/now-ui-dashboard.css?v=1.1.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/static/assets/css/demo.css" rel="stylesheet" />

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body onload="init_sales_cycle()" class="audit">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="https://marketr.life" class="simple-text logo-normal">
          <img src="/static/assets/img/marketrwhite.png">
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/begin">
              <i class="now-ui-icons design_app"></i>
              <p>Profile</p>
            </a>
          </li>
          <li class="active">
            <a href="/competitors">
              <i class="now-ui-icons education_atom"></i>
              <p>Company Info</p>
            </a>
          </li>
          <li>
            <a href="/campaigns">
              <i class="now-ui-icons location_map-big"></i>
              <p>Goals</p>
            </a>
          </li>
          <li>
            <a href="/integrations">
              <i class="now-ui-icons ui-1_bell-53"></i>
              <p>History</p>
            </a>
          </li>
          <li>
            <a href="/settings">
              <i class="now-ui-icons users_single-02"></i>
              <p>Diagnosis</p>
            </a>
          </li>
          <li>
            <a href="/settings">
              <i class="now-ui-icons users_single-02"></i>
              <p>Prescription</p>
            </a>
          </li>
          <li>
            <a href="/settings">
              <i class="now-ui-icons users_single-02"></i>
              <p>Begin</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                  </div>
                </div>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="now-ui-icons media-2_sound-wave"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="now-ui-icons location_world"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="now-ui-icons users_single-02"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Account</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="append_to">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="sub_menu">
                  <div class="step">
                    <p class="step_name">Competitors</p>
                  </div>
                  <div class="step ">
                    <p class="step_name ">Company</p>
                  </div>
                  <div class="step">
                    <p class="step_name">Audience</p>
                  </div>
                  <div class="step">
                    <p class="step_name">Product</p>
                  </div>
                  <div class="step step_active">
                    <p class="step_name sub_active">Sales Cycle</p>
                  </div>
                </div><br><br>
                <div class="card-header">
                  <form method="POST" id="setup" action="{{ url_for('nice') }}">
                    <div class="row">
                      <h6 class="title">Finally, let's map out the...</h6>
                      <h2 class="blue_header">Customer Journey Through the Sales Cycle</h2>
                      <p>Below are the 5 stages of the common buying process.  Awareness, Evaluation, Conversion, Retention, and Referral.  These are universal steps whether we're talking about a food truck, an online shoe-store, or a service-based consulting business.</p>
                      <p><strong>INSTRUCTIONS:</strong>   Type out each touchpoint/activity your company uses in the various stages and hit <Enter> to add another.   Please ONLY add your <span style="text-decoration: underline;">existing</span> touchpoints for each step in the buying process, don't sugar coat it with things you <em>want</em> to start doing, but haven't gotten around to yet.  </p>
                      <br>
                    </div>


                  <div class="reveal_container">
                    <a class="reveal_button continue">Let's do this</a>
                  </div>

                  <div class="reveal">  



                    <h2>AWARENESS</h2>
                    <div class="row cycle_container">
                      <div class="awareness stage_container col-lg-7 col-md-7 col-sm-12">
                        <p>How do your customers become aware about your products & services?</p>
                        <div class="left_stage">
                          <input type="text" class="first" placeholder="<add an item>" name="awareness_1">
                          <input placeholder="<add an item>" type="text" name="awareness_2">
                          <input placeholder="<add an item>" type="text" name="awareness_3">
                          <input placeholder="<add an item>" type="text" name="awareness_4">
                          <input placeholder="<add an item>" type="text" name="awareness_5">
                          <input placeholder="<add an item>" type="text" name="awareness_6">
                        </div>
                        <div class="right_stage">
                          <input placeholder="<add an item>" type="text" name="awareness_7">
                          <input placeholder="<add an item>" type="text" name="awareness_8">
                          <input placeholder="<add an item>" type="text" name="awareness_9">
                          <input placeholder="<add an item>" type="text" name="awareness_10">
                          <input placeholder="<add an item>" type="text" name="awareness_11">
                          <input class="last" placeholder="<add an item>" type="text" name="12">
                        </div>
                         
                      </div>
                      <div class="suggestions_container col-lg-5 col-md-5 col-sm-12">
                        <h6 style="text-decoration:underline;">Common Examples</h6>
                        <div class="left_suggest">
                          <ul>
                            <li>Website</li>
                            <li>Physical storefront</li>
                            <li>Amazon</li>
                            <li>Google shopping</li>
                            <li>Etsy</li>
                            <li>Articles</li>
                            <li>eBook</li>
                            <li>TV ads</li>
                            <li>Radio ads</li>
                            <li>Podcast ads</li>
                            <li>Online ads</li>
                          </ul>
                        </div>
                        <div class="right_suggest">
                          <ul>
                            <li>Shelf-space in other stores</li>
                            <li>Tradeshows</li>
                            <li>How-to-videos</li>
                            <li>Cross promotion</li>
                            <li>Referrals / word-of-mouth</li>
                            <li>Signage (incl. billboards)</li>
                            <li>Direct mailers</li>
                            <li>Email newsletter</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <h2>EVALUATION</h2>
                    <div class="row cycle_container">
                      <div class="evaluation stage_container col-lg-7 col-md-7 col-sm-12">
                        <p>How do you help your customers better understand and evaluate your offerings?</p>
                        <div class="left_stage">
                          <input placeholder="<add an item>" class="first" placeholder="<add an item>"  type="text" name="evaluation_1">
                          <input placeholder="<add an item>" type="text" name="evaluation_2">
                          <input placeholder="<add an item>" type="text" name="evaluation_3">
                          <input placeholder="<add an item>" type="text" name="evaluation_4">
                          <input placeholder="<add an item>" type="text" name="evaluation_5">
                          <input placeholder="<add an item>" type="text" name="evaluation_6">
                        </div>
                        <div class="right_stage">
                          <input placeholder="<add an item>" type="text" name="evaluation_7">
                          <input placeholder="<add an item>" type="text" name="evaluation_8">
                          <input placeholder="<add an item>" type="text" name="evaluation_9">
                          <input placeholder="<add an item>" type="text" name="evaluation_10">
                          <input placeholder="<add an item>" type="text" name="evaluation_11">
                          <input class="last" placeholder="<add an item>" type="text" name="12">
                        </div>
                         
                      </div>
                      <div class="suggestions_container col-lg-5 col-md-5 col-sm-12">
                        <h6 style="text-decoration:underline;">Common Examples</h6>
                        <div class="left_suggest">
                          <ul>
                            <li>Competitive comparison</li>
                            <li>Feature list</li>
                            <li>Data sheet</li>
                            <li>Case study</li>
                            <li>Testimonials</li>
                            <li>Webinar</li>
                            <li>Online reviews</li>
                            <li>FAQ</li>
                            <li>Samples</li>
                            <li>Demo video</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <h2>CONVERSION</h2>
                    <div class="row cycle_container">
                      <div class="conversion stage_container col-lg-7 col-md-7 col-sm-12">
                        <p>How do you make it easier for your customers to buy from you?</p>
                        <div class="left_stage">
                          <input class="first" placeholder="<add an item>"  type="text" name="conversion_1">
                          <input placeholder="<add an item>" type="text" name="conversion_2">
                          <input placeholder="<add an item>" type="text" name="conversion_3">
                          <input placeholder="<add an item>" type="text" name="conversion_4">
                          <input placeholder="<add an item>" type="text" name="conversion_5">
                          <input placeholder="<add an item>" type="text" name="conversion_6">
                        </div>
                        <div class="right_stage">
                          <input placeholder="<add an item>" type="text" name="conversion_7">
                          <input placeholder="<add an item>" type="text" name="conversion_8">
                          <input placeholder="<add an item>" type="text" name="conversion_9">
                          <input placeholder="<add an item>" type="text" name="conversion_10">
                          <input placeholder="<add an item>" type="text" name="conversion_11">
                          <input class="last" placeholder="<add an item>" type="text" name="12">
                        </div>
                         
                      </div>
                      <div class="suggestions_container col-lg-5 col-md-5 col-sm-12">
                        <h6 style="text-decoration:underline;">Common Examples</h6>
                        <div class="left_suggest">
                          <ul>
                            <li>Free Trial</li>
                            <li>Pricing page</li>
                            <li>Live demo</li>
                            <li>Consultation</li>
                            <li>Estimate / quote</li>
                            <li>Coupon</li>
                            <li>Call-to-action</li>
                            <li>Re-targeting</li>
                            <li>Sales call follow-up</li>
                            <li>"Drip" email campaign</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <h2>RETENTION</h2>
                    <div class="row cycle_container">
                      <div class="retention stage_container col-lg-7 col-md-7 col-sm-12">
                        <p>How do you engage previous customers to buy again?</p>
                        <div class="left_stage">
                          <input class="first" placeholder="<add an item>"  type="text" name="retention_1">
                          <input placeholder="<add an item>" type="text" name="retention_2">
                          <input placeholder="<add an item>" type="text" name="retention_3">
                          <input placeholder="<add an item>" type="text" name="retention_4">
                          <input placeholder="<add an item>" type="text" name="retention_5">
                          <input placeholder="<add an item>" type="text" name="retention_6">
                        </div>
                        <div class="right_stage">
                          <input placeholder="<add an item>" type="text" name="retention_7">
                          <input placeholder="<add an item>" type="text" name="retention_8">
                          <input placeholder="<add an item>" type="text" name="retention_9">
                          <input placeholder="<add an item>" type="text" name="retention_10">
                          <input placeholder="<add an item>" type="text" name="retention_11">
                          <input class="last" placeholder="<add an item>" type="text" name="retention_12">
                        </div>
                         
                      </div>
                      <div class="suggestions_container col-lg-5 col-md-5 col-sm-12">
                        <h6 style="text-decoration:underline;">Common Examples</h6>
                        <div class="left_suggest">
                          <ul>
                            <li>Packaging</li>
                            <li>Email follow-up</li>
                            <li>Coupons</li>
                            <li>Subscription</li>
                            <li>Easy re-order</li>
                            <li>Birthday gifts</li>
                            <li>New product notices</li>
                            <li>Re-targeting online ads</li>
                          </ul>
                        </div>
                        <div class="right_suggest">
                          <ul>
                            <li>Cross-promotion / nurture campaigns</li>
                            <li>Perk milestones for subscription anniversaries</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <h2>REFERRAL</h2>
                    <div class="row cycle_container">
                      <div class="referral stage_container col-lg-7 col-md-7 col-sm-12">
                        <p>How do you make it easier for customers to talk about and recommend to others?</p>
                        <div class="left_stage">
                          <input class="first" placeholder="<add an item>"  type="text" name="referral_1">
                          <input placeholder="<add an item>" type="text" name="referral_2">
                          <input placeholder="<add an item>" type="text" name="referral_3">
                          <input placeholder="<add an item>" type="text" name="referral_4">
                          <input placeholder="<add an item>" type="text" name="referral_5">
                          <input placeholder="<add an item>" type="text" name="referral_6">
                        </div>
                        <div class="right_stage">
                          <input placeholder="<add an item>" type="text" name="referral_7">
                          <input placeholder="<add an item>" type="text" name="referral_8">
                          <input placeholder="<add an item>" type="text" name="referral_9">
                          <input placeholder="<add an item>" type="text" name="referral_10">
                          <input placeholder="<add an item>" type="text" name="referral_11">
                          <input class="last" placeholder="<add an item>" type="text" name="referral_12">
                        </div>
                         
                      </div>
                      <div class="suggestions_container col-lg-5 col-md-5 col-sm-12">
                        <h6 style="text-decoration:underline;">Common Examples</h6>
                        <div class="left_suggest">
                          <li>Packaging</li>
                          <li>Social sharing incentive</li>
                          <li>Shareable coupons</li>
                          <li>Referral incentive</li>
                          <li>Testimonial / Reviews</li>
                          <li>User generated content</li>
                        </div>
                      </div>
                    </div>
                

                  <div class="onward">                
                    <input type="submit" class="continue">
                  </div>
                </div>
                </form>

            </div>
          </div>
        </div> <!--end row-->
      </div>
    </div>



  <!--   Core JS Files   -->
  <script src="/static/assets/js/core/jquery.min.js"></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
  <script src="/static/assets/js/core/popper.min.js"></script>
  <script src="/static/assets/js/core/bootstrap.min.js"></script>
  <script src="/static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Chart JS -->
  <script src="/static/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/static/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/static/assets/js/now-ui-dashboard.min.js?v=1.1.0" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src='/static/frontend.js'></script>
  <script src="/static/animations.js"></script>
</body>

</html>