{% from "macros/_macros.html" import form_open, text_input, breadcrumb, left_nav, form_body, popout, create_element, autocomplete, render_field %}



<h2>AWARENESS</h2>
<div class="row cycle_container">
  <div class="awareness stage_container col-lg-7 col-md-7 col-sm-12">
    <p>How do your customers become aware about your products & services?</p>
    <div class="left_stage">
      {{ render_field(form.awareness_left, class='stage_containers awareness', placeholder='<add an item>') }}
    </div>
    <div class="right_stage">
      {{ render_field(form.awareness_right, class='stage_containers awareness', placeholder='<add an item>') }}
    </div>
     
  </div>
  <div class="suggestions_container col-lg-5 col-md-5 col-sm-12">
    <h6 style="text-decoration:underline;">Common Examples</h6><br><br>
    <div class="left_suggest">
      <ul>
        <li>Website</li>
        <li>Physical storefront</li>
        <li>Amazon</li>
        <li>Google shopping</li>
        <li>Etsy</li>
        <li>Articles</li>
        <li>eBook</li>
        <li>TV ads</li>
        <li>Radio ads</li>
        <li>Podcast ads</li>
        <li>Online ads</li>
      </ul>
    </div>
    <div class="right_suggest">
      <ul>
        <li>Shelf-space in other stores</li>
        <li>Tradeshows</li>
        <li>How-to-videos</li>
        <li>Cross promotion</li>
        <li>Referrals / word-of-mouth</li>
        <li>Signage (incl. billboards)</li>
        <li>Direct mailers</li>
        <li>Email newsletter</li>
      </ul>
    </div>
  </div>
</div>

<h2>EVALUATION</h2>
<div class="row cycle_container">
  <div class="evaluation stage_container col-lg-7 col-md-7 col-sm-12">
    <p>How do you help your customers better understand and evaluate your offerings?</p>
    <div class="left_stage">
      {{ render_field(form.evaluation_left, class='stage_containers evaluation', placeholder='<add an item>') }}
    </div>
    <div class="right_stage">
      {{ render_field(form.evaluation_right, class='stage_containers evaluation', placeholder='<add an item>') }}
    </div>
     
  </div>
  <div class="suggestions_container col-lg-5 col-md-5 col-sm-12">
    <h6 style="text-decoration:underline;">Common Examples</h6><br><br>
    <div class="left_suggest">
      <ul>
        <li>Competitive comparison</li>
        <li>Feature list</li>
        <li>Data sheet</li>
        <li>Case study</li>
        <li>Testimonials</li>
        <li>Webinar</li>
        <li>Online reviews</li>
        <li>FAQ</li>
        <li>Samples</li>
        <li>Demo video</li>
      </ul>
    </div>
  </div>
</div>

<h2>CONVERSION</h2>
<div class="row cycle_container">
  <div class="conversion stage_container col-lg-7 col-md-7 col-sm-12">
    <p>How do you make it easier for your customers to buy from you?</p>
    <div class="left_stage">
      {{ render_field(form.conversion_left, class='stage_containers conversion', placeholder='<add an item>') }}
    </div>
    <div class="right_stage">
      {{ render_field(form.conversion_right, class='stage_containers conversion', placeholder='<add an item>') }}
    </div>
     
  </div>
  <div class="suggestions_container col-lg-5 col-md-5 col-sm-12">
    <h6 style="text-decoration:underline;">Common Examples</h6><br><br>
    <div class="left_suggest">
      <ul>
        <li>Free Trial</li>
        <li>Pricing page</li>
        <li>Live demo</li>
        <li>Consultation</li>
        <li>Estimate / quote</li>
        <li>Coupon</li>
        <li>Call-to-action</li>
        <li>Re-targeting</li>
        <li>Sales call follow-up</li>
        <li>"Drip" email campaign</li>
      </ul>
    </div>
  </div>
</div>

<h2>RETENTION</h2>
<div class="row cycle_container">
  <div class="retention stage_container col-lg-7 col-md-7 col-sm-12">
    <p>How do you engage previous customers to buy again?</p>
    <div class="left_stage">
      {{ render_field(form.retention_left, class='stage_containers retention', placeholder='<add an item>') }}
    </div>
    <div class="right_stage">
      {{ render_field(form.retention_right, class='stage_containers retention', placeholder='<add an item>') }}
    </div>
     
  </div>
  <div class="suggestions_container col-lg-5 col-md-5 col-sm-12">
    <h6 style="text-decoration:underline;">Common Examples</h6><br><br>
    <div class="left_suggest">
      <ul>
        <li>Packaging</li>
        <li>Email follow-up</li>
        <li>Coupons</li>
        <li>Subscription</li>
        <li>Easy re-order</li>
        <li>Birthday gifts</li>
        <li>New product notices</li>
        <li>Re-targeting online ads</li>
      </ul>
    </div>
    <div class="right_suggest">
      <ul>
        <li>Cross-promotion / nurture campaigns</li>
        <li>Perk milestones for subscription anniversaries</li>
      </ul>
    </div>
  </div>
</div>

<h2>REFERRAL</h2>
<div class="row cycle_container">
  <div class="referral stage_container col-lg-7 col-md-7 col-sm-12">
    <p>How do you make it easier for customers to talk about and recommend to others?</p>
    <div class="left_stage">
      {{ render_field(form.referral_left, class='stage_containers referral', placeholder='<add an item>') }}
    </div>
    <div class="right_stage">
      {{ render_field(form.referral_right, class='stage_containers referral', placeholder='<add an item>') }}
    </div>
     
  </div>
  <div class="suggestions_container col-lg-5 col-md-5 col-sm-12">
    <h6 style="text-decoration:underline;">Common Examples</h6><br><br>
    <div class="left_suggest">
      <li>Packaging</li>
      <li>Social sharing incentive</li>
      <li>Shareable coupons</li>
      <li>Referral incentive</li>
      <li>Testimonial / Reviews</li>
      <li>User generated content</li>
    </div>
  </div>
</div>
