{% extends "layouts/layout.html" %}

{% block title %}
<title>
  Market(r) - Way to go!
</title>
{% endblock %}



{% block content %}
  {% if next_step != 'begin' %}
    {% include "/sidebar/sidebar-intake.html" %}
    {% include "/topbar/topbar-customer.html" %}
  {% endif %}

      <!-- End Navbar -->
      {% if next_step != 'begin' %}
      <div class="panel-header panel-header-sm">
      </div>
      {% else %}
      <div></div>
      {% endif %}
      
      <div class="content">
        <div class="append_to">
          <div class="row">
            <div class="col-md-12">
              {% if next_step != 'begin' %}
              <div class="card" style="padding: 5%;">
              {% else %}
              <div>
              {% endif %}
              {% if next_step != 'begin' %}
              <div>
              {% else %}
              <div style="margin-top:10%;">
              {% endif %}
                  <div class="checkmark_container">
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="#62cde0"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                  </div>

                  <div style="width: 50%;margin: 3% auto 0;">  
                    <h5 class="blue_header">{{ heading }}</h5>
                    <p>{{ paragraph }}</p>
                    <div class="onward" style="font-size: 120%;text-align: center;margin-top: 10%;">  
                      {% if redirect and next_step != 'begin' %}              
                        <a style="padding: 2% 5%;" class="continue" href="{{ url_for(next_step, redirect=True, next_step=next_step) }}">CONTINUE</a>
                      {% elif next_step == 'begin' %}
                        
                      {% else %}
                        <a style="padding: 2% 5%;" class="continue" href="{{ url_for(next_step, splash=True) }}">CONTINUE</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!--end row-->
      </div>
    </div>

{% endblock %}
