{% extends "layout.html" %}

{% block title %}
<title>
  Market(r) - Way to go!
</title>
{% endblock %}



{% block content %}
  {% include "/sidebar/sidebar-intake.html" %}
  {% include "/topbar/topbar-customer.html" %}

      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="append_to">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="checkmark_container">
                    <img src="/static/assets/img/confirmation.png">
                  </div>
                  <div style="width: 40%;margin: 3% auto;">  
                    <h5 class="blue">Nice Work!</h5>
                    {{ text }}
                    <p>Thanks for giving Marketr a better understanding of your company and marketing environment.  This will definitely strengthen the results and analysis for <span class="company_name">company name</span>.</p>

                    <p>Next, we'll figure out your goals for what we're working to accomplish.</p><br>
                    <div class="onward" style="text-align: center;">                
                      <a class="continue" href="/{{ next_step }}">Next, please!</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!--end row-->
      </div>
    </div>

{% endblock %}
