
<div class="sidebar" data-color="orange">
    <div class="logo">
        <a href="https://marketr.life" class="simple-text logo-normal">
        <img src="/static/assets/img/marketrblack.png">
        </a>
    </div>
    <div class="sidebar-wrapper tab-content">
        <div id="profile-nav">
            <ul class="nav">
                <li class="{{ page }}">
                    <a href="/home?view=profile">
                        <i class="now-ui-icons business_badge"></i>
                        <p>Market(r) Profile</p>
                    </a>
                </li>
                <li class="{{ page }}">
                    <a href="/home?view=campaigns">
                        <i class="now-ui-icons business_chart-pie-36"></i>
                        <p>Campaigns</p>
                    </a>	
                </li>
                <li class="{{ page }}">
                    <a href="/home?view=messages">
                        <i class="now-ui-icons ui-2_chat-round"></i>
                        <p>Messages</p>
                    </a>	
                </li>
                <li class="{{ page }}">
                    <a href="{{ url_for('settings') }}">
                        <i class="now-ui-icons ui-1_settings-gear-63"></i>
                        <p>Account & Billing</p>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">
                        <i class="now-ui-icons objects_key-25"></i>
                        <p>Logout</p>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</div>