
{% from 'core/navbar/sidebar.html' import settings_link, campaigns, profile, achievements, messages, competitive_intelligence, logout %}

<div class="sidebar" data-color="orange">
	<div class="logo">
		<a href="https://marketr.life" class="simple-text logo-normal">
		<img src="/static/assets/img/favicon.png">
		</a>
	</div>
	<div class="sidebar-wrapper tab-content">
		<div id="profile-nav">
			<ul class="nav">
				{{ campaigns() }}
				{{ profile() }}
				{{ messages() }}
				{#{{ achievements(target=achieved if achieved else None) }}#}
				{{ settings_link(target=settings if settings else None) }}
				{{ logout() }}
			</ul>
		</div>
	</div>
</div>