
{% macro settings_link() %}
<li>
	<a href="{{ url_for('settings') }}">
		<i class="now-ui-icons ui-1_settings-gear-63"></i>
		<p>Account</p>
	</a>
</li>
{% endmacro %}

<div class="sidebar" data-color="orange">
	<div class="logo">
	  <a href="https://marketr.life" class="simple-text logo-normal">
	    <img src="/static/assets/img/marketrblack.png">
	  </a>
	</div>
	<div class="sidebar-wrapper tab-content">
		<div id="profile-nav" class="hidden">
			<ul class="nav">
				<li class="{{ plan }}">
				<a href="/home?page=plan">
					<i class="now-ui-icons business_badge"></i>
					<p>Market(r) Profile</p>
				</a>

				{% if plan=='active' %}

					<ul class="sub_nav nav">
						<li><a class="targeted profile_information" href="#profile_information">Profile Information</a></li>
						<li><a class="company" href="#company">Company Information</a></li>
						<li><a class="competitors" href="#competitors">Competitors</a></li>
						<li><a class="audience" href="#audience">Target Market</a></li>
						<li><a class="products" href="#products">Products</a></li>
						<li><a class="salescycle" href="#salescycle">Sales Cycle</a></li>
						<li><a class="platforms" href="#platforms">Platforms</a></li>
					</ul>

				{% endif %}
				</li>
				{{ settings_link() }}
			</ul>
		</div>
		<div id="campaigns-nav">		
			<ul class="nav">
				<li class="{{ plan }}">
					<a href="/home?page=plan">
						<i class="now-ui-icons business_chart-pie-36"></i>
						<p>Campaigns</p>
					</a>	
					<ul class="sub_nav nav">
						<li><a class="targeted profile_information" href="#to_do">To Do</a></li>
						<li><a class="goal" href="#goal">Goal</a></li>
						<li><a class="insights" href="#insights">Insights</a></li>
						<li><a class="ads_performance" href="#ads_performance">Ad performance</a></li>
					</ul>
				</li>
				{{ settings_link() }}
			</ul>
		</div>
		<div id="messages-nav" class="hidden">		
			<ul class="nav">
				<li class="{{ plan }}">
					<a href="/home?page=plan">
						<i class="now-ui-icons ui-2_chat-round"></i>
						<p>Messages</p>
					</a>	
					<ul class="sub_nav nav">
						<li><a class="targeted profile_information" href="#to_do">Messages</a></li>
					</ul>
				</li>
				{{ settings_link() }}
			</ul>
		</div>


	</div>
</div>
