
{% macro settings_link(target=None) %}

<li class="sidebar_li {{ target }}">
	<a href="{{ url_for('settings') }}">
		<i class="now-ui-icons ui-1_settings-gear-63"></i>
		<p class="nav_desc">Account</p>
	</a>
</li>

{% endmacro %}

{% macro campaigns(plan) %}
<li id="campaigns-nav" class="sidebar_li {{ plan }}">
	<a href="{{ '/home?view=campaigns' if not demo else '/home?view=campaigns' }} ">
		<i class="now-ui-icons business_chart-pie-36"></i>
		<p class="nav_desc">Marketing</p>
	</a>	
</li>
{% endmacro %}

{% macro profile(plan) %}
<li id="profile-nav" class="sidebar_li {{ plan }}">
	<a class="render_tactics" href="{{ url_for('home', view='profile') if not demo else '/demo?view=profile' }}">
		<i class="now-ui-icons business_badge"></i>
		<p class="nav_desc">Profile</p>
	</a>
</li>
{% endmacro %}
{% macro achievements(target=None) %}
<li class="sidebar_li {{ target }}">
	<a href="/home/achievements">
		<i class="now-ui-icons business_money-coins"></i>
		<p class="nav_desc">Rewards <span style="display:none;" class="pulse ach_note"></span></p>
	</a>	
</li>
{% endmacro %}

{% macro messages(plan) %}
<li id="messages-nav" class="sidebar_li {{ plan }}">
	<a href="{{'/home?view=messages' if not demo else '/demo?view=messages'}}">
		<i class="now-ui-icons ui-2_chat-round"></i>
		<p class="nav_desc">Chat</p>
	</a>	
</li>
{% endmacro %}

{% macro competitive_intelligence(plan) %}
<li id="competitors-nav" class="sidebar_li {{ plan }}">
	<a class="render_competitors" href="{{'/home?view=competitors' if not demo else '/demo?view=competitors'}}">
		<i class="fas fa-braille"></i>
		<p class="nav_desc">Intel</p>
	</a>	
</li>
{% endmacro %}

{% macro logout() %}
<li class="sidebar_li">
	<a href="{{ url_for('logout') if not demo else '#' }}">
		<i class="now-ui-icons objects_key-25"></i>
		<p class="nav_desc">Logout</p>
	</a>
</li>
{% endmacro %}


<div class="sidebar" data-color="orange">
	<div class="logo">
	  <a href="{{ url_for('home') }}" class="simple-text logo-normal">
	    <img src="/static/assets/img/favicon.png">
	  </a>
	</div>
	<div class="sidebar-wrapper tab-content">
		<ul class="nav">
			{{ campaigns(plan) }}
			{{ competitive_intelligence() }}
			{{ profile() }}
			{{ messages() }}
			{#{% if not demo %} {{ achievements() }} {% endif %}#}
			{% if not demo %} {{ settings_link() }} {% endif %}
			{% if not demo %} {{ logout() }} {% endif %}
		</ul>
	</div>
</div>

{#<div class="sidebar" data-color="orange">
	<div class="logo">
		<a href="{{ url_for('pricing') }}" class="simple-text logo-normal">
		  <img src="/static/assets/img/favicon.png">
		</a>
	  </div>
	<div class="sidebar-wrapper tab-content">
		<div style="padding: 5%">
			<h5 class="wrap widget__title"><strong>Live demo:</strong><br>Get these superpowers in just 10 minutes.</h5>
			<div class="separator"></div>
			<div class="cta_row">
				
				<div class="center_it"><i class="fas fa-chart-pie"></i></div><br>
				<p>Market(r) is an app that learns how much you should spend and where to spend it, and gives you 1-click implementation for your online advertising.</p>
				<div class="center_it">
					<a href="/pricing" class="btn btn-secondary">View plans</a><br>
					<a href="/schedule" class="btn btn-neutral">Talk to someone first</a>
				</div>

			</div>
		</div>
		
	</div>	
</div>#}

{#
<header data-v-c0f0d58e="" class="sidebar app-sidebar">
	<a data-v-c0f0d58e="" href="/" class="logo">Baremetrics</a>
	<nav data-v-c0f0d58e="" class="app-navigation app-navigation--active-features">
		<a data-v-c0f0d58e="" href="/" class="nav-link active">
			<img data-v-c0f0d58e="" src="/packs/media/images/header/icon-home-7e7bd6c328b517619360bc111d9e0981.svg" width="38" height="38" class="feature-icon-default"> <img data-v-c0f0d58e="" src="/packs/media/images/header/icon-home-active-181977fe0aaaa137bb78a1ad68ae321f.svg" width="38" height="38" class="feature-icon-active">
			<span data-v-c0f0d58e="">Home</span>
			<div data-v-c0f0d58e="" class="vue-tooltip right small">
			Home
			</div>
		</a>
		<a data-v-c0f0d58e="" href="/stats/mrr" class="nav-link">
			<img data-v-c0f0d58e="" src="/packs/media/images/header/icon-metrics-53782280cd1f3b11409cec69f1a66184.svg" width="38" height="38" class="feature-icon-default">
			<img data-v-c0f0d58e="" src="/packs/media/images/header/icon-metrics-active-432f0a400e5b381f76604b2fa043bbf8.svg" width="38" height="38" class="feature-icon-active">
			<span data-v-c0f0d58e="">Metrics</span>
			<div data-v-c0f0d58e="" class="vue-tooltip right small">
				Metrics
			  </div>
		</a>
	</nav>
</header>
#}