
{% macro settings_link(target="") %}
<li class="{{ target }}">
	<a href="{{ url_for('settings') }}">
		<i class="now-ui-icons ui-1_settings-gear-63"></i>
		<p>Account and Billing</p>
	</a>
</li>

{% endmacro %}

{% macro campaigns() %}
<li class="{{ campaigns }}">
	<a href="/home?view=campaigns">
		<i class="now-ui-icons business_chart-pie-36"></i>
		<p>Campaigns</p>
	</a>	
</li>
{% endmacro %}

{% macro profile() %}
<li class="{{ profile }}">
	<a href="{{ url_for('home', view='profile') }}">
		<i class="now-ui-icons business_badge"></i>
		<p>Market(r) Profile</p>
	</a>
</li>
{% endmacro %}
{% macro achievements(target="") %}
<li class="{{ target }}">
	<a href="/home/achievements">
		<i class="now-ui-icons business_money-coins"></i>
		<p>Achievements & Store</p>
	</a>	
</li>
{% endmacro %}

{% macro messages() %}
<li class="{{ messages }}">
	<a href="/home?view=messages">
		<i class="now-ui-icons ui-2_chat-round"></i>
		<p>Messages</p>
	</a>	
</li>
{% endmacro %}

{% macro competitive_intelligence() %}
<li>
	<a href="/home?view=competitors">
		<i class="now-ui-icons business_globe"></i>
		<p>Competitive Intelligence</p>
	</a>	
</li>
{% endmacro %}

{% macro logout() %}
<li>
	<a href="{{ url_for('logout') }}">
		<i class="now-ui-icons objects_key-25"></i>
		<p>Logout</p>
	</a>
</li>
{% endmacro %}


<div class="sidebar" data-color="orange">
	<div class="logo">
	  <a href="{{ url_for('home') }}" class="simple-text logo-normal">
	    <img src="/static/assets/img/marketrblack.png">
	  </a>
	</div>
	<div class="sidebar-wrapper tab-content">
		<div id="profile-nav" class="hidden">
			<ul class="nav">
				{{ campaigns() }}
				<li class="{{ plan }}">
					<a href="/home?view=profile">
						<i class="now-ui-icons business_badge"></i>
						<p>Market(r) Profile</p>
					</a>

					{% if plan=='active' %}

						<ul class="sub_nav nav">
							<li><a class="targeted profile_information" href="#profile_information">Profile Information</a></li>
							<li><a class="company" href="#company">Company Information</a></li>
							<li><a class="audience" href="#audience">Target Market</a></li>
							<li><a class="products" href="#products">Products</a></li>
							<li><a class="salescycle" href="#salescycle">Sales Cycle</a></li>
							<li><a class="platforms" href="#platforms">Platforms</a></li>
						</ul>

					{% endif %}
				</li>
				{{ messages() }}
				{{ competitive_intelligence() }}
				{{ achievements() }}
				{{ settings_link() }}
				{{ logout() }}
			</ul>
		</div>
		<div id="campaigns-nav">		
			<ul class="nav">
				<li class="{{ plan }}">
					<a href="{{ url_for('home', view='campaigns') }}">
						<i class="now-ui-icons business_chart-pie-36"></i>
						<p>Campaigns</p>
					</a>	
					<ul class="sub_nav nav">
						<li><a class="profile_information targeted" href="#to_do">To Do</a></li>
						<li><a class="insights" href="#insights">Insights</a></li>
						<li><a class="ads_performance" href="#ads_performance">Ad performance</a></li>
					</ul>
				</li>
				{{ profile() }}
				{{ messages() }}
				{{ competitive_intelligence() }}
				{{ achievements() }}
				{{ settings_link() }}
				{{ logout() }}
			</ul>
		</div>
		<div id="messages-nav" class="hidden">		
			<ul class="nav">
				{{ campaigns() }}
				{{ profile() }}
				<li class="{{ plan }}">
					<a href="{{ url_for('home', view='messages') }}">
						<i class="now-ui-icons ui-2_chat-round"></i>
						<p>Messages</p>
					</a>	
					<ul class="sub_nav nav">
						<li><a class="targeted profile_information" href="#to_do">Messages</a></li>
					</ul>
				</li>
				{{ competitive_intelligence() }}
				{{ achievements() }}
				{{ settings_link() }}
				{{ logout() }}
			</ul>
		</div>

		<div id="competitors-nav" class="hidden">		
			<ul class="nav">
				{{ campaigns() }}
				{{ profile() }}
				{{ messages() }}
				{{ competitive_intelligence() }}
				{{ achievements() }}
				{{ settings_link() }}
				{{ logout() }}
			</ul>
		</div>


	</div>
</div>
