{% from "macros/_macros.html" import notifications %}
{% from "macros/gamification_macros.html" import credit_amount %}
<nav class="navbar navbar-expand-sm navbar-transparent navbar-absolute bg-primary fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
    </div>
{#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>#}
    {% set credits = page.data['core']['core'][0]['credits'] %}
    {{ credit_amount(credits if credits else 0) }}

    {#<div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
        {{notifications()}}
      </ul>
    </div>#}
  </div>
</nav>

