google_auth_oauthlib==0.4.1
passlib==1.7.1
pandas==0.23.0
xmltodict==0.12.0
WTForms==2.2.1
pyodbc==4.0.23
Flask_Uploads==0.2.1
itsdangerous==0.24
SQLAlchemy==1.2.1
stripe==2.35.0
requests==2.22.0
typing==3.6.2
oauthlib==3.0.1
Flask_Mail==0.9.1
watson_developer_cloud==1.4.0
httplib2==0.13.0
zipcodes==1.0.5
Flask_WTF==0.14.2
numpy==1.14.3
googleads==22.0.0
PyYAML==5.1.2
