
{% block sidebar %}
<div class="sidebar" data-color="orange">
<!--
Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
	<div class="logo">
	  <a href="https://marketr.life" class="simple-text logo-normal">
	    <img src="/static/assets/img/marketrwhite.png">
	  </a>
	</div>
	<div class="sidebar-wrapper">
	  <ul class="nav">
	    <li class="{{ begin }}">
	      <a href="/begin">
	        <i class="now-ui-icons design_app"></i>
	        <p>Profile</p>
	      </a>
	    </li>
	    <li class="{{ company }}">
	      <a href="/competitors">
	        <i class="now-ui-icons education_atom"></i>
	        <p>Company Info</p>
	      </a>
	    </li>
	    <li class="{{ goals }}">
	      <a href="/goals">
	        <i class="now-ui-icons location_map-big"></i>
	        <p>Goals</p>
	      </a>
	    </li>
	    <li class="{{ history }}">
	      <a href="/history">
	        <i class="now-ui-icons ui-1_bell-53"></i>
	        <p>History</p>
	      </a>
	    </li>
	    <li class="{{ creative }}">
	      <a href="/creative">
	        <i class="now-ui-icons design_palette"></i>
	        <p>Creative</p>
	      </a>
	    </li>
	  </ul>
	</div>
</div>
{% endblock %}