
{% block sidebar %}
<div class="sidebar" data-color="orange">
<!--
Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
	<div class="logo">
	  <a href="https://marketr.life" class="simple-text logo-normal">
	    <img src="/static/assets/img/favicon.png">
	  </a>
	</div>
	<div class="sidebar-wrapper">
	  <ul class="nav">
	    <li class="sidebar_li {{ begin }}">
	      <a href="/begin">
	        <i class="now-ui-icons design_app"></i>
	        <p class="nav_desc">Profile</p>
	      </a>
	    </li>
	    <li class="sidebar_li {{ company }}">
	      <a href="/competitors">
	        <i class="now-ui-icons education_atom"></i>
	        <p class="nav_desc">Company Info</p>
	      </a>
	    </li>
	    <li class="sidebar_li {{ goals }}">
	      <a href="/goals">
	        <i class="now-ui-icons location_map-big"></i>
	        <p class="nav_desc">Goals</p>
	      </a>
	    </li>
	    <li class="sidebar_li {{ history }}">
	      <a href="/history">
	        <i class="now-ui-icons ui-1_bell-53"></i>
	        <p class="nav_desc">History</p>
	      </a>
	    </li>
	  </ul>
	</div>
</div>
{% endblock %}