{% extends "layout.html" %}
{% from "_macros.html" import form_open %}


{% block title %}
<title>
  Market(r) - Goals
</title>
{% endblock %}



{% block content %}
  {% with goals="active" %}
    {% include "/sidebar/sidebar-intake.html" %}
  {% endwith %}
  {% include "/topbar/topbar-customer.html" %}
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="append_to">
          <div class="row">
            <div class="col-md-12">
              <div class="card" style="padding: 5%;">
                <div class="sub_menu">
                  <div class="step step_active">
                    <p class="step_name sub_active">Goals</p>
                  </div>
                </div><br><br>
                <div class="card-body">
                  {{ form_open('history', request.args.get('home')) }}
                    <div class="card-header">
                      <div class="row yellow_border">
                        <h6>Before we can prescribe, we need to understand your goals...</h6><br>
                        <h2 class="blue_header">What does success look like for you?</h2>
                        <p>This can certainly change, so don't be afraid to come back and adjust your goals.  It WILL impact Marketr's prescriptions.  Remember, marketing is a balance so we'll help you continuously improve.</p>
                        <p>Select one... (we get it - you want all three, but this is marketing, not magic.  Let's improve one then refocus on another to improve incrementally.)</p>
                      </div>
                    </div>

                    <div class="reveal_container">
                      <a class="reveal_button continue">Let's do this</a>
                    </div>


                    <div class="reveal">
                        <div>
                          <div class="row" style="width: 90%;">
                            <div class="goals_focus hover_box col-lg-2 col-md-2">
                              <h6>Revenue</h6>
                              <p>Increase your income</p>
                            </div>
                            <div class="{{ 'hidden' if hide_1 else ' ' }} hover_box col-lg-2 col-md-2">
                              <h6>User growth</h6>
                              <p>Increase number of customers/users</p>
                            </div>
                            <div class="goals_focus hover_box col-lg-2 col-md-2">
                              <h6>CAC Reduction</h6>
                              <p>Decrease your cost of acquiring customers</p>
                            </div>
                            <div class="goals_focus hover_box col-lg-2 col-md-2">
                              <h6>Leads</h6>
                              <p>Increase # of leads to your organization</p>
                            </div>
                            <input type="text" name="goal" class="hidden hidden_input">
                          </div>
                        </div>
                        <p><em>How would you like that to change?</em></p>
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12">
                            <p>From (current average per month)</p>
                            <textarea name="current_avg" placeholder="<type>" id="from_focus" class="form-control"></textarea>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12">
                            <p>To (target average per month)</p>
                            <textarea name="target_avg" placeholder="<type>" class="form-control"></textarea>
                          </div><br>
                        </div>
                        <div class="row row_cancel">
                          <p>And over what time period?</p>
                        </div>
                        <div class="row">
                          &nbsp;<div class="col-lg-2 col-md-2 hover_box">
                            <h6>3 mos</h6>
                          </div>
                          &nbsp;<div class="col-lg-2 col-md-2 hover_box">
                            <h6>6 mos</h6>
                          </div>
                          &nbsp;<div class="col-lg-2 col-md-2 hover_box">
                            <h6>9 mos</h6>
                          </div>
                          &nbsp;<div class="col-lg-2 col-md-2 hover_box">
                            <h6>1 year</h6>
                          </div>
                          &nbsp;<div class="col-lg-2 col-md-2 hover_box">
                            <h6>18 mos</h6>
                          </div>
                          &nbsp;<div class="col-lg-2 col-md-2 hover_box">
                            <h6>2 years</h6>
                          </div>
                          <input type="text" name="timeframe" class="hidden hidden_input">
                        </div>


                        <div class="onward">            
                          <input type="submit" class="continue">
                        </div>


                    </div>
                  </form>
                </div>
              </div>
              </div>


            </div>
          </div>
        </div> <!--end row-->
      </div>
    </div>


{% endblock %}
{% block js %}

<script type="text/javascript">
  $(".goals_focus").click(function(){
    $("#from_focus").focus()
  })
</script>
{% endblock %}