{% extends "/layouts/layout.html" %}
{% from "macros/_admin_macros.html" import admin_sidebar, render_page, personnel, customers, customer_level, create_form, form_modal, admin_breadcrumb, insights %}
{% from "macros/dashboard_macros.html" import todo, messages %}


{% block title %}
<title>
	Market(r) - Admin
</title>
{% endblock %}

{% block content %}
	<div class="main-panel">
		{{ admin_sidebar('test', owner, admin, manager) }}
		{% include "/topbar/topbar-admin.html" %}
		
		<div class="panel-header panel-header-sm">
		</div>
		<div class="content">
			<div class="append_to">
				<div class="container-fluid">

				<div class="card root-card">
					<style>
						.card {
							padding: 2%;
						}
					</style>

					<div id="loading">
						<div class="load-circle"><span class="one"></span></div>
					</div>

					<div id="content-ready" style="visibility: hidden;">
						<div class="container-fluid">
						{% block admin_content %}

								
								{% with messages = get_flashed_messages() %}
									{% if messages %}
										<ul class=flashes>
										{% for message in messages %}
										<p>{{ message }}</p>
										{% endfor %}
										</ul>
									{% endif %}
								{% endwith %}

								{% if page.page == 'personnel' %}
									{% with page=page %}
										{% include 'admin_view/personnel.html' %}
									{% endwith %}
								{% elif page.page == 'customers' %}
									{% with page=page %}
										{% include 'admin_view/customers.html' %}
									{% endwith %}
								{% elif page.page == 'campaigns' %}
									{% with page=page %}
										{% include 'admin_view/campaigns.html' %}
									{% endwith %}
								{% elif page.page == 'acct_mgmt' %}
									{% with page=page, csv_form=csv_form, ab_form=ab_form, temp_form=temp_form, insight_form=insight_form %}
										{% include 'admin_view/customer_level.html' %}
									{% endwith %}
								{% elif page.page == 'tags' %}
									{% with page = page, form = form %}
										{% include "admin_view/tags.html" %}
									{% endwith %}
								{% endif %}

						{% endblock %}
						</div>
					</div>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}