<!DOCTYPE html>
<html>
<head>
	<title>Market(r) - Replacing Ad Agencies With Data Science</title>
	<meta charset="utf-8" />
    <meta itemprop="name" content="Market(r)">
    <meta name="description" content="What if businesses could know exactly how much to spend, where to spend it, and sleep at night knowing that they are wasting 0 dollars, and getting the best ROI possible? They can. Market(r) is an app where you press a few buttons, and in 10 minutes we manage your entire online marketing strategy.">
    <meta itemprop="description" content="What if businesses could know exactly how much to spend, where to spend it, and sleep at night knowing that they are wasting 0 dollars, and getting the best ROI possible? They can. Market(r) is an app where you press a few buttons, and in 10 minutes we manage your entire online marketing strategy.">
    <meta property="og:title" content="Market(r)">
    <meta property="og:description" content="What if businesses could know exactly how much to spend, where to spend it, and sleep at night knowing that they are wasting 0 dollars, and getting the best ROI possible? They can.
    Market(r) is an app where you press a few buttons, and in 10 minutes we manage your entire online marketing strategy.">
    <meta property="og:site_name" content="Market(r)">
    <meta property="og:type" content="website">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/favicon.png">
	<link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
    <link href="/static/branding/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/branding/plugin/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="/static/branding/plugin/et-line/style.css" rel="stylesheet">
    <link href="/static/branding/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="/static/branding/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/branding/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <!-- theme css -->
    <link href="/static/branding/style/master.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139164161-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-139164161-3');
    </script>
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="98">
<!-- page loading -->
    <div id="loading">
        <div class="load-circle"><span class="one"></span></div>
    </div>
    <!-- end page loading -->
    <!-- Header -->
    <header class="header-nav header-light">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg">
            <!-- container -->
            <div class="container container-large">
                <!-- col -->
                <div class="col-auto p-0px-l">
                    <!-- logo -->
                    <a class="navbar-brand" href="/">
                        <img class="light-logo" src="/static/branding/img/white-logo.svg" title="" alt="">
                        <img class="dark-logo" src="/static/branding/img/black-logo.svg" title="" alt="">
                    </a>
                    <!-- end logo -->
                </div>
                <!-- end col -->
                <!-- col -->
                <div class="col-auto ml-auto m-lg-auto position-static">
                    <!-- menu -->
                    <div class="collapse navbar-collapse justify-content-end" id="navbar">
                        <ul class="navbar-nav ml-auto align-items-lg-center">
                            {% if home %}
                                <li class="m-dropdown m-dropdown-multilevel">
                                    <a class="nav-link" href="#home">Home</a>
                                </li>
                                <li><a class="nav-link" href="#about">About</a></li>
                                <li><a class="nav-link" href="#feature">Features</a></li>
                                <li><a class="nav-link" href="#price">Price</a></li>
                                <li><a class="nav-link" href="#contact">Contact Us</a></li>
                                <li><a class="nav-link" href="/blog">Blog</a></li>
                            {% endif %}
                            {% if not logged_in %}
                                <li><a class="m-btn m-btn-md m-btn-theme2nd m-btn-round m-btn-shadow" style="color:white;" href="/new">Sign Up</a></li>
                                <li><a style="background-color: white;border-color: #ca7d66;color: #ca7d66;" class="m-btn m-btn-md m-btn-theme2nd m-btn-round m-btn-shadow" href="/login">Login</a></li>
                            {% else %}
                                <li><a class="m-btn m-btn-md m-btn-theme2nd m-btn-round m-btn-shadow" style="color:white;" href="/home">Dashboard</a></li>
                                <li><a style="background-color: white;border-color: #ca7d66;color: #ca7d66;" class="m-btn m-btn-md m-btn-theme2nd m-btn-round m-btn-shadow" href="/logout">Logout</a></li>
                            {% endif %}
<!--                             <li class="m-dropdown m-dropdown-multilevel">
                                <a class="nav-link" href="#">Pages</a>
                                <i class="fa fa-angle-down m-dropdown-toggle"></i>
                                <ul class="m-dropdown-menu">
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="portfolio.html">Portfolio</a></li>
                                    <li><a href="team.html">Our Team</a></li>
                                    <li><a href="price.html">Our Price</a></li>
                                    <li><a href="faq.html">Faq</a></li>
                                    <li><a href="policy.html">Privacy policy</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-details.html">Single Blog</a></li>
                                    <li><a href="404-page.html">404 Page</a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </div>
                    <!-- end menu -->
                    <!-- mobile toggle -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                    </button>
                    <!-- end mobile toggle -->
                </div>
                <!-- end col -->
                <!-- extra button -->
                <!-- end extra button -->
            </div>
            <!-- end container -->
        </nav>
        <!-- end navbar -->
    </header>

	{% block content %}

	{% endblock %}

<!-- Footer-->
    <footer class="footer-one">
        <!-- footer top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <!-- footer col -->
                    <div class="col-lg-3 col-sm-12 m-15px-tb mr-auto">
                        <div class="footer-about">
                            <div class="fot-logo">
                                <a href="#">
                                    <img src="/static/branding/img/white-logo.svg" title="" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end footer col -->
                    <!-- footer col -->
                    <div class="col-lg-3 col-sm-6 m-15px-tb">
                        <div class="footer-link">
                            <h5 class="fot-title">For our people</h5>
                            <ul class="nav flex-column">
                                <li><a href="/admin_login">Admin Login</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end footer col -->
                    <!-- footer col -->
                    <div class="col-lg-3 col-sm-6 m-15px-tb">
                        <div class="footer-link">
                            <h5 class="fot-title">Stuff our lawyers want</h5>
                            <ul class="nav flex-column">
                                <li><a href="/privacy">Privacy Policy</a></li>
                                <li><a href="/terms_of_service">Terms of Service</a></li>
                                <li><a href="/terms_and_conditions">Terms and Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end footer col -->
                    <!-- footer col -->
                    <div class="col-lg-3 col-sm-6 m-15px-tb">
                        <div class="footer-info">
                            <h5 class="fot-title">Information</h5>
                            <address>
                                <p class="address">2700 Post Oak Blvd. 21st Fl Houston, TX</p>
                                <p class="email"><a href="mailto:info@marketr.life">info@marketr.life</a></p>
                                <p class="call"><a href="tel:713-364-3830‬">(713) 364-3830‬</a></p>
                            </address>
                            <!-- <ul class="fot-icon">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul> -->
                        </div>
                    </div>
                    <!-- end footer col -->
                    <!-- footer col -->
                </div>
                <!-- / row -->
            </div>
        </div>
        <!-- end footer top -->
        <!-- footer bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-right">
<!--                         <ul class="nav">
                            <li><a href="#">Privace & Policy</a></li>
                            <li><a href="#">Faq's</a></li>
                            <li><a href="#">Get a Quote</a></li>
                        </ul>
 -->                    </div>
                    <div class="col-md-6 text-center text-md-right">
                        <p>© 2019 copyright all rights reserved</p>
                        <p><a target="blank" href="https://clearbit.com">Logos provided by Clearbit</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end footer bottom -->
    </footer>

    <script src="/static/branding/js/jquery-3.2.1.min.js"></script>
    <script src="/static/branding/js/jquery-migrate-3.0.0.min.js"></script>
    <!-- end jquery -->
    <!-- appear -->
    <script src="/static/branding/plugin/appear/jquery.appear.js"></script>
    <!-- end appear -->
    <!--bootstrap-->
    <script src="/static/branding/plugin/bootstrap/js/popper.min.js"></script>
    <script src="/static/branding/plugin/bootstrap/js/bootstrap.js"></script>
    <!--end bootstrap-->
    <!-- End -->
    <!-- custom js -->
    <script src="/static/branding/js/custom.js"></script>
    {% include "layouts/imports/imports.html" %}
</body>
</html>