{% extends "layouts/layout.html" %}
{% from "macros/gamification_macros.html" import inside_pack, game_tab_bar, coin, achievement, pack, credit_amount %}

{% block title %}
<title>Market(r) - Home</title>
{% endblock %}

{% block content %}

<div class="main-panel">
    {% with achieved = 'active' %}
        {% include "core/navbar/settings-sidebar.html" %}
    {% endwith %}
    {% include "/core/navbar/topbar.html" %}

	<div class="panel-header panel-header-sm">
	</div>
	<div class="content">
		<div class="append_to">
			<div class="container-fluid">
				<div class="root-card">
					<div id="loading">
						<div class="load-circle"><span class="one"></span></div>
					</div><br><br>
					<div id="content-ready" style="visibility:hidden;">
                        {{ game_tab_bar() }}<br>
                        <div class="game_card card">
                            <div class="tab-content">
                                <div class="tab-pane active" id="achievements" role="tabpanel" aria-labelledby="achievements-tab">
                                    {% with page=page %}
                                        {% include "core/gamification/achievements.html" %}
                                    {% endwith %}
                                </div>
                                <div class="tab-pane" id="store" role="tabpanel" aria-labelledby="store-tab">
                                    {% with page=page %}
                                        {% include "core/gamification/store.html" %}
                                    {% endwith %}
                                </div>
                                <div class="tab-pane" id="rewards" role="tabpanel" aria-labelledby="rewards-tab">
                                    {% with page=page %}
                                        {% include "core/gamification/rewards.html" %}
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}