{% extends "layouts/layout.html" %}
{% from "macros/_macros.html" import form_open, breadcrumb, left_nav, form_body, container, product_table, intro_copy %}
{% from "macros/home_macros.html" import tab_bar, section, multi_val_iterator, product_val_iterator %}
{% from "macros/dashboard_macros.html" import todo, messages, goals, score %}
{% from "macros/_admin_macros.html" import admin_sidebar, admin_breadcrumb %}

{% block title %}
<title>Market(r) - Home</title>
{% endblock %}

{% block content %}

<div class="main-panel">
	{% if not page.admin %}
		{% with plan="active", customer = page.data['core']['core'][0]['current_plan'], demo=demo %}
			{% include "/core/navbar/sidebar.html" %}
		{% endwith %}
		{% include "/core/navbar/topbar.html" %}
	{% else %}
		{{ admin_sidebar('test', owner, admin, manager) }}
		{% include "/topbar/topbar-admin.html" %}
	{% endif %}
	<style type="text/css">
		.card {
			padding: 3%;
			/*border-top: 6px solid #62cde0;*/
		}
	</style>

	<div class="panel-header panel-header-sm">
	</div>
	<div class="content">
		<div class="append_to">
			<div class="container-fluid">
				<div class="root-card">
					<div id="loading">
						<div class="load-circle"><span class="one"></span></div>
					</div><br><br>
					<div id="content-ready" style="visibility:hidden;">
						{% if page.admin %}
							{{ admin_breadcrumb(page, view="customer profile", profile_view=True) }}

							<h5>{{ page.data['core']['core'][0]['company_name'] }}</h5>
							<p class="small_txt">ID: {{ page.data['core']['core'][0]['id'] }}</p>
						{% endif %}
						{{ tab_bar(page) }}
						<br>
						<div class="tab-content">
							<div class="render_tactics tab-pane active" id="campaigns" role="tabpanel" aria-labelledby="campaigns-tab">
								{% with page=page %}
									{% include "core/campaigns_2.html" %}
								{% endwith %}
							</div>
							<div class="tab-pane" id="competitors" role="tabpanel" aria-labelledby="competitors-tab">
								{% with page=page %}
									{% include "core/competitors.html" %}
								{% endwith %}
							</div>
							<div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
								{% with page=page %}
									{% include "core/profile.html" %}
								{% endwith %}
							</div>
							<div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
								{% with page=page %}
									{% include "core/messages.html" %}
								{% endwith %}
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>

{% endblock %}

