{% extends "layouts/branding_layout.html" %}

{% block content %}
<main>

    <section id="home" class="home-banner effect-section gray-bg">
        <div class="effect theme-bg effect-skew"></div>
        <div class="particles-box" id="particles-box"></div>    
        <div class="container container-large">
            <!-- row --><br>
            <div class="row full-screen align-items-center justify-content-center">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-12 col-lg-5 col-xl-4">
                    <div class="hb-text">
                        {% if audit %}
                        <h3 class="white-color">Your audit is on its way!</h3>

                        <p class="white-color-light">Sit tight and wait for our beautifully simple audit to hit your inbox.</p>
                        <p style="text-align:right;" class="white-color-light">~ Tristan Tarpley, founder of Market(r)</p>
                        <div class="hb-form">
                            <form>
                                <div class="input-group">
                                    <a style="border: 3px solid transparent;" class="m-btn m-btn-md m-btn-theme2nd m-btn-round m-btn-shadow" href="/">Go back home</a>
                                </div>
                            </form>
                        </div>
                        {% elif booking %}
                        <h3 class="white-color">We're looking forward to getting to know you!</h3>

                        <p class="white-color-light">You should have an invite in your email now with a Google Meets video conference line. See you there!</p>
                        <p style="text-align:right;" class="white-color-light">~ Tristan Tarpley, founder of Market(r)</p>
                        <div class="hb-form">
                            <form>
                                <div class="input-group">
                                    <a style="border: 3px solid transparent;" class="m-btn m-btn-md m-btn-theme2nd m-btn-round m-btn-shadow" href="/">Go back home</a>
                                </div>
                            </form>
                        </div>
                        {% elif webinar %}
                        <h3 class="white-color">The webinar is ready!</h3>

                        <p class="white-color-light">I hope you learn as much from listening as I did from hosting.</p>
                        <p style="text-align:right;" class="white-color-light">~ Tristan Tarpley, founder of Market(r)</p>
                        <div class="hb-form">
                            <form>
                                <div class="input-group">
                                    <a style="border: 3px solid transparent;" class="m-btn m-btn-md m-btn-theme2nd m-btn-round m-btn-shadow" href="/">Go back home</a>
                                </div>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 col-xl-7">

                    <!-- <img class="max-width-auto" src="static/branding/img/ad_experience.svg" title="" alt=""> -->
                </div>
            </div>
            <!-- end row -->
        </div>
    </section>


</main>

{% endblock %}