
{% from "macros/dashboard_macros.html" import goals, tactics, insights, ads_performance, ad_metrics, test_performance %}
{% from "macros/home_macros.html" import locked %}


{% macro animation() %}
<a class="dl-button" href="">
        <div>
          <div class="label">
            <div class="show default">Do it<br>for me</div>
            <div class="state">
              <div class="counter">
                <ul>
                  <li></li>
                  <li>1</li>
                </ul>
                <ul>
                  <li>0</li><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>0</li>
                </ul>
                <ul>
                  <li>0</li><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>0</li><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>0</li><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>0</li>
                </ul><span>%</span>
              </div><span>Done</span>
            </div>
          </div>
          <div class="progress"></div>
        </div></a>
{% endmacro %}


{% set current_plan = page.data['core']['core'][0]['current_plan'] %}
{% set ab_plan = page.data['core']['core'][0]['ab_binary'] %}
{% set almost_free = page.data['core']['core'][0]['almost_free_binary'] %}
{% set ad_plan = page.data['core']['core'][0]['ad_binary'] %}
{% set ad_premium = page.data['core']['core'][0][''] %}
{% set company_name = page.data['core']['company_name'] %}




{% macro performance(page) %}
<portfolio-performance
    google_id="{{page.data['core']['core'][0]['google_id']}}"
    facebook_id="{{page.data['core']['core'][0]['facebook_id']}}"
    company-name="{{page.data['core']['core'][0]['company_name']}}"
    customer-id="{{page.data['core']['core'][0]['id']}}"
    spend_rate="{{page.data['core']['core'][0]['spend_rate']}}"
    funds_remaining="{{page.data['core']['core'][0]['funds_remaining']}}"
    ltv="{{page.data['core']['core'][0]['ltv']}}"
    demo="{{demo}}"
    insights="{{page.data['insights']['insights']}}"
    recommendations="{{page.data['recommendations']['recommendations']}}"
    analytics="{{ page.data['core']['core'][0]['analytics'] }}">
</portfolio-performance>

{#<portfolio-budget
    customer_id="{{ page.data['core']['core'][0]['id'] }}"
    spend_rate="{{page.data['core']['core'][0]['spend_rate']}}"
    funds_remaining="{{page.data['core']['core'][0]['funds_remaining']}}"
    company_name="{{page.data['core']['core'][0]['company_name']}}"
></portfolio-budget>#}
{% endmacro %}

{% macro recommendations(page) %}
<customer-recommendations
    customer-id="{{page.data['core']['core'][0]['id']}}">
</customer-recommendations>
{% endmacro %}

<div style="display:none;" id="date_popup_back">
  <div id="date_popup">
    <section id="date-header">
      <h1 style="margin:0;padding-top:0;" class="widget__title center_it">Select date range</h1>
      <div id="compare__container">
        <p class="small_txt">Compare date ranges?</p>
        <section class="switches" data-theme="blue">
          <div class="switch switch--5">
            <label class="switch__label">
              <input type="checkbox" class="switch__input">
              <span class="switch__design"></span>
            </label>
          </div>
        </section>
      </div>
    </section>
  
    <div class="ranger_wrappers" id="first_date_range"></div>
    <p id="date_range_helper" style="display:none;" class="center_it small_txt">Select the date range you want to compare</p>
    <div class="ranger_wrappers" id="compare_date_range"></div>
    <button style="display:none;" id="apply_date" class="btn btn-secondary">ok</button>
    <button style="display:none;" id="cancel_date" class="btn btn-neutral">cancel</button>

    <style>
      div#compare__container {
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        display: flex;
      }
      div#compare__container p {
        margin-bottom: 0;
        margin-right: 2em;
      }
      section#date-header {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
      }
      .day.in-range { background-color: #62cde0 !important; }
      #date_popup { display:block; }
      #date_popup .btn {
        display: flex;
        position: absolute;
        bottom: 5%;
      }
      #date_popup .btn-secondary { right: 5%; }
      #date_popup .btn-neutral { right: 15%; }
      .ranger_wrappers .wrapper {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 50%;
        margin: 0 auto;
      }
    </style>
  </div>
</div>



{% if page.data['core']['core'][0]['current_plan'] %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="performance_loader"></div>
        <script type="module">
            import {loading_shell} from '/static/src/components/UI_elements.js'
            document.querySelector("#performance_loader").innerHTML = loading_shell()
        </script>
        {{ performance(page) }}
       
        {% if not page.data['core']['core'][0]['data_synced'] %}
            {{ section(
                link=None,
                title='To-Do List',
                body=todo(page, admin=False),
                hash=None,
                admin=page.admin
            ) }}
        {% endif %}

    </div>
</div>
{% endif %}


{% macro spend_allocation(page) %}
{% set base = page.data['core']['core'][0] %}
<ad-spend
    customer_id="{{page.data['core']['core'][0]['id']}}"
    type="{{page.data['spend_rec']['spend_rec'][0]['model']}}"
    stage="{{base.get('stage')}}"
    revenue="{{base.get('revenue')}}"
    brand_strength="{{base.get('brand_strength') if base.get('brand_strength') else 'medium' }}"
    growth_needs="{{base.get('growth_needs') if base.get('growth_needs') else 'medium' }}"
    competitiveness="{{base.get('competitiveness') if base.get('competitiveness') else 'medium' }}"
    selling_to="{{base.get('selling_to')}}"
    biz_model="{{base.get('biz_model')}}"
    active_plan="{{base.get('current_plan')}}"
    demo="{{demo}}"
    spend_rate="{{ base.get('spend_rate') }}">
</ad-spend>
{% endmacro %}

{{ section(
    link=None,
    title="Ad Spend",
    body=spend_allocation(page),
    hash="Allocation",
    admin=page.admin,
    demo=demo
) }}
