
{% from "macros/dashboard_macros.html" import goals, insights, ads_performance, ad_metrics, test_performance %}
{% from "macros/home_macros.html" import locked %}

{% set current_plan = page.data['core']['core'][0]['current_plan'] %}
{% set ab_plan = page.data['core']['core'][0]['ab_binary'] %}
{% set almost_free = page.data['core']['core'][0]['almost_free_binary'] %}
{% set ad_plan = page.data['core']['core'][0]['ad_binary'] %}
{% set ad_premium = page.data['core']['core'][0][''] %}
{% set company_name = page.data['core']['company_name'] %}


<div class="row">   
    <div class="col-lg-6 col-sm-12"> 
        <div class="card" style="padding: 8%;">
            {{ score() }}
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        {{ section(
            link="goals",
            title="Marketing Goal",
            body=goals(page),
            hash="goal",
            admin=page.admin
        ) }}
    </div>
</div>


{# paid ads management or almost free #}
{% if current_plan %}
    {{ section(
        link=None,
        title="Ad Campaigns",
        body=ad_metrics(page),
        hash="ads_performance",
        admin=page.admin
    ) }}
{% else %}
    {% if page.data['temp_ad_data']['ad_view'] %}
    {{ section(
        link=None,
        title="Ad Campaign Performance <i class='fa fa-lock'></i>",
        body=locked(type="ads"),
        hash="ads_performance",
        admin=page.admin
    ) }}
    {% else %}
    <h6>Sweet, looks like you recently signed up for Market(r) services.</h6>
    <p>You can expect to see specific improvement insights here within 48 hours.</p>
    <p>Don't worry, we'll send you an email when your Market(r) guide adds the first insights. </p>
    {% endif %}
{% endif %}

<div class="row">
    <div class="col-lg-6 col-sm-12">
        {% if current_plan %}
        {{ section(
            link=None,
            title="Insights",
            body=insights(page),
            hash="insights",
            admin=page.admin
        ) }}
        {% else %}
        {{ section(
            link=None,
            title="Insights",
            body=locked(type="insights"),
            hash="insights",
            admin=page.admin
        ) }}
        {% endif %}
    </div>
    <div class="col-lg-6 col-sm-12">
        {{ section(
            link=None,
            title=company_name,
            body=todo(page, admin=False),
            hash=None,
            admin=page.admin
        ) }}
    </div>
</div>




{# ab testing or almost free #}
{#{% if ab_plan or almost_free %}
    {{ section(
        link=None,
        title="A/B Testing Performance",
        body=test_performance(page),
        hash="tests",
        admin=page.admin
    ) }}
{% else %}
    {{ section(
        link=None,
        title="A/B Testing <i class='fa fa-lock'></i>",
        body=locked(type="testing"),
        hash="tests",
        admin=page.admin
    ) }}
{% endif%}#}

