
{% from "macros/dashboard_macros.html" import goals, insights, ads_performance, ad_metrics, test_performance %}
{% from "macros/home_macros.html" import locked %}

{% set current_plan = page.data['core']['core'][0]['current_plan'] %}
{% set ab_plan = page.data['core']['core'][0]['ab_binary'] %}
{% set almost_free = page.data['core']['core'][0]['almost_free_binary'] %}
{% set ad_plan = page.data['core']['core'][0]['ad_binary'] %}
{% set ad_premium = page.data['core']['core'][0][''] %}
{% set company_name = page.data['core']['company_name'] %}


<div class="row">   
    {#<div class="col-lg-6 col-sm-12"> 
        <div class="card negative_card" style="padding: 8%;">
            {{ score() }}
        </div>
    </div>#}
    <div class="col-lg-6 col-sm-12">
        {{ section(
            link=None,
            title='To-Do List',
            body=todo(page, admin=False),
            hash=None,
            admin=page.admin
        ) }}
    </div>

    <div class="col-lg-6 col-sm-12">
        {% if current_plan %}
        {{ section(
            link=None,
            title="Insights",
            body=insights(page),
            hash="insights",
            admin=page.admin
        ) }}
        {% else %}
        {{ section(
            link=None,
            title="Insights <i class='fa fa-lock'></i>",
            body=locked(type="insights"),
            hash="insights",
            admin=page.admin
        ) }}
        {% endif %}
    </div>
    {#<div class="col-lg-6 col-sm-12">
        {{ section(
            link="goals",
            title="Marketing Goal",
            body=goals(page),
            hash="goal",
            admin=page.admin
        ) }}
    </div>#}
</div>


{# paid ads management or almost free #}
{% if current_plan %}
    {% if page.data['temp_ad_data']['ad_view'] %}
    {{ section(
        link=None,
        title="Ad Campaigns",
        body=ad_metrics(page),
        hash="ads_performance",
        admin=page.admin
    ) }}
    {% else %}
        {% macro ad_pending() %}
            <div class="inset">
                <p>Guess what? We're offering you 3 months of FREE design for your ads (copy, images, all of it).</p>
                <p><strong>That means you are 100% done for now...if you want to be.</strong></p>
                <p class="small_txt">However, if you have specific copy, images, or logos that you'd like to be used in the ads then send us an email to <a href="mailto:creative@marketr.life">creative@marketr.life</a> ASAP, otherwise, you'll be notified when your ads are available for review.</p>
            </div>
        {% endmacro %}
        {{ section(
            link=None,
            title="Ad Details",
            body=ad_pending(),
            hash="ads_performance",
            admin=page.admin
        ) }}
    {% endif %}
{% else %}
    
    {{ section(
        link=None,
        title="Ad Campaign Performance <i class='fa fa-lock'></i>",
        body=locked(type="ads"),
        hash="ads_performance",
        admin=page.admin
    ) }}


{% endif %}





{# ab testing or almost free #}
{#{% if ab_plan or almost_free %}
    {{ section(
        link=None,
        title="A/B Testing Performance",
        body=test_performance(page),
        hash="tests",
        admin=page.admin
    ) }}
{% else %}
    {{ section(
        link=None,
        title="A/B Testing <i class='fa fa-lock'></i>",
        body=locked(type="testing"),
        hash="tests",
        admin=page.admin
    ) }}
{% endif%}#}

