
{% from "macros/dashboard_macros.html" import goals, tactics, insights, ads_performance, ad_metrics, test_performance %}
{% from "macros/home_macros.html" import locked %}


{% macro animation() %}
<a class="dl-button" href="">
        <div>
          <div class="label">
            <div class="show default">Do it<br>for me</div>
            <div class="state">
              <div class="counter">
                <ul>
                  <li></li>
                  <li>1</li>
                </ul>
                <ul>
                  <li>0</li><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>0</li>
                </ul>
                <ul>
                  <li>0</li><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>0</li><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>0</li><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>0</li>
                </ul><span>%</span>
              </div><span>Done</span>
            </div>
          </div>
          <div class="progress"></div>
        </div></a>
{% endmacro %}


{% set current_plan = page.data['core']['core'][0]['current_plan'] %}
{% set ab_plan = page.data['core']['core'][0]['ab_binary'] %}
{% set almost_free = page.data['core']['core'][0]['almost_free_binary'] %}
{% set ad_plan = page.data['core']['core'][0]['ad_binary'] %}
{% set ad_premium = page.data['core']['core'][0][''] %}
{% set company_name = page.data['core']['company_name'] %}


{% macro spend_allocation(page) %}
{% set base = page.data['core']['core'][0] %}
<ad-spend
    customer_id="{{page.data['core']['core'][0]['id']}}"
    type="{{page.data['spend_rec']['spend_rec'][0]['model']}}"
    stage="{{base.get('stage')}}"
    revenue="{{base.get('revenue')}}"
    brand_strength="{{base.get('brand_strength') if base.get('brand_strength') else 'medium' }}"
    growth_needs="{{base.get('growth_needs') if base.get('growth_needs') else 'medium' }}"
    competitiveness="{{base.get('competitiveness') if base.get('competitiveness') else 'medium' }}"
    selling_to="{{base.get('selling_to')}}"
    biz_model="{{base.get('biz_model')}}"
    active_plan="{{base.get('current_plan')}}"
    demo="{{demo}}"
    spend_rate="{{ base.get('spend_rate') }}">
</ad-spend>
{% endmacro %}


{% macro performance(page) %}
<portfolio-performance
    google_id="{{page.data['core']['core'][0]['google_id']}}"
    facebook_id="{{page.data['core']['core'][0]['facebook_id']}}"
    company-name="{{page.data['core']['core'][0]['company_name']}}"
    customer-id="{{page.data['core']['core'][0]['id']}}"
    spend_rate="{{page.data['core']['core'][0]['spend_rate']}}"
    funds_remaining="{{page.data['core']['core'][0]['funds_remaining']}}"
    ltv="{{page.data['core']['core'][0]['ltv']}}"
    demo="{{demo}}"
    insights="{{page.data['insights']['insights']}}">
</portfolio-performance>
<div class="separator"></div>
{#<portfolio-budget
    customer_id="{{ page.data['core']['core'][0]['id'] }}"
    spend_rate="{{page.data['core']['core'][0]['spend_rate']}}"
    funds_remaining="{{page.data['core']['core'][0]['funds_remaining']}}"
    company_name="{{page.data['core']['core'][0]['company_name']}}"
></portfolio-budget>#}
{% endmacro %}

{% macro recommendations(page) %}
<customer-recommendations
    customer-id="{{page.data['core']['core'][0]['id']}}">
</customer-recommendations>
{% endmacro %}




{% if page.data['core']['core'][0]['current_plan'] %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        {{ performance(page) }}
        {#{{ section(
            link=None,
            title="Portfolio Performance",
            body=performance(page),
            hash="perf",
            admin=page.admin
        ) }}#}
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="row">
            {#<div class="col">
                {{ section(
                    link=None,
                    title="Recommendations",
                    body=recommendations(page),
                    hash=None,
                    admin=page.admin
                ) }}
            </div>#}
        </div>
        {#<div class="row">
            <div class="col">
                {% macro tactics_empty() %}
                    <div class="tactics_loading" id="loading">
                        <div class="load-circle"><span class="one"></span></div>
                    </div>
                    <div id='tactics_mount'></div>
                {% endmacro %}

                {{ section(
                    link=None,
                    title="Tactic of the Day",
                    body=tactics_empty(),
                    hash="tactics",
                    admin=page.admin
                ) }}
            </div>
        </div>#}
    </div>
</div>
{% endif %}


<div id="where" class="row">
    <div class="col">
        {{ section(
            link=None,
            title="Ad Spend",
            body=spend_allocation(page),
            hash="Allocation",
            admin=page.admin,
            demo=demo
        ) }}
    </div>
</div>
        


