{% extends "layouts/layout.html" %}
{% from "macros/_macros.html" import render_field %}
{% from "macros/home_macros.html" import tab_bar, section, multi_val_iterator, product_val_iterator %}
{% from "macros/dashboard_macros.html" import todo, messages, goals, score %}

{% block title %}
<title>Market(r) - Settings</title>
{% endblock %}

{% block content %}
    {% include "core/navbar/settings-sidebar.html" %}
    {% include "/topbar/topbar-customer.html" %}
    <div class="panel-header panel-header-sm">
	</div>
	<div class="content">
		<div class="row row_cancel">
			<div class="col-md-12">
                <div style="padding:5%;" class="card card-body">
                    <div class="row">
                        <a href="{{ url_for('settings') }}">
                            <i class="now-ui-icons arrows-1_minimal-left"></i>
                            Back
                        </a>
                        <div class="col-lg-12 col-sm-12">
                            {% if success %}<p>Your password has been changed</p>{% endif %}
                            {% if message %}<p>{{ message }} </p>{% endif %}
                            <form method="POST" action="{{ url_for('change_password') }}">
                                {{ pw_form.csrf_token }}
                                <div class="row">
                                    <div class="col">
                                        <label>Current Password</label>
                                        {{ render_field(pw_form.current_password, class="form-control") }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <label>New Password</label>
                                        {{ render_field(pw_form.password, class="form-control") }}
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <label>Confirm New Password</label>
                                        {{ render_field(pw_form.confirm, class="form-control") }}
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-secondary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}