<html lang="en" class="perfect-scrollbar-on">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<!-- CSS Files -->
	<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/assets/css/now-ui-dashboard.css?v=1.1.0" rel="stylesheet">
	<link rel="stylesheet" href="/static/assets/css/styles.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/static/assets/js/autocomplete/easy-autocomplete.min.css">
	<style type="text/css">/* Chart.js */
	@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}
</style>
    <title>Market(r) - Let's go!</title>
</head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139164161-3"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-139164161-3');
	</script>
	<script src="/static/assets/js/core/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	<script src="/static/assets/js/autocomplete/jquery.easy-autocomplete.min.js"></script>
    <script src="/static/assets/js/cleave.min.js"></script>
    <style>       
        body {
            background-color: #f5f8fd;
        } 
    </style>
</head>
<body>

<div class="expectations_container">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="fade-1 blue_header">Welcome to Market(r)</h1>
                <h5 class="fade-2 blue_header">The #1 platform for small business owners to power through the next level of business growth!</h5>
                <p class="fade-3">What to expect...</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="steps_container">
                        <div class="row">
                            <div class="fade-4 col-lg-4 col-sm-12 exp_step">
                                <p class="expectations_number">1</p>
                                <span class="dots">
                                    <i class="dot dot1"></i>
                                    <i class="dot dot2"></i>
                                    <i class="dot dot3"></i>
                                <h6 class="d-block d-lg-none"><br>Complete your Market(r) profile<br><br></h6>
                            </div>
                            <div class="fade-5 col-lg-4 col-sm-12 exp_step">
                                <p class="expectations_number">2</p>
                                <span class="dots">
                                    <i class="dot dot1"></i>
                                    <i class="dot dot2"></i>
                                    <i class="dot dot3"></i>
                                <h6 class="d-block d-lg-none"><br>Improve your Market(r) score<br><br></h6>
                            </div>
                            <div class="fade-6 col-lg-4 col-sm-12 exp_step">
                                <p class="expectations_number">3</p>
                                <span class="dots">
                                    <i class="dot dot1"></i>
                                    <i class="dot dot2"></i>
                                    <i class="dot dot3"></i>
                                <h6 class=" d-block d-lg-none"><br>Receive and implement tailored tactics & insights to grow your business.<br><br></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="fade-4 d-none d-lg-block col-lg-4 col-sm-12">
                                <h6 class="fade-4">Complete your Market(r) profile</h6>
                            </div>
                            <div class="fade-5 d-none d-lg-block col-lg-4 col-sm-12">
                                <h6 class="fade-5">Improve your Market(r) score</h6>
                            </div>
                            <div class="fade-6 d-none d-lg-block col-lg-4 col-sm-12">
                                <h6 class="fade-6">Receive and implement tailored tactics & insights to grow your business.</h6>
                            </div>
                        </div>
                    </div>
                </div>
                
                <label class="fade-7">OPTIONAL: MAKE (BUSINESS) LIFE EASIER</label>
                <div class="card fade-7">
                    <div class="row">
                        <div class="col-lg-12 particle_wrapper">
                            <div class="canvas-wrapper">
                                <div id="canvas-overlay"></div>
                                <canvas id="canvas"></canvas>
                            </div>
                            <h5 class="blue_header">Leverage Market(r)'s full-service ad management, A/B testing, and more...</h5>
                        </div>
                    </div>
                </div>
                <div class="container fade-7" style="width:100%; text-align:center;">
                    <a href="{{url_for('home')}}" class="btn btn-secondary btn-lg">Continue</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "layouts/imports/imports.html" %}
<script>


generateParticles({
    numParticles: 205,
    radius: 3,
    vel: {
        x: [0.1, 0.5],
        y: [0.1, 0.6]
    },
    lineColor: 'rgba(0, 0, 0, 0.03)',
    particleColor: 'rgba(0, 0, 0, 0.7)',
    maxConnections: 7,
    // maxConnectDistance:  80,
    canvasSelector: '#canvas'
});

/**
 * @description Generates a number of particles on screen with velocities and connecting lines
 * @function generateParticles(Object)
 * @param {number} numParticles - Number of particles to add to the point cloud
 * @param {number} radius The radius of each particle
 * @param {Object} vel An object containing two keys { x, y }. the value of each key is to be an array containing two indexes, the minimum and maximum velocities
 * @param {String} lineColor The color of the connecting lines
 * @param {String} particleColor The color of the particles
 * @param {Number} maxConnections The amount of lines going from one particle to the closest around it. If set to 5, one particle will be conncted to the 5 closest
 * @param {String} canvasSelector The CSS selector of the canvas element
 * @return Nothing!!!!!
*/
function generateParticles(props) {
    const { numParticles, vel, maxConnections, maxConnectDistance, radius, lineColor, particleColor, canvasSelector } = props;

    const canvas = document.querySelector(canvasSelector);
    const ctx = canvas.getContext('2d');
    canvas.height = window.innerHeight;
    canvas.width = window.innerWidth;

    class Particle {
        constructor(pos, radius) {
            const calcVel = (min, max) => {
                const vel = Math.random() * max + min;
                const posOrNeg = Math.random() > 0.5 ? vel : -vel;
                return posOrNeg;
            };
            const { x, y } = vel;

            this.pos = pos;
            this.velX = calcVel(x[0], x[1]);
            this.velY = calcVel(y[0], y[1]);
            this.closestPoints;
            this.radius = radius;
            this.color = particleColor;
            this.lines = [];

            this.closestSwitch = (() => {
                if (!maxConnections) {
                    return array => array.filter(particle => particle.distFromOrigin < maxConnectDistance);
                } else {
                    return array => array
                            .sort((a, b) => a.distFromOrigin - b.distFromOrigin)
                            .slice(1, maxConnections + 1);
                }
            })()
        }
    
        getClosest() {
            const x1 = this.pos.x;
            const y1 = this.pos.y;
            let closestPoints = cloud.points.map(point => {
                const x2 = point.pos.x;
                const y2 = point.pos.y;
    
                const getDist = (val2, val1) => {
                    let output = val2 - val1;
                    if (output < 0) output = output.toString().replace('-', '');
                    return output;
                }
                const distX = getDist(x2, x1);
                const distY = getDist(y2, y1);
    
                const squareVals = Math.pow(distX, 2) + Math.pow(distY, 2);
    
                const finalDist = Math.sqrt(squareVals);
    
                return Object.assign(point, { distFromOrigin: finalDist });
            });

            this.closestPoints = this.closestSwitch(closestPoints);
        }
    
        update() {
            this.lines = [];
            this.getClosest(); // gets the three closest points

            this.closestPoints.forEach(point => {
                const startPos = {
                    x: this.pos.x,
                    y: this.pos.y
                };
                // console.log(point);
                const endPos = {
                    x: point.pos.x,
                    y: point.pos.y
                }
                this.lines.push(new Line(startPos, endPos));
                this.lines.forEach(line => line.update());
            });
    
            // Checks to see if the point is at the edge of canvas and changes velocity direction
            if (this.pos.x < 0 || this.pos.x > canvas.clientWidth) this.velX = -this.velX;
            if (this.pos.y < 0 || this.pos.y > canvas.clientHeight) this.velY = -this.velY;
    
            this.pos.x += this.velX;
            this.pos.y += this.velY;
    
            this.draw();
        }
    
        draw() {
            ctx.beginPath();
            ctx.arc(this.pos.x, this.pos.y, this.radius, 0, Math.PI * 2);
            ctx.fillStyle = this.color;
            ctx.fill();
        }
    
    }

    class Line {

        constructor(startPos, endPos) {
            this.startPos = startPos;
            this.endPos = endPos;
            this.color = lineColor;
        }
        update() {
            this.draw();
        }
    
        draw() {
            ctx.beginPath();
            ctx.moveTo(this.startPos.x, this.startPos.y);
            ctx.lineTo(this.endPos.x, this.endPos.y);
            ctx.strokeStyle = this.color;
            ctx.stroke();
        }
    }

    class PointCloud {
        constructor(amtPoints) {
            this.amtPoints = amtPoints;
            this.points = [];
    
            for (let i = 0; i < amtPoints; i++) {
                const width = canvas.clientWidth;
                const height = canvas.clientHeight;
                const x = Math.random() * width;
                const y = Math.random() * height;
                this.points.push(new Particle({ x, y }, radius));
            }
        
        }
        update() {
            this.points.forEach(point => point.update());
        }
    
        draw() {
    
        }
    }

    const cloud = new PointCloud(numParticles);

    function animate() {

        ctx.clearRect(0, 0, canvas.clientWidth, canvas.clientHeight);
        cloud.update();
        requestAnimationFrame(animate);
    }
    
    animate();


}
</script>
</body>
</html>