{% extends "layout.html" %}

{% block content %}
	{% with plan="active" %}
		{% include "/core/navbar/sidebar.html" %}
	{% endwith %}
	{% include "/core/navbar/topbar.html" %}
<style type="text/css">
	.card {
		padding: 3%;
	}
</style>
	<div class="panel-header panel-header-sm">
	</div>
	<div class="content">
		<div class="append_to">
			<div class="container-fluid">
				<div id="profile_information" class="target row row_cancel">
					<div class="card">
						<div class="edit">
							<a href="{{url_for('begin', home=True)}}">Edit</a>
						</div>
						<h3><u>Marketing Plan</u></h3>
						<h6>Created: {{last_modified}}</h6>
						<h5 class="title">{{company_name}}</h5>
						<p>{{industry|safe}}  |  {{ city }}, {{ state }} | Stage: {{ stage }}</p>
						<p>{{ employees }} employees/contractors with approx. ${{revenue}} in annual revenues</p>
						<h6>Profile owner:</h6><br>
						<p>{{primary_first}} {{primary_last}}: <a href="mailto:{{email}}">{{email}}</a></p>
						

					</div>
				</div>
				<div class="row">
					<div id="company" class="target card col-12">
						<div class="edit">
							<a href="{{url_for('company', home=True)}}">Edit</a>
						</div>
						<h3>Company Info</h3>
						<p>A {{selling_to}} company in the {{biz_model}} space with their primary sources of revenue coming from the following channels: </p>
						<div class="row percentages">
							<div class="col-md-1"></div>
							<div class="card col-md-2 col-sm-4 center_it">
								<div class="">
									<br>
									<h6 class="title">Storefront</h6>
									<p>(physical store, kiosk, truck, etc.)</p>
								</div>
								<p class="meter">{{storefront_perc}}%<span class="perc_width"></span></p>
							</div>
							<div class="card col-md-2 col-sm-4 center_it">
								<div class="">
									<br>
									<h6 class="title">Direct</h6>
									<p>(phone, mailers, email, etc.)</p>
								</div>
								<p class="meter">{{direct_perc if direct_perc|length else '0'}}%<span class="perc_width"></span></p>
							</div>
							<div class="card col-md-2 col-sm-4 center_it">
								<div class="">
									<br>
									<h6 class="title">Online</h6>
									<p>(eCommerce, Saas, blog, online ads, blog, etc)</p>
								</div>
								<p class="meter">{{online_perc if online_perc|length else '0'}}%<span class="perc_width"></span></p>
							</div>
							<div class="card col-md-2 col-sm-4 center_it">
								<div class="">
									<br>
									<h6 class="title">Tradeshows</h6>
									<p></p>
								</div>
								<p class="meter">{{ tradeshows_perc if tradeshows_perc|length else '0' }}%<span class="perc_width"></span></p>
							</div>
							<div class="card col-md-2 col-sm-4 center_it">
								<div class="">
									<br>
									<h6 class="title">Other</h6>
									<p></p>
								</div>
								<p class="meter">{{other_perc if other_perc|length else '0'}}%<span class="perc_width"></span></p>
							</div>
						</div>
						<h6>Additional notes:</h6>
						<p class="truncate inset">{{rev_channel_freeform}}</p>
					</div>
					<div id="goal" class="target card col-12">
						<div class="edit">
							<a href="{{url_for('goals', home=True)}}">Edit</a>
						</div>
						<h3>Marketing Goal</h3>
						<p>{{company_name}}'s primary marketing goal is to improve {{goal}} from {{current_avg}} to {{target_avg}} within {{timeframe}}</p>
					</div>
					<div id="competitors" class="target card col-12">
						<div class="edit">
							<a href="{{url_for('competitors', home=True)}}">Edit</a>
						</div>
						<h3>Top competitors</h3>
						<h6>{{comp_1_name}} who is a {{comp_1_type}} competitor</h6>
						<a href="{{comp_1_site}}">Visit website</a>
						{% if comp_2_name | length %}
						<br>
						<h6>{{comp_2_name}} who is a {{comp_2_type}} competitor</h6>
						<a href="{{comp_2_site}}">Visit website</a>
						{% endif %}
					</div>
					<div id="audience" class="target card col-12">
						<div class="edit">
							<a href="{{url_for('audience', home=True)}}">Edit</a>
						</div>
						<h3>Target Market</h3>
						{% for key, value in audience.iterrows() %}
							{% if value['persona_name'] %}
							<h6>Audience name: {{value['persona_name']}}</h6>
								<table class="table">
									<thead>
										<th>Demographic</th>
										<th>Personality</th>
										<th>Purchasing Habits</th>
									</thead>
									<tbody>
										<td>
											<ul>	
												{% if value['gender'] == 'both' %}
													<li>{{value['gender']}} genders</li>
												{% else %}
													<li>{{value['gender']}}</li>
												{% endif %}
												<li>Target ages:
													<ul>
												{% for key in ages_before_after %}
													{% for value in ages_before_after[key]['ages'] %}
														{% if value %}
														<li>{{value}}</li>
														{% endif %}
													{% endfor %}
												{% endfor %}
													</ul>
												</li>
												<li>{{value['location'] if value['location'] | length }}</li>
											</ul>
										</td>
										<td>
											<ul>
												{% if value['formality']%}
												<li>{{value['formality']}}</li>
												{% endif %}
												{% if value['tech_savvy']%}
												<li>{{value['tech_savvy']}}</li>
												{% endif %}
												{% if value['detail-oriented']%}
												<li>{{value['detail-oriented']}}</li>
												{% endif %}
											</ul>
										</td>
										<td>
											<ul>
												{% if value['buying_for'] %}
												<li>{{value['buying_for']}}</li>
												{% endif %}
												{% if value['decision_making'] %}
												<li>{{value['decision_making']}}</li>
												{% endif %}
												{% if value['motive'] %}
												<li>{{value['motive']}}</li>
												{% endif %}
												{% if value['why'] %}
												<li>{{value['why']}}</li>
												{% endif %}
												<li>Feeling Before:
													<ul>
												{% for key in ages_before_after %}
													{% for value in ages_before_after[key]['before'] %}
														{% if value %}
														<li>{{value}}</li>
														{% endif %}
													{% endfor %}
												{% endfor %}
													</ul>
												</li>
												<li>Feeling After:
													<ul>
												{% for key in ages_before_after %}
													{% for value in ages_before_after[key]['after'] %}
														{% if value %}
														<li>{{value}}</li>
														{% endif %}
													{% endfor %}
												{% endfor %}
													</ul>
												</li>
											</ul>
										</td>
									</tbody>
								</table>
							{% endif %}
						{% endfor %}
					</div>
					<div id="products" class="target card col-12">
						<div class="edit">
							<a href="{{url_for('product', home=True)}}">Edit</a>
						</div>
						<h3>Product / Service Offering</h3>
						<h6>{{company_name}} offers {{quantity}} products / services.</h6><br><br>
						<a href="{{website}}">Visit website</a><br>
						<br>
						<h6>Offerings are segmented in the marketplace by:</h6>
							{% if segments | length > 1 %}
								<ul>
								{% for segment in segments %}
									{% if segment %}
										<li>{{segment}}</li>
									{% endif %}
								{% endfor %}
								</ul>
							{% else %}
								<p>{{segment}}</p>
							{% endif %}
						<h6>And sourced via:</h6>
						{% if sources | length > 1 %}
							<ul>
							{% for source in sources %}
								{% if source %}
									<li>{{source}}</li>
								{% endif %}
							{% endfor %}
							</ul>
						{% else %}
							<p>{{source}}</p>
						{% endif %}
						<h6>Additional sourcing info:</h6>
						<p class="truncate">{{source_freeform}}</p>
						<hr style="margin: 5%;">
						<h6>Offering Details</h6>
						<table id="products" class="table table-borderless">
							<thead>
								<th></th>
								<th>Product Name</th>
								<th>Category</th>
								<th>COGS</th>
								<th>Sale Price</th>
								<th>Qty Sold Last 12 mos.</th>
								<th>Estimated Unique Buyers</th>
							</thead>
							<tbody>
								{% for key, value in product_list.iterrows() %}
									{% if value['name'] %}
									<tr>
										<td><a href="/removeProduct/{{value['p_id']}}#products">Remove product</a></td>
										<td><strong>{{value['name']}}</strong></td>
										<td>{{value['category']}}</td>
										<td>${{value['cogs']}}</td>
										<td>${{value['sales_price']}}</td>
										<td>{{value['qty_sold']}}</td>
										<td>{{value['est_unique_buyers']}}</td>
									</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
						<div class="divider"></div>
						<div class="divider"></div>

						<div class="edit">
							<a href="{{url_for('product_2', home=True)}}">Edit</a>
						</div>
						<h6>Offering Detailed Analysis</h6>
						<table style="overflow-x:scroll;" class="table table-borderless">
							<thead>
								<th> </th>
								{% for key, value in product_list.iterrows() %}
									<th>{{value['name']}}</th>
								{% endfor %}
							</thead>
							<tbody>
								<tr>
									<th>Complexity</th>
									{% for value in product_list['complexity'] %}
										{% if value %}
											<td>{{value}}</td>
										{% else %}
											<td>n/a</td>
										{% endif %}
									{% endfor %}
								</tr>
								<tr>
									<th>Price</th>
									{% for value in product_list['price'] %}
										{% if value %}
											<td>{{value}}</td>
										{% else %}
											<td>n/a</td>
										{% endif %}
									{% endfor %}
								</tr>
								<tr>
									<th>Frequency of Use</th>
									{% for value in product_list['frequency_of_use'] %}
										{% if value %}
											<td>{{value}}</td>
										{% else %}
											<td>n/a</td>
										{% endif %}
									{% endfor %}								</tr>
								<tr>
									<th>Frequency of Purchase</th>
									{% for value in product_list['frequency_of_purchase'] %}
										{% if value %}
											<td>{{value}}</td>
										{% else %}
											<td>n/a</td>
										{% endif %}
									{% endfor %}								</tr>
								<tr>
									<th>Value Prop</th>
									{% for value in product_list['value_prop'] %}
										{% if value %}
											<td>{{value}}</td>
										{% else %}
											<td>n/a</td>
										{% endif %}
									{% endfor %}
								</tr>
								<tr>
									<th>Warranties or Guarantee</th>
									{% for value in product_list['warranties_or_guarantee'] %}
										{% if value %}
											<td>{{value}}</td>
										{% else %}
											<td>n/a</td>
										{% endif %}
									{% endfor %}
								</tr>
								<tr>
									<th>Low or High # of skus</th>
									{% for value in product_list['num_skus'] %}
										{% if value %}
											<td>{{value}}</td>
										{% else %}
											<td>n/a</td>
										{% endif %}
									{% endfor %}								</tr>
								<tr>
								</tr>
								<tr>
									<th>Level of Customization</th>
									{% for value in product_list['level_of_customization'] %}
										{% if value %}
											<td>{{value}}</td>
										{% else %}
											<td>n/a</td>
										{% endif %}
									{% endfor %}	
								</tr>
							</tbody>
						</table>
					</div>
					<div id="platforms" class="target card col-12">

						<div class="edit">
							<a href="{{url_for('history', home=True)}}">Edit</a>
						</div>
						<h3>Experience With Advertising Platforms</h3>
						<h5 class="title blue_header">{{digital_spend}}/month</h5>
						<p>Average total spend across all platforms</p>
						<div class="divider"></div>
						<h6>Platform experience</h6>
						{% for key, value in platforms.iterrows() %}
							<div class="row">
								<div class="col-1"></div>
								<div class="col-3"><h6><span class="platform_img">{{value['platform_name']}}</span></h6></div>
								<div class="col-3 results_img"><span>{{value['results']}}</span></div>
								{% if value['currently_using'] == 'yes' %}
									<div class="col-2 center_it alert alert-success">
										ACTIVE
									</div>
								{% elif value['currently_using'] == 'no' %}
									<div class="col-2 center_it alert alert-secondary">
										INACTIVE
									</div>
								{% endif %}
							</div>
						{% endfor %}
						<h6>Additional notes</h6>
						<p class="inset truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.{{history_freeform}}</p>

					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block js %}
<script type="text/javascript" defer>
$('.truncate').each(function(){
	var full_text = $(this).text()
	// $(this).after("<p class='full_text'>" + full_text + "</p>")
	if ($(this).text().length > 49){
		var truncated_text = $(this).text()
			.trim()    // remove leading and trailing spaces
		    .substring(0, 50)    // get first 600 characters
		    .split(" ") // separate characters into an array of words
		    .slice(0, -1)    // remove the last full or partial word
		    .join(" ") + "..."; // combine into a single string and append "..."
		$(this).html("<span class='daText'>" + truncated_text + "</span> <span class='showAll'>Show more</span>")

		$('.showAll').click(function(){

			$(this).toggleClass('clicked')
			if ($(this).hasClass('clicked')){
				$(this).siblings('.daText').html(full_text)
				$(this).html("<span class='showAll'>See less</span>")
			} else {
				$(this).siblings('.daText').html(truncated_text)
				$(this).html("<span class='showAll'>Show more</span>")
			}

		})
	}
})


$('.results_img').each(function(){
	var val = parseInt($(this).text())
	if (val == 2){

		$(this).html('<img class="smilesHome" src="/static/assets/img/frown.png">')

	} else if (val == 3){

		$(this).html('<img class="smilesHome" src="/static/assets/img/neutral.png">')

	} else if (val == 4){

		$(this).html('<img class="smilesHome" src="/static/assets/img/smile.png">')

	} else if (val == 5){

		$(this).html('<img class="smilesHome" src="/static/assets/img/grin.png">')

	}
})

$(".platform_img").each(function(){
	var platform = $(this).text()
	var img = smilesMapper(platform)
	// $(this).css('color', 'red')
	$(this).html(`<img class="smilesHome" src='${img}'>`)
})

$('.meter').each(function(){
	var perc = parseInt($(this).text().replace('%',''))
	$(this).addClass('special')
	$(this).find('.perc_width').css('width', perc+"%")
})



$('.sub_nav a').click(function(){
	$(document).unbind("scroll")
	$(this).addClass('targeted')
	$('.sub_nav a').not(this).removeClass('targeted')
	setTimeout(function(){ 
		$(document).bind('scroll',function(e){
		    $('.target').each(function(){
		        if (
		           $(this).offset().top < window.pageYOffset + 10
		//begins before top
		        && $(this).offset().top + $(this).height() > window.pageYOffset + 10
		//but ends in visible area
		//+ 10 allows you to change hash before it hits the top border
		        ) {
		            window.location.hash = $(this).attr('id');
		        }
		    });
		});

	}, 1000);
})

$(window).on('hashchange', function() {
  	var select = "." + window.location.hash.substring(1)
	var target = "a" + select
  	$('a').not(target).removeClass('targeted')
  	$(target).addClass("targeted")
});


$(document).bind('scroll',function(e){
    $('.target').each(function(){
        if (
           $(this).offset().top < window.pageYOffset + 10
//begins before top
        && $(this).offset().top + $(this).height() > window.pageYOffset + 10
//but ends in visible area
//+ 10 allows you to change hash before it hits the top border
        ) {
            window.location.hash = $(this).attr('id');
        }
    });
});



</script>
{% endblock %}


