

<div class="row">  
    <div class="col-lg-6 col-sm-12">
        <div id="talkjs-container">
        </div>
    </div>
    <div class="col-lg-6 col-sm-12"> 
                 
        {{ section(
            link=None,
            title='To-Do List',
            body=todo(page, admin=False),
            hash=None,
            admin=page.admin
        ) }}

    </div>
</div>

{% if chat %}
	{% block js %}
		<script>
		(function(t,a,l,k,j,s){
			s=a.createElement('script');s.async=1;s.src="https://cdn.talkjs.com/talk.js";a.head.appendChild(s)
			;k=t.Promise;t.Talk={v:2,ready:{then:function(f){if(k)return new k(function(r,e){l.push([f,r,e])});l
			.push([f])},catch:function(){return k&&new k()},c:l}};})(window,document,[]);
		</script>
		<script>
			Talk.ready.then(function(){
				var me = new Talk.User({
					name: "{{chat.email}}",
					id: "{{chat.user_id}}",
					email: "{{chat.email}}",
					role: "{{chat.type}}"
				});
				window.talkSession = new Talk.Session({
					appId: "S9ifmqxv",
					me: me,
					signature: "{{chat.hash}}"
				});

				var operator = new Talk.User({
					id: "admin-6",
					role: 'Admin',
					name: "Tristan Tarpley",
					email: "info@marketr.life",
					welcomeMessage: "Welcome to Market(r)! Do you have any particular place in which you'd like to start your marketing journey with us?"
				}); 
				var conversation = window.talkSession.getOrCreateConversation("marketr-{{chat.user_id}}");
				conversation.setParticipant(me);
				conversation.setParticipant(operator);
				var chatbox = window.talkSession.createChatbox(conversation);
				chatbox.mount(document.getElementById("talkjs-container"));
			});
		</script>
	{% endblock %}
{% endif %}