{% set company_name = page.data['core']['company_name'] %}
{% set core = page.data['core'] %}
{% set products = page.data['products'] %}



{% macro google(headline=None, website=None, description=None) %}

	<div class="google_ad_preview_container">
		<h5>{{ headline }}</h5>
		<p class="website"><span>Ad</span> {{ website }}</p>
		<p>{{ description }}</p>
	</div>

{% endmacro %}


{% macro one() %}
	<div class="row">
		<div class="col-lg-8 col-sm-12">
			<h5>Industry: {{core['industry']|safe}}</h5>
			<div class="col-lg-6 col-sm-12">
				<p>Stage: {{ core['stage'] }}</p>
				<p>Based in: {{ core['city'] }}, {{ core['state'] }}</p>
			</div>
		</div>
		<div class="col-lg-3">
			<h5>Profile Owner:</h5>
			<p>{{ core['first_name'] }} {{ core['last_name'] }}</p>
			<p>{{ core['email'] }}</p>
		</div>
	</div>
{% endmacro %}

{% macro two() %}

	<p>{{core['company_name']}} is a {{ core['selling_to'] }} company in the {{ core['biz_model']}} space with their primary sources of revenue coming from the following channels: </p><br><br>

	<div class="row percentages">
		<div class="col-md-1"></div>
		<div class="card col-md-2 col-sm-4 center_it">
			<div class="">
				<br>
				<h6 class="title">Storefront</h6>
				<p>(physical store, kiosk, truck, etc.)</p>
			</div>
			<p class="meter">
				{{ core['storefront_perc'] if core['storefront_perc'] != "" else "0" }}%
				<span class="perc_width"></span>
			</p>
		</div>
		<div class="card col-md-2 col-sm-4 center_it">
			<div class="">
				<br>
				<h6 class="title">Direct</h6>
				<p>(phone, mailers, email, etc.)</p>
			</div>
			<p class="meter">
				{{ core['direct_perc'] if core['direct_perc'] != "" else "0" }}%
				<span class="perc_width"></span>
			</p>
		</div>
		<div class="card col-md-2 col-sm-4 center_it">
			<div class="">
				<br>
				<h6 class="title">Online</h6>
				<p>(eCommerce, Saas, blog, online ads, blog, etc)</p>
			</div>
			<p class="meter">
				{{ core['online_perc'] if core['online_perc'] != "" else "0" }}%
				<span class="perc_width"></span>
			</p>
		</div>
		<div class="card col-md-2 col-sm-4 center_it">
			<div class="">
				<br>
				<h6 class="title">Tradeshows</h6>
				<p></p>
			</div>
			<p class="meter">
				{{ core['tradeshows_perc'] if core['tradeshows_perc'] != "" else "0" }}%
				<span class="perc_width"></span>
			</p>
		</div>
		<div class="card col-md-2 col-sm-4 center_it">
			<div class="">
				<br>
				<h6 class="title">Other</h6>
				<p></p>
			</div>
			<p class="meter">
				{{ core['other_perc'] if core['other_perc'] != "" else "0" }}%
				<span class="perc_width"></span>
			</p>
		</div>
	</div>
	{% if core['rev_channel_freeform'] %}
		<p>Additional notes:</p>
		<p class="truncate inset">{{ core['rev_channel_freeform'] }}</p>
	{% endif %}
{% endmacro %}



{% macro competitors() %}

	{% macro comp_metrics(pos=1) %}
		{% set base = core['competitor_intro_1'] if pos == 1 else core['competitor_intro_2'] %}
		<div class="row comp_metrics">
			<div class="col-lg-3 comp_box">
				<h5>Adwords Budget<br>
				<strong>${{ base['budget'] }}/month</strong></h5>
			</div>
			<div class="col-lg-5 comp_box">
				<h5>Recent Ads</h5>
				{{ google(
					headline=base['ads'][0]['title'],
					website=base['ads'][0]['url'],
					description=base['ads'][0]['body']
				) }}
				{{ google(
					headline=base['ads'][1]['title'],
					website=base['ads'][1]['url'],
					description=base['ads'][1]['body']
				) }}
			</div>
			<div class="col-lg-3 comp_box">
				<h5>{{ base['clicks'] }} clicks</h5>
			</div>
		</div>
	{% endmacro %}

	{% macro comp_header(pos=1) %}
		<div class="row">
			<div class="col-lg-4 col-sm-12">
				<h5>{{ core['comp_1_name'] if pos == 1 else core['comp_2_name'] }}</h5>
				<a href="{{ core['comp_1_website'] if pos == 1 else core['comp_2_website'] }}" target="__blank">{{core['comp_1_website'] if pos == 1 else core['comp_2_website']}}</a>
			</div>
			<div class="col-lg-2 col-sm-12">
				<p class="comp-badge">{{ core['comp_1_type'] if pos ==1 else core['comp_2_type'] }}</p>
				<p>Competitor type</p>
			</div>
		</div>
	{% endmacro %}


	{{ comp_header() }}
	{{ comp_metrics() }}
	<div class="separator"></div>
	{{ comp_header(pos=2) }}
	{{ comp_metrics(pos=2) }}

{% endmacro %}

{% macro five() %}

{% for index in page.data['audiences'] %}
	{% set state = page.data['audiences'][index] %}
	{% if state['persona_name'] and state['persona_name'] != "" %}	
		<h5>Audience name: {{ state['persona_name']}}</h5>
		<table class="table table-responsive profile_table">
			<thead style="text-align:center;">
				<th>Demographic</th>
				<th>Personality</th>
				<th>Purchasing Habits</th>
			</thead>
			<tbody>
				<td>	
					<ul>
						<li> Targets 
							{% if state['gender'] == 'All' %}
								{{state['gender'] | lower}} genders
							{% else %}
								{{state['gender']}}
							{% endif %}
						</li>

						<li>Target ages:
							{% set ages = [
								state['age_group_1'],
								state['age_group_2'],
								state['age_group_3'],
								state['age_group_4'],
								state['age_group_5'],
								state['age_group_6'],
								state['age_group_7'],
								state['age_group_8']
							]%}
							<ul>
								{{ multi_val_iterator(ages) }}
							</ul>
						</li>
						<li>{{state['location'] if state['location'] | length }}</li>
					</ul>
				</td>
				<td>
					<ul>
						{% if state['formality']%}
							<li>{{state['formality']}}</li>
						{% endif %}
						{% if state['tech_savvy']%}
							<li>{{state['tech_savvy']}}</li>
						{% endif %}
						{% if state['detail-oriented']%}
							<li>{{state['detail-oriented']}}</li>
						{% endif %}
					</ul>
				</td>
				<td>
					<ul>
						{% if state['buying_for'] %}
							<li>They buy {{state['buying_for'] | lower }}</li>
						{% endif %}
						{% if state['decision_making'] %}
							<li>They are {{"the" if state['decision_making'] == 'Ultimate decision maker' }} {{state['decision_making'] | lower }}</li>
						{% endif %}
						{% if state['motive'] %}
							<li>They buy to {{state['motive'] | lower }}</li>
						{% endif %}
						{% if state['why'] %}
							<li>They buy because {{state['why'] | lower }}</li>
						{% endif %}
						<li>How they feel before buying:
							{% set before = [
								state['before_1'],
								state['before_2'],
								state['before_3'],
								state['before_4'],
								state['before_5'],
								state['before_6'],
								state['before_7'],
								state['before_8'],
								state['before_9'],
								state['before_10'],
							]%}
							<ul>
								{{ multi_val_iterator(before) }}
							</ul>
						</li>
						<li>How they feel after buying:
							{% set after = [
								state['after_1'],
								state['after_2'],
								state['after_3'],
								state['after_4'],
								state['after_5'],
								state['after_6'],
								state['after_7'],
								state['after_8'],
								state['after_9'],
								state['after_10']	
							]%}
							<ul>
								{{ multi_val_iterator(after) }}
							</ul>
						</li>
					</ul>
				</td>
			</tbody>
		</table>
	{% endif %}
{% endfor %}

{% endmacro %}

{% macro six() %}
	<p>{{ company_name}} offers {{ core['quantity'] }} products / services.</p><br><br>
	<a target="__blank" href="https://{{ core['link'] }}">Visit website</a>
	<br>
	<br>
	<h6>Offerings are segmented in the marketplace by:</h6>
	{% set segments = [
		core['segment_1'],
		core['segment_2'],
		core['segment_3'],
		core['segment_4'],
		core['segment_5'],
		core['segment_6'],
		core['segment_7'],
		core['segment_8'],
		core['segment_9'],
		core['segment_10'],
	]%}
	<ul>
		{{ multi_val_iterator(segments) }}
	</ul>

	<h6>And sourced via:</h6>
	{% set sources = [
		core['source_1'],
		core['source_2'],
		core['source_3'],
		core['source_4']
	]%}
	<ul>
		{{ multi_val_iterator(sources) }}
	</ul>
	{% if core['source_freeform'] %}
		<p>Additional sourcing info:</p>
		<p class="truncate">{{ core['source_freeform'] }}</p>
	{% endif %}
	<br>
	<div class="center_it">
		<h6>Offering Details</h6>
	</div>

	<table id="products" class="table-striped table table-borderless table-responsive">
		<thead>
			<th>Product Name</th>
			<th>Category</th>
			<th>COGS</th>
			<th>Sale Price</th>
			<th>Qty Sold Last 12 mos.</th>
			<th>Estimated Unique Buyers</th>
		</thead>
		<tbody>
		{% for index in page.data['products'] %}
		{% set state = page.data['products'][index] %}
			{% if state['name'] | not_none %}
				<tr>
					<td><strong>{{ state['name'] if state['name'] | not_none else "" }}</strong></td>
					<td>{{ state['category'] if state['category'] | not_none else "" }}</td>
					<td>{{ "$" + state['cogs'] if state['cogs'] | not_none else "" }}</td>
					<td>{{ "$" + state['sales_price'] if state['sales_price'] | not_none else "" }}</td>
					<td>{{ state['qty_sold'] if state['qty_sold'] | not_none else "" }}</td>
					<td>{{ state['est_unique_buyers'] if state['est_unique_buyers'] | not_none else "" }}</td>
				</tr>	
			{% endif %}
		{% endfor %}
		</tbody>
	</table>

	<div class="separator"></div>
	{% if not admin %}
		<div class="edit">
			<a href="{{url_for('product_2', home=True)}}" class="edit btn-primary btn">
				<i class="now-ui-icons design-2_ruler-pencil"></i>
			</a>
		</div>
	{% endif %}
		<br>
	<div class="center_it">
		<h6>Offering Detailed Analysis</h6>
	</div>

	<table class="table table-responsive table-borderless table-striped">
		<thead>
			<th> </th>
			{% for product in products %}
				{% set state = products[product] %}
				<th>{{ state['name'] }}</th>
			{% endfor %}
		</thead>
		<tbody>
			<tr>
				<th>Complexity</th>
				{{ product_val_iterator(page.data['products'], 'complexity') }}
			</tr>
			<tr>
				<th>Price</th>
				{{ product_val_iterator(page.data['products'], 'price') }}
			</tr>
			<tr>
				<th>Frequency of Use</th>
				{{ product_val_iterator(page.data['products'], 'frequency_of_use') }}
			</tr>
			<tr>
				<th>Frequency of Purchase</th>
				{{ product_val_iterator(page.data['products'], 'frequency_of_purchase') }}
			</tr>
			<tr>
				<th>Value Prop</th>
				{{ product_val_iterator(page.data['products'], 'value_prop') }}
			</tr>
			<tr>
				<th>Warranties or Guarantee</th>
				{{ product_val_iterator(page.data['products'], 'warranties_or_guarantee') }}
			</tr>
			<tr>
				<th>Low or High # of skus</th>
				{{ product_val_iterator(page.data['products'], 'num_skus') }}
			</tr>
			<tr>
				<th>Level of Customization</th>
				{{ product_val_iterator(page.data['products'], 'level_of_customization') }}
			</tr>
		</tbody>
	</table>

{% endmacro %}

{% macro seven() %}

	<div class="row">
		<div class="col-1"></div>
		<div class="card home_stages col-2">
			<div class="container-fluid center_it">
				<h6>Awareness</h6>
			</div>
			<div class="container-fluid">
				<ul>
					{% if page.data['salescycle']['awareness'] %}
						{% for value in page.data['salescycle']['awareness'] %}
							<li>{{value}}</li>
						{% endfor %}
					{% else %}
						<li>No data for awareness yet</li>
					{% endif %}
				</ul>
			</div>
		</div>&nbsp;
		<div class="card home_stages col-2">
			<div class="container-fluid center_it">
				<h6>Evaluation</h6>
			</div>
			<div class="container-fluid">
				<ul>
					{% if page.data['salescycle']['evaluation'] %}
						{% for value in page.data['salescycle']['evaluation'] %}
							<li>{{value}}</li>
						{% endfor %}
					{% else %}
						<li>No data for evaluation yet</li>
					{% endif %}
				</ul>
			</div>
		</div>&nbsp;
		<div class="card home_stages col-2">
			<div class="container-fluid center_it">
				<h6>Conversion</h6>
			</div>
			<div class="container-fluid">
				<ul>
					{% if page.data['salescycle']['conversion'] %}
						{% for value in page.data['salescycle']['conversion'] %}
							<li>{{value}}</li>
						{% endfor %}
					{% else %}
						<li>No data for conversion yet</li>
					{% endif %}
				</ul>
			</div>
		</div>&nbsp;
		<div class="card home_stages col-2">
			<div class="container-fluid center_it">
				<h6>Retention</h6>
			</div>
			<div class="container-fluid">
				<ul>
					{% if page.data['salescycle']['retention'] %}
						{% for value in page.data['salescycle']['retention'] %}
							<li>{{value}}</li>
						{% endfor %}
					{% else %}
						<li>No data for retention yet</li>
					{% endif %}
				</ul>
			</div>
		</div>&nbsp;
		<div class="card home_stages col-2">
			<div class="container-fluid center_it">
				<h6>Referral</h6>
			</div>
			<div class="container-fluid">
				<ul>
					{% if page.data['salescycle']['referral'] %}
						{% for value in page.data['salescycle']['referral'] %}
							<li>{{value}}</li>
						{% endfor %}
					{% else %}
						<li>No data for referral yet</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>

{% endmacro %}

{% macro eight() %}
<p>Average monthly spend across all platforms</p>
<h5 class="title blue_header">{{ core['digital_spend']}}</h5>
<div class="divider"></div>
<div class="row">
	<div class="col-1"></div>
	<div class="col-3">
		<h6>Platform Name</h6>
	</div>
	<div class="col-3">
		<h6>Results</h6>
	</div>
	<div class="col-3">
		<h6>Still using?</h6>
	</div>
</div>

{% for index in page.data['platforms'] %}
	{% set state = page.data['platforms'][index] %}
	<div class="row">
		<div class="col-1"></div>
		<div class="col-3">
			<h6>
				<span class="platform_img">
					{{ state['platform_name']}}
				</span>
			</h6>
		</div>
		<div class="col-3 results_img">
			<span>
				{{ state['results'] }}
			</span>
		</div>
		
		{% if state['currently_using'] == 'yes' %}
		<div class="col-2 center_it alert alert-success">
			ACTIVE
		</div>
		{% elif state['currently_using'] == 'no' %}
		<div class="col-2 center_it alert alert-secondary">
			INACTIVE
		</div>
		{% endif %}
	</div>
{% endfor %}
	{% if core['history_freeform'] %}
		<p>Additional notes</p>
		<p class="inset truncate">{{ core['history_freeform']}}</p>
	{% endif %}
{% endmacro %}

{% macro score() %}
<div class="row">
	<div class="col-lg-7 col-sm-12">
		<h5><strong>Market(r)<br>Score</strong></h5>
		<button type="button" id="score_popover" class="btn btn-neutral" data-container="body" data-toggle="popover" data-html="true" data-placement="left" title="<p>The Market(r) Score</p>" data-content="<p>Market(r) score is the credit score for your marketing.  It's a business model-dependent, weighted algorithm that analyzes the completion state of your market(r) profile compared to an achievable ideal state.</p><br>
		<p>Reaching high Market(r) scores is a great way to ensure you have a healthy marketing core to grow sales from more effectively.</p>">
			What does this mean?
		</button>
	</div>
	<div class="col-lg-5 col-sm-12 score_container" style="text-align:center;">
		<h1><span id="marketr-score">000</span></h1>
		<label id="marketr-score-quality">...</label>
	</div>
</div>
<div class="row">
	<div class="col">
		<label><strong>How to improve:</strong></label>
		<p>> Complete profile / bolded To-Do-List items</p>
	</div>
</div>
{% endmacro %}


<div class="row">
	<div class="col-lg-8 col-sm-12">
		{{ section(
			link="begin",
			title=company_name,
			body=one(),
			hash="profile_information",
			admin=page.admin
		) }}
	</div>
	<div class="col-lg-4 col-sm-12">
		<div class="card" style="padding: 8%;">
			{{ score() }}
		</div>
	</div>
</div>
{{ section(
	link="company",
	title="Company Info",
	body=two(),
	hash="company",
	admin=page.admin
) }}
{{ section(
	link="goals",
	title="Marketing Goal",
	body=goals(page),
	hash="goal",
	admin=page.admin
) }}
{{ section(
	link="competitors",
	title="Top Competitors",
	body=competitors(),
	hash="competitors",
	admin=page.admin
) }}
{{ section(
	link="audience",
	title="Customer Personas",
	body=five(),
	hash="audience",
	admin=page.admin
) }}
{{ section(
	link="product",
	title="Product / Service Offering",
	body=six(),
	hash="products",
	admin=page.admin
) }}
{{ section(
	link="salescycle",
	title="Sales Cycle",
	body=seven(),
	hash="salescycle",
	admin=page.admin
) }}
{{ section(
	link="platforms",
	title="Advertising Platforms",
	body=eight(),
	hash="platforms",
	admin=page.admin
) }}



