{% extends "layouts/layout.html" %}
{% from "macros/_macros.html" import render_field %}
{% from "macros/home_macros.html" import tab_bar, section, multi_val_iterator, product_val_iterator %}
{% from "macros/dashboard_macros.html" import todo, messages, goals, score, back_button %}
{% from "macros/settings_macros.html" import active_plan_root, change_password, welcome, top_row, invoices, plan_overview %}
{% from "macros/_branding_macros.html" import pricing %}

{% block title %}
<title>Billing & Settings</title>
{% endblock %}

{% block content %}
    {% with settings = 'active' %}
        {% include "core/navbar/settings-sidebar.html" %}
    {% endwith %}
    {% include "/topbar/topbar-customer.html" %}
    
    <div class="panel-header panel-header-sm">
	</div>
	<div class="content">
		<div class="row row_cancel">
			<div class="col-md-12">
                <div class="card" style="padding: 5%;">
                    <div id="loading">
                        <div class="load-circle"><span class="one"></span></div>
                    </div>
                    <div id="content-ready" style="visibility:hidden;">
                        <div class="row">
                            <div class="col">
                                {% if root %}
                                    <div class="row row_cancel">
                                        <div class="col">
                                            {{ welcome(page) }}
                                        </div>  
                                        <div style="text-align:right;" class="col">
                                            {{ change_password() }} 
                                        </div>
                       
                                    </div>
                                    <div class="separator"></div>
                                    {% if page.customer['current_plan'] == True %}
                                        {{ active_plan_root(page) }}   
                                    {% else %}
                                    <link rel="stylesheet" href="/static/branding/style/master.css">
                                    <div class="row">
                                        <div class="col-lg-1 col-sm-12">
                                        </div>
                                        <div class="col-lg-10 col-sm-12">
                                            <div class="pricing">
                                                {{ pricing(True, settings_view=True) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-sm-12">
                                        </div>
                                    </div>
                                    {% endif %}                   
                                {% else %}

                                    {{ top_row() }}
                                    {{ plan_overview(page) }}

                                    <div class="row">
                                        <div class="col"><p>To change payment information, please email <a href="mailto:info@marketr.life">info@marketr.life</a> with your company name and we will send you a secure form.</p></div>
                                    </div>

                                    {{ invoices(page) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}