{% extends "layouts/layout.html" %}

{% block title %}
<title>Billing & Settings</title>
{% endblock %}

{% block content %}
    {% with tactic = True %}
       {% include "core/navbar/settings-sidebar.html" %}
    {% endwith %}
    {% include "/topbar/topbar-customer.html" %}
    
    <div class="panel-header panel-header-sm">
	</div>
	<div class="content">
		<div class="row row_cancel">
			<div class="col-md-12">
                <div class="card" style="padding: 8%">
                    <p class="small_txt">Growth Tactic ID: {{ page.data['id'] }}</p>
                    <h1>{{ page.data['title'] }}</h1>
                    <p>{{ page.data['description'] }}</p>
                    <div class="separator"></div>
                    <p><a href="{{ url_for('home', view=messages) }}">Talk to your Market(r) guide</a> about implementing this tactic into your growth marketing strategy.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}