{% from 'macros/dashboard_macros.html' import google %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/favicon.png">
	<link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
</head>
<body id="audit">
    <div class="flex-row">
        <div class="flex-col"></div>
    </div>
    <div class="flex-row">
        <div class="flex-col audit_cta audit_cta-secondary center_it flex-card">
            <div class="flex-logo_container ">
                <br>
                <h5>A beautifully simple audit for you,</h5>
                <img style="margin-bottom:1%;" onerror="this.style.display='none';document.querySelector('#fallback').style.display = 'block';" alt="{{ page['url'] }}" src="//logo.clearbit.com/{{page['url']}}" >
                <h3 id="fallback" style="display:none;">{{ page['url'] }}</h3>
                
                <p>Made with &#x2764;&#xFE0F; by <a target="__blank" href="{{ url_for('index') }}" class="small_txt"> Market(r)</a>.</p>
            </div>
        </div>
    </div>
    <div class="flex-row">
        <div class="center_it flex-col">
        </div>
    </div>
    <div class="flex-row">
        <div class="flex-col">
            <div class="flex-card">
                <p class="audit_label">Estimated Costs</p>
                <div class="input-group">
                    <p>If you spend 
                    $<input class="form-control" placeholder="1,000" id="spend_target" type="number">
                    <span class="form-control-border"></span>
                    in google ads then we estimate you will get <span id="click_est">0</span> visitors to your website
                    </p>
                </div>

                <br>

                <p>How is this calculated?</p>
                <p class="small_txt">Based on historical data of your targeted keywords, we estimate your future average cost per click at $<span id="avg_cpc"></span> per click. To estimate clicks, we divid your target spend by the average cost per click.</p>
                {% if not page['keywords'] and not competitors %}
                <p class="small_txt">Because we couldn't find any direct competitors for you, this avg. cpc number is based on industry averages and can be highly variable.</p>
                {% endif %}
            </div>
        </div>
        <div class="flex-col">
            <div class="flex-card">
                <p class="audit_label">Site load time</p>
                {% set load_time = page['load_time']['load_time'] %}
                {% if load_time <= 1 %}
                    {% set class = 'text-success' %}
                {% elif load_time > 1 <= 3 %}
                    {% set class = 'text-success' %}
                {% elif load_time > 3 <= 5 %}
                    {% set class = 'text-warning' %}
                {% elif load_time > 5 <= 6 %}
                    {% set class = 'text-warning' %}
                {% elif load_time > 6 <= 10 %}
                    {% set class = 'text-danger' %}
                {% else %}
                    {% set class = 'text-danger' %}
                {% endif %}
                <p><span class="load_time {{ class }}">{{ page["load_time"]['load_time'] }}</span> seconds</p>
                <div class="separator"></div>
                <h5 id="load_headline" style="font-size: 110%;">{{ page['load_time']['improvement_headline'] }}</h5>
                <p id="load_body">{{ page['load_time']['improvement_copy'] }}</p>
            </div>
        </div>
    </div>
    <div class="flex-row">
        <div class="flex-col">
            <div class="flex-card">
                <p class="audit_label">What does "Brand Emotions" mean?</p>
                <p>Your emotional tone is important for a number of reasons. Every customer feels a set of emotions before they purchase, and a set of emotions after purchasing.</p>
                <p>Are you aligning those two sets of emotions with the proper incentives and motivation?</p>
                <p>Better yet, do even know what emotions you are currently targeting?</p>
                <p>Possible tones can include the following: anger, fear, joy, sadness, analytical, confident, and tentative.</p>
                <p><strong>Check out the following chart to see what emotions your site elicits.</strong></p>
            </div>
        </div>
        <div class="flex-col _20">
            <div class="flex-card">
                <p class="audit_label">Brand emotions</p>
                <p>We did a tonal analysis of {{ page['url'] }}'s homepage content and extracted the following emotion(s).</p>
                <canvas width="100%" height="50%" class="responsive_chart" id="emotion_chart"></canvas>
            </div>
        </div>
    </div>
    <div class="flex-row">
        <div class="flex-col">
            <div class="audit_cta flex-card">
                <p>What if online marketing was as easy as knowing exactly how much to spend and where to spend it?</p>
                <p>With Market(r), it is.</p>
                <br>
                <a style="text-decoration: none;" href="{{ url_for('index') }}" class="btn btn-primary">Visit Marketr.life</a><br><br>
                <a href="{{ url_for('schedule') }}">Schedule a call</a>
            </div>
        </div>
    </div>
    <div class="flex-row">
        <div class="flex-col">
            <div class="flex-card ">
                    
                {% if page['ads'] %}
                    <p class="audit_label">Ad Analysis & Recent Ads</p>
                    {% for ad in page['ad_analysis'] %}

                        {% if ad['analysis']['score'] %}
                            {% set ad_score = ad['analysis']['score'] | int %}

                            {% if ad_score <= 60 %}
                                {% set class = 'red_back' %}
                            {% elif ad_score > 60 < 80 %}
                                {% set class = 'yellow_back' %}
                            {% elif ad_score >= 80 %}
                                {% set class = 'green_back' %}
                            {% endif %}

                        <div class="flex-row">
                            <div class="flex-col">
                                {{ google(headline=ad['ad_headline'], website=page['url'], description=ad['ad_body'] + '...') }}
                            </div>
                            <div class="flex-col">
                                <p style="margin: auto;"class="{{class}} ad_score">Ad score: <strong>{{ ad['analysis']['score'] }}</strong></p>
                            </div>
                        </div>

                            <p>Ad insights:</p>
                            <div class="flex-row">
                            {% for rec in ad['analysis']['recommendations'] %}
                                <div class="ad_insight flex-col">
                                    <p>{{ rec['title'] }}</p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="separator"></div>
                        {% endif %}
                    {% endfor %}
                {% elif page['headlines'] %}
                    <p class="audit_label">Messaging Analysis & Top Headlines</p>
                    {% for headline in page['ad_analysis'] %}
                        {% if headline['analysis']['score'] %}
                            {% set ad_score = headline['analysis']['score'] | int %}

                            {% if ad_score <= 60 %}
                                {% set class = 'red_back' %}
                            {% elif ad_score > 60 < 80 %}
                                {% set class = 'yellow_back' %}
                            {% elif ad_score >= 80 %}
                                {% set class = 'green_back' %}
                            {% endif %}
                            <div class="flex-row">
                                <div class="flex-col">
                                    <p><strong>{{ headline['headline'] }}</strong></p>
                                </div>
                                <div class="flex-col">
                                    <p style="margin: auto;" class="{{class}} ad_score">Headline score: <strong>{{ headline['analysis']['score'] }}</strong></p><br><br>
                                </div>
                            </div>
                            <p>Headline insights:</p>
                        {% endif %}

                        <div class="flex-row">
                            {% for rec in headline['analysis']['recommendations'] %}
                                <div class="ad_insight flex-col">
                                    <p> {{ rec['title'] }} </p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="separator"></div>
                    {% endfor %}
                {% else %}
                    <p>We weren't able to find any ads or headlines on your behalf. Either this is because you haven't run ads online yet, you don't have a proper heading structure on your website, or our team of highly-trained hamsters just haven't crawled that far yet.</p>
                    <p>Regardless, we think that this is an issue. If your site doesn't have the proper header structure, then search engines struggle to index it and most importantly, users on your site have a harder time understanding what you do.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="flex-row">
        <div class="flex-col">
            <div class="flex-card">
                {% if page['keywords'] %}
                    <p class="audit_label">Potential Keywords</p>
                    <table class="table keyword_table">
                        <thead>
                            <th>Keyword</th>
                            <th>Cost per click</th>
                            <th>Est. clicks per day</th>
                            <th>Advertisers bidding<br>on this keyword</th>
                        </thead>
                        
                        {% for keyword in page['keywords'] %}
                            {% if loop.index < 15 %}
                            <tr>   
                                <td>{{ keyword['term'] }}</td>
                                <td class="center_it">${{ keyword['phrase_cost_per_click'] }}</td>
                                <td class="center_it">{{ keyword['phrase_clicks_per_day'] }}</td>
                                <td class="center_it">{{ keyword['advertisers'] }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}

                    </table>
                {% else %}

                    <p class="audit_label">Top Competitors</p>
                    <table class="table keyword_table">
                        {% if page['competitors'] | length > 1 %}
                        <thead>
                            <th>Competitor</th>
                            <th>Overlap</th>
                            <th>Common keywords</th>
                        </thead>
                            {% for competitor in page['competitors'] %}
                                {% if loop.index < 15 and competitor['domainName'] != page['url'] %}
                                <tr>   
                                    <td><a target="__blank" href="https://{{ competitor['domainName'] }}">{{ competitor['domainName'] }}</a></td>
                                    <td class="center_it">{{ competitor['overlap'] | round(2) }}%</td>
                                    <td class="center_it">{{ competitor['commonKeywords'] | add_commas }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>We weren't able to find any direct competitors for your domain. Either that's because you don't have any (unlikely), or our team of highly-trained hamsters hasn't crawled the web that far yet!</td>
                            </tr>
                        {% endif %}

                    </table>
                    
                {% endif %}
      
            </div>
        </div>
        <div class="flex-col">
            <div class="flex-card">
                <p class="audit_label">Proven growth hacks that might work for you.</p>
                <p>By the way, using Market(r), you'll get a new curated tactic personalized to your business.</p>
                <div class="separator"></div>
                {% for tactic in tactics['tactics'] %}
                <div class="tactic_row">
                    <p>{{loop.index}}: {{ tactic['title'] | safe | clean_chars }}</p>
                    <p class="small_txt">{{ tactic['description'] | safe | clean_chars }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if competitors %}
    <div class="flow-row">
        <div class="flex-col">
            <div style="padding-top: 2%;" class="flex-card center_it">
                <p class="audit_label">See how your competitors fared.</p><br>
                {% for comp in competitors %}
                    <a target="__blank" href="{{ url_for('audit', url=comp['url'], competitor=True ) }}">{{ comp['url'] }}</a> &nbsp;&nbsp;&nbsp;
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="flex-row">
        <div class="flex-col">
            <div class="audit_cta flex-card">
                <p>We did this with only your domain name. Take 10 minutes to give us some more information, and see what else we can come up with.</p>
                <p>Market(r) is an app where you press some buttons and in a few minutes we superpower your entire online marketing.</p>
                <br>
                <a style="text-decoration: none;" href="{{ url_for('index') }}" class="btn btn-primary">Visit Marketr.life</a><br><br>
                <a href="{{ url_for('schedule') }}">Schedule a call</a>
            </div>
        </div>
    </div><br>
    <div class="flex-row">
        <div class="center_it flex-col">
            <div class="flex-logo_container ">
                <img class="bottom_logo" src="/static/assets/img/marketrblack.png">
            </div>
        </div>
    </div>
    <div class="flex-row">
        <div class="flex-col">
            <div class="center_it" style="width:100%;">
                <a class="small_txt" target="__blank" href="https://clearbit.com">Logos provided by Clearbit</a>
            </div>
        </div>
    </div>

    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="/static/core-js/audit.js"></script>
    <script>
        secondary_load_time_check({{page['load_time']['load_time']}})

        const labels = [{% for emotion in page['scent'] %}
                            '{{ emotion }}',
                        {% endfor %}]
        const data = [{% for emotion in page['scent'] %}
                        {{ page['scent'][emotion]['score'][0] * 100 }},
                    {% endfor %}
                    ]
        let emotional_chart = new BarChart('emotion_chart', labels, data, 'Strength of emotion')
        emotional_chart.render()

  
        {% if page['keywords'] %}
            const avg_cpc = [{% for keyword in page['keywords'] %}
            {{ keyword['broad_cost_per_click'] }}, {{ keyword['phrase_cost_per_click'] }}, {{ keyword['exact_cost_per_click'] }},    
            {% endfor %}]
        {% elif competitors %}
            const avg_cpc = [{% for competitor in competitors %}
            {% if competitor.get('keywords') %}
                {% for key in competitor['keywords'] %}
                    {{ key['broad_cost_per_click'] }}, {{ key['phrase_cost_per_click'] }}, {{ key['exact_cost_per_click'] }},
                {% endfor %}
            {% else %}
                2.69,
            {% endif%}
            {% endfor %}]
        {% else %}
            const avg_cpc = [2.69]
        {% endif %}

        const cost_estimator = new CostEstimator(avg_cpc)
        cost_estimator.activate()
        
    </script>
</body>
</html>