{% extends "layouts/branding_layout.html" %}
{% from "macros/_branding_macros.html" import pricing, carousel %}
{% block content %}
<!-- Main -->
<main>
    <!--  home banner -->
    <section id="home" class="home-banner effect-section gray-bg">
        <!-- effect -->
        <div class="effect theme-bg effect-skew"></div>
        <div class="particles-box" id="particles-box"></div>
        <!-- end effect -->
        <!-- container -->
        <div class="container container-large">
            <!-- row --><br>
            <div class="row full-screen align-items-center justify-content-center">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-12 col-lg-4 col-xl-4">
                    <div class="hb-text">
                        <h3 class="white-color">5-10x Your Advertising Dollars</h3>
                        <!-- <h5 class="white-color">Market(r)</h5> -->
                        <p class="white-color-light">Market(r) is an app that learns how much you should spend and where to spend it, and gives you 1-click implementation for your online advertising.</p>
                        <div class="hb-form">
                            <form>
                                <div class="input-group">
                                    <a style="border: 3px solid transparent;" class="m-btn m-btn-md m-btn-theme2nd m-btn-round m-btn-shadow" href="/new">Join our early access program</a>
                                    <!-- <br>
                                    <a class="m-btn m-btn-theme m-btn-round" href="/demo">Live demo</a> -->
                                </div>
                                <span class="help-text">Free to start&mdash; no credit card required.</span>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-xl-7">
                    <!-- <img class="max-width-auto" src="static/branding/img/home-3-b1.svg" title="" alt=""> -->
                    <img class="max-width-auto" src="static/branding/img/ad_experience.svg" title="" alt="">
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end home banner -->
    <!--  about us -->
    <section id="about" class="section gray-bg">
        <div class="container">
            <!-- section title -->
            <div class="row justify-content-center m-45px-b sm-m-25px-b">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h2 class="dark-color">What if it was this easy?</h2>
                        <p>(hint) It is.</p>
                    </div>
                </div>
            </div>
            <!-- end section title -->
            <div class="row">
                <!-- features box -->
                <div class="col-md-6 col-lg-3 m-15px-tb">
                    <div class="feature-box hover-top box-shadow transition white-bg border-radius-5">
                        <div class="icon">
                            <i class="icon-desktop"></i>
                            <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                        </div>
                        <div class="feature-content">
                            <h5>TurboTax-style onboarding</h5>
                            <p>10 minutes of your time is all that we need to get you your best (marketing)return possible.</p>
                            <!-- <h5>Be empowered.</h5>
                            <p>Know <strong>exactly</strong> how much to spend and where to spend it.</p> -->
                        </div>
                    </div>
                </div>
                <!-- features box end -->
                <!-- features box -->
                <div class="col-md-6 col-lg-3 m-15px-tb">
                    <div class="feature-box hover-top box-shadow transition white-bg border-radius-5">
                        <div class="icon">
                            <i class="icon-tools"></i>
                            <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                        </div>
                        <div class="feature-content">
                            <h5>Know <strong>exactly</strong> how much to spend and where to spend it.</h5>
                            <p>We take your answers, connect it with more data, shake it up in our machine learning engines, pour some love in it, and spit out pure confidence.</p>
                            <!-- <h5>3 months of free creative</h5>
                            <p>We put our money where our mouth is. Get free ad design for your first 3 months.</p> -->
                        </div>
                    </div>
                </div>
                <!-- features box end -->
                <!-- features box -->
                <div class="col-md-6 col-lg-3 m-15px-tb">
                    <div class="feature-box hover-top box-shadow transition white-bg border-radius-5">
                        <div class="icon">
                            <i class="ti-bar-chart"></i>
                            <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                        </div>
                        <div class="feature-content">
                            <h5>Sleep well at night</h5>
                            <p>Trust that you are getting the <strong>best</strong> possible ROI, and that no opportunity is left unexamined.</p>
                        </div>
                    </div>
                </div>
                <!-- features box end -->
                <!-- features box -->
                <div class="col-md-6 col-lg-3 m-15px-tb">
                    <div class="feature-box hover-top box-shadow transition white-bg border-radius-5">
                        <div class="icon">
                            <i class="ti-user"></i>
                            <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                        </div>
                        <div class="feature-content">
                            <h5>Talk to a human any time.</h5>
                            <p>We're completely self-service...until you don't want us to be. You have a direct line of communication with our team in-app.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    
                </div>
                <div class="col-lg-4" style="border-bottom:3px solid rgba(0,0,0,.2);margin: 2% auto;width: 30%;"></div>
                <div class="col-lg-4">
                    
                </div>
                
                <!-- features box end -->
                <div class="col-md-3 col-sm-12"></div>
                <div class="col-md-6 col-sm-12">
                    <img class="lazy" data-src="/static/branding/img/profile.png">
                </div>
                <div class="col-md-3 col-sm-12"></div>
            </div>
        </div>
    </section>
    <!--  end about us -->
    <!--  features tabs -->
    <section class="section">
        <div class="container">
            <!-- section title -->
            <div class="row justify-content-center sm-m-25px-b m-45px-b">
                <div class="col-lg-8 col-md-10">
                    <div class="section-title ">
                        <h1 class="text-center ">Online advertising for<br>SaaS and E-Commerce companies.</h1>
                        <h4 class="text-center large dark-color">Use artificial intelligence to get more customers with <span style="color:#62cde0;" class="border-effect">Paid Ads</span></h4>
                        <div style="margin-top:20%;" class="row">
                            <div class="col-lg-12">
                                {{ carousel() }}
                            </div>
                            <div class="col-md-6 m-15px-tb">
                                <div class="feature-box-04 d-flex flex-row align-items-start">
                                    <div class="feature-content">
                                        <h5 class="theme-color">Satisfaction guaranteed for your first $1,000 spent</h5>
                                        <p>You read that right. What's the risk?</p>
                                    </div>
                                </div>
                            </div>
                            <!-- col -->
                            <div class="col-md-6 m-15px-tb">
                                <div class="feature-box-04 d-flex flex-row align-items-start">
                                    <div class="feature-content">
                                        <h5 class="theme-color">Serious accountability</h5>
                                        <p>No more consultants telling you every month how you "just need more time." We give you hard numbers for which we are held accountable.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- col -->
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-top:2%;" class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6"><img class="lazy" data-src="/static/branding/img/campaigns.png"></div>
                <div class="col-lg-3"></div>
            </div>
            <!-- row -->
            <div class="text-center btn-bar"><br><br>
                <a class="m-btn m-btn-radius m-btn-theme2nd" href="/new">Join our early access program</a>
            </div>
        </div>
    </section>
    <!--  end features tabs -->
    <!--  feature box -->
    <section id="feature" class="section theme-bg">
        <div class="container">
            <!--section title -->
            <div class="row justify-content-center sm-m-25px-b m-45px-b">
                <div class="col-lg-8 col-md-10">
                    <div class="section-title text-center">
                        <h2 class="white-color">The Market(r) Proven Process</h2>
                    </div>
                </div>
            </div>
            <!--end section title -->
            <div class="row">
                <!-- features box -->
                <div class="col-md-6 m-15px-tb">
                    <div class="feature-box-01 d-flex box-shadow transition hover-top border-radius-5">
                        <div class="icon border-radius-50">
                            <i class="icon-desktop"></i>
                            <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                        </div>
                        <div class="feature-content">
                            <h5>1. Answer Some Questions</h5>
                            <p>10 minutes is all it takes to give us all the information we need to get you the best possible <strong>ROI.</strong></p>
                        </div>
                    </div>
                </div>
                <!-- end features box -->
                <!-- features box -->
                <div class="col-md-6 m-15px-tb">
                    <div class="feature-box-01 d-flex box-shadow transition hover-top border-radius-5">
                        <div class="icon border-radius-50">
                            <i class="icon-tools"></i>
                            <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                        </div>
                        <div class="feature-content">
                            <h5>2. We tell you exactly how much to spend and where to spend it.</h5>
                            <p>Your marketing budget is an investment portfolio. Our job is to get you the best return possible.</p>
                        </div>
                    </div>
                </div>
                <!-- end features box -->
                <!-- features box -->
                <div class="col-md-6 m-15px-tb">
                    <div class="feature-box-01 d-flex box-shadow transition hover-top border-radius-5">
                        <div class="icon border-radius-50">
                            <i class="icon-hotairballoon"></i>
                            <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                        </div>
                        <div class="feature-content">
                            <h5>3. Get Regular Recommendations</h5>
                            <p>Our marketing engine tells you exactly how to grow your company over time.</p>
                        </div>
                    </div>
                </div>
                <!-- end features box -->
                <!-- features box -->
                <div class="col-md-6 m-15px-tb">
                    <div class="feature-box-01 d-flex box-shadow transition hover-top border-radius-5">
                        <div class="icon border-radius-50">
                            <i class="icon-scissors"></i>
                            <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                        </div>
                        <div class="feature-content">
                            <h5>4. Offload Your Online Advertising (if you want)</h5>
                            <p>Let us take this on so that you can focus on <strong>running your business.</strong></p>
                        </div>
                    </div>
                </div>
                <!-- end features box -->
            </div><br>
            <div style="text-align: center;">
                <a class="m-btn m-btn-lg m-btn-theme2nd m-btn-shadow" style="border-radius:5px;" href="/new">Join our early access program</a>
            </div>
        </div>
    </section>
    <!--  end feature box -->
    <!--  features row -->
 <!--    <section class="section effect-section"> -->
        <!-- effect -->
      <!--   <div class="effect effect-middle gray-bg"></div> -->
        <!-- end effect -->
  <!--       <div class="container"> -->
            <!-- features box -->
  <!--           <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="side-feature sm-p-0px-r md-p-30px-r p-70px-r md-m-30px-b">
                        <div class="sf-icon gray">
                            <i class="icon-tools"></i>
                            <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                        </div>
                        <h2 class="dark-color">Marketing isn't about knowing things.</h2>
                        <h5 class="dark-color">It's about knowing how to figure things out.</h5>
                        <p>What marketing is:</p>
                        <ul>
                            <li>A science lab.</li>
                            <li>The conscience of the organization.</li>
                            <li>One of the few investments that can generate 5-50x returns.</li>
                        </ul>
                        <p>What marketing isn't:</p>
                        <ul>
                            <li>Just advertising.</li>
                            <li>Ad hoc grenade launchers.</li>
                            <li>A line-item expense. Great marketing can transform your business.</li>
                        </ul>
                    </div>
                        <div class="btn-bar">
                            <a class="popup-youtube m-btn m-btn-theme m-btn-radius" href="#">Lear More</a>
                        </div>
                </div>
                <div class="col-lg-6">
 -->
                    <!-- <img src="static/branding/img/550x500.jpg" title="" alt=""> -->
   <!--              </div>
            </div> -->
            <!-- end features box -->
<!--             <div class="m-80px-tb">
                <hr>
            </div> -->
            <!--features box -->
  <!--           <div class="row align-items-center">
                <div class="col-lg-6 order-lg-first order-2"> -->
                    <!-- <img src="static/branding/img/550x500.jpg" title="" alt=""> -->
 <!--                </div>
                <div class="col-lg-6">
                    <div class="side-feature sm-p-0px-l md-p-30px-l p-70px-l text-lg-right md-m-30px-b">
                        <div class="sf-icon gray">
                            <i class="icon-hotairballoon"></i>
                            <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                        </div>
                        <h2 class="dark-color">There are too many hammer guys, not enough builders.</h2>
                        <p>When you build a house, you don't go hire a "hammer guy." You hire the best builder, and you assume that they are able to use the necessary tools to build your dream home.</p>
                        <p>Today, it's easier than ever to buy a marketing hammer. Anyone can run Facebook and Google ads. Only a true marketer can grow your business.</p>
                        <p>Ultimately, we're an investment company. Clients give us dollars, and they expect a beat-the-market return on that investment. This is marketing. We are Market(r)s.</p>
                        <div class="btn-bar">
                            <a class="popup-youtube m-btn m-btn-theme m-btn-radius" href="#">Lear More</a>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- end features box -->
  <!--       </div>
    </section> -->
    <!--  end features row -->
    <!--  solutions -->
    <!--  our team -->
    <!--<section id="team" class="section gray-bg">
        <div class="container">
            <div class="row justify-content-center sm-m-25px-b m-45px-b">
                <div class="col-lg-8 col-md-10">
                    <div class="section-title text-center">
                        <h2>Leadership Team</h2>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 col-lg-4 m-15px-tb">
                    <div class="our-team">
                        <div class="team-img">
                            <img class="lazy" data-src="static/branding/img/tyler.jpeg" title="" alt="">
                        </div>
                        <div class="team-info">
                            <h6>Tyler Cobb</h6>
                            <label>Product Lead</label>
                            <div class="social-icon si-theme2nd si-round nav justify-content-center">
                                <a href="https://www.linkedin.com/in/tyler-cobb/" target="_blank"><i class="fab ti-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 m-15px-tb">
                    <div class="our-team">
                        <div class="team-img">
                            <img class="lazy" data-src="static/branding/img/tristan.jpg" title="" alt="">
                        </div>
                        <div class="team-info">
                            <h6>Tristan Tarpley</h6>
                            <label>Founder</label>
                            <div class="social-icon si-theme2nd si-round nav justify-content-center">
                                <a href="http://tristantarpley.com" target="_blank"><i class="fab ti-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-4 m-15px-tb">
                    <div class="our-team">
                        <div class="team-img">
                            <img class="lazy" data-src="static/branding/img/mark.jpeg" title="" alt="">
                        </div>
                        <div class="team-info">
                            <h6>Mark Henderson Leary</h6>
                            <label>Lead Advisor</label>
                            <div class="social-icon si-theme2nd si-round nav justify-content-center">
                                <a href="https://www.leary.cc" target="_blank"><i class="fab ti-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    
    <!--  why choose us? -->
<!--     <section class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="side-feature p-70px-r md-p-0px-r md-m-30px-b">
                        <h2 class="dark-color">Get tips &amp; tricks on how to skyrocket your sales.</h2>
                        <p class="large m-40px-b">Mombo is a HTML5 template based on Sass and Bootstrap 4 with modern and creative.</p>
                        <div class="feature-box-03 d-flex flex-row align-items-start m-30px-b">
                            <div class="icon">
                                <i class="icon-desktop"></i>
                                <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                            </div>
                            <div class="feature-content">
                                <h5>Web Development</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                            </div>
                        </div>
                        <div class="feature-box-03 d-flex flex-row align-items-start">
                            <div class="icon">
                                <i class="icon-tools"></i>
                                <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                            </div>
                            <div class="feature-content">
                                <h5>Logo & Identity</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="col-lg-6 text-center">
                    <img src="static/branding/img/550x500.jpg" title="" alt="">
                </div>
            </div>
        </div>
    </section> -->
    
    <!-- testimonials -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col m-45px-b">
                    <h2 class="text-center dark-color">The results speak for themselves.</h2>

                    <div class="owl-carousel" data-items="2" data-nav-dots="true" data-md-items="2" data-sm-items="2" data-xs-items="2" data-xx-items="1" data-space="0">
                        <!-- testimonials -->
                        <div class="testimonial-col">
                            <div class="tc-img d-flex flex-column align-items-center text-center justify-content-center" style="color: rgba(0,0,0,.2);">
                                <div class="tc-info">
                                    <h5>Digital Signage Platform</h5>
                                    <label class="font-alt">10x growth in 5 months</label>
                                </div>
                            </div>
                            <div class="tc-text">
                                <i class="fas fa-quote-left"></i>
                                <ul style="text-align:left;">
                                    <li>Cut cost per lead in half</li>
                                    <li>Grew revenue by 10x</li>
                                </ul>
                            </div>
                        </div>
                        <!-- end testimonials -->
                        <!-- testimonials -->
                        <div class="testimonial-col">
                            <div class="tc-img d-flex flex-column align-items-center text-center justify-content-center" style="color: rgba(0,0,0,.2);">
                                <div class="tc-info">
                                    <h5>Real Estate Media Provider</h5>
                                    <label class="font-alt">0 -> 100 customers in 6 months</label>
                                </div>
                            </div>
                            <div class="tc-text">
                                <i class="fas fa-quote-left"></i>
                                <ul style="text-align:left;">
                                    <li>Grew real estate media subscription service to over 100 paying customers after launch on a limited budget</li>
                                    <li>Decreased cost per lead for ancillary services by 24%</li>
                                </ul>
                            </div>
                        </div>
                        <!-- end testimonials -->
                        <!-- testimonials -->
                        <div class="testimonial-col">
                            <div class="tc-img d-flex flex-column align-items-center text-center justify-content-center" style="color: rgba(0,0,0,.2);">
                                <div class="tc-info">
                                    <h5>Art Education</h5>
                                    <label class="font-alt">150% increase in leads over 6 months</label>
                                </div>
                            </div>
                            <div class="tc-text">
                                <i class="fas fa-quote-left"></i>
                                <ul style="text-align:left;">
                                    <li>Cost per lead reduced by 45%</li>
                                    <li>Customer count increased by 2x</li>
                                </ul>
                            </div>
                        </div>
                        <!-- end testimonials -->
                    </div>
                </div> <!-- col -->
            </div> <!-- row -->
        </div>
    </section>
    <!-- end testimonials -->
    <!--  pricing -->
    {{ pricing(logged_in) }}
  {#<section class="section">
        <div class="container">
            <div class="row justify-content-center sm-m-25px-b m-45px-b">
                <div class="col-lg-8 col-md-10">
                    <div class="section-title text-center">
                        <h2>Get a free audit</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div id="audit_section" class="col-lg-6 col-sm-12">
                    
                    <p>Enter your company URL. For example, trymarketr.com.</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">https://</span>
                        </div>
                        <input id="audit_url" placeholder="company.com" style="border-color: #62cde0;" class="form-control">
                    </div>         
                    <br>
                    <p>Email address where we can send the audit</p>           
                    <div class="input-group">
                        <input id="audit_email" placeholder="email@company.com" style="border-color: #62cde0;" class="form-control">
                    </div>
                    <br>
                    <button id="audit_submit" style="border: 3px solid transparent;" class="m-btn m-btn-md m-btn-theme2nd m-btn-round m-btn-shadow">I want my free audit</button>
    
                </div>
                    
                <div class="col-lg-6 col-sm-12">
                    <img class="lazy" id="audit_gif" style="border:1px solid rgba(0,0,0,.1);border-radius:5px;box-shadow:0 6px 30px rgba(0,0,0,.25);"data-src="/static/branding/img/audit.gif">
                </div>  
                </div>
            </div> <!-- row -->
        </div>
    </section>#}

    <!-- end pricing -->
    <!--  blog -->
<!--     <section id="blog" class="section">
        <div class="container"> -->
            <!-- section title -->
<!--             <div class="row justify-content-center sm-m-25px-b m-45px-b">
                <div class="col-lg-8 col-md-10">
                    <div class="section-title text-center">
                        <h2>Daily Updates</h2>
                        <p>Mombo is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                    </div>
                </div>
            </div> -->
            <!-- end section title -->
<!--             <div class="row"> -->
                <!-- blog -->
<!--                 <div class="col-md-6 col-lg-3 m-15px-tb">
                    <div class="hover-top transition blog-grid-overlay" style="background-image: url(static/branding/img/1200x800.jpg); ">
                        <div class="blog-gird-info">
                            <a class="overlay-link" href="#"></a>
                            <div class="b-meta">
                                <span class="date">02 Mar 2019</span>
                                <span class="meta">Design</span>
                            </div>
                            <h5>Make your Marketing website</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div> -->
                <!-- end blog -->
                <!-- blog -->
<!--                 <div class="col-md-6 col-lg-3 m-15px-tb">
                    <div class="hover-top transition blog-grid-overlay" style="background-image: url(static/branding/img/1200x800.jpg); ">
                        <div class="blog-gird-info">
                            <a class="overlay-link" href="#"></a>
                            <div class="b-meta">
                                <span class="date">02 Mar 2019</span>
                                <span class="meta">Design</span>
                            </div>
                            <h5>Make your Marketing website</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div> -->
                <!-- end blog -->
                <!-- blog -->
<!--                 <div class="col-md-6 col-lg-3 m-15px-tb">
                    <div class="hover-top transition blog-grid-overlay" style="background-image: url(static/branding/img/1200x800.jpg); ">
                        <div class="blog-gird-info">
                            <a class="overlay-link" href="#"></a>
                            <div class="b-meta">
                                <span class="date">02 Mar 2019</span>
                                <span class="meta">Design</span>
                            </div>
                            <h5>Make your Marketing website</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div> -->
                <!-- end blog -->
                <!-- blog -->
<!--                 <div class="col-md-6 col-lg-3 m-15px-tb">
                    <div class="hover-top transition blog-grid-overlay" style="background-image: url(static/branding/img/1200x800.jpg); ">
                        <div class="blog-gird-info">
                            <a class="overlay-link" href="#"></a>
                            <div class="b-meta">
                                <span class="date">02 Mar 2019</span>
                                <span class="meta">Design</span>
                            </div>
                            <h5>Make your Marketing website</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div> -->
                <!-- end blog -->
<!--             </div>
        </div>
    </section>  -->
    <!-- end blog -->
    <!--  contact info -->
    <section id="contact" class="section bg-cover" style="background-size:contain; background-image: url(static/branding/img/panda.jpg);">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <!-- section title -->
                <div class="col-lg-5">
                    <div class="section-title">
                        <h2 class="white-color">Let's do this.</h2>
                    </div>
                </div>
                <!-- end section title -->
                <!-- contact info -->
                <div class="col-10 col-lg-4 col-xl-3">
                    <div class="contact-info dark theme-bg m-25px-tb">
                        <h5>Our Address Info</h5>
                        <p class="address">708 Main St. Houston, TX</p>
                        <h5>Our Contact Info</h5>
                        <p class="email"><a href="mailto:info@marketr.life">info@marketr.life</a></p>
                        <p class="call"><a href="tel:‭713-364-3830">‭(713) 364-3830</a></p>
                    </div>
                </div>
                <!-- end contact info -->
            </div>
        </div>
    </section>
    <!--  end contact info -->
</main>
<!-- main end -->

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var lazyloadImages;    
        
        if ("IntersectionObserver" in window) {
            lazyloadImages = document.querySelectorAll(".lazy");
            var imageObserver = new IntersectionObserver(function(entries, observer) {
            entries.forEach(function(entry) {
                if (entry.isIntersecting) {
                var image = entry.target;
                image.src = image.dataset.src;
                image.classList.remove("lazy");
                imageObserver.unobserve(image);
                }
            });
            });
        
            lazyloadImages.forEach(function(image) {
            imageObserver.observe(image);
            });
        } else {  
            var lazyloadThrottleTimeout;
            lazyloadImages = document.querySelectorAll(".lazy");
            
            function lazyload () {
            if(lazyloadThrottleTimeout) {
                clearTimeout(lazyloadThrottleTimeout);
            }    
        
            lazyloadThrottleTimeout = setTimeout(function() {
                var scrollTop = window.pageYOffset;
                lazyloadImages.forEach(function(img) {
                    if(img.offsetTop < (window.innerHeight + scrollTop)) {
                    img.src = img.dataset.src;
                    img.classList.remove('lazy');
                    }
                });
                if(lazyloadImages.length == 0) { 
                document.removeEventListener("scroll", lazyload);
                window.removeEventListener("resize", lazyload);
                window.removeEventListener("orientationChange", lazyload);
                }
            }, 20);
            }
        
            document.addEventListener("scroll", lazyload);
            window.addEventListener("resize", lazyload);
            window.addEventListener("orientationChange", lazyload);
        }
        })

</script>

{% endblock %}