{% from "macros/dashboard_macros.html" import todo, messages %}


{% macro render_page(page, csv_form=None, ab_form=ab_form, insight_form=None, form=None) %}
	{% if page.page == 'personnel' %}
		{{ personnel(page) }}
	{% elif page.page == 'customers' %}
		{{ customers(page) }}
	{% elif page.page == 'acct_mgmt' %}
		{{ customer_level(page, csv_form=csv_form, ab_form=ab_form, insight_form=insight_form) }}
	{% elif page.page == 'tags' %}
		{% with page = page, form = form %}
			{% include "admin_view/tags.html" %}
		{% endwith %}
	{% endif %}

{% endmacro %}



<!-- blocks -->
{% macro render_field(field, currency=False, website=False) %}

<div class="form-group">
	{% if currency %}
	<div class="input-group">
	  <div class="input-group-prepend">
	    <span class="input-group-text">$</span>
	  </div>
	{% endif %}
	{% if website %}
	<div class="input-group col-12">
      <div class="input-group-prepend">
        <span class="input-group-text">https://</span>
      </div>
	{% endif %}

		{{ field(**kwargs)|safe }}

	{% if website %}
	</div>
	{% endif %}

	{% if currency %}
	  <div class="input-group-append">
	    <span class="input-group-text">.00</span>
	  </div>
	</div>
	{% endif %}
		{% if field.errors %}
			<ul class="errors text-danger">
			{% for error in field.errors %}
				<li>{{ error }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		</dd>
</div>

{% endmacro %}

{% macro admin_sidebar(stage, owner, admin, manager) %}

<div class="sidebar" data-color="orange">
	<div class="logo">
	  <a href="https://marketr.life" class="simple-text logo-normal">
	    <img src="/static/assets/img/marketrblack.png">
	  </a>
	</div>
	<div class="sidebar-wrapper">
	  <ul class="nav">
		    <li class="{{ 0 | check_active(stage) }}">
		      <a href="/admin">
		        <i class="now-ui-icons design_app"></i>
		        <p>Home</p>
		      </a>
		    </li>
	  	{% if owner %}
			<li class="{{ 0 | check_active(stage) }}">
				<a href="/personnel">
				<i class="now-ui-icons design_app"></i>
				<p>Manage personnel</p>
				</a>
			</li>
			<li class="{{ 0 | check_active(stage) }}">
				<a href="/tags">
				<i class="now-ui-icons design_app"></i>
				<p>tags</p>
				</a>
			</li>
		{% endif %}
	  	{% if admin %}
		    <li class="{{ 0 | check_active(stage) }}">
		      <a href="/personnel">
		        <i class="now-ui-icons design_app"></i>
		        <p>Rocks</p>
		      </a>
		    </li>
		    <li class="{{ 0 | check_active(stage) }}">
		      <a href="/customers">
		        <i class="now-ui-icons design_app"></i>
		        <p>Customers</p>
		      </a>
		    </li>
		{% endif %}
	  </ul>
	</div>
</div>

{% endmacro %}






{# personnel page #}

{% macro personnel(page) %}

<h6>Personnel</h6>

 <nav aria-label="breadcrumb" role="navigation">
 	<ol class="breadcrumb">
 		<li class="breadcrumb-item">
    		<button type="button" class="btn btn-neutral" data-toggle="modal" data-target="#add_user">
	          Add user
	        </button>
	        {{ form_modal(name='add_user', id='0', header='add user', copy=create_form('add_user', 'add_user')) }}
	    </li>
 	</ol>
 </nav>

<div class="row">
	{% for data in page.data %}
		{% set first_name = data[0] %}
		{% set last_name = data[1] %}
		{% set email = data[2] %}
		{% set permissions = data[3] %}
		{% set id = data[4] %}
		{% set position = data[5] %}
		{% set phone = data[6] %}
		
		<div class="personnel card col-lg-3">

			<div class="modal fade" id="change_password_{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h6>Update {{ first_name }} {{ last_name }}</h6>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form action="/admin/change_password/{{id}}" method="POST">

								<div class="form-group">
									<label>Current password</label>
									<input type="password" name="current_password" class="form-control" placeholder="current password">
								</div>
								<div class="form-group">
									<label>New Password</label>
									<input type="password" name="new_password" class="form-control" placeholder="new password">
								</div>

								<input type="submit" class="btn btn-primary">

							</form>
						</div>
					</div>
				</div>
			</div>



	        <div class="modal fade" id="remove_user_{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <p>Are you sure you want to remove this user?</p>
			      </div>
			      <div class="modal-footer">
					<form action="/admin/remove?a_id={{id}}" method="POST">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">No, cancel</button>
						<button type="submit" class="btn btn-primary" id="remove_user">Yes, I'm sure</button>
					</form>
			      </div>
			    </div>
			  </div>
			</div>

	        <div class="modal fade" id="edit_info_{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h6>Update {{ first_name }} {{ last_name }}</h6>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			      	<form action="/admin/update/{{id}}" method="POST">

						<div class="form-group">
							<label>First name</label>
							<input type="text" name="first_name" class="form-control"  value="{{ first_name }}">
						</div>
						<div class="form-group">
							<label>Last name</label>
							<input type="text" name="last_name" class="form-control"  value="{{ last_name }}">
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="text" name="email" class="form-control"  value="{{ email }}">
						</div>
						<div class="form-group">
							<label>Phone</label>
							<input type="number" name="phone" class="form-control"  value="{{ phone }}">
						</div>
						<div class="form-group">
							<label>Position</label>
							<input type="text" name="position" class="form-control" value="{{ position }}">
						</div>
						{% if page.permissions != 'owner' %}
						<div class="form-group">
						{% else %}
						<div class="form-group hidden">
						{% endif %}
							<label>Permissions</label>
							<select name="permissions">
								<option>owner</option>
								<option>admin</option>
								<option>manager</option>
							</select>
						</div>

						<input type="submit" class="btn btn-primary">

			      	</form>
			      </div>
			    </div>
			  </div>
			</div>

            <div class="dropdown" style="text-align: right;">
              <button type="button" class="btn btn-round btn-outline dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                <i class="now-ui-icons loader_gear"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
				<button type="button" class="btn btn-neutral" data-toggle="modal" data-target="#change_password_{{id}}">
		          change password
		        </button>

				<button type="button" class="btn btn-neutral" data-toggle="modal" data-target="#edit_info_{{id}}">
		          edit info
		        </button>

		        

				{% if page.permissions != 'owner' %}

					<button type="button" class="btn btn-neutral text-danger" data-toggle="modal" data-target="#remove_user_{{id}}">
			          <strong>remove user</strong>
			        </button>

				{% endif %}
              </div>
            </div>

			<h5>{{ first_name }} {{ last_name }}</h5>


			<div class="separator"></div>
			<p><strong>{{ position }}</strong></p>
			<p>{{ email }}</p>
			<p>{{ permissions }}</p>
			<p>{{ phone }}</p>


			<div class="personnel_actions_container">


			</div>
 
		</div>

	{% endfor %}
</div>

{% endmacro %}






{# customers page #}


{% macro customers(page) %}

	<table id="display" style="width:100%;" class="table table-striped">
      <thead>
        <tr>
          <th style="cursor:pointer;"></th>
          <th style="cursor:pointer;">Company Name</th>
          <th style="cursor:pointer;">Primary Contact</th>
          <th style="cursor:pointer;">Email</th>
          <th style="cursor:pointer;">Account Mgr.</th>
        </tr>
	  </thead>
	  
      <tbody>
		{% for row in page.data %}
				{% set data = page.data %}
			<tr>
				{% set id = data[row]['customer_id'] %}
				{% set primary_contact = data[row]['name'] %}
				{% set email = data[row]['email'] %}
				{% set company_name = data[row]['company_name'] %}
				{% set account_rep = data[row]['mgr'] %}
				{% set admin_id = data[row]['admin_id'] %}
				

				<td style="color: white;text-transform: uppercase;font-weight:bold;">
					{% if page.permission_level == 'owner' %}
						<button type="button" class="btn btn-icon btn-round btn-primary" id="account_reps" data-toggle="modal" data-target="#customer_info_{{id}}">
							<i class="now-ui-icons users_single-02"></i>
						</button>

						<div class="modal fade" id="customer_info_{{id}}" tabindex="-1" role="dialog" aria-labelledby="customer_info_{{id}}" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body" style="color:var(--body-copy);">
										<h6>{{ company_name }} reps</h6>
										<div class="separator"></div>
										<ul id="current_reps">
										</ul>
										<form action="/customers/{{id}}/add_rep" method="POST">
											<div class="row">
												
												<div class="col-lg-2"></div>
												<div class="col-lg-8 col-md-8 col-sm-12">
													<p class="text-danger">FRAGILE: only submit if you are making changes.</p>
													<p class="text-danger">If you do submit, make sure to select acct. manager.</p>
													<h6 class="center_it">Select Acct. Mgr.</h6>
													{% for i in range(page.admins | length) %}
														<div class="form-group">
															<input  name="account_mgr"
																	type="radio"
																	value="{{page.admins[i]['id']}}">
															<label for="account_mgr">{{page.admins[i]['name']}}</label>
														</div>
													{% endfor %}

													<div class="separator"></div>

													<h6 class="center_it">Who else do you want on the account?</h6>

													{% for i in range(page.admins | length) %}
														<div class="form-group">
															<input  value="{{page.admins[i]['id']}}"
																	name="add_admin[{{loop.index-1}}]"
																	type="checkbox">

															<label for="test">{{page.admins[i]['name']}}</label>
														</div>
													{% endfor %}
												</div>
												<div class="col-lg-2"></div>
											</div>
											<div style="text-align:center;" class="container">
												<input type="submit" value="add" class="btn btn-primary">
											</div>

										</form>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				</td>
				<td><a href="/customers/{{id}}">{{ company_name }}</a></td>
				<td>{{ primary_contact }}</td>
				<td>{{ email }}</td>
				<td>{{ account_rep if account_rep | not_none else "" }}</td>
			</tr>
		{% endfor %}
        
      </tbody>
    </table>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" defer></script>
    <script>

	$(document).ready( function () {
	    $('#display').DataTable({
	      "order": [[ 0, "asc" ]]
	    });

	    $(".dataTables_filter input").addClass("form-control")
	    $(".dataTables_filter input").unwrap()
	    $(".dataTables_filter input").parent().addClass("searcher")
	    $(".dataTables_filter input").attr("placeholder", "Type company name...");
	    $('.searcher').contents().eq(0).remove()
	    $(".searcher").addClass("input-group")
	    $(".searcher").addClass("no-border")
	    $(".searcher").append("<div class='input-group-append'><div class='input-group-text'><i class='now-ui-icons ui-1_zoom-bold'></i></div></div>")

	} );
	</script>

{% endmacro %}




{% macro form_modal(copy=None, header=None, action=None, name=None, id='0') %}

<div class="modal fade" id="{{ name }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">{{ header | upper }}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ copy }}
      </div>
    </div>
  </div>
</div>

{% endmacro %}



{% macro create_form(form, name, id='0') %}

<form action="/admin/{{name}}/{{id}}" method="POST">

		{% if form == 'change_password' %}	

			<div class="form-group">
				<label>Current password</label>
				<input type="password" name="current_password" class="form-control" placeholder="current password">
			</div>
			<div class="form-group">
				<label>New Password</label>
				<input type="password" name="new_password" class="form-control" placeholder="new password">
			</div>

		{% elif form == 'add_user' %}

			<div class="form-group">
				<label>First name</label>
				<input type="text" name="first_name" class="form-control" placeholder="current password">
			</div>
			<div class="form-group">
				<label>Last name</label>
				<input type="text" name="last_name" class="form-control" placeholder="new password">
			</div>
			<div class="form-group">
				<label>Email</label>
				<input type="text" name="email" class="form-control" placeholder="new password">
			</div>
			<div class="form-group">
				<label>Phone</label>
				<input type="number" name="phone" id="phone{{id}}" class="form-control" placeholder="5555555555">
			</div>

			<div class="form-group">
				<label>Position</label>
				<input type="text" name="position" class="form-control" placeholder="***">
			</div>
			<div class="form-group">
				<label>Permissions</label>
				<select name="permissions">
					<option>owner</option>
					<option>admin</option>
					<option>manager</option>
				</select>
			</div>

		{% endif %}

		<input type="submit" class="btn btn-primary">

</form>

{% endmacro %}




{% macro admin_breadcrumb(page, view=None, profile_view=False) %}


	{% macro formulate_row(link, title=None, view=view, customer_id=None) %}

		{% if view == title %}
			{% set classList = "active" %}
		{% endif %}

	    <li class="breadcrumb-item {{ classList }}" aria-current="page">
	    	<a href="{{ url_for(link, customer_id=customer_id) }}">
				{{ title }}
	    	</a>
	    </li>

	{% endmacro %}


	<nav aria-label="breadcrumb" role="navigation">
		<ol class="breadcrumb">
			{% set customer_id = page.user if not profile_view else page.customer_id %}
			{{ formulate_row("acct_mgmt", title="dashboard", view=view, customer_id=customer_id) }}
			{{ formulate_row("customer_profile_view_admin", title="customer profile", view=view, customer_id=customer_id) }}
		</ol>
	</nav>


{% endmacro %}

{% macro csv(page, form=None) %}
<div class="card">
	<div class="card-header">
		<h5 class="card-category">Upload CSV</h5>
	</div>
	<div class="card-body">
		<form method=POST enctype="multipart/form-data" action="{{url_for('acct_mgmt', customer_id=page.user)}}">
			{{ form.csrf_token }}
			<h5>Upload Google Ads data for previous Sunday to Sunday</h5>
			<div class="form-group">
				<label>Start date: </label>
				<br>
				{{ render_field(form.start_date, class="form-control") }}
			</div>
			<div class="form-group">
				<label>End date: </label>
				<br>
				{{ render_field(form.end_date, class="form-control") }}
			</div>
				

			<div style="text-align:left;" class="btn btn-secondary">
				<span>Upload csv:</span>
				{{ form.csv(class="form-control-file")}}
			</div>
			<input value="submit csv" name="submit_button" class="btn btn-primary" type="submit">
		</form>
	</div>
	<div class="card-footer">

	</div>
</div>
{% endmacro %}
{% macro insights(page, form=None) %}

	<div class="card">
		<div class="card-header">
			<h5 class="card-category">Send your insights to {{ page.customer_name }}</h5>
		</div>
		<div class="card-body">
			<form method=POST enctype="multipart/form-data" action="{{url_for('acct_mgmt', customer_id=page.user)}}">
				{{ form.csrf_token }}
				{{ render_field(form.body, class="form-control") }}
				<input class="btn btn-primary" type="submit" name="submit_button" value="submit insight">
			</form>
		</div>
		<div class="card-footer past_insights">
			{% set base = page.data['insights']['insights'] %}
			{% for insight in base %}

				{% if loop.index == 1 %}
					<h6>The last insight you sent to {{page.customer_name}} was on {{insight['time']}}</h6>
					<br><br>
					<label>Past insights:</label>
					<br><br>
				{% endif %}

				<div class="card">
					<p><strong>{{ insight['time'] }}</strong></p>
					<p>{{ insight['body'] }}</p>
				</div>
		
			{% endfor %}
		</div>
	</div>

{% endmacro %}
{% macro ab_testing(page, form=None) %}
<div class="card">
	<div class="card-header">
		<h5 class="card-category">Upload A/B Test Data</h5>
	</div>
	<div class="card-body">
		<form method=POST enctype="multipart/form-data" action="{{url_for('acct_mgmt', customer_id=page.user)}}">
			{{ form.csrf_token }}
			<h5>Upload AB Test data for previous Sunday to Sunday</h5>
			<div class="form-group">
				<label>Start date: </label>
				<br>
				{{ render_field(form.start_date, class="form-control") }}
			</div>
			<div class="form-group">
				<label>End date: </label>
				<br>
				{{ render_field(form.end_date, class="form-control") }}
			</div>
				

			<div style="text-align:left;" class="btn btn-secondary">
				<span>Upload csv:</span>
				{{ form.csv(class="form-control-file")}}
			</div>
			<input value="submit ab test" name="submit_button" class="btn btn-primary" type="submit">
		</form>
	</div>
	<div class="card-footer">

	</div>
</div>
{% endmacro %}

{# customer level view #}
{% macro customer_level(page, csv_form=None, ab_form=None, insight_form=None) %}


	{% macro shell(header=None, body=None, footer=None) %}
	<div class="card">
		<div class="card-header">
			{{ header if header }}
		</div>
		<div class="card-body">
			{{ body if body }}
		</div>
		<div class="card-footer">
			{{ footer if footer }}
		</div>
	</div>
	{% endmacro %}


	{# dashboard layout#}
	{% macro dashboard(page, csv_form=None, ab_form=ab_form, insight_form=None) %}


		{{ admin_breadcrumb(page, view="dashboard") }}
		<h4>{{ page.customer_name }}</h4>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-12">	
				<div class="card">
					{{ todo(page) }}
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-12">
				{{ messages(page.data['messages']['messages'], page=page) }}
			</div>
		</div>

		<div class="row">
			<div class="col">
				{{ csv(page, form=csv_form) }}	
			</div>
			<div class="col">	
				{{ insights(page, form=insight_form) }}	
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ ab_testing(page, form=ab_form) }}	
			</div>
		</div>
	{% endmacro %}




	{% macro intake(page) %}
		<h1>This is the intake view.</h1>
	{% endmacro %}







	{# page controller #}
	{% if page.view == "dashboard" %}
		{{ dashboard(page, csv_form=csv_form, ab_form=ab_form, insight_form=insight_form)}}
	{% elif page.view == "intake" %}
		{{ intake(page) }}
	{% endif %}
{% endmacro %}

