{% from "macros/dashboard_macros.html" import todo, messages %}
<!-- blocks -->
{% macro render_field(field, currency=False, website=False) %}

<div class="form-group">
	{% if currency %}
	<div class="input-group">
	  <div class="input-group-prepend">
	    <span class="input-group-text">$</span>
	  </div>
	{% endif %}
	{% if website %}
	<div class="input-group col-12">
      <div class="input-group-prepend">
        <span class="input-group-text">https://</span>
      </div>
	{% endif %}

		{{ field(**kwargs)|safe }}

	{% if website %}
	</div>
	{% endif %}

	{% if currency %}
	  <div class="input-group-append">
	    <span class="input-group-text">.00</span>
	  </div>
	</div>
	{% endif %}
		{% if field.errors %}
			<ul class="errors text-danger">
			{% for error in field.errors %}
				<li>{{ error }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		</dd>
</div>

{% endmacro %}

{% macro admin_sidebar(stage, owner, admin, manager) %}

<div class="sidebar" data-color="orange">
	<div class="logo">
	  <a href="https://marketr.life" class="simple-text logo-normal">
	    <img src="/static/assets/img/marketrblack.png">
	  </a>
	</div>
	<div class="sidebar-wrapper">
	  <ul class="nav">
	  	{% if owner %}
			<li class="{{ 0 | check_active(stage) }}">
				<a href="/personnel">
				<i class="now-ui-icons users_circle-08"></i>
				<p>Manage personnel</p>
				</a>
			</li>
			<li class="{{ 0 | check_active(stage) }}">
				<a href="/tags">
				<i class="now-ui-icons shopping_tag-content"></i>
				<p>tags</p>
				</a>
			</li>
			
		    <li class="{{ 0 | check_active(stage) }}">
				<a href="/personnel">
					<i class="now-ui-icons design_app"></i>
					<p>Rocks</p>
				</a>
			</li>
		{% endif %}
	  	{% if admin %}
		    <li class="{{ 0 | check_active(stage) }}">
		      <a href="/customers">
		        <i class="now-ui-icons users_single-02"></i>
		        <p>Customers</p>
		      </a>
		    </li>
		{% endif %}
		{% if manager %}
			<li class="{{ 0 | check_active(stage) }}">
				<a href="/admin/keyword_formatter">
				<i class="now-ui-icons design_scissors"></i>
				<p>Keyword formatter</p>
				</a>
			</li>
		{% endif %}
			<li>
				<a href="{{ url_for('logout') }}">
					<i class="now-ui-icons objects_key-25"></i>
					<p>Logout</p>
				</a>
			</li>
	  	</ul>
	</div>
</div>

{% endmacro %}






{% macro form_modal(copy=None, header=None, action=None, name=None, id='0') %}

<div class="modal fade" id="{{ name }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">{{ header | upper }}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ copy }}
      </div>
    </div>
  </div>
</div>

{% endmacro %}



{% macro create_form(form, name, id='0') %}

<form action="/admin/{{name}}/{{id}}" method="POST">

		{% if form == 'change_password' %}	

			<div class="form-group">
				<label>New Password</label>
				<input type="password" name="new_password" class="form-control" placeholder="new password">
			</div>
			<div class="form-group">
				<label>Confirm Password</label>
				<input type="password" name="confirm_password" class="form-control" placeholder="confirm password">
			</div>

		{% elif form == 'add_user' %}

			<div class="form-group">
				<label>First name</label>
				<input type="text" name="first_name" class="form-control" placeholder="current password">
			</div>
			<div class="form-group">
				<label>Last name</label>
				<input type="text" name="last_name" class="form-control" placeholder="new password">
			</div>
			<div class="form-group">
				<label>Email</label>
				<input type="text" name="email" class="form-control" placeholder="new password">
			</div>
			<div class="form-group">
				<label>Phone</label>
				<input type="number" name="phone" id="phone{{id}}" class="form-control" placeholder="5555555555">
			</div>

			<div class="form-group">
				<label>Position</label>
				<input type="text" name="position" class="form-control" placeholder="***">
			</div>
			<div class="form-group">
				<label>Permissions</label>
				<select name="permissions">
					<option>owner</option>
					<option>admin</option>
					<option>manager</option>
				</select>
			</div>

		{% endif %}

		<input type="submit" class="btn btn-primary">

</form>

{% endmacro %}




{% macro admin_breadcrumb(page, view=None, profile_view=False) %}


	{% macro formulate_row(link, title=None, view=view, customer_id=None) %}

		{% if view == title or (view == 'audit_master' and title == 'ad audit') %}
			{% set classList = "active" %}
		{% endif %}

	    <li class="breadcrumb-item {{ classList }}" aria-current="page">
	    	<a href="{{ url_for(link, customer_id=customer_id) }}">
				{{ title }}
	    	</a>
	    </li>

	{% endmacro %}

	<nav aria-label="breadcrumb" role="navigation">
		<ol class="breadcrumb">
			{% set customer_id = page.user if not profile_view else page.customer_id %}
			{{ formulate_row("acct_mgmt", title="dashboard", view=view, customer_id=customer_id) }}
			{{ formulate_row("customer_profile_view_admin", title="customer profile", view=view, customer_id=customer_id) }}
			{{ formulate_row("admin_campaigns", title="campaigns", view=view, customer_id=customer_id) }}
			{{ formulate_row("audit_master", title='ad audit', view=view, customer_id=customer_id) }}
		</ol>
	</nav>


{% endmacro %}

{% macro csv(page, form=None) %}
<div class="card">
	<div class="card-header">
		<h5 class="card-category">Upload CSV</h5>
	</div>
	<div class="card-body">
		<form method=POST enctype="multipart/form-data" action="{{url_for('acct_mgmt', customer_id=page.user)}}">
			{{ form.csrf_token }}
			<h5>Upload Google Ads data for previous Sunday to Sunday</h5>
			<div class="form-group">
				<label>Start date: </label>
				<br>
				{{ render_field(form.start_date, class="form-control") }}
			</div>
			<div class="form-group">
				<label>End date: </label>
				<br>
				{{ render_field(form.end_date, class="form-control") }}
			</div>
				

			<div style="text-align:left;" class="btn btn-secondary">
				<span>Upload csv:</span>
				{{ form.csv(class="form-control-file")}}
			</div>
			<input value="submit csv" name="submit_button" class="btn btn-primary" type="submit">
		</form>
	</div>
	<div class="card-footer">

	</div>
</div>
{% endmacro %}
{% macro insights(page, form=None) %}

	<div class="card">
		<div class="card-header">
			<h5 class="card-category">Send your insights to {{ page.customer_name }}</h5>
		</div>
		<div class="card-body">
			<form method=POST enctype="multipart/form-data" action="{{url_for('acct_mgmt', customer_id=page.user)}}">
				{{ form.csrf_token }}
				{{ render_field(form.body, class="form-control") }}
				<input class="btn btn-primary" type="submit" name="submit_button" value="submit insight">
			</form>
		</div>
		<div class="card-footer past_insights">
			{% set base = page.data['insights']['insights'] %}
			{% for insight in base %}

				{% if loop.index == 1 %}
					<h6>The last insight you sent to {{page.customer_name}} was on {{insight['time']}}</h6>
					<br><br>
					<label>Past insights:</label>
					<br><br>
				{% endif %}

				<div class="card">
					<p><strong>{{ insight['time'] }}</strong></p>
					<p>{{ insight['body'] }}</p>
				</div>
		
			{% endfor %}
		</div>
	</div>

{% endmacro %}
{% macro ab_testing(page, form=None) %}
<div class="card">
	<div class="card-header">
		<h5 class="card-category">Upload A/B Test Data</h5>
	</div>
	<div class="card-body">
		<form method=POST enctype="multipart/form-data" action="{{url_for('acct_mgmt', customer_id=page.user)}}">
			{{ form.csrf_token }}
			<h5>Upload AB Test data for previous Sunday to Sunday</h5>
			<div class="form-group">
				<label>Start date: </label>
				<br>
				{{ render_field(form.start_date, class="form-control") }}
			</div>
			<div class="form-group">
				<label>End date: </label>
				<br>
				{{ render_field(form.end_date, class="form-control") }}
			</div>
				

			<div style="text-align:left;" class="btn btn-secondary">
				<span>Upload csv:</span>
				{{ form.csv(class="form-control-file")}}
			</div>
			<input value="submit ab test" name="submit_button" class="btn btn-primary" type="submit">
		</form>
	</div>
	<div class="card-footer">

	</div>
</div>
{% endmacro %}

{% macro auth_form(page, account_form) %}
<form method="POST" action="{{url_for('admin_campaigns', customer_id=page.user)}}">
	{{ account_form.csrf_token }}
	<div class="row">
		<div class="col">
			<label>Facebook ads id:</label>
			{{ account_form.facebook_id(class_="form-control", value=page.accounts.get('facebook_id') if page.accounts.get('facebook_id') else '' ) }}
		</div>

		<div class="col">
			<label>Google ads id:</label>
			{{ account_form.google_id(class_="form-control", value=page.accounts.get('google_id') if page.accounts.get('google_id') else '' ) }}
		</div>

		<div class="col">
			<label>Twitter ads id:</label>
			{{ account_form.twitter_id(class_="form-control", value=page.accounts.get('twitter_id') if page.accounts.get('twitter_id') else '' ) }}
		</div>
		<div class="col">
			<input type="submit" class="btn btn-primary" value="update">
		</div>
	</div>
</form>
{% endmacro %}
