{% macro pricing(logged_in) %}
    {% macro feature(copy) %}
        <li><i class="fas fa-check"></i> {{copy | safe}}</li>
    {% endmacro %}
    {% macro cta(popular=False) %}
        <div class="pt-footer">
            <a class="m-btn {{'m-btn-theme2nd' if popular else 'm-btn-theme'}} m-btn-round" href="/new">Get started</a>
        </div>
    {% endmacro %}

    <section id="price" class="section gray-bg">
        <div class="container">
            <!-- section title -->
            <div class="row justify-content-center sm-m-25px-b m-45px-b">
                <div class="col-lg-8 col-md-10">
                    <div class="section-title text-center">
                        <h2>Pricing</h2>
                        <p>Not only do we bring to the table years of results on behalf of our clients, we can do it at a fraction of the cost of leading competitors due to superior technology.</p>
                    </div>
                </div>
            </div>
            <!-- end section title -->
            <div class="row align-items-center">
                <!-- price table -->
                <div class="col-md-6 col-lg-4 m-15px-tb">
                    <div class="price-table">
                        <div class="pt-head">
                            <h5>$1/month</h5>
                        </div>
                        <div class="pt-body">
                            <h4>Forever (basically) Free</h4>
                            <ul class="list-type-02">
                                {{feature("Ads management on up to $500/month in ad spend")}}</li>
                                {{feature("A/B testing for 1 test per month")}}</li>
                                {{feature("Analysis and insights from dedicated account manager")}}
                            </ul>
                        </div>
                        {% if not logged_in %}
                            {{ cta() }}
                        {% else %}
                            <div class="pt-footer">
                                <a class="m-btn m-btn-theme m-btn-round" href="{{url_for('free_checkout')}}">Sign Up</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!-- end price table -->
                <!-- price table -->
                <div class="col-md-6 col-lg-4 m-15px-tb">
                    <div class="price-table">
                        <div class="pt-head">
                            <label class="msg">popular choice</label>
                            <h5>Paid Ads</h5>
                        </div>
                        <div class="pt-body">
                            <h4>$350/month flat fee + % of ad spend</h4>
                            <ul class="list-type-02">
                                {{feature("<$500/month: <strong>$1/month</strong> (seriously)")}}
                                {{feature("$500-$5,000/month: 8%")}}
                                {{feature("$5,000-$15,000/month: 7%")}}
                                {{feature("$15,000-$35,000/month: 6%")}}
                            </ul>
                        </div>
                        {% if not logged_in %}
                            {{ cta(popular=True) }}
                        {% else %}
                            <div class="pt-footer">
                                <a class="m-btn m-btn-theme2nd m-btn-round" href="{{url_for('ads_checkout')}}">Sign Up</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!-- end price table -->
                <!-- price table -->
                <div class="col-md-6 col-lg-4 m-15px-tb">
                    <div class="price-table">
                        <div class="pt-head">
                            <h5>A/B Testing</h5>
                        </div>
                        <div class="pt-body">
                            <h4>Starting at $495/month</h4>
                            <ul class="list-type-02">
                                {{feature("1 test per month: <strong>$1/month</strong> (not kidding)")}}
                                {{feature("$165/month per test with 3 test minimum")}}
                                {{feature("Conversion tracking reports to guage effectiveness")}}
                            </ul>
                        </div>
                        {% if not logged_in %}
                            {{ cta() }}
                        {% else %}
                            <div class="pt-footer">
                                <a class="m-btn m-btn-theme m-btn-round" href="{{url_for('ab_checkout')}}">Sign Up</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!-- end price table -->
            </div>
        </div>
    </section>
{% endmacro %}