{% macro pricing(logged_in) %}
    {% macro feature(copy) %}
        <li><i class="fas fa-check"></i> {{copy | safe}}</li>
    {% endmacro %}
    {% macro cta(popular=False) %}
        <div class="pt-footer">
            <a class="m-btn {{'m-btn-theme2nd' if popular else 'm-btn-theme'}} m-btn-round" href="/new">Get started</a>
        </div>
    {% endmacro %}
    {% macro shell(logged=logged_in, headline=None, subheading=None, body=None, footer=None) %}
        <div class="col-lg-6 m-15px-tb">
            <div class="price-table price_calculator">
                <div class="pt-head">
                    <h5>{{ headline | safe }}</h5>
                    <p>{{ subheading | safe }}</p>
                </div>
                <div class="pt-body">
                    {{ body | safe }}
                    {#<ul class="list-type-02"></ul>#}
                </div>
                <div class="pt-footer">
                    {{ footer }}
                </div>
            </div>
        </div>
    {% endmacro %}

    {% macro ad_body() %}
        <div class="row">
            <div class="col-lg-12">
                <h5>$350/month flat fee + % of ad spend</h5>
                <p><strong>Service cost per % of monthly ad spend</strong></p>
                <p>$500-$5,000: 8%</p>
                <p>$5,000-$15,000: 7%</p>
                <p>$15,000-$35,000: 6%</p>
                <p>$35,000+: 5%</p>
            </div>
        </div>
    {% endmacro %}

    {% macro ab_body() %}
        <div class="row">
            <div class="col-lg-12">
                <br>
                <br>
                <br>
                <h5>$195/month flat fee per test</h5>
                <br>
                <br>
                <br>
            </div>
        </div>
    {% endmacro %}

    {% macro calculator(testing=None, ads=None, logged=logged_in) %}
    <div class="row">
        <div class="center_on_mobile col-lg-6 col-md-6 col-sm-12">
            {% if ads %}<p>Estimated ad spend/month</p>{% endif %}
            {% if testing %}<p>Estimated number of A/B tests per month</p>{% endif %}
        </div>
        <div class="col-lg-6">
            {% if ads %}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input min="0" value="0" type="text" class="form-control" id="ad_spend">
                </div>
            {% endif %}
            
            {% if testing %}
            <div class="input-group">
                <input min="0" value="0" type="text" class="form-control" id="test_count">
                <div class="input-group-append">
                    <span class="input-group-text">tests</span>
                </div>
            </div>
            {% endif %}
        
        </div>
    </div><br>
    <div class="row">
        <div class="center_on_mobile col-lg-6 col-md-6 col-sm-12">
            <p>Cost of Market(r)</p>
        </div>
        <div class="col-lg-6">
            {% if ads %}<h6>$<span id="ads_marketr_cost">00</span>/month</h6>{% endif %}
            {% if testing %}<h6>$<span id="testing_marketr_cost">00</span>/month</h6>{% endif %}
        </div>
    </div>
    <div class="row">
        <div class="center_on_mobile col-lg-6 col-md-6 col-sm-12">
            {% if ads %}
                <select id="competitor_name">
                    <option value="wordstream">Cost of Wordstream</option>
                    <option value="avg_agency">Cost of Average PPC Agencies</option>
                    <option value="adroll">Cost of Adroll</option>
                </select>
            {% endif %}
            {% if testing %}<p>Cost of Converstion Rate Optimization Agencies</p>{% endif %}
        </div>
        <div class="col-lg-6">
            {% if ads %}<h6><span id="ads_comp_est">$00/month</span></h6>{% endif %}
            {% if testing %}<h6>$<span id="testing_comp_est">3,000/month</span></h6>{% endif %}
        </div>
    </div>
    <hr style="height:5px; box-shadow:none; background-color: rgba(0,0,0,.1); color:rgba(0,0,0,.1);width:50%;">

        <div class="row">
            <div class="center_on_mobile col-lg-6 col-md-6 col-sm-12">
                <p>Money you can re-invest into your business</p>
            </div>
            <div class="col-lg-6">
                {% if ads %}<h5><span id="ad_savings"><strong>$00</strong></span></h5>{% endif %}
                {% if testing %}<h5><span id="testing_savings"><strong>$00</strong></span></h5>{% endif %}
            </div>
        </div>
        {% if logged %} 
            {% if ads %}<a id="ad_checkout_link" class="m-btn m-btn-theme m-btn-round" href="/checkout/almost_free">Get started</a>{% endif %}
            {% if testing %}<a id="testing_checkout_link" class="m-btn m-btn-theme m-btn-round" href="/checkout/almost_free">Get started</a>{% endif %}
        {% else %}  
            <a id="checkout_link" class="m-btn m-btn-theme m-btn-round" href="/new">Get started (pay later)</a>
        {% endif %}
    {% endmacro %}

    <section id="price" class="section gray-bg">
        <div class="container">
            <div class="row justify-content-center sm-m-25px-b m-45px-b">
                <div class="col-lg-8 col-md-10">
                    <div class="section-title text-center">
                        <h2>Pricing</h2>
                        <p>Not only do we bring to the table years of results on behalf of our clients, we can do it at a fraction of the cost of leading competitors due to superior technology.</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                {{ shell(
                    headline="Online Ad Management",
                    subheading="Spend less than $500/month on ads? We'll manage it for <strong>$1/month</strong> (seriously)",
                    body=ad_body(),
                    footer=calculator(ads=True)
                )}}
                {{ shell(
                    headline="A/B Testing",
                    subheading="Just want 1 test per month? We'll do it for <strong>$1/month</strong> (not joking)",
                    body=ab_body(),
                    footer=calculator(testing=True)
                )}}
            </div>
        </div>
    </section>
{% endmacro %}