{% macro pricing(logged_in, settings_view=False, quantity=1) %}
<section id="price" class="full_height section gray-bg">
    <div class="container">
        <!-- section title -->
        <div class="row justify-content-center sm-m-25px-b m-45px-b">
            <div class="col-lg-8 col-md-10">
                <div class="section-title text-center">
                    <h2>Flat-Rate Pricing</h2>
                    
                    {% if not logged_in %}<a href="/new">I want to join the early access program</a>{%endif%}</p>
                </div>
            </div>
        </div>
        <!-- end section title -->
        <div class="row align-items-center">
            {% if quantity == 1 %}
            <div class="col-md-4 col-lg-4 m-15px-tb">    
                <div class="price-table">
                    <div class="pt-head">
                        <h5>Analytics</h5>
                    </div>
                    <div class="pt-body">
                        <h4><span>$</span>40/month</h4>
                        <ul class="list-type-02">
                            <li><i class="fas fa-check"></i> Data integrations with 80+ platforms</li>
                            <li><i class="fas fa-check"></i> Cross-platform analytics</li>
                            <li><i class="fas fa-check"></i> Real-time recommendations on ad spend optimization.</li>
                            <li><i class="fas fa-check"></i> Market(r) learns exactly how much you should spend and where to spend it.</li>
                        </ul>
                    </div>
                    <div class="pt-footer">
                        <a class="m-btn m-btn-theme m-btn-radius" href="{{ url_for('analytics_checkout') if logged_in else url_for('new') }}">Let's go</a>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="col-md-2 col-lg-2 m-15px-tb"></div>
            {% endif %}
            {% set classList = "col-md-4 col-lg-4" if quantity == 1 else "col-md-8 col-lg-8" %}
            <div class="{{classList}} m-15px-tb">    
                <div class="price-table">
                    <div class="pt-head">
                        {% if quantity == 1 %}<label class="msg">popular choice</label>{% endif %}
                        <h5>Grow with Market(r) <i style="color:#62cde0;" class="fad fa-flask"></i></h5>
                    </div>
                    <div class="pt-body">
                        <h4>Starting at $255</h4>
                        <ul class="list-type-02">
                            <li><i class="fas fa-check"></i> 14 day free trial</li>
                            <li><i class="fas fa-check"></i> 30 day money back guarantee...only pay for your ad spend</li>
                            <li><i class="fas fa-check"></i> Start with 3 campaigns. $85/month per campaign after.</li>
                            <li><i class="fas fa-check"></i> Cancel anytime in-app with one click, without talking to anybody.</li>
                        </ul>
                    </div>
                    
                    <div class="pt-footer">
                        <a style="margin-top:10px;" id="campaign_link" class="m-btn m-btn-theme2nd m-btn-radius" href="{{ url_for('single_campaign', quantity=3) if logged_in else url_for('new') }}">Get started</a>
                        {% if logged_in %}
                        <br><br><br><br>
                        
                        <p><strong>Want to start with more or less campaigns?</strong></p>
                        <p>We recommend everybody starts with at least 3 campaigns. This is the only way for our machines to truly optimize and iterate quickly on learnings. If you want to start with your {{quantity}} recommended campaigns from your last page, just enter the number (highly recommended)!</p>

                        <div class="input-group">
                                <input value="0" min="0" pattern="[0-9]" type="number" class="form-control" id="quantity">
                                <div class="input-group-append">
                                    <span class="input-group-text">campaigns</span>
                                </div>
                     

                                <script>
                                    document.querySelector('#quantity').addEventListener('keyup', e=>{
                                        let val = e.currentTarget.value
                                        document.querySelector("#campaign_link").href = `/checkout/single_campaign?quantity=${val > 0 ? 1 : val}`
                                    })
                                </script>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            {% if quantity == 1 %}
            <!-- price table -->
            <div class="col-md-4 col-lg-4 m-15px-tb">
                <div class="price-table">
                    <div class="pt-head">
                        <h5>Enterprise</h5>
                    </div>
                    <div class="pt-body">
                        <h4>Custom pricing</h4>
                        <ul class="list-type-02">
                            <li><i class="fas fa-check"></i> Custom-tailored machine learning model, trained on your business's data.</li>
                            <li><i class="fas fa-check"></i> Multiple conversion values</li>
                            <li><i class="fas fa-check"></i> Multiple customer lifetime value tracking</li>
                        </ul>
                    </div>
                    <div class="pt-footer">
                        <a class="m-btn m-btn-theme m-btn-radius" href="{{ url_for('schedule') }}">Let's chat</a>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="col-md-2 col-lg-2 m-15px-tb"></div>
            {% endif %}
            <!-- end price table -->
            <div class="col-md-3 col-lg-2 m-15px-tb">                    
            </div>
        </div>
    </div>
</section>
{% endmacro %}

{% macro campaign_summary(logged_in) %}
<style>
    .campaign_summary h1,
    .campaign_summary i {
        text-align: center;
    }
    #next_steps .feature-box {
        padding: 0 10%;
    }
    #next_steps .campaign_summary i {
        color: var(--nav-color);
    }
    .section-title .icon {
        background: white;
    }
    .feature-box:hover {
        background-color: var(--nav-color);
    }
    #next_steps .section-title p {
        color: white;
    }
    .section.full_height {
        height: 100%;
        padding: 100px 0 0 0 !important;
    }
</style>

<section class="full_height section">
    <div class="campaign_summary">
        <div class="feature-box box-shadow transition section-title text-center section-title text-center">
            <h1 class="white-color">What is a campaign?</h1><br>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="icon">
                        <i class="fad fa-wand-magic"></i>
                        <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                    </div>
                    <p>Ads are running on the places your customers are going...auto-magically</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="icon">
                        <i class="fad fa-paint-brush"></i>
                        <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                    </div>
                    <p>We'll design top-quality graphics for your ads and write engaging copy that will make your customers stop scrolling and pay attention.</p>
                </div>  
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="icon">
                        <i class="fad fa-phone-laptop"></i>
                        <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                    </div>
                    <p>Every week, our AI models (with a little love from humans) will send you recommendations on improving. Click one button to have them implemented.</p>
                </div>   
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="icon">
                        <i class="fal fa-analytics"></i>
                        <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                    </div>
                    <p>Real-time view of Profit Potential per $100 spent (translation: If you put $100 in, what will you get out) for every individual platform, campaign, ad group, and ad.</p>
                </div>   
            </div>
            
            
        </div>
    </div>
</section>
{% endmacro %}


{% macro old_pricing(logged_in, settings_view=False, quantity=1) %}
    {% macro feature(copy) %}
        <li><i class="fas fa-check"></i> {{copy | safe}}</li>
    {% endmacro %}
    {% macro cta(popular=False) %}
        <div class="pt-footer">
            <a class="m-btn {{'m-btn-theme2nd' if popular else 'm-btn-theme'}} m-btn-round" href="/new">Join early access program</a>
        </div>
    {% endmacro %}
    {% macro shell(logged=logged_in, headline=None, subheading=None, body=None, footer=None) %}
        <div class="col-lg-12 m-15px-tb">
            <div class="price-table price_calculator">
                <div class="pt-head">
                    <h5>{{ headline | safe }}</h5>
                    <p>{{ subheading | safe }}</p>
                </div>
                <div class="pt-body">
                    {{ body | safe }}
                    {#<ul class="list-type-02"></ul>#}
                </div>
                <div class="pt-footer">
                    {{ footer }}
                </div>
            </div>
        </div>
    {% endmacro %}

    {% macro ad_body() %}
        <div class="row">
            <div class="col-lg-12">
                <p><strong>Transparent, flat-rate pricing</strong></p>
                <p>$0-$250: $1/month</p>
                <p>$250-$4,999: $395/month</p>
                <p>$5,000-$10,000: $1,495/month</p>
                <p>$10,000+: Contact us for details</p>
            </div>
        </div>
    {% endmacro %}

    {% macro ab_body() %}
        <div class="row">
            <div class="col-lg-12">
                <br>
                <br>
                <br>
                <h5>$195/month flat fee per test</h5>
                <br>
                <br>
                <br>
            </div>
        </div>
    {% endmacro %}

    {% macro calculator(testing=None, ads=None, logged=logged_in) %}
    <div class="row">
        <div class="center_on_mobile col-lg-6 col-md-6 col-sm-12">
            {% if ads %}<p>Estimated ad spend/month</p>{% endif %}
            {% if testing %}<p>Estimated number of A/B tests per month</p>{% endif %}
        </div>
        <div class="col-lg-6">
            {% if ads %}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input min="0" value="0" type="text" class="form-control" id="ad_spend">
                </div>
            {% endif %}
            
            {% if testing %}
            <div class="input-group">
                <input min="0" value="0" type="text" class="form-control" id="test_count">
                <div class="input-group-append">
                    <span class="input-group-text">tests</span>
                </div>
            </div>
            {% endif %}
        
        </div>
    </div><br>
    
    <div class="row">
        <div class="center_on_mobile col-lg-6 col-md-6 col-sm-12">
            <h5>Amount you pay us per month</h5>
        </div>
        <div class="col-lg-6">
            {% if ads %}<h5><span id="dollar">$</span><span class="ads_marketr_cost"><strong>00</strong>/month</span></h5>{% endif %}
            {% if testing %}<h5>$<span class="testing_marketr_cost"><strong>00</strong>/month</span></h5>{% endif %}
        </div>
    </div>
    <br>
    {% if logged %} 
        {% if ads %}<a id="ad_checkout_link" class="m-btn m-btn-theme m-btn-round" href="/checkout/almost_free">Get started</a>{% endif %}
        {% if testing %}<a id="testing_checkout_link" class="m-btn m-btn-theme m-btn-round" href="/checkout/almost_free">Get started</a>{% endif %}
    {% else %}  
        <a id="checkout_link" class="m-btn m-btn-theme m-btn-round" href="/new">I want to join the early access program</a>
    {% endif %}
        <br>
        <hr style="height:5px; box-shadow:none; background-color: rgba(0,0,0,.1); color:rgba(0,0,0,.1);width:50%;">

        <br>

        <div class="row">
            <div class="center_on_mobile col-lg-6 col-md-6 col-sm-12">
                {% if ads %}
                    <label>Cost of leading competitors</label>
                    <select style="text-align:center;" id="competitor_name">
                        <option value="wordstream">Wordstream</option>
                        <option value="avg_agency">Average PPC Agencies</option>
                        <option value="adroll">Adroll</option>
                    </select>
                {% endif %}
                {% if testing %}<p>Cost of Converstion Rate Optimization Agencies</p>{% endif %}
            </div>
            <div class="left_center_on_mobile col-lg-6">
                {% if ads %}<h6><span id="ads_comp_est">$00/month</span></h6>{% endif %}
                {% if testing %}<h6>$<span id="testing_comp_est">3,000/month</span></h6>{% endif %}
            </div>
        </div>
        <div class="row">
            <div class="center_on_mobile col-lg-6 col-md-6 col-sm-12">
                <p>Cost savings you can re-invest into your business</p>
            </div>
            <div class="left_center_on_mobile col-lg-6">
                {% if ads %}<h5 style="color: #62cde0;"><span id="ad_savings">$00</span></h5>{% endif %}
                {% if testing %}<h5 style="color: #62cde0;"><span id="testing_savings">$00</span></h5>{% endif %}
            </div>
        </div>
    {% endmacro %}
    <section id="price" class="section gray-bg">
        <div class="container">
            <!-- section title -->
            <div class="row justify-content-center sm-m-25px-b m-45px-b">
                <div class="col-lg-8 col-md-10">
                    <div class="section-title text-center">
                        <h2>Let's take the next step.</h2>
                        {% if not logged_in %}<a href="/new">I want to join the early access program</a>{%endif%}</p>
                    </div>
                </div>
            </div>
            <!-- end section title -->
            <div class="row align-items-center">
                <div class="col-md-3 col-lg-2 m-15px-tb">                    
                </div>
                <!-- price table -->
                <div class="col-md-6 col-lg-8 m-15px-tb">
                    <div class="price-table">
                        <div class="pt-head">
                            <h5><span>$</span>85/month per campaign</h5>
                        </div>
                        <div class="pt-body">
                            <ul class="list-type-02">
                                <li><i class="fas fa-check"></i> Unlimited ad spend for no additional fees</li>
                                <li><i class="fas fa-check"></i> Real-time ad spend recommendations</li>
                                <li><i class="fas fa-check"></i> Fully-managed digital campaigns</li>
                                <li><i class="fas fa-check"></i> Artificial Intelligence-based tools and resources</li>
                                <li><i class="fas fa-check"></i> Daily targeted growth marketing tactics</li>
                            </ul>
                        </div>
                        <hr>
                        <div class="row">
                            <br>
                            <div class="col">
                                <h4>Total you pay us: $<span id="cost"></span>/month*</h4>
                                <p>This doesn't include your advertising spend. That goes straight to where you're advertising.</p>
                            </div>
                            <div class="col">
                                
                                <div class="input-group">
                                    <input min="1" pattern="[0-9]" type="number" class="form-control" id="quantity" value="{{quantity}}">
                                    <div class="input-group-append">
                                        <span class="input-group-text">campaigns</span>
                                    </div>
                                </div>
                                <p>This is based on what our AI tells us you need to spend in order to achieve the results you desire. You can always change it now, or later, though.</p>
                            </div>
                            <br>
                        </div>
                        <div class="pt-footer">
                            <a id="cta" class="m-btn m-btn-theme m-btn-round" href="{{'/new' if not logged_in else url_for('single_campaign', quantity=quantity) }}">I want this done for me</a>
                            <br><p>Money back guarantee through your first $1,000</p>
                            <p>We hate those silly games that companies play just as much as you do.</p>
                        </div>
                    </div>
                </div>
                <!-- end price table -->
                <div class="col-md-3 col-lg-2 m-15px-tb">                    
                </div>
            </div>
        </div>
    </section>
    {#<section id="price" class="section gray-bg">
        <div class="container">
            <div class="row justify-content-center sm-m-25px-b m-45px-b">
                <div class="col-lg-8 col-md-8">
                    <div class="section-title text-center">
                        <h2>{{'Pricing' if not settings_view else 'Get More Out Of Your Marketing'}}</h2>
                        {% if not settings_view %}
                        <p>Not only do we bring to the table years of results on behalf of our clients, we can do it at a fraction of the cost of leading competitors due to superior technology.</p>
                        {% elif settings_view %}
                        <p>Let us take ads management off your plate so that you can focus on running your business.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                {{ shell(
                    headline="Online Ad Management",
                    subheading="Spend less than $250/month on ads? We'll manage it for <strong>$1/month</strong> (seriously)",
                    body=ad_body(),
                    footer=calculator(ads=True)
                )}}
                {#{{ shell(
                    headline="A/B Testing",
                    subheading="Just want 1 test per month? We'll do it for <strong>$1/month</strong> (not joking)",
                    body=ab_body(),
                    footer=calculator(testing=True)
                )}}#}
            {#</div>
        </div>
    </section>#}
{% endmacro %}

{% macro carousel() %}
<div class="brand-minus m-100px-b md-m-60px-b sm-m-40px-b ">
    <p style="margin-bottom:4%;" class="m-5px-b">All it takes is to spend 10 minutes giving us some information, and your ads will be shown on all of the sites your customers go to.</p>
    <div class="owl-carousel" data-items="6" data-md-items="5" data-sm-items="4" data-xs-items="2" data-xx-items="2" data-space="5">
        <div class="brand-item">
            <img src="https://logo.clearbit.com/bbcamerica.com?size=63" title="" alt="">
        </div>
        <div class="brand-item">
            <img src="//logo.clearbit.com/cnn.com?size=63" title="" alt="">
        </div>
        <div class="brand-item">
            <img src="//logo.clearbit.com/facebook.com?size=63" title="" alt="">
        </div>
        <div class="brand-item">
            <img src="//logo.clearbit.com/forbes.com?size=63" title="" alt="">
        </div>
        <div class="brand-item">
            <img src="//logo.clearbit.com/instagram.com?size=63" title="" alt="">
        </div>
        <div class="brand-item">
            <img src="//logo.clearbit.com/people.com?size=63" title="" alt="">
        </div>
        <div class="brand-item">
            <img src="//logo.clearbit.com/yahoo.com?size=63" title="" alt="">
        </div>
        <div class="brand-item">
            <img src="//logo.clearbit.com/msn.com?size=63" title="" alt="">
        </div>
        <div class="brand-item">
            <img src="//logo.clearbit.com/linkedin.com?size=63" title="" alt="">
        </div>
    </div>
</div>
{% endmacro %}
