{% macro notifications() %}
<li id="notification_list" class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="now-ui-icons ui-1_bell-53"></i>
		<span style="font-size: 150%;" class="notification_count"></span>
		<p>
		<span class="d-lg-none d-md-block">Notifications</span>
		</p>
	</a>
	<div class="dropdown-menu dropdown-menu-right" id="notifications" aria-labelledby="navbarDropdownMenuLink">
		
	</div>
</li>
{% endmacro %}


<!-- blocks -->
{% macro render_field(field, currency=False, website=False) %}

<div class="form-group">
	{% if currency %}
	<div class="input-group">
	  <div class="input-group-prepend">
	    <span class="input-group-text inputGroup-sizing-sm">$</span>
	  </div>
	{% endif %}
	{% if website %}
	<div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text inputGroup-sizing-sm">https://</span>
      </div>
	{% endif %}

		{{ field(**kwargs)|safe }}
		<span class="form-control-border"></span>

	{% if website or currency %}
	</div>
	{% endif %}

		{% if field.errors %}
			<ul class="errors text-danger">
			{% for error in field.errors %}
				<li>{{ error }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		</dd>
</div>

{% endmacro %}



{% macro form_open(page, home, form, view_id=None) %}

	{% if page == 'profile' %}
		{% set route = 'begin' %}
	{% else %}
		{% set route = page %}
	{% endif %}

	{% if home %}

		{% if route == 'platforms' %}
			<form class="ignore_default" id="ignore_default" method="POST" action="{{ url_for(route, coming_home=True, home=True) }}">
		{% else %}
			<form class="ignore_default" method="POST" action="{{ url_for(route, coming_home=True) }}">
		{% endif %}

	{% elif view_id %}
		<form class="ignore_default" id="ignore_default" method="POST" action="{{ url_for(route, view_id=view_id) }}">
	{% else %}
		<form class="ignore_default" method="POST" action="{{ url_for(route) }}">
	{% endif %}

	{{ form.csrf_token }}

{% endmacro %}



{% macro intro_copy(position, page) %}
	{% if not page.title | customPages %}
		{% set open_h2 = page.questions['0']['page_h1'] | safe | clean_chars %}
		{% set open_p = page.questions['0']['page_p'] | safe | clean_chars %}
	{% else %}
		{% if page.title == 'salescycle' %}
			{% set open_h2 = "Let's map out the Customer Journey Through the Sales Cycle" %}
			{% set open_p = "<p>Below are the 5 stages of the common buying process: Awareness, Evaluation, Conversion, Retention, and Referral.  These are universal steps whether we're talking about a food truck, an online shoe store, or a service-based consulting business.</p>
	  		<p><strong>INSTRUCTIONS:</strong>   Type out each touchpoint/activity your company uses in the various stages and hit <Enter> to add another.   Please ONLY add your <span style='text-decoration: underline;'>existing</span> touchpoints for each step in the buying process, don't sugar coat it with things you <em>want</em> to start doing, but haven't gotten around to yet.</p>"| safe %}
	  	{% elif page.title == 'history' %}
	  		{% set open_h2 = "Let's see what you've trying or have tried before"%}
			{% set open_p = "To realize a better future, we must first understand our past..."%}
		{% elif page.title == 'platforms' %}
			{% set open_h2 = "Nice!  And what was your experience like?" %}
			{% set open_p = "Tell us more about the paid marketing platforms you're currently using or have used in the past." %}
		{% elif page.title == 'past' %}
			{% set open_h2 = "Tell us as much as you can about your past performance." %}
			{% set open_p = "Marketr uses sophisticated logic to figure out how effective prior campaigns were.  This data will be invaluable in diagnosing marketing opportunities and prescribing options forward." %}
		{% endif %}
	{% endif %}

	{% if position == 1 %}
		<h5 class="blue_header">{{ open_h2 }}</h5>
	{% else %}
		<p>{{ open_p }}</p>
	{% endif %}
{% endmacro %}



{% macro product_table(form) %}

<p><strong>Please complete the following information for each offering you currently sell:</strong></p>

<div class="row">
	<div class="col table table-responsive table-borderless">
		<table id="product_table" style="width: 100%;">
			<tbody class="tbody" style="width: 100%;">
				<tr class="data-row">
					<td>{{ render_field(form.product, class="table table-striped table-responsive") }}</td>
				</tr>
			</tbody>
		</table>

		<button id="add_product" class="edit_product add_product center_btn btn btn-lg btn-primary">
			<strong>+</strong>
		</button>
		<button id="remove_product" class="edit_product remove_product center_btn btn btn-lg btn-outline-secondary">
			<strong>-</strong>
		</button>

	</div>
</div>

{% endmacro %}

{% macro left_nav(stage, intake, onboarding_complete) %}

	{% if intake == True %}
	
		<div class="sidebar" data-color="orange">
			<div class="logo">
			  <a href="https://marketr.life" class="simple-text logo-normal">
			    <img src="/static/assets/img/marketrblack.png">
			  </a>
			</div>
			<div class="sidebar-wrapper">
			  <ul class="nav">
			    <li class="{{ 0 | check_active(stage) }}">
			      <a href="/begin?splash=False">
			        <i class="now-ui-icons design_app"></i>
			        <p>Profile</p>
			      </a>
			    </li>
			    <li class="{{ 1 | check_active(stage) }}">
			      <a href="/competitors?splash=False">
			        <i class="now-ui-icons education_atom"></i>
			        <p>Company Info</p>
			      </a>
			    </li>
			    <li class="{{ 2 | check_active(stage) }}">
			      <a href="/goals?splash=False">
			        <i class="now-ui-icons location_map-big"></i>
			        <p>Goals</p>
			      </a>
			    </li>
			    <li class="{{ 3 | check_active(stage) }}">
			      <a href="/history?splash=False">
			        <i class="now-ui-icons ui-1_bell-53"></i>
			        <p>History</p>
			      </a>
				</li>
				{% if onboarding_complete == True %}
			    <li class="{{ 3 | check_active(stage) }}">
			      <a href="/home">
			        <i class="now-ui-icons media-1_album"></i>
			        <p>Home</p>
			      </a>
				</li>
				{% endif %}
			  </ul>
			</div>
		</div>

	{% endif %}

{% endmacro %}




{% macro breadcrumb(page, current_stage, view) %}


	{% macro formulate_row(link, name, view) %}

		{% if name == view %}
			{% set classList = "active" %}
		{% endif %}

	    <li class="breadcrumb-item {{ classList }}" aria-current="page">
	    	<a href="{{ url_for(link, splash=False) }}">
	    		{% if name == 'product_2' %}
	    			Product Details
	    		{% else %}
	    			{{name}}
	    		{% endif %}
	    		
	    	</a>
	    </li>

	{% endmacro %}


	{% if current_stage > 0 %}

		 <nav aria-label="breadcrumb" role="navigation">
		 	<ol class="breadcrumb">

			{% if current_stage == 1 %}

			  {{ formulate_row('competitors', 'competitors', view) }}
			  {{ formulate_row('company', 'company', view) }}
			  {{ formulate_row('audience', 'audience', view) }}
			  {{ formulate_row('product', 'product', view) }}
			  {{ formulate_row('product_2', 'product_2', view) }}
			  {{ formulate_row('salescycle', 'salescycle', view) }}

			{% elif current_stage == 2 %}

			  {{ formulate_row('goals', 'goals', view) }}

			{% elif current_stage == 3 %}

			  {{ formulate_row('history', 'history', view) }}
			  {{ formulate_row('platforms', 'platforms', view) }}
			  {{ formulate_row('past', 'past', view) }}

			{% elif current_stage == 4 %}

			  {{ formulate_row('creative', 'creative', view) }}

			{% endif %}
			</ol>
		</nav>

	{% endif %}

{% endmacro %}




<!-- components -->




{% macro popout(why_or_what, copy, target) %}

	{% if why_or_what == "why" %}

		<button class="ignore_btn btn btn-neutral" data-toggle="collapse" data-target="#{{target}}" aria-expanded="false" aria-controls="{{target}}">
			Why?

	{% else %}
		<button class="ignore_btn btn btn-icon btn-primary btn-round" data-toggle="collapse" data-target="#{{target}}" aria-expanded="false" aria-controls="{{target}}">
			<h6><strong>?</strong></h6>
	{% endif %}

	</button>

	<div class="collapse" id="{{target}}">
	  <div class="card card-body">
	    <p>{{ copy | safe | clean_chars }}</p>
	  </div>
	</div>

{% endmacro %}




{% macro input(name, placeholder, type, format, required, form, route=None) %}

	{% if required == 1 %}
		{% set required_val = 'required' %}
	{% elif required == 0 %}
		{% set required_val = '' %}
	{% endif %}

	{% if format == '100char_limit_max' %}
		{% set maxlength = 100 %}
	{% elif format == '5000char_limit_max' %}
		{% set maxlength = 5000 %}
	{% else %}
		{% set maxlength = 50000 %}
	{% endif %}

	{% set class_list = "form-control col-lg-12 col-md-12 col-sm-12 col-12" %}
	{% set name = name | safe %}

	{% if format == "currency" %}
		{% set currency = True %}
	{% else %}
		{% set currency = False %}
	{% endif %}

	{% if format == "website" %}
		{% set website = True %}
	{% else %}
		{% set website = False %}
	{% endif %}

	
	{{ render_field(form[name], id=name, maxlength=maxlength, placeholder=placeholder, class=class_list, website=website, currency=currency) }}

	{% if type == "number_input" and name != "zip" %}
		<script type="text/javascript">
		var cleave{{name}} = new Cleave('#{{ name }}', {
		    numeral: true,
		    numeralThousandsGroupStyle: 'thousand'
		});
		</script>
	{% elif type == "auto-complete" %}

		<script type="text/javascript">
			var options = {
			  url: "{{ route }}",
			  getValue: "{{ route | remove_first_char }}",
			  list: {	
			    match: {
			      enabled: true
			    }
			  },
			  theme: "square"
			};
			$("#{{name}}").easyAutocomplete(options);
		</script>
	{% endif %}
{% endmacro %}



{% macro open_tile(path=None, name=None, formField=None) %}

	{% set col_len = "col-lg-2 col-md-2 img_container" %}
	<div class="table-responsive hover_box hb_many {{ col_len }}">
		<table class="table">
			<thead>
				<tr>
					<th style="text-align:center;">
						{% if path != None %}
							<img src="{{path}}">
							<h6 class="hidden">{{name}}</h6>
						{% else %}
							<p>{{ name }}</p>
						{% endif %}
						{{ render_field(formField, class="hidden_input") }}
					</th>
				</tr>
			</thead>
		</table>
	</div>

{% endmacro %}


{% macro tiles(h6, p, type, name, file_path, sub_name, form) %}

	{% set h6 = h6 | tiles_to_array %}
	{% if p != None %}	
		{% set p = p | tiles_to_array %}
	{% else %}
		{% set p = None %}
	{% endif %}

	{% set large_md_sm_col = 'col-lg-4 col-md-3 col-sm-5' %}

	{% macro core(h6, p, tile_type, file_path, sub_name) %}

		<div class="table-responsive
			{% if tile_type == 'multi' or tile_type == 'perc' %}
			hb_many
			{% endif %}
			hover_box
			{{ large_md_sm_col }}
			col-5">
			<table class="table table-borderless">
			    <thead>
			    	<tr>
				      <th style="font-size: 100%;">
				      	{% if file_path != [None] %}

				      		<img src="{{ file_path }}">
				      		<h6 class="hidden">{{h6}}</h6>

				      	{% else %} 

				      		<h6>{{h6}}</h6>

				      	{% endif %}
				      	{% if tile_type == 'multi'%}

				      		{{ render_field(form[sub_name], class="hidden_input hidden") }}
				      		
				      	{% endif %}
				      </th>
				    </tr>
			    </thead>
			    {% if p != None %}
				    <tbody>
				    	<tr style="padding: 0% 4%;">
						    <td>
						      	<p>{{p}}</p>
						    </td>
				    	</tr>

						{% if tile_type == 'perc' %}
				    	<tr>
				    		<td>

							<div class="input-group">
								<input style="text-align:center;" type="text" id="percent" class="percent in_box form-control form-control" placeholder="" name="{{sub_name}}">
								<span class="form-control-border"></span>
								<div class="input-group-append">
									<span class="input-group-text">%</span>
								</div>
						     </div>
				    		</td>
				    	</tr>
						{% endif %}
				    </tbody>
				{% endif %}
		    </table>
	    </div>

	{% endmacro %}

	<div class="row">

		{% for h in h6 %}

			{% if p != None %}
				{% set param_p = p[loop.index-1] %}
			{% else %}
				{% set param_p = None %}
			{% endif %}

			{% if file_path != [None] %}
				{% set path_view = file_path[loop.index-1] %}
			{% else %}
				{% set path_view = [None] %}
			{% endif %}


			{% if type == 'tiles_single_select' %}	
				{{ core(h, param_p, 'single', path_view, sub_name) }}
			{% elif type == 'tiles_multi_select' %}
				{{ core(h, param_p, 'multi', path_view, sub_name[loop.index-1]) }}
			{% elif type == 'tiles_multi_select_with_%' %}
				{{ core(h, param_p, 'perc', path_view, sub_name[loop.index-1]) }}
			{% endif %}

		{% endfor %}

		{% if type == 'tiles_single_select' %}
			{{ render_field(form[name], class="hidden_input hidden") }}
		{% endif %}

	</div>

{% endmacro %}




{% macro open_row(debug=False) %}

	{% if debug == True %}
		<p>Opened it!</p>
	{% endif %}

	<div class="row">

{% endmacro %}

{% macro close_row(debug=False) %}
	{% if debug == True %}
		<p>Closed it!</p>
	{% endif %}

	</div>
{% endmacro %}


{% macro create_label_p(el, type, name=None, p_label=None, why=None, what=None, copy=None, target=None) %}
	{% if el != "" and el != None %}		
		{% if type == 'p' %}
			<p>{{p_label | safe | clean_chars }}</p>
		{% elif type == 'l' %}
			<p>

					<strong>{{el | safe| clean_chars }}</strong>

					{% if why == 1 %}
						{{ popout('why', copy, target) }}
					{% endif %}
					{% if what == 1 %}
						{{ popout('what', copy, target) }}
					{% endif %}

			</p>
		{% endif %}	
	{% else %}
		<p style="display: none;">Lorem ipsum</p>
	{% endif %}
{% endmacro %}


{% macro create_element(why, what, copy, target, p_or_l, label, type, placeholder, format, name, route, required, file_path, sub_name, form, p_label, h6=None, p=None) %}

	{% if not type | tiles %}
		{% if type == 'text_input' or type == "number_input" or type == "textarea" or type=='auto-complete' or type=="website" %}
			{{ input(name, placeholder, type, format, required, form, route=route) }}
		{% endif %}
	{% else %}
		{{ tiles(h6, p, type, name, file_path, sub_name, form) }}
	{% endif %}
{% endmacro %}


{% macro build_question(type=None, placeholder=None, format=None, route=None,required=None, file_path=None, sub_name=None, form=None, label=None, p_label=None, name=None, why=None, what=None, copy=None, target=None, h6=None, p=None, nested=False) %}
	{% if nested == True %}
		<div class="col-lg-6 col-md-6 col-sm-12 col-12">
	{% else %}
		<div class="col">
	{% endif %}

		{{ create_label_p(label, 'l', name=name, why=why, what=what, copy=copy, target=target) }}
		{{ create_label_p(p_label, 'p', p_label=p_label, why=why, what=what, copy=copy, target=target) }}

		<div class="row">
			<div class="col">
				{{ create_element(why, what, copy, target, 'l', label, type, placeholder, format, name, route, required, file_path, sub_name, form, p_label, h6=h6, p=p) }}
			</div>
		</div>
	</div>

{% endmacro %}



<!-- core build -->

{% macro form_body(questions, form, title=None) %}
	{% if questions != None and questions != {} %}
		{% for question in questions %}
			{% set target = questions[question]['q_id'] %}
			{% set label = questions[question]['label'] %}
			{% set why = questions[question]['why_asking_binary'] %}
			{% set what = questions[question]['what_binary'] %}
			{% if why == 1 %}
				{% set copy = questions[question]['why_label'] %}
			{% elif what == 1 %}
				{% set copy = questions[question]['what_label'] %}
			{% endif %}
			{% set required = questions[question]['required_binary'] %}
			{% set p_label = questions[question]['label_p'] %}
			{% set type = questions[question]['answer_type'] %}
			{% set placeholder = questions[question]['placeholder'] %}
			{% set format = questions[question]['a_format'] %}
			{% set name = questions[question]['html_name'] %}
			{% set route = questions[question]['route'] %}
			{% set tile_h6 = questions[question]['tiles_name_h6'] %}
			{% set tile_p = questions[question]['tiles_name_p'] %}
			{% set divider = questions[question]['horizontal_separator_binary'] %}
			{% set file_path = questions[question]['icon_file_path'] | tiles_to_array %}
			{% set sub_name = questions[question]['sub_name'] | tiles_to_array %}

			{% set current = loop.index - 1 %}
			{% set current_string = current | string %}
			{% set next = loop.index %}
			{% set next_string = next | string %}
			{% set last = current - 1 %}
			{% set last_string = last | string %}


			{% if divider == 1 %} 
				<hr style="margin: 5% 0 8%;">
			{% endif %}

			{% if format | layout and type != 'auto-complete' %}
				{% if current == 0 or not questions[last_string]['a_format'] | layout %}
					{{ open_row(debug=False) }}
				{% endif %}
	

					{{ build_question(type=type, placeholder=placeholder, format=format, route=route, required=required, file_path=file_path, sub_name=sub_name, form=form, label=label, p_label=p_label, name=name, why=why, what=what, copy=copy, target=target, h6=tile_h6, p=tile_p, nested=True) }}
						
				{% if not questions[next_string]['a_format'] | layout %}
					{{ close_row(debug=False) }}
				{% endif %}

			{% else %}
				{{ open_row() }}
					{{ build_question(type=type, placeholder=placeholder, format=format, route=route, required=required, file_path=file_path, sub_name=sub_name, form=form, label=label, p_label=p_label, name=name, why=why, what=what, copy=copy, target=target, h6=tile_h6, p=tile_p, nested=False) }}
				{{ close_row() }}
			{% endif %}
		{% endfor %}
	{% else %}
		{{ include(form, title) }}
	{% endif %}
{% endmacro %}



{% macro include(form, title) %}
{% with form = form %}
	{% set route_base = "/intake/" %}
	{% set route = route_base + title + ".html" | string %}
	{% with form = form %}
		{% include route %}
	{% endwith %}
{% endwith %}
{% endmacro %}




