{% from "macros/_macros.html" import render_field %}


{% macro back_button(url) %}
<a href="{{ url_for(url) }}">
    <i class="now-ui-icons arrows-1_minimal-left"></i>
    BACK
</a>
{% endmacro %}

{% macro goals(page) %}
    {% if page.data['core']['core'][0]['goal'] %}
        <p><strong>Our primary marketing goal is to improve {{page.data['core']['core'][0]['goal'] | lower | clean_chars }}:</strong></p>
        <div class="row goal_container">
            <div class="col-lg-4 col-sm-12">
                <h6>From:</h6>
                <p><strong>{{ '$' if page.data['core']['core'][0]['goal'] == 'Revenue' }}{{ page.data['core']['core'][0]['current_avg'] }} per month</strong></p>
            </div> 
            <div class="col-lg-4 col-sm-12">
                <h6>To:</h6>
                <p><strong>{{ '$' if page.data['core']['core'][0]['goal'] == 'Revenue' }}{{ page.data['core']['core'][0]['target_avg'] }} per month</strong></p>   
            </div>
            <div class="col-lg-4 col-sm-12">
                <h6>Within:</h6>
                    <p><strong>{{ page.data['core']['core'][0]['timeframe'] }}{{'s' if page.data['core']['core'][0]['timeframe'] == '2yr' }}</strong></p>   
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col">
                <h5>Where are we headed?</h5>
                <p>Establish the goal that would make an impact on your business to put everything else in perspective. </p>
                {% if not page.admin %}<a href="{{url_for('goals', splash=True)}}" class="btn btn-secondary">Complete now</a>{% endif %}
                <div style="width: 50%; margin: auto;">
                    <img width="100%" src="/static/assets/img/goals.jpg">
                </div>
                
            </div> 
        </div>
    {% endif %}
{% endmacro %}

{% macro todo(page, admin=True) %}
    {% macro view_tasks(page, admin=True) %}
        {% for task in range(page.data['tasks']['tasks'] | length) %}

            {% set message = task | int %}
            {% set title = page.data['tasks']['tasks'][message]['task_title'] %}
            {% set completed = page.data['tasks']['tasks'][message]['completed_binary'] %}
            {% set tactic = page.data['tasks']['tasks'][message]['tactic_id'] %}
            
            {% if completed == 0 %}
                {% set status = False %}
            {% elif completed == 1 %}
                {% set status = True %}
            {% endif %}

            {{ tr(title=title, completed=status, admin=admin, tactic_id=tactic) }}

        {% endfor %}
    {% endmacro %}
    {% macro tr(title=None, completed=False, admin=True, tactic_id=None) %}
        <tr class="editable_task">
            <td>
                <div class="form-check">
                    <label class="form-check-label">
                        {% if completed == True %}
                            {% set checked = 'checked' %}
                        {% else %}
                            {% set checked = ''%}
                        {% endif %}
                        <input class="form-check-input task_complete" type="checkbox"
                        {{ checked }}>
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            </td>
            <td class="task_title text-left">
                <p
                {% if completed %} style="opacity: .5; text-decoration: line-through;" {% endif %}
                id="task_title">{% if tactic_id %}<a class="tactic_task" target="__blank" href="{{ url_for('tactic', tactic_id=tactic_id)}}">{% endif %}{{ title | clean_chars | safe }}{% if tactic_id %}</a>{% endif %}</p>
            </td>
            <td class="td-actions text-right">
            </td>
        </tr>
    {% endmacro %}

    {% macro new_task_modal(page) %}
  
            <div class="modal fade" id="task_modal" aria-labelledby="exampleModalLabel" aria-hidden="true" tabmessage="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Task title</strong></p>
                            {{ render_field(page.task_form.title, id="task_input", class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-neutral" data-dismiss="modal">Close</button>
                            <button type="button" id="add_task" data-dismiss="modal" class="btn btn-primary">Add task</button>
                        </div>
                    </div>
                </div>
            </div>

    {% endmacro %}
  
    {% if admin %}<div style="height:550px;" class="card-tasks todo">
    {% else %}<div class="card-tasks todo">{% endif %}
        <div class="card-header">
            {% if not admin %}
            {#<p>To improve your Marketr score complete the bold To-Do List items below</p>#}
            {% endif %}
            {% if admin %}
                <h5>This is a portal into what your client sees. Only add tasks for them. For your tasks, add those in Asana.</h5>
                <button class="btn btn-primary" data-toggle="modal" data-target="#task_modal" id="new_task">New task</button>
                {{ new_task_modal(page) }}
            {% endif %}
        </div>
        <div class="card-body" style="padding-top: 0;">
            <div class="task_table table-full-width table-responsive">
                <table class="table">
                    <tbody id="task_body">
                        {% if page.data['tasks']['tasks'] %}
                            {{view_tasks(page, admin=admin)}}
                            <div id="show_confetti" class="hidden">{% include "macros/confetti.html" %}</div>
                        {% else %}
                            <h4>No tasks yet! Your Marketer will assign you tasks here to help you with your Market(r) score.</h4>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro score() %}
<div style="margin-bottom: 7%;padding: 8%;" class="card negative_card">
    <div class="row">
        <div class="col-lg-8 col-sm-12">
            <h5><strong>Market(r) Score</strong></h5>
            <button type="button" style="background-color: transparent;" id="score_popover" class="btn btn-neutral" data-container="body" data-toggle="popover" data-html="true" data-placement="left" title="<p>The Market(r) Score</p><p>(from 250-800)</p>"
            data-content="<p>Market(r) score is the credit score for your marketing.  It's a business model-dependent, weighted algorithm that analyzes the completion state of your market(r) profile compared to an achievable ideal state.</p><br>
            <p>Reaching high Market(r) scores is a great way to ensure you have a healthy marketing core from which to effectively grow sales.</p>">
                What does this mean?
            </button>
        </div>
        <div id="loading" class="score-loading">
            <div class="load-circle"><span class="one"></span></div>
        </div>
        <div class="col-lg-4 col-sm-12 score_container" style="display: none; text-align:center;">
            <div id="score-ready">
                <label style="font-size: 150%;"><span class="marketr-score">000</span></label><br>
                <label class="marketr-score-quality">...</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="small_txt" id="score_error"></div>
            <label><strong>How to improve:</strong></label><br>
            <p>The Market(r) score takes into account the deepest nether-regions of your marketing efforts where marketing managers don't like to go and gives you an easily understandable metric and easily-implemented steps.</p>
            <p>
                The first, and best, thing you can do is to finish your profile. You can do this on the <a href="/home?view=profile">profile tab</a>.
            </p>
        </div>
    </div>
</div>
{% endmacro %}

{% macro messages(msg_list, page=None) %}


    {% macro view_message(from=None, copy=None, date=None) %}
        <div class="chat_label">
            <p><strong>{{ date }}</strong></p>
        </div>
        <div class="chat_box {{ from }}">
            {{ copy | clean_chars }}
        </div>
    {% endmacro %}


    <div class="card">
        <div class="card-header">
            <h5 class="card-category">Messages</h5>
        </div>
        <div class="card-body">
            <div class="chat">
                <div>
                    {% if msg_list %}
                        {% for message in range(msg_list | length) %}
                            
                            {% set index = message | int %}
                            {% set message_string = msg_list[index]['message_string'] %}
                            {% set admin_id = msg_list[index]['admin_id'] %}
                            {% set date = msg_list[index]['timestamp'] %}

                            {% if page.admin %}
                                {% if msg_list[index]['_from'] == 'admin' %}
                                    {% set from = "chat-user" %}
                                {% else %}
                                    {% set from = "chat-helper" %}
                                {% endif %}
                            {% else %}
                                {% if msg_list[index]['_from'] == 'admin' %}
                                    {% set from = "chat-helper" %}
                                {% else %}
                                    {% set from = "chat-user" %}
                                {% endif %}
                            {% endif %}
                            <div class="message_container">
                                {{ view_message(from=from, copy=message_string, date=date) }}
                            </div>
                        {% endfor %}
                    {% else %}
                        <h4>No messages yet! Send a message to your marketer to introduce yourself!</h4>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="input-group chat-section">
                <input class="chat_bar form-control" id="msg" placeholder="Market(r)">
                <span class="form-control-border"></span>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <button id="send_msg" class="btn btn-icon btn-fab btn-round btn-primary send_button"><i class="now-ui-icons ui-1_send"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro insights(page) %}
    {% macro build(page) %}
    <div id="carouselExampleIndicators" class="text-carousel carousel slide">
        <ol class="carousel-indicators">
            {% for insight in page.data['insights']['insights'] %}
                {% set index = loop.index - 1 %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ index }}" class="{{'active' if index == 0 else ''}}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for insight in page.data['insights']['insights'] %}
                <div class="carousel-item {{'active' if loop.index-1 == 0 else ''}}">
                    <p style="margin-bottom: 0;"><strong>{{ loop.index }} of {{ page.data['insights']['insights'] | length }}</strong></p>
                    <p class="small_txt">{{ insight['time'] }}</p>
                    <p>{{ insight['body'] }}</p>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="false"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="false"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div style="width: 80%; margin: 7% auto 3%;" class="separator"></div>
    <div style="text-align:center;">
        <p class="small_txt">Want to discuss these insights? Head over to the <a href="/home?view=messages">messages</a> tab.</p>
    </div>

    {% endmacro %}
<div class="row">
    {% if page.data['insights']['insights'] %}
        <div class="col">
            {{ build(page) }}
        </div>
    {% else %}
        <div style="padding: 5% 5% 3%;">
            <h6>Sweet, looks like you recently signed up for Market(r) services.</h6>
            <p>You can expect to see specific improvement insights here within the next week.</p>
            <p>Don't worry, we'll send you an email when your Market(r) guide adds the first insights. </p>
        </div>
    {% endif %}
</div>
{% endmacro %}

{% macro tactics(page) %}
    {% macro build(page) %}
    <div id="carouselExampleIndicators" class="text-carousel carousel slide">
        <ol class="carousel-indicators">
            {% for insight in page.data['tact']['insights'] %}
                {% set index = loop.index - 1 %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ index }}" class="{{'active' if index == 0 else ''}}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for insight in page.data['insights']['insights'] %}
                <div class="carousel-item {{'active' if loop.index-1 == 0 else ''}}">
                    <p style="margin-bottom: 0;"><strong>{{ loop.index }} of {{ page.data['insights']['insights'] | length }}</strong></p>
                    <p class="small_txt">{{ insight['time'] }}</p>
                    <p>{{ insight['body'] }}</p>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="false"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="false"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div style="width: 80%; margin: 7% auto 3%;" class="separator"></div>
    <div style="text-align:center;">
        <p class="small_txt">Want to discuss these insights? Head over to the <a href="/home?view=messages">messages</a> tab.</p>
    </div>

    {% endmacro %}
{#<div class="row">
    {% if page.data['insights']['insights'] %}
        <div class="col">
            {{ build(page) }}
        </div>
    {% else %}
        <div style="padding: 5% 5% 3%;">
            <h6>Sweet, looks like you recently signed up for Market(r) services.</h6>
            <p>You can expect to see specific improvement insights here within the next week.</p>
            <p>Don't worry, we'll send you an email when your Market(r) guide adds the first insights. </p>
        </div>
    {% endif %}
</div>#}
    <div>
        {% set base = page.data['tactics']['0'] %}
        {% if base['title']%}
            <p id="tactic_title"><strong>{{ base['title'] }}</strong></p>
            <p class="small_txt">{{ base['description'] }}</p>
            {% for x in page.data['tasks']['tasks'] if x['tactic_id'] %}
                {% if x['tactic_id'] == base['tactic_id'] %}
                    <div class="separator"></div>
                    <p>This tactic is added to your to-do list. Reach out to your Market(r) guide if you have questions!</p>
                {% else %}
                    <button id="add_tactic" value="{{ base['tactic_id'] }}" class="btn btn-outline btn-outline-primary">
                        + add tactic to to-do list
                    </button> 
                {% endif %}
            {% else %}
                <button id="add_tactic" value="{{ base['tactic_id'] }}" class="btn btn-outline btn-outline-primary">
                    + add tactic to to-do list
                </button>
            {% endfor %}
        {% else %}
            <p>Looks like we had trouble getting your tactic today. Sorry about that! We've been notified and we're working on it.</p>
        {% endif %}
    </div>
{% endmacro %}


{% macro overview(page) %}
    {% macro shell(page, spend=True) %}
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                {% if spend %}
                    <h5>Total Spend: ${{ page.data['google']['google'][0]['cost'] | round(2) }}</h5>
                {% else %}
                    <h5>Interaction Rate: {{ page.data['google']['google'][0]['agg_ctr'] | round }}%</h5>
                {% endif %}
            </div>
        </div>
        <div class="row sub_metrics">
            <div class="col-lg-6 col-sm-12">
                <h5><strong>n/a</strong></h5>
                <p class="small_p">Prior week</h6>
            </div>
            <div class="col-lg-6 col-sm-12">
                <h5>
                    <i class="now-ui-icons arrows-1_minimal-up"></i>
                    <strong>n/a</strong>
                </h5>
                <p class="small_p">Since Prior week</p>
            </div>
        </div>
        
    {% endmacro %}
    <div class="col-lg-6 col-sm-12">
        <div class="metrics_container metrics_container-primary">
            {{ shell(page) }}    
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="metrics_container metrics_container-secondary">
            {{ shell(page, spend=False) }}    
        </div>
    </div>

{% endmacro %}

{% macro test_performance(page) %}
    {% if page.data['tests']['tests'] %}
        {% for test in page.data['tests']['tests'] %}
            {% set current = test %}
            {% if loop.index % 2 != 0 %}
            <h2>Hypothesis: {{current['hypothesis']}}</h2>
            {% endif %}

            <div class="row">
                {% if loop.index % 2 == 0 and current['best_worst_binary'] == 0 %}
                <div class="col-lg-6 col-sm-12">
                    <h4>Worst Performing Variant</h4>
                    <div class="metrics_container metrics_container-tertiary">
                        <h6>Conversion: {{ current['conversion'] }}%</h6><br>
                        <h6>Views: {{ current['views'] }}</h6>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <h4>Variant</h4>
                    <div class="metrics_container metrics_container-tertiary">
                        {% if current['variant'] | get_first_five == 'http' %}
                            <img src="{{current['variant']}}">
                        {% else %}
                            <h4>{{current['variant'] | get_first_five}}</h4>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                <div class="col-lg-6 col-sm-12">
                    <h4>Best Performing Variant</h4>
                    <div class="metrics_container metrics_container-tertiary">
                        <h6>Conversion: {{ current['conversion'] }}%</h6><br>
                        <h6>Views: {{ current['views'] }}</h6>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <h4>Variant</h4>
                    <div class="metrics_container metrics_container-tertiary">
                        {% if current['variant'] | get_first_five == 'http' %}
                            <img src="{{current['variant']}}">
                        {% else %}
                            <h4>{{current['variant'] | get_first_five}}</h4>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
    <div class="col-lg-12">
        {{ pending_state('A/B Testing') }}
    </div>
    {% endif %}
{% endmacro %}


{% macro google_preview(page) %}
<div class="google_ad_preview_container">
    <h5>{{ base['best_headline_1'] }} | {{ base['best_headline_2'] }}</h5>
    <p class="website"><span>Ad</span> www.website.com</p>
    <p>{{ base['best_description'] }}</p>
</div>
{% endmacro %}

{% macro ads_performance(page) %}


    {% macro ad_display(page, best=True) %}
        {% set base = page.data['google']['google'][0] %}

        <div class="row">
            <div class="col-lg-12">
                <h5>{{ "Best Performing Ad" if best else "Worst Performing Ad" }}</h5>
                <div class="metrics_container metrics_container-tertiary">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <h6>Interaction rate: {{ base['best_ctr'] | round | string + "%" if best else base['worst_ctr'] | round | string + "%" }}</h6>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-lg-12 card">
                {{ google_preview(page) }}
            </div>
        </div>
    {% endmacro %}
    
    <div class="row">
        {% if page.data['google'] %}
            <div class="col-lg-12">
                <h2>Google Ads</h2>
                <div class="row">
                    {{ overview(page) }}
                </div>
                <div class="separator"></div>
            </div>
            <div class="col-lg-12">

                <div class="row">
                    <div class="col-lg-6">
                        {{ ad_display(page, best=True) }}
                    </div>
                    <div class="col-lg-6">
                        {{ ad_display(page, best=False) }}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-lg-12">
                {{ pending_state('Paid Ads') }}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro pending_state(service) %}
    <h5>We see that you opted in to {{ service }}. We're super excited to help you grow your business!</h5>
    <h6>Here's what's next:</h6>
    <ol>
        {% if service == 'Paid Ads' %}<li>Add funds to your Market(r) account.</li>{% else %}
        <li>Tell us how many tests you want us to run for you.</li>{% endif %}
        <li>Your Market(r) guide will craft your initial {{ 'campaigns' if service == 'Paid Ads' else 'tests' }} within specified budget parameters.</li>
        <li>You'll see key metrics here within 1 week. </li>
    </ol>
{% endmacro %}

{% macro ad_metrics(page) %}
    {% macro metrics_col(page, title=None) %}
        <div class="ad_container">
            <h5>{{ title }}</h5>
  {#          <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-12">
                    <p class="small_txt"><strong>Industry</strong> avg.</p>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12">
                    <span class="bar_chart"></span>
                </div>
            </div>#}
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-12">
                    <p class="small_txt"><strong>{{ page.data['core']['core'][0]['company_name'] }}'s</strong> prior 7-day avg.</p>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12">
                    {% if title == 'Cost Per Click (CPC)' %}
                        {% set metric = '$' + base['cpc_last_7'] | currency | string %}
                    {% elif title == 'Click-Through Rate (CTR)' %}
                        {% set metric = base['ctr_last_7'] | string + '%' %}
                    {% elif title == 'Clicks Per $1,000 Spend' %}
                        {% set metric = page.data['clicks_per_1000'] | add_commas | string %}
                    {% endif %}
                    <p><span width="" class="bar_chart us"></span>{{ metric }}</p>
                </div>
                
            </div>
  {#          <div class="box">
                <p style="margin-bottom: 0;" class="small_txt">Cost-savings per $1,000 spent</p>
                <h5 class="blue_header">$320</h5>
            </div>#}
        </div>
    {% endmacro %}
    {% set base = page.data['temp_ad_data']['ad_view'][0] %}
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <p><strong>{{ base['active_ads'] }}</strong> Ads are active</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <p><strong>{{ base['ads_last_30'] }}</strong> Ads tested past 30 days</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ metrics_col(page, title="Cost Per Click (CPC)") }}
        </div>
        <div class="col">
            {{ metrics_col(page, title="Click-Through Rate (CTR)") }}
        </div>
        <div class="col">
            {{ metrics_col(page, title="Clicks Per $1,000 Spend") }}
        </div>
    </div>
{% endmacro %}




{% macro google(headline=None, website=None, description=None) %}

	<div class="google_ad_preview_container">
		<h5 style="font-size: 110%;">{{ headline }}</h5>
		<p class="website"><span>Ad</span> {{ website }}</p>
		<p>{{ description }}</p>
	</div>

{% endmacro %}