{% macro game_tab_bar() %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="tab-link nav-link active" id="achievements-tab" data-toggle="tab" href="#achievements" role="tab" aria-controls="achievements" aria-selected="true">
            Achievements
        </a>
    </li>
    <li class="nav-item">
        <a class="tab-link nav-link" id="store-tab" data-toggle="tab" href="#store" role="tab" aria-controls="store" aria-selected="false">
            Store 
        </a>
    </li>
    <li class="nav-item">
        <a class="tab-link nav-link" id="rewards-tab" data-toggle="tab" href="#rewards" role="tab" aria-controls="rewards" aria-selected="false">
            Rewards
        </a>
    </li>
</ul>
{% endmacro %}

{% macro coin() %}
<div class="coin">
    <div class="coin-container">
        <img src="/static/assets/img/marketr_credit_logo.png">
    </div>
</div>
{% endmacro %}

{% macro credit_amount(amount) %}
<div class="credits_container">
    <div class="credit_amount">
        <p style="font-size:80%;">Credits:</p>
        <div class="row align-self-center">
            <div class="col-6">
                {{ coin() }}
            </div>
            <div class="col-5">
                <p class="total_credits small_txt">{{ amount | add_commas }}</p>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro achievement(title="", body="", credits=0, completed=False, claimed=False, id=None) %}
<div class="achievement_parent row align-self-center">
    <div class="col achievement_row {{ 'complete' if completed }}">
        <div class="row align-self-center">
            <div class="col-6">
                <p>{{ title | clean_chars }}</p>
            </div>
            <div class="col-sm-3 col-6">
                <div class="cost_container row row_cancel align-self-center">
                    <div class="col-4">
                        {{ coin() }}
                    </div>
                    <div class="col-8">
                        <span class="credit_cost"><strong>x{{credits}}</strong></span>
                    </div>
                </div>
            </div>
            <div class="center_it col-sm-3 col-12">
                {% if completed %}
                    {% if not claimed %}
                        <button id="{{credits}}_{{id}}" class="claim_credits btn-rounded btn btn-primary">
                            CLAIM
                        </button>
                    {% else %}
                        <p class="small_txt">claimed</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro pack(type) %}
<div class="row">
    <div class="col">
        <div class="card pack">
            <div class="row">
                <div class="col-6">
                    {% if type == 'helper' %}
                        <p class="small_txt"><strong>Helper pack</strong></p>
                    {% elif type == 'booster' %}
                        <p class="small_txt"><strong>Booster Pack</strong></p>
                    {% elif type == 'rocket' %}
                        <p class="small_txt"><strong>Rocket Pack</strong></p>
                    {% endif %}
                </div>
                <div class="col-6">
                    <div style="text-align:right;">
                        {#<button data-toggle="modal" data-target="{{type}}_modal" id="{{type}}" style="margin-top:-5%;" class="pack_modal btn btn-outline btn-outline-secondary">?</button>#}
                        
                        {% if type == 'helper' %}
                            <p class="small_txt">200 credits</p>
                        {% elif type == 'booster' %}
                            <p class="small_txt">2,000 credits</p>
                        {% elif type == 'rocket' %}
                            <p class="small_txt">40,000 credits</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="pack_img_container">
                        {% if type == 'helper' %}
                            <img style="width:80%;" src="/static/assets/img/helper.svg">
                        {% elif type == 'booster' %}
                            <img src="/static/assets/img/booster.svg">
                        {% elif type == 'rocket' %}
                            <img style="width: 130%;" src="/static/assets/img/rocket.jpg">
                        {% endif %}
                    </div>                    
                </div>
                <div style="text-align:right;" class="col">
                    <button id="{{type}}" class="pack_purchase btn btn-rounded btn-primary">Get</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="{{type}}_modal" tabindex="-1" role="dialog" aria-labelledby="{{type}}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{type}}_modal_header exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span class="{{type}}_modal_body"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Got it!</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro inside_pack(page, type="") %}
    {% set plan = page.data['core']['core'][0]['current_plan'] %}

    {% if type == 'helper' %}
        {% if plan and plan == '1' %}
            {% set rewards = [
                'Curated Tactic',
                'Credits (125 gp)',
                'Web page audit',
                'Influencer (2,500+ followers) mention',
                'Credits (2,500)',
                'Article (2000 words)',
                '3x Curated Tactics',
                '30 min consultation call',
                'Pricing analysis',
                'Influencer (10,000+ followers) mention'
            ]
            %}
            {% set odds = [
                '47.50%',
                '47.50%',
                '0.79%',
                '0.79%',
                '0.79%',
                '0.79%',
                '0.79%',
                '0.79%',
                '0.13%',
                '0.13%'
            ]%}
        {% else %}
            {% set rewards = [
                'Curated Tactic',
                'Credits (125 gp)',
                'Web page audit',
                'Credits (2,500)',
                'Article (2000 words)',
                '3x Curated Tactics',
                '30 min consultation call',
                'Pricing analysis'
            ]%}
            {% set odds = [
                '47.50%',
                '47.50%',
                '0.95%',
                '0.95%',
                '0.95%',
                '0.95%',
                '0.95%',
                '0.25%'
                ]%}
        {% endif %}

    {% elif type == 'booster' %}
        {% if plan and plan == '1' %}
            {% set rewards = [
                'Web page audit',
                'Influencer (2,500+ followers) mention',
                'Credits (2,500)',
                'Article (2000 words)',
                '3x Curated Tactics',
                '30 min consultation call',
                'Pricing analysis',
                'Influencer (10,000+ followers) mention'
            ]
            %}
            {% set odds = [
                '15.83%',
                '15.83%',
                '15.83%',
                '15.83%',
                '15.83%',
                '15.83%',
                '2.50%',
                '2.50%'
            ]%}
        {% else %}
            {% set rewards = [
                'Web page audit',
                'Credits (2,500)',
                'Article (2000 words)',
                '3x Curated Tactics',
                '30 min consultation call',
                'Pricing analysis'
            ]%}
            {% set odds = [
                    '19.00%',
                    '19.00%',
                    '19.00%',
                    '19.00%',
                    '19.00%',
                    '5.00%'
                ]%}
        {% endif %}
    {% elif type == 'rocket' %}
        {% if plan and plan == '1' %}
            {% set rewards = [
                'Pricing analysis',
                'Influencer (10,000+ followers) mention'
            ]
            %}
            {% set odds = [
                '50.00%',
                '50.00%'
            ]%}
        {% else %}
            {% set rewards = [
                'Pricing analysis'
            ]%}
            {% set odds = [
                '100.00%'
                ]%}
        {% endif %}

{% endif %}
                

    <br><p class="small_txt">What's inside</p>
    <div class="scrollable">
        {% for i in range(rewards | length) %}
        <div class="row row_cancel">
            <div class="col">
                <ul>
                    <li>{{ rewards[i] }}</li>
                </ul>
            </div>
            <div class="col">    
                <ul>
                    <li>{{ odds[i] }}</li>
                </ul>
            </div>
        </div>
        {% endfor %}

    </div>
{% endmacro %}