{% macro locked(type="ads") %}
    <div class="locked_parent">
        <div class="row locked_container">
            <div class="col-lg-12 col-sm-12">
                    <div class="modal fade" id="upgrade_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Pricing Options</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-12">
                                            <h5>$1/month</h5>
                                            <h6>Forever (basically) free</h6>
                                            <ul>
                                                <li>Ads management on up to $250/month in ad spend</li>
                                                <li>A/B testing for 1 test per month</li>
                                                <li>Analysis and insights from dedicated account manager</li>
                                            </ul>
                                            <a class="btn btn-outline btn-outline-primary" href="{{url_for('free_checkout')}}">Sign up</a>
                                        </div>
                                        <div class="col-lg-6 col-sm-12"> 
                                            {% if type == 'ads' %}
                                            <h5>$395/month</h5>
                                            <ul>
                                                <li>$500-$5,000/month in ad spend</li>
                                            </ul>
                                            {% else %}
                                            <h5>A/B Testing</h5>
                                            <h6>Starting at $495/month</h6>
                                            <ul>
                                                <li>1 test per month: $1/month (not kidding)</li>
                                                <li>$165/month per test with 3 test minimum</li>
                                                <li>Conversion tracking reports to guage effectiveness</li>
                                            </ul>
                                            {% endif %}
                                            <h6>Unlock full version.</h6>
                                            <a class="btn btn-primary" href="{{url_for('pricing')}}">Sign up</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                          

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                {% if type == 'ads' %}
                    <h5>Marketr can only report on managed spend. Let us manage your ads.</h5>
                {% elif type == 'insights' %}
                    <h5>Marketr offers customized marketing improvement insights for all users who enroll in Ad campaign management and/or A/B testing.</h5>
                    <h5>Enroll in one or both of them below to start getting your monthly Marketr Insights!</h3>
                {% else %}
                    <h5>Let Market(r) manage your A/B tests so you don't have to worry about it.</h5>
                {% endif %}

                <a class="btn btn-lg btn-outline-secondary" href="/pricing">
                    {% if type =='ads' %}
                        Yes, manage my ads!
                    {% elif type == 'insights' %}
                        I want insights!
                    {% else %}
                        Yes, A/B test for me!
                    {% endif %}
                    <i class='fa fa-unlock'></i>
                </a>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro tab_bar(page) %}

    <ul style="width: 70%;" class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="tab-link nav-link active" id="campaigns-tab" data-toggle="tab" href="#campaigns" role="tab" aria-controls="campaigns" aria-selected="true">
                Marketing
            </a>
        </li>
        <li class="nav-item">
            <a class="tab-link nav-link render_competitors" id="competitors-tab" data-toggle="tab" href="#competitors" role="tab" aria-controls="competitors" aria-selected="false">
                Intel
            </a>
        </li>
        <li class="nav-item">
            <a class="tab-link nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                Profile 
            </a>
        </li>
        <li class="nav-item">
            <a class="tab-link nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">
                Chat
                <span style="display:none;" class="notification_count message_task_insight_count">
                </span>
            </a>
        </li>
    </ul>

{% endmacro %}


{% macro section(link=None, title="", body="", hash=None, admin=False) %}

    <div class="target" id="{{hash if hash}}">
        <div class="container-responsive target_container">
            {% if not admin and link != None %}
                <div class="edit">
                    <a style="background-color:transparent;" href="{{url_for(link, home=True, splash=False)}}" class="edit btn-neutral btn">
                        Edit
                    </a>
                </div>
            {% endif %}
            <h5>&nbsp;&nbsp;{{ title | safe }}</h5>
        </div>
        <div class="card top_card">
            <div class="container">
                {{ body | safe }}
            </div>
        </div>
    </div>

{% endmacro %}





{% macro multi_val_iterator(iterable) %}
    {% for i in iterable %}
        {% if i %}
            <li>{{ i | clean_chars }}</li>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro sentence_iterator(iterable) %}
    {% for i in iterable %}
        {% if i %}
            {{i}}{{',' if loop.index < iterable | length else '' }}
        {% endif %}
        
    {% endfor %}
{% endmacro %}

{% macro product_val_iterator(iterable, key) %}
    {% for index in iterable %}
        {% if index[key] %}
            <td>{{ index[key] | clean_chars }}</td>
        {% else %}
            <td>n/a</td>
        {% endif %}
    {% endfor %}
{% endmacro %}
