{% macro locked(type="ads") %}
    <div class="locked_parent">
        <div class="row locked_container">
            <div class="col-lg-4 col-sm-12">
                <button class="btn btn-lg btn-outline-secondary">
                    {{"Yes, manage my ads!" if type == 'ads' else "Yes, A/B test for me!"}}
                    <i class='fa fa-unlock'></i>
                </button>
            </div>
            <div class="col-lg-8 col-sm-12">
                {% if type == 'ads' %}
                    <h3>Marketr can only report on managed spend. Let us manage your ads. <strong>Up to $500/month for free!</strong></h3>
                {% else %}
                    <h3>Let Market(r) manage your A/B tests so you don't have to worry about it. We'll even do <strong>one A/B test per month for free!</strong></h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}


{% macro tab_bar(page) %}

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="tab-link nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">
                Profile 
            </a>
        </li>
        <li class="nav-item">
            <a class="tab-link nav-link" id="campaigns-tab" data-toggle="tab" href="#campaigns" role="tab" aria-controls="campaigns" aria-selected="false">
                Campaigns
                <span class="notification_count tab_and_insight_count">
                    
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="tab-link nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">
                Messages
                <span class="notification_count message_count">
                    
                </span>
            </a>
        </li>
    </ul>

{% endmacro %}


{% macro section(link=None, title="", body="", hash="", admin=False) %}

    <div class="target" id="{{hash}}">
        <div class="container-responsive target_container">
            {% if not admin and link != None %}
                <div class="edit">
                    <a href="{{url_for(link, home=True, splash=False)}}" class="edit btn-primary btn">
                        <i class="now-ui-icons ui-2_settings-90"></i>
                    </a>
                </div>
            {% endif %}
            <h3>{{ title | safe }}</h3>
        </div>
        <div class="card">
            <div class="container">
                {{ body | safe }}
            </div>
        </div>
    </div>

{% endmacro %}



{% macro multi_val_iterator(iterable) %}
    {% for i in range(iterable | length) %}
        {% if iterable[i] and iterable[i] != "" %}
            <li>{{iterable[i]}}</li>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro product_val_iterator(iterable, key) %}
    {% for index in iterable %}
        {% if iterable[index][key] %}
            <td>{{ iterable[index][key] }}</td>
        {% else %}
            <td>n/a</td>
        {% endif %}
    {% endfor %}
{% endmacro %}
