{% macro locked(type="ads") %}
    <div class="locked_parent">
        <div class="row locked_container">
            <div class="col-lg-3 col-sm-12">
                {% if type != 'insights' %}
                    <button data-toggle="modal" data-target="#upgrade_modal" class="btn btn-lg btn-outline-secondary">
                        {% if type =='ads' %}
                            Yes, manage my ads!
                        {% else %}
                            Yes, A/B test for me!
                        {% endif %}
                        <i class='fa fa-unlock'></i>
                    </button>
                    <div class="modal fade" id="upgrade_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Pricing Options</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-12">
                                            <h5>$1/month</h5>
                                            <h6>Forever (basically) free</h6>
                                            <ul>
                                                <li>Ads management on up to $500/month in ad spend</li>
                                                <li>A/B testing for 1 test per month</li>
                                                <li>Analysis and insights from dedicated account manager</li>
                                            </ul>
                                            <a class="btn btn-outline btn-outline-primary" href="{{url_for('free_checkout')}}">Sign up</a>
                                        </div>
                                        <div class="col-lg-6 col-sm-12"> 
                                            {% if type == 'ads' %}
                                            <h5>$350/month</h5>
                                            <h6>+ % of ad spend</h6>
                                            <ul>
                                                <li>$500-$5,000/month: 8%</li>
                                                <li>$5,000-$15,000/month: 7%</li>
                                                <li>$15,000-$35,000/month: 6%</li>
                                            </ul>
                                            {% else %}
                                            <h5>A/B Testing</h5>
                                            <h6>Starting at $495/month</h6>
                                            <ul>
                                                <li>1 test per month: $1/month (not kidding)</li>
                                                <li>$165/month per test with 3 test minimum</li>
                                                <li>Conversion tracking reports to guage effectiveness</li>
                                            </ul>
                                            {% endif %}
                                            <h6>Unlock full version.</h6>
                                            <a class="btn btn-primary" href="{{url_for('ads_checkout') if type == 'ads' else url_for('ab_checkout') }}">Sign up</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                          
                {% endif %}
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-8 col-sm-12">
                {% if type == 'ads' %}
                    <h3>Marketr can only report on managed spend. Let us manage your ads. <strong>Up to $500/month for free!</strong></h3>
                {% elif type == 'insights' %}
                    <h3>Marketr offers customized marketing improvement insights for all users who enroll in Ad campaign management and/or A/B testing.</h3>
                    <h3>Enroll in one or both of them below to start getting your monthly Marketr Insights!</h3>
                {% else %}
                    <h3>Let Market(r) manage your A/B tests so you don't have to worry about it. We'll even do <strong>one A/B test per month for free!</strong></h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}


{% macro tab_bar(page) %}

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="tab-link nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">
                Profile 
            </a>
        </li>
        <li class="nav-item">
            <a class="tab-link nav-link" id="campaigns-tab" data-toggle="tab" href="#campaigns" role="tab" aria-controls="campaigns" aria-selected="false">
                Campaigns
                <span class="notification_count tab_and_insight_count">
                    
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="tab-link nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">
                Messages
                <span class="notification_count message_count">
                    
                </span>
            </a>
        </li>
    </ul>

{% endmacro %}


{% macro section(link=None, title="", body="", hash="", admin=False) %}

    <div class="target" id="{{hash}}">
        <div class="container-responsive target_container">
            {% if not admin and link != None %}
                <div class="edit">
                    <a href="{{url_for(link, home=True, splash=False)}}" class="edit btn-neutral btn">
                        <i class="now-ui-icons ui-2_settings-90"></i>
                    </a>
                </div>
            {% endif %}
            <h5>{{ title | safe }}</h5>
        </div>
        <div class="card">
            <div class="container">
                {{ body | safe }}
            </div>
        </div>
    </div>

{% endmacro %}





{% macro multi_val_iterator(iterable) %}
    {% for i in iterable %}
        {% if i %}
            <td>{{ i }},</td>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro product_val_iterator(iterable, key) %}
    {% for index in iterable %}
        {% if index %}
            <td>{{ index[key] }}</td>
        {% else %}
            <td>n/a</td>
        {% endif %}
    {% endfor %}
{% endmacro %}
