
{% block sidebar %}
<div class="sidebar" data-color="orange">
<!--
Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
	<div class="logo">
	  <a href="https://marketr.life" class="simple-text logo-normal">
	    <img src="/static/assets/img/marketrwhite.png">
	  </a>
	</div>
	<div class="sidebar-wrapper">
	  <ul class="nav">
	    <li class="{{ profile }}">
	      <a class="dyn_link" id="profile">
	        <i class="now-ui-icons design_app"></i>
	        <p>Profile</p>
	      </a>
	    </li>
	    <li class="{{ company }}">
	      <a class="dyn_link" id="company">
	        <i class="now-ui-icons files_box"></i>
	        <p>Company Info</p>
	      </a>
	    </li>
	    <li class="{{ audience }}">
	      <a class="dyn_link" id="audience">
	        <i class="now-ui-icons education_atom"></i>
	        <p>Audience</p>
	      </a>
	    </li>
	    <li class="{{ salescycle }}">
	      <a class="dyn_link" id="salescycle">
	        <i class="now-ui-icons loader_refresh"></i>
	        <p>Sales Cycle</p>
	      </a>
	    </li>
	    <li class="{{ goals }}">
	      <a class="dyn_link" id="goals">
	        <i class="now-ui-icons location_map-big"></i>
	        <p>Goals</p>
	      </a>
	    </li>
	    <li class="{{ history }}">
	      <a class="dyn_link" id="history">
	        <i class="now-ui-icons files_paper"></i>
	        <p>Historical Platforms</p>
	      </a>
	    </li>
	    <li class="{{ product }}">
	      <a class="dyn_link" id="product">
	        <i class="now-ui-icons objects_planet"></i>
	        <p>Product</p>
	      </a>
	    </li>
	    <li class="{{ creative }}">
	      <a class="dyn_link" id="assets">
	        <i class="now-ui-icons design_palette"></i>
	        <p>Creative</p>
	      </a>
	    </li>
	    <li class="{{ notes }}">
	      <a class="dyn_link" id="notes">
	        <i class="now-ui-icons files_single-copy-04"></i>
	        <p>Notes</p>
	      </a>
	    </li>
	  </ul>
	</div>
</div>
{% endblock %}