{% extends "layout.html" %}

{% block title %}
<title>
  Market(r) - History
</title>
{% endblock %}



{% block content %}
  {% with history="active" %}
    {% include "/sidebar/sidebar-intake.html" %}
  {% endwith %}
  {% include "/topbar/topbar-customer.html" %}
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="append_to">
          <div class="row">
            <div class="col-md-12">
              <div class="card" style="padding: 5%;">
                <div class="sub_menu">
                  <div class="step step_active">
                    <a href="/history" class="step_name sub_active">History</a>
                  </div>
                  <div class="step">
                    <a href="/history/platforms" class="step_name">Platforms</a>
                  </div>
                  <div class="step">
                    <a href="/history/platforms/past" class="step_name">Past</a>
                  </div>
                </div><br><br>
                <div class="card-body">
                  <form action=" {{ url_for( 'platforms' ) }}" method="post">
                    <div class="card-header">
                      <div class="row yellow_border">
                        <h6>To realize a better future, we must first understand our past...</h6><br>
                        <h2 class="blue_header">Let's see what you've trying or have tried before</h2>
                      </div>
                    </div>

                    <div class="reveal_container">
                      <a class="reveal_button continue">Let's do this</a>
                    </div>


                    <div class="reveal history">
                        <p><em>Select all that apply</em></p>
                        <div class="row row_cancel"">

                          <div class="col-lg-2 col-md-2 hb_many multi_row hover_box">
                            <img src="/static/assets/img/facebook.png">
                            <h6 class="hidden">yes</h6>
                            <input type="text" class="hidden hidden_input" name="facebook">
                          </div>

                          <div class="col-lg-2 col-md-2 hb_many multi_row hover_box">
                            <img src="/static/assets/img/GoogleAds.png">
                            <h6 class="hidden">yes</h6>
                            <input type="text" class="hidden hidden_input" name="google">
                          </div>

                          <div class="col-lg-2 col-md-2 hb_many multi_row hover_box">
                            <img src="/static/assets/img/bing.png">
                            <h6 class="hidden">yes</h6>
                            <input type="text" class="hidden hidden_input" name="bing">
                          </div>

                          <div class="col-lg-2 col-md-2 hb_many multi_row hover_box">
                            <img src="/static/assets/img/twitter.png">
                            <h6 class="hidden">yes</h6>
                            <input type="text" class="hidden hidden_input" name="twitter">
                          </div>

                          <div class="col-lg-2 col-md-2 hb_many multi_row hover_box">
                            <img src="/static/assets/img/yelp.png">
                            <h6 class="hidden">yes</h6>
                            <input type="text" class="hidden hidden_input" name="yelp">
                          </div>

                        </div>
                        <div class="row row_cancel">

                          <div class="col-lg-2 col-md-2 hb_many multi_row hover_box">
                            <img src="/static/assets/img/instagram.png">
                            <h6 class="hidden">yes</h6>
                            <input type="text" class="hidden hidden_input" name="instagram">
                          </div>

                          <div class="col-lg-2 col-md-2 hb_many multi_row hover_box">
                            <img src="/static/assets/img/linkedin.png">
                            <h6 class="hidden">yes</h6>
                            <input type="text" class="hidden hidden_input" name="linkedin">
                          </div>

                          <div class="col-lg-2 col-md-2 hb_many multi_row hover_box">
                            <img src="/static/assets/img/amazon.png">
                            <h6 class="hidden">yes</h6>
                            <input type="text" class="hidden hidden_input" name="amazon">
                          </div>

                          <div class="col-lg-2 col-md-2 hb_many multi_row hover_box">
                            <img src="/static/assets/img/snapchat.png">
                            <h6 class="hidden">yes</h6>
                            <input type="text" class="hidden hidden_input" name="snapchat">
                          </div>

                          <div class="col-lg-2 col-md-2 hb_many multi_row hover_box">
                            <img src="/static/assets/img/youtube.png">
                            <h6 class="hidden">yes</h6>
                            <input type="text" class="hidden hidden_input" name="youtube">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2 col-md-2 hb_many multi_row hover_box">
                            <br>
                            <h6><none></h6>
                            <p>Haven't tried any yet</p>
                            <br>
                            <input type="text" class="hidden hidden_input" name="none">
                          </div>
                        </div>


                        <div class="onward">            
                          <input type="submit" class="continue">
                        </div>


                    </div>
                  </form>
                </div>
              </div>
              </div>


            </div>
          </div>
        </div> <!--end row-->
      </div>
    </div>
{% endblock %}