{% extends "layout.html" %}

{% block title %}
<title>
  Market(r) - Past
</title>
{% endblock %}



{% block content %}
  {% with history="active" %}
    {% include "/sidebar/sidebar-intake.html" %}
  {% endwith %}
  {% include "/topbar/topbar-customer.html" %}
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="append_to">
          <div class="row">
            <div class="col-md-12">
              <div class="card" style="padding: 5%;">
                <div class="sub_menu">
                  <div class="step">
                    <a href="/history" class="step_name">History</a>
                  </div>
                  <div class="step">
                    <a href="/history/platforms" class="step_name">Platforms</a>
                  </div>
                  <div class="step step_active">
                    <a href="/history/platforms/past" class="step_name sub_active">Past</a>
                  </div>
                </div><br><br>
                <div class="card-body">
                  <form action=" {{ url_for( 'history_freeform' ) }}" method="post">
                    <div class="card-header">
                      <div class="row yellow_border">
                        <h6>Let's learn from your past performance...</h6><br>
                        <h2 class="blue_header">Tell us as much as you can about your past performance.</h2>
                        <p>Marketr uses sophisticated logic to figure out how effective prior campaigns were.  This data will be invaluable in diagnosing marketing opportunities and prescribing options forward.</p>
                      </div>
                    </div>

                    <div class="reveal_container">
                      <a class="reveal_button continue">Let's do this</a>
                    </div>


                    <div class="reveal">
                        <textarea class="form-control" placeholder="Back in 2013, we did X, Y, and Z.  X was great, Y was okay, and Z was terrible." name="history_freeform"></textarea>
     

                        <div class="onward">            
                          <input type="submit" class="continue">
                        </div>


                    </div>
                  </form>
                </div>
              </div>
              </div>


            </div>
          </div>
        </div> <!--end row-->
      </div>
    </div>

{% endblock %}