{% extends "layout.html" %}

{% block title %}
<title>
  Market(r) - Admin
</title>
{% endblock %}



{% block content %}
<div class="main-panel">
  {% include "/sidebar/admin/sidebar-admin.html" %}
  {% include "/topbar/topbar-admin.html" %}
  <div class="panel-header panel-header-sm">
  </div>
  <div class="content">
    <div class="append_to">

      <div class="card" style="padding: 5%;">

        <div class="card-header">
          {% if results['first_name'][0] %}
          <h2 class="blue_header">Admin view for {{ results['first_name'][0] }}</h2>
          {% endif %}

        </div>



        <div class="card-body">

          <form id="searcher" style="width: 40%;">
            <div class="input-group no-border">
              <input type="text" onkeyup="search()" name="company_name" id="company_name" class="form-control" placeholder="Search...">
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="now-ui-icons ui-1_zoom-bold"></i>
                </div>
              </div>
              <!--    <input value="FIND" id="search" name="company_name" type="submit" class="continue" style="font-weight: bold;padding: 2% 5%;border-radius: 5px 100px 100px 5px;"> -->
            </div>
          </form>
          <table id="display" style="width:100%;" class="admin_table">
            <tr class="orange">
              <th class="headers" style="cursor:pointer;" onclick="sortTable(0)">Company name <span class="blue arrows">&darr;</span> </th>
              <th class="headers" style="cursor:pointer;" onclick="sortTable(1)">% profile complete <span class="arrows">&darr;</span> </th>
              <th class="headers" style="cursor:pointer;" onclick="sortTable(2)">Account Created <span class="arrows">&darr;</span>  </th>
              <th class="headers" style="cursor:pointer;" onclick="sortTable(3)">Last Modified <span class="arrows">&darr;</span>  </th>
            </tr>
            {% if results['id'][0] %}
            {% for i, row in results.iterrows() %}
            <tr>
              <td><a href="/admin/{{ row[0] }}">{{ row[1] }}</a></td>
              <td>{{ row[3] }}%</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[4] }}</td>
            </tr>
            {% endfor %}
            {% endif %}
          </table>
        </div>

      </div>

    </div> <!--end row-->
  </div>

</div>




<script>
    function search(){
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("company_name");
    filter = input.value.toUpperCase();
    table = document.getElementById("display");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      } 
    }
  }
  function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("display");
        switching = true;
    // Set the sorting direction to ascending:
    dir = "asc"; 
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
    // Start by saying there should be no switching:
    shouldSwitch = false;
    /* Get the two elements you want to compare,
    one from current row and one from the next: */
    x = rows[i].getElementsByTagName("TD")[n];
    y = rows[i + 1].getElementsByTagName("TD")[n];
    /* Check if the two rows should switch place,
    based on the direction, asc or desc: */
    if (dir == "asc") {
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
    // If so, mark as a switch and break the loop:
    shouldSwitch = true;
    break;
    }
    } else if (dir == "desc") {
      if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
    // If so, mark as a switch and break the loop:
    shouldSwitch = true;
    break;
    }
    }
    }
    if (shouldSwitch) {
    /* If a switch has been marked, make the switch
    and mark that a switch has been done: */
    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
    switching = true;
    // Each time a switch is done, increase this count by 1:
    switchcount ++; 
    } else {
    /* If no switching has been done AND the direction is "asc",
    set the direction to "desc" and run the while loop again. */
    if (switchcount == 0 && dir == "asc") {
      dir = "desc";
      switching = true;
    }
    }
    }
    }
</script>

{% endblock %}

