{% extends "layout.html" %}

{% block title %}
<title>
  Market(r) - Admin
</title>

{% endblock %}

{% block css %}
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="main-panel">
  {% include "/sidebar/admin/sidebar-admin.html" %}
  {% include "/topbar/topbar-admin.html" %}
  <div class="panel-header panel-header-sm">
  </div>
  <div class="content">
    <div class="append_to">

      <div class="card" style="padding: 5%;">

        <div class="card-header">
          {% if results['first_name'][0] %}
          <h2 class="blue_header">Admin view for {{ results['first_name'][0] }}</h2>
          {% endif %}

        </div>



        <div class="card-body">

          <table id="display" style="width:100%;" class="admin_table">
            <thead>
              <tr class="orange">
                <th class="headers" style="cursor:pointer;">Company name</th>
                <th class="headers" style="cursor:pointer;">% profile complete</th>
                <th class="headers" style="cursor:pointer;">Account Created</th>
                <th class="headers" style="cursor:pointer;">Last Modified</th>
              </tr>
            </thead>
            <tbody>

              {% if results['id'][0] %}
              {% for i, row in results.iterrows() %}
              <tr>
                {% if row[1] != None %}
                  <td><a href="/admin/{{ row[0] }}?page=profile">{{ row[1] }}</a></td>
                {% else %}
                  <td><a href="/admin/{{ row[0] }}?page=profile">Name unavailable</a></td>
                {% endif %}

                <td>{{ row[3] }}%</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[4] }}</td>
              </tr>
              {% endfor %}
              {% endif %}
              
            </tbody>
          </table>
        </div>

      </div>

    </div> <!--end row-->
  </div>

</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" defer></script>

<script type="text/javascript">
$(document).ready( function () {
    $('#display').DataTable({
      "order": [[ 0, "asc" ]]
    });

    $(".dataTables_filter input").addClass("form-control")
    $(".dataTables_filter input").unwrap()
    $(".dataTables_filter input").parent().addClass("searcher")
    $(".dataTables_filter input").attr("placeholder", "Type company name...");
    $('.searcher').contents().eq(0).remove()
    $(".searcher").addClass("input-group")
    $(".searcher").addClass("no-border")
    $(".searcher").append("<div class='input-group-append'><div class='input-group-text'><i class='now-ui-icons ui-1_zoom-bold'></i></div></div>")

} );

</script>


<!--           <form id="searcher" style="width: 40%;">
            <div class="input-group no-border searcher">
              <input type="text" name="company_name" id="company_name" class="form-control" placeholder="Search...">
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="now-ui-icons ui-1_zoom-bold"></i>
                </div>
              </div>
            </div>
          </form> -->
{% endblock %}

