<div class="accordion" id="tactics_accordion">
    <div class="row">
    {% for i in range(data | length) %}
        {% set index = i | string %}
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div style="width: 50%;" id="heading_{{loop.index}}">
                <p>
                    <button class="btn btn-neutral" type="button" data-toggle="collapse" data-target="#collapse_{{loop.index}}" aria-expanded="false" aria-controls="collapse_{{loop.index}}">
                        {{ loop.index }}) {{ data[index]['title'] }}
                    </button>
                </p>
            </div>
            <div id="collapse_{{loop.index}}" class="collapse" aria-labelledby="heading_{{loop.index}}" data-parent="#tactics_accordion">
                <div class="card-body">
                   <p>{{ data[index]['description'] }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>