{% from "macros/_admin_macros.html" import auth_form %}

{{ admin_breadcrumb(page, view="campaigns") }}

<div style="padding-top: 0;" id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
    <div class="card-header" role="tab" id="headingOne">
        <a data-toggle="collapse" class="btn btn-neutral" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Ad Account IDs
        <i class="now-ui-icons arrows-1_minimal-down"></i>
        </a>
    </div>
    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-body">
            {{ auth_form(page, account_form) }}
        </div>
    </div>
</div>

<div id="root">
    <div class="row">
        <div class="col">
            <a class="campaign_controller" id="new_campaign" href="#">
                <div class="hover_box">
                    <div class="center_it" style="margin: auto;padding: 5% 2%;">
                        <thead><strong>Create new campaign</strong></thead>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="campaign_controller" id="existing" href="#">
                <div class="hover_box">
                    <div class="center_it" style="margin: auto;padding: 5%;">
                        <thead><strong>Analyze existing campaigns</strong></thead>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="hidden views" id="existing_view">
    existing
</div>

<div class="hidden views" id="new">
    <campaign-creator customer-id="{{page.user}}"></campaign-creator>
</div>



{% block js %}
<script type="module">
    //import {CampaignInitial} from '/static/src/components/campaign-initial.js'
    import CampaignCreator from '/static/src/components/campaign_creator.js'
    import CampaignViewModel from '/static/src/CampaignViewModel.js'

    const vm = new CampaignViewModel()
    vm.run()
</script>
{% endblock %}