{% extends "layout.html" %}

{% block title %}
<title>Company View</title>
{% endblock %}



{% block content %}
<div class="main-panel">
  {% include "/sidebar/admin/company-view-sidebar.html" %}
  {% include "/topbar/topbar-admin.html" %}
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="append_to">

          <div class="card" style="padding: 5%;">

            <div class="card-header yellow_border">

              <a href="/admin">All companies</a>
              <div class="yellow_border">
                <h4>{{ company }}</h4>
                <h5>Customer ID: <span class="blue">{{ customer_id }}</span></h5>
                <h6 class="">Market(r) Profile</h6>
              </div>

            </div>

            <div class="card-body">
              {% if page == 'audience' %}
                <h2 style="text-transform:uppercase;">{{ page }} Personas</h2>

              {% else %}
                <h2 style="text-transform:uppercase;">{{ page }}</h2>
              {% endif %}
              <div class="admin_column">
                    <!-- multiple items -->

                  {% if page == 'audience' %}

                  <!-- audience, multiple items -->
                    <!-- checking if there are multiple personas -->
                    {% if audiences != False %} 
                      <div class="container">
                      <!-- iterating through indexes for personas -->
                      {% for key in audiences.keys() %}
                        <!-- display index -->
                        <div class="col-lg-5 col-md-5 admin_row" style="text-align:left;margin-left:5%;">
                          <h5><span class="orange">{{ key + 1 }}:</span> {{data['persona_name'][key]}}</h5>
                          <h6 class="blue">Audience ID: {{ data['audience_id'][key] }}</h6><br><hr>

                        <!-- iterating through persona keys -->
                        {% for keys in audiences[key] %}
                          <h6>{{ keys }}</h6>

                          <!-- iterating through persona values -->
                          <ul>
                          {% for values in audiences[key][keys]%}
                              <li>{{ values }}</li>
                          {% endfor %}
                          </ul>
                        {% endfor %}
                        {% for column in columns %}
                          {% if column != "persona_name" and column != "audience_id" %}
                            <br><h6>{{column}}</h6><br>
                            <p>{{ data[column][key] }}</p><br>
                          {% endif %}
                        {% endfor %}
                        </div>
                      {% endfor %}
                    {% else %}
                      <h3>Customer has not started {{ page }} page</h3>
                    {% endif %}
                  </div>

                  {% elif page == 'salescycle' %}
                    <div class="col-lg-3 col-md-3">
                      <h6 class="orange">Awareness</h6><br>
                      <ul>
                      {% for key, value in awareness.iterrows() %}
                        <li>{{value['tactic']}}</li>
                      {% endfor %}
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <h6 class="orange">Evaluation</h6><br>
                      <ul>
                      {% for key, value in evaluation.iterrows() %}
                        <li>{{value['tactic']}}</li>
                      {% endfor %}
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <h6 class="orange">Conversion</h6><br>
                      <ul>
                      {% for key, value in conversion.iterrows() %}
                        <li>{{value['tactic']}}</li>
                      {% endfor %}
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <h6 class="orange">Retention</h6><br>
                      <ul>
                      {% for key, value in retention.iterrows() %}
                        <li>{{value['tactic']}}</li>
                      {% endfor %}
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <h6 class="orange">Referral</h6><br>
                      <ul>
                      {% for key, value in referral.iterrows() %}
                        <li>{{value['tactic']}}</li>
                      {% endfor %}
                      </ul>
                    </div>

                  <!-- only one item -->
                  {% elif page == 'product' %}
                    <h5 class="title">General Product Info</h5>
   
                    {% for key, value in data.items() %}
                      {% if key != "is profile" %}

                        {% if key != 'password' %}
                          {% if key != 'customer id' %}
                            <div class="col-lg-3 admin_row">
                              <h6 class="orange">{{ key }}</h6><br>
                              <p>{{ value[0] }}</p>
                            </div>

                          {% endif %}
                        {% endif %}

                      {% endif %}
                    {% endfor %}

                    {% if product_dict != False %}
                      {% for key in product_dict.keys() %}
                         {% for keys in product_dict[key] %}
                         <div class="col-lg-3 admin_row">
                           <h6 class="orange">{{ keys }}</h6>

                          <ul>
                            {% for values in product_dict[key][keys] %}
                                {% if keys == "link" %}
                                  <li><a target="_blank" href="http://{{ values }}">{{ values }}</a></li>
                                {% else %}
                                  <li>{{ values }}</li>
                                {% endif %}
                            {% endfor %}
                          </ul>
                        </div>
                        {% endfor %}
                      {% endfor %}
                    {% endif %}

                    <h5 class="title">Product List</h5>
                    {% for key, value in product_list.iterrows() %}
                    <div class="col-lg-10 row admin_row">
                      <h5 style="text-align: left;">Product name: {{ product_list['name'][key] }} (<span class="blue">id: {{product_list['p id'][key]}}</span>)</h5>
                      {% for keys, value in product_list.iteritems() %}
                        {% if keys != "name" and keys != "p id" %}
          
                          <div class="col-lg-3 admin_row">
                            <h6 class="orange">{{ keys }}</h6><br>
                            <p>{{ value[key] }}</p>
                          </div>

                        {% endif %}
    
                      {% endfor %}
                    </div>
                    {% endfor %}
                  {% elif page == 'notes' %}


                  <form name="notes" method="POST" action="{{ url_for('add_note', customer_id=customer_id) }}">
                    <h6 class="title">Create new note</h6>
                    <textarea class="form-control" name="note"></textarea>
                    <input type="submit" class="btn" value="+ ADD NOTE">
                  </form>
                  <h5 style="text-align:center;" class="title">Past Notes</h5>
                  {% for key, value in data.iterrows() %}
                    <div class="grand_notes">
                      <h6>{{value['author']}} {{value['author last']}}</h6>
                      <label>{{ value['added'] }}</label>
                      <div class="note_container">
                        <p>{{ value['content'] }}</p>
                      </div>
                    </div>
                  {% endfor %}

                  {% else %}
                      {% for key, value in data.items() %}
                        {% if key != "is profile" %}

                          {% if key != 'password' %}
                            {% if key != 'customer id' %}

                                {% if key == 'file path' %}
                                <div class="col-lg-10 admin_row">
                                  <h6 class="orange">Images</h6><br>
                                  <li style="list-style-type:none;"><img src="/{{ value[0] }}"></li>
                                  {% else %}
                                 <div class="col-lg-3 admin_row">
                                  <h6 class="orange">{{ key }}</h6><br>
                                  <p>{{ value[0] }}</p>
                                {% endif %}

                              </div>
                            {% endif %}
                          {% endif %}

                        {% endif %}
                      {% endfor %}
                  {% endif %}

              </div>
            </div>

          </div>

        </div> <!--end row-->
      </div>
    </div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function(){
    init_company_view()
  })
</script>
{% endblock %}