{% macro shell(header=None, body=None, footer=None) %}
<div class="card">
    <div class="card-header">
        {{ header if header }}
    </div>
    <div class="card-body">
        {{ body if body }}
    </div>
    <div class="card-footer">
        {{ footer if footer }}
    </div>
</div>
{% endmacro %}



{# dashboard layout#}
{% macro dashboard(page, csv_form=None, temp_form=temp_form, ab_form=ab_form, insight_form=None) %}


    {{ admin_breadcrumb(page, view="dashboard") }}
    <div class="card card-body">
        <h4 class="widget__title">{{ page.customer_name }}</h4>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <p><strong>Customer ID:</strong>
                <p>{{page.user}}</p>
            </div> 
            <div class="col-lg-3 col-md-3 col-sm-6">
                <p><strong>Email:</strong></p>
                <p>{{page.data['customer']['email']}}</p>
            </div> 
            <div class="col-lg-3 col-md-3 col-sm-6">
                <p><strong>Phone:</strong></p>
                <p>{{page.data['customer']['phone']}}</p>
            </div> 
            <div class="col-lg-3 col-md-3 col-sm-6">
                <p class="small_txt"><strong>Is this a real customer?</strong></p>
                <select data-customer_id="{{page.user}}" id="set_real_customer" class="form-control">
                    <option value="true" {{ 'selected' if page.data['customer']['real_customer'] else ''}}>Yes</option>
                    <option value="false" {{ 'selected' if not page.data['customer']['real_customer'] else ''}}>No</option>
                </select>
            </div> 
        </div>
        
        
        
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <p class="small_txt"><strong>Funds remaining</strong></p>
                {% if page.data['customer']['funds_remaining'] %}
                    <p>${{ page.data['customer']['funds_remaining'] }}</p>
                {% else %}
                    <p>Wallet empty</h5>
                {% endif %}
                <admin-wallet customer_id="{{page.user}}"></admin-wallet>
            </div> 
            <div class="col-lg-3 col-md-3 col-sm-6">
                <p class="small_txt"><strong>Spend Rate</strong></p>
                {% if page.data['customer']['spend_rate'] %}
                <p>${{ page.data['customer']['spend_rate'] }}/month</p>
                {% else %}
                <p>Spend rate not set</p>
                {% endif %}
            </div> 
            <div class="col-lg-3 col-md-3 col-sm-6">
                <p class="small_txt"><strong>Current Plan</strong></p>
                <p>{{ page.data['customer']['plan'] if not page.data['customer']['analytics'] else 'analytics' }}</p>
            </div> 
            <div class="col-lg-3 col-md-3 col-sm-6">
                <p class="small_txt"><strong>Data synced in Stitch?</strong></p>
                <select data-customer_id="{{page.user}}" id="sync_data_handler" class="form-control">
                    <option value="true" {{ 'selected' if page.data['customer']['data_synced'] else ''}}>Yes</option>
                    <option value="false" {{ 'selected' if not page.data['customer']['data_synced'] else ''}}>No</option>
                </select>
            </div> 
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">	
            <div class="card">
                {{ todo(page) }}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div id="talkjs-container"></div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card card-body">                
                <admin-recommendations
                    customer-id="{{page.user}}"
                    admin-id="{{page.admin}}">
                </admin-recommendations>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">	
            {{ insights(page, form=insight_form) }}	
        </div>
    </div>
<script>
    (function(t,a,l,k,j,s){
        s=a.createElement('script');s.async=1;s.src="https://cdn.talkjs.com/talk.js";a.head.appendChild(s)
        ;k=t.Promise;t.Talk={v:2,ready:{then:function(f){if(k)return new k(function(r,e){l.push([f,r,e])});l
        .push([f])},catch:function(){return k&&new k()},c:l}};})(window,document,[]);
    </script>
    <script type="module">
        import AdminRecs from '/static/src/components/admin/recommendations.js'


        Talk.ready.then(function() {
            let admin = parseInt({{page.admin}})
            let photo;
            switch (admin) {
                case 6: 
                    photo = 'https://marketr.life/static/branding/img/tristan.jpg'
                    break
                case 8:
                    photo = 'https://marketr.life/static/branding/img/tyler.jpeg'
                    break
                default:
                    photo = null
                    break
            }

            var me = new Talk.User({
                id: "admin-{{page.admin}}",
                role: "Admin",
                name: "{{page.chat['admin_name']}}",
                email: "{{page.chat['email']}}",
                photoUrl: photo,
                welcomeMessage: "Welcome to Market(r)! Do you have any particular place in which you'd like to start your marketing journey with us?"
            });
            
            window.talkSession = new Talk.Session({
                appId: "S9ifmqxv",
                me: me,
                signature: "{{page.chat['hash']}}",
                photoUrl: photo
            });


            var operator = new Talk.User({
                name: "{{page.chat['customer_name']}}",
                id: "{{page.chat['customer_id']}}",
                email: "{{page.chat['customer_email']}}",
                role: "User"
            });
            var conversation = window.talkSession.getOrCreateConversation("marketr-{{page.chat['customer_id']}}");
            conversation.setParticipant(me);
            conversation.setParticipant(operator);
            conversation.setAttributes({
                photoUrl: photo
            })
            var chatbox = window.talkSession.createChatbox(conversation);
            chatbox.mount(document.getElementById("talkjs-container"));
        });
    </script>
{% endmacro %}




{% macro intake(page) %}
    <h1>This is the intake view.</h1>
{% endmacro %}



{# page controller #}
{% if page.view == "dashboard" %}
    {{ dashboard(page, csv_form=csv_form, temp_form=temp_form, ab_form=ab_form, insight_form=insight_form)}}
{% elif page.view == "intake" %}
    {{ intake(page) }}
{% endif %}