{% extends "layouts/login_layout.html" %}
{% from "/macros/_macros.html" import render_field %}

{% block title %}
<title>Market(r) - Admin Login</title>
{% endblock %}

{%block header %}<h2>Admin Login:</h2>{% endblock %}

{% block form %}  

<form method="post" action="{{ url_for('admin_login') }}">
    {{ form.csrf_token }}
    <div class="authSeparator">
      <hr>

    </div>

    <fieldset>
      <div class="fieldCont">
        {{ render_field(form.email, placeholder="Your e-mail address") }}
      </div>

      <div class="fieldCont last">
        {{ render_field(form.password, placeholder="password", id="user_password") }}
      </div>
    </fieldset>

    <div class="formActions">
      <div class="buttonCont">
        <input id="hovers" type="submit" name="commit" value="Log in" data-disable-with="Log in">
      </div>
    </div>
</form>

{% endblock %}