    {% macro render_area(label=None, form_attr=None) %}
        {% macro render_tag(field)%}
            {{ field(**kwargs)|safe }}
        {% endmacro %}

        <div class="col-lg-3 col-sm-6 tag_container">
            <label>{{ render_tag(form_attr) }} {{label}}</label>
        </div>

    {% endmacro %}
    

    <form class="form" class="tag_form" method="POST" action="{{url_for('tags')}}">
        {{ form.csrf_token }}
        
        {% set tag_id = request.args.get('tag_id') if request.args.get('tag_id') else 4 %}
        {{ render_field(form.search, value=tag_id, class="form-control", placeholder="search by id") }}

        <p><strong>@Tyler</strong> note: the IDs run from 4-755</p>
        <input type="submit" name='submit_button' value="find tactic by id" class="btn btn-secondary">
        <div class="divider"></div>

        <h3>{{ page.tactic_title}} &nbsp;&nbsp; <span class="blue_header">Id: {{ page.tactic_id }}</span></h3>
        <p>Current tags for this id: {{ page.total_tags }}</p>
        <img style="width: 50%;" src="{{page.image}}">
        <p>{{page.tactic_description}}</p>

        <div class="separator"></div>

        <div class="col">
            <h5>Business model</h5>
            <div class="row">
                {{ render_area(label='Any', form_attr=form.any_model) }}
                {{ render_area(label='B2B', form_attr=form.b2b) }}
                {{ render_area(label='B2C', form_attr=form.b2c) }}
                {{ render_area(label='C2C', form_attr=form.c2c) }}
            </div>
        </div>

            <div class="col">
                <h5>Challenge</h5>
                <div class="row">
                    {{ render_area(label='easy', form_attr=form.easy)}}
                    {{ render_area(label='moderate', form_attr=form.moderate)}}
                    {{ render_area(label='difficult', form_attr=form.difficult)}}
                    {{ render_area(label='tbd', form_attr=form.tbd)}}
                </div>
            </div>


            <div class="col">
                <h5>Sales Cycle</h5>
                <div class="row">
                    {{ render_area(label='awareness', form_attr=form.awareness)}}
                    {{ render_area(label='evaluation', form_attr=form.evaluation)}}
                    {{ render_area(label='conversion', form_attr=form.conversion)}}
                    {{ render_area(label='retention', form_attr=form.retention)}}
                    {{ render_area(label='referral', form_attr=form.referral)}}
                </div>
            </div>


            <div class="col">
                <h5>Goals</h5>
                <div class="row">
                    {{ render_area(label='any', form_attr=form.any_goal)}}
                    {{ render_area(label='revenue', form_attr=form.revenue)}}
                    {{ render_area(label='cac', form_attr=form.cac)}}
                    {{ render_area(label='users', form_attr=form.users)}}
                    {{ render_area(label='leads', form_attr=form.leads)}}
                    {{ render_area(label='other', form_attr=form.other)}}
                </div>
            </div>


            <div class="col">
                <h5>Key metric</h5>
                <div class="row">
                    {{ render_area(label='any', form_attr=form.any_metrics)}}
                    {{ render_area(label='visitors', form_attr=form.visitors)}}
                    {{ render_area(label='sales', form_attr=form.sales)}}
                    {{ render_area(label='clicks', form_attr=form.clicks)}}
                    {{ render_area(label='downloads', form_attr=form.downloads)}}
                    {{ render_area(label='email_signup', form_attr=form.email_signup)}}
                    {{ render_area(label='registration', form_attr=form.registration)}}
                    {{ render_area(label='views', form_attr=form.views)}}
                    {{ render_area(label='shares', form_attr=form.shares)}}
                    {{ render_area(label='engagement', form_attr=form.engagement)}}
                    {{ render_area(label='leads', form_attr=form.leads)}}
                    {{ render_area(label='other', form_attr=form.other)}}
                </div>
            </div>


            <div class="col">
                <h5>Company Type</h5>
                <div class="row">
                    {{ render_area(label="any type", form_attr=form.any_type)}}
                    {{ render_area(label="digital product", form_attr=form.digital_product)}}
                    {{ render_area(label="tangible product", form_attr=form.tangible_product)}}
                    {{ render_area(label="saas", form_attr=form.saas)}}
                    {{ render_area(label="ecommerce", form_attr=form.ecommerce)}}
                    {{ render_area(label="affiliate commission", form_attr=form.affiliate_commission)}}
                    {{ render_area(label="media", form_attr=form.media)}}
                    {{ render_area(label="professional services", form_attr=form.professional_services)}}
                    {{ render_area(label="manual services", form_attr=form.manual_services)}}
                    {{ render_area(label="franchise", form_attr=form.franchise)}}
                    {{ render_area(label="brick and mortar", form_attr=form.brick_and_mortar)}}
                    {{ render_area(label="food and beverage", form_attr=form.food_and_beverage)}}
                </div>
            </div>


            <div class="col">
                <h5>4 P's</h5>
                <div class="row">
                    {{ render_area(label='na', form_attr=form.na)}}
                    {{ render_area(label='pricing', form_attr=form.pricing)}}
                    {{ render_area(label='product', form_attr=form.product)}}
                    {{ render_area(label='place', form_attr=form.place)}}
                    {{ render_area(label='promotion', form_attr=form.promotion)}}
                </div>
            </div>


            <div class="col">
                <h5>Other Tags</h5>
                <div class="row">
                    {{render_area(label='ab test', form_attr=form.ab_test)}}
                    {{render_area(label='ad campaigns', form_attr=form.ad_campaigns)}}
                    {{render_area(label='branding', form_attr=form.branding)}}
                    {{render_area(label='copy', form_attr=form.copy)}}
                    {{render_area(label='cta', form_attr=form.cta)}}
                    {{render_area(label='customer experience', form_attr=form.customer_experience)}}
                    {{render_area(label='email', form_attr=form.email)}}
                    {{render_area(label='facebook', form_attr=form.facebook)}}
                    {{render_area(label='instagram', form_attr=form.instagram)}}
                    {{render_area(label='landing page', form_attr=form.landing_page)}}
                    {{render_area(label='lead gen', form_attr=form.lead_gen)}}
                    {{render_area(label='linkedin', form_attr=form.linkedin)}}
                    {{render_area(label='links', form_attr=form.links)}}
                    {{render_area(label='pinterest', form_attr=form.pinterest)}}
                    {{render_area(label='pricing', form_attr=form.pricing)}}
                    {{render_area(label='product', form_attr=form.product)}}
                    {{render_area(label='promotion', form_attr=form.promotion)}}
                    {{render_area(label='public awareness', form_attr=form.public_awareness)}}
                    {{render_area(label='retargeting', form_attr=form.retargeting)}}
                    {{render_area(label='reviews', form_attr=form.reviews)}}
                    {{render_area(label='segmentation', form_attr=form.segmentation)}}
                    {{render_area(label='seo', form_attr=form.seo)}}
                    {{render_area(label='social', form_attr=form.social)}}
                    {{render_area(label='twitter', form_attr=form.twitter)}}
                    {{render_area(label='ui', form_attr=form.ui)}}
                    {{render_area(label='website', form_attr=form.website)}}
                </div>
            </div>

        <div style="text-align:center;" class="container">
            <input type="submit" name="" class="btn btn-primary" value="Save & Next">
        </div>
            
    </form>











