@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico");

body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 15px !important;
  color: #57667E;
  font-weight: 400 !important;
  line-height: 1.6 !important;
  font-smoothing: antialiased !important;
  overflow-x: hidden !important;
}


button,
input,
optgroup,
select,
textarea,
p,
h1,
 {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif; }

.font-alt {
  font-family: "Pacifico", sans-serif !important;
}