<script src="/static/src/convenience/webcomponents-loader.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-datatables@v1.6.16/dist/vanilla-dataTables.min.js" type="text/javascript"></script>


<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/6573216.js"></script>
<!-- End of HubSpot Embed Code -->
<script src="/static/assets/template-js/core/popper.min.js"></script>
<script src="/static/assets/template-js/plugins/perfect-scrollbar.jquery.min.js"></script>
<script src="/static/assets/template-js/plugins/chartjs.min.js"></script>
<script src="/static/assets/template-js/core/bootstrap.min.js" defer></script>


<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
<script src="/static/assets/template-js/plugins/bootstrap-notify.js"></script>
<script src="/static/assets/template-js/now-ui-dashboard.min.js?v=1.1.0" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="//unpkg.com/navigo@6"></script>


<script src="/static/src/convenience/helpers.js"></script>
<script src="/static/src/future_refactor/elements.js"></script>
<script src="/static/src/future_refactor/eventHandlers.js"></script>
<script src="/static/src/future_refactor/route_handlers.js"></script>
<script src="/static/src/future_refactor/routes.js"></script>
<script type="module" src="/static/src/controller.js" async></script>

<!-- Load a custom element definitions in `waitFor` and return a promise -->
<script type="module" async>
    import CampaignAnalyzer from '/static/src/components/existing-campaigns.js'
    import AdSpend from '/static/src/components/Spend.js'
    import PortfolioPerformance from '/static/src/components/portfolio/portfolio_performance.js'
    import Budget from '/static/src/components/portfolio/Budget.js'
    import Recommendations from '/static/src/components/customer/recommendations.js'
    import Rec_shell from '/static/src/components/customer/recommendations.js'
    import CompetitiveIntelligence from '/static/src/components/Competitors.js'
</script>




<script src="https://js.stripe.com/v3/"></script>
