
<script src="//unpkg.com/navigo@6"></script>
<script src="https://kit.fontawesome.com/e3807c000c.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>

<script src="/static/src/convenience/webcomponents-loader.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-datatables@v1.6.16/dist/vanilla-dataTables.min.js" type="text/javascript"></script>
<!-- Start of HubSpot Embed Code -->

<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/6573216.js"></script>
<!-- End of HubSpot Embed Code -->
<script src="/static/assets/template-js/core/popper.min.js"></script>
<script src="/static/assets/template-js/plugins/perfect-scrollbar.jquery.min.js"></script>
<script src="/static/assets/template-js/plugins/chartjs.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0" async></script>
<script src="/static/assets/template-js/now-ui-dashboard.min.js?v=1.1.0" type="text/javascript" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" async></script>
<script src="//unpkg.com/navigo@6" async></script>

<script type="module" src="/static/src/app.js" async></script>

<script type="module" async>
    import CampaignAnalyzer from "/static/src/components/existing-campaigns.js?version={{ 'date' | get_date }}"
    import AdSpend from "/static/src/components/Spend.js?version={{ 'date' | get_date }}"
    import PortfolioPerformance from "/static/src/components/portfolio/portfolio_performance.js?version={{ 'date' | get_date }}"
    import Budget from "/static/src/components/portfolio/Budget.js?version={{ 'date' | get_date }}"
    import Recommendations from "/static/src/components/customer/recommendations.js?version={{ 'date' | get_date }}"
    import Rec_shell from "/static/src/components/customer/recommendations.js?version={{ 'date' | get_date }}"
    import CompetitiveIntelligence from "/static/src/components/Competitors.js?version={{ 'date' | get_date }}"
    import Wallet from "/static/src/components/admin/wallet.js?version={{ 'date' | get_date }}"
    import AddUser from "/static/src/components/customer/AddUser.js?version={{ 'date' | get_date }}"
</script>

<script>
    window.onbeforeunload = function(event) {
        window.stop();
    };
</script>

<script src="https://js.stripe.com/v3/"></script>


