<!-- blocks -->

{% macro form_open(next_page, home) %}

	{% set route = next_page | form_route_map %}

	{% if home %}

		{% if next_page == 'platforms' %}
		<form class="ignore_default" method="POST" action="{{ url_for(route, coming_home=True, home=True) }}">
		{% else %}
		<form class="ignore_default" method="POST" action="{{ url_for(route, coming_home=True) }}">
		{% endif %}

	{% else %}
		<form class="ignore_default" method="POST" action="{{ url_for(route) }}">
	{% endif %}

{% endmacro %}


{% macro text_input(text, type, format, name, id, required) %}

	<input type={{type}} class="form-control {{ format }}" name="{{name}}" id="{{id}}" placeholder="{{ text }}" required="{{ required }}">

{% endmacro %}



{% macro left_nav(stage, intake) %}

	{% if intake == True %}
		<div class="sidebar" data-color="orange">
			<div class="logo">
			  <a href="https://marketr.life" class="simple-text logo-normal">
			    <img src="/static/assets/img/marketrwhite.png">
			  </a>
			</div>
			<div class="sidebar-wrapper">
			  <ul class="nav">
			    <li class="{{ 0 | check_active(stage) }}">
			      <a href="/begin">
			        <i class="now-ui-icons design_app"></i>
			        <p>Profile</p>
			      </a>
			    </li>
			    <li class="{{ 1 | check_active(stage) }}">
			      <a href="/competitors">
			        <i class="now-ui-icons education_atom"></i>
			        <p>Company Info</p>
			      </a>
			    </li>
			    <li class="{{ 2 | check_active(stage) }}">
			      <a href="/goals">
			        <i class="now-ui-icons location_map-big"></i>
			        <p>Goals</p>
			      </a>
			    </li>
			    <li class="{{ 3 | check_active(stage) }}">
			      <a href="/history">
			        <i class="now-ui-icons ui-1_bell-53"></i>
			        <p>History</p>
			      </a>
			    </li>
			    <li class="{{ 4 | check_active(stage) }}">
			      <a href="/creative">
			        <i class="now-ui-icons design_palette"></i>
			        <p>Creative</p>
			      </a>
			    </li>
			  </ul>
			</div>
		</div>

	{% endif %}

{% endmacro %}







{% macro breadcrumb(page, current_stage, view) %}


	{% macro formulate_row(link, name, view) %}

	    <li class="breadcrumb-item{% if name == view %} active" aria-current="page"{% else %}"{% endif %}>

	    	<a href="{{ url_for(link) }}">
	    		{{name}}
	    	</a>

	    </li>

	{% endmacro %}


	{% if current_stage > 0 %}

		 <nav aria-label="breadcrumb" role="navigation">
		 	<ol class="breadcrumb">

			{% if current_stage == 1 %}

			  {{ formulate_row('competitors', 'competitors', view) }}
			  {{ formulate_row('company', 'company', view) }}
			  {{ formulate_row('audience', 'audience', view) }}
			  {{ formulate_row('product', 'product', view) }}
			  {{ formulate_row('salescycle', 'salescycle', view) }}

			{% elif current_stage == 2 %}

			  {{ formulate_row('goals', 'goals', view) }}

			{% elif current_stage == 3 %}

			  {{ formulate_row('history', 'history', view) }}
			  {{ formulate_row('platforms', 'platforms', view) }}
			  {{ formulate_row('past', 'past', view) }}

			{% elif current_stage == 4 %}

			  {{ formulate_row('creative', 'creative', view) }}

			{% endif %}
			</ol>
		</nav>

	{% endif %}

{% endmacro %}




<!-- components -->




{% macro popout(why_or_what, copy, target) %}

{% if why_or_what == "why" %}

<button class="ignore_btn btn btn-neutral" data-toggle="collapse" data-target="#{{target}}" aria-expanded="false" aria-controls="{{target}}">
	Why?

{% else %}
<button class="ignore_btn btn btn-icon btn-primary btn-round" data-toggle="collapse" data-target="#{{target}}" aria-expanded="false" aria-controls="{{target}}">
	<h6><strong>?</strong></h6>
{% endif %}

</button>

<div class="collapse" id="{{target}}">
  <div class="card card-body">
    <p>{{ copy | safe | clean_chars }}</p>
  </div>
</div>

{% endmacro %}




{% macro input(name, placeholder, type, format) %}

{% if format == "30char_limit_max" %}
<input maxlength="30" placeholder="{{ placeholder }}" class="char_cap form-control col-lg-12 col-md-12 col-sm-12" type="text" id="{{ name }}" name="{{ name }}">
<span id="chars"></span>
{% elif format == "100char_limit_max" %}
<input maxlength="100" placeholder="{{ placeholder }}" class="char_cap form-control col-lg-12 col-md-12 col-sm-12" type="text" id="{{ name }}" name="{{ name }}">
<span id="chars"></span>
{% elif format == "integer" %}
	{% if name == 'zip' %}
		<input pattern="[0-9]" placeholder="{{ placeholder }}" class="form-control col-lg-12 col-md-12 col-sm-12" type="number" id="{{ name }}" name="{{ name }}">
	{% else %}
		<input placeholder="{{ placeholder }}" class="form-control col-lg-12 col-md-12 col-sm-12" type="text" id="{{ name }}" name="{{ name }}">
		<script type="text/javascript">
		var cleave = new Cleave('#{{ name }}', {
		    numeral: true,
		    numeralThousandsGroupStyle: 'thousand'
		});
		</script>
	{% endif %}

{% elif format == "currency" %}

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">$</span>
  </div>
    <input type="text" class="form-control" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}">
  <div class="input-group-append">
    <span class="input-group-text">.00</span>
  </div>
</div>

<script type="text/javascript">
var cleave = new Cleave('#{{ name }}', {
    numeral: true,
    numeralThousandsGroupStyle: 'thousand'
});
</script>

{% elif format == "5000char_limit_max" %}

<textarea name="{{ name }}" id="{{ name }}" class="inset col-lg-12 col-md-12 char_cap form-control" placeholder="{{ placeholder }}"></textarea>
<span id="chars"></span>

{% endif %}
{% endmacro %}



{% macro autocomplete(route, name, placeholder, format) %}

{{ input(name, placeholder, "text", format) }}

<script type="text/javascript">
	var options = {
	  url: "{{ route }}",
	  getValue: "{{ route | remove_first_char }}",
	  list: {	
	    match: {
	      enabled: true
	    }
	  },
	  theme: "square"
	};
	$("#industry").easyAutocomplete(options);
</script>

{% endmacro %}





{% macro tiles(h6, p, type, name, sub_name='') %}

	{% set h6 = h6 | tiles_to_array %}
	{% if p != None %}	
		{% set p = p | tiles_to_array %}
	{% else %}
		{% set p = None %}
	{% endif %}

	{% if h6 | length < 6 and h6 | length > 4 %}
		{% set large_md_sm_col = 'col-lg-2 col-md-5 col-sm-5 ' %}
	{% elif h6 | length < 4 and h6 | length > 2 %}
		{% set large_md_sm_col = 'col-lg-2 col-md-5 col-sm-5 ' %}
	{% elif h6 | length < 5 and p == None %}
		{% set large_md_sm_col = 'col-lg-2 col-md-2 col-sm-5 ' %}
	{% endif %}

	{% macro core(h6, p, tile_type, sub_name='') %}

		<div class="table-responsive
			{% if tile_type == 'multi' or tile_type == 'perc' %}
			hb_many
			{% endif %}
			hover_box
			{{ large_md_sm_col }}
			col-5">
			<table style="width: 100%; vertical-align: middle;" class="table table-borderless">
			    <thead style="text-align: center;">
			      <th style="font-size: 100%;">
			      	<h6>{{h6}}</h6>
			      	{% if tile_type == 'multi'%}
						<input type='text' class="hidden_input hidden" name="{{ name }}">
			      	{% endif %}
			      </th>
			    </thead>
			    {% if p != None %}
				    <tbody>
				    	<tr style="padding: 0% 4%;">
						    <td>
						      	<p>{{p}}</p>
						    </td>
				    	</tr>

						{% if tile_type == 'perc' %}
				    	<tr>
				    		<td>	
								<input style="text-align:center; width:100%;" type="number" class="percent in_box form-control" placeholder="x%" name="{{sub_name}}">
				    		</td>
				    	</tr>
						{% endif %}
				    </tbody>
				{% endif %}
		    </table>
	    </div>

	{% endmacro %}

	<div class="row">


		{% set perc_names = 'p' | perc_array %}

		{% for h in h6 %}

			{% if p != None %}
				{% set param_p = p[loop.index-1] %}
			{% else %}
				{% set param_p = None %}
			{% endif %}


			{% if type == 'tiles_single_select' %}	
				{{ core(h, param_p, 'single') }}
			{% elif type == 'tiles_multi_select' %}
				{{ core(h, param_p, 'multi') }}
			{% elif type == 'tiles_multi_select_with_%' %}
				{{ core(h, param_p, 'perc', perc_names[loop.index-1]) }}
			{% endif %}

		{% endfor %}

		{% if type == 'tiles_single_select' %}
			<input type="text" class="hidden_input hidden" name="{{ name }}">
		{% endif %}

	</div>

{% endmacro %}



{% macro create_element(why, what, copy, target, p_or_l, label, type, placeholder, format, name, route, h6, p) %}

	{% if p_or_l == 'p' %}

		<div class="col-12">
			<p>{{ label | safe }}</p>
		</div>

	{% else %}

		{% if not type | tiles %}

			<div class="col-lg-6 col-md-6 col-sm-12">

				<label for="{{ name }}">{{ label }}</label>

				{% if why == 1 %}
					{{ popout('why', copy, target) }}
				{% endif %}

				{% if what == 1 %}
					{{ popout('what', copy, target) }}
				{% endif %}


				{% if type == 'auto-complete' %}

					{{ autocomplete(route, name, placeholder, format) }}

				{% elif type == 'text_input' or type == "number_input" or type == "textarea" %}

					{{ input(name, placeholder, type, format) }}

				{% elif type == 'website' %}

					<div class="input-group col-12">
				      <div class="input-group-prepend">
				        <span class="input-group-text">https://</span>
				      </div>
				      <input placeholder="{{ placeholder }}" type="text" name="{{ name }}" class="col-lg-12 col-md-12 col-sm-12 website form-control"><br>
				      <span class="isValid"></span>
				    </div>

				 {% endif %}

			</div>

		{% else %}

			<div class="col-lg-12 col-md-12 col-sm-12">
				<label for="{{ name }}">{{ label }}</label>
				{% if why == 1 %}
					{{ popout('why', copy, target) }}
				{% endif %}

				{% if what == 1 %}
					{{ popout('what', copy, target) }}
				{% endif %}

				{{ tiles(h6, p, type, name, ) }}
			</div>

		{% endif %}

	{% endif %}

{% endmacro %}





<!-- core build -->

{% macro form_body(questions) %}

	{# vars for question builds. Didn't do vars for p rows as they are less common and less configurable. #}
	{% for question in questions %}

		{% set why = question[6] %}
		{% set what = question[8] %}
		{% if why == 1 %}
			{% set copy = question[7] %}
		{% elif what == 1 %}
			{% set copy = question[9] %}
		{% endif %}
		{% set target = question[0] %}
		{% set label = question[3] %}
		{% set type = question[18] %}
		{% set placeholder = question[19] %}
		{% set format = question[20] %}
		{% set name = question[21] %}
		{% set route = question[22] %}
		{% set tile_h6 = question[24] %}
		{% set tile_p = question[25] %}

		{% set next = loop.index %}
		{% set last = loop.index - 2 %}

		{# check if it's a p row or question row #}
		{% if label != None %}

			{% if format | layout and type != 'auto-complete' %}
				{% if not questions[last][20] | layout %}	
					<div class="row">
				{% endif %}
					
					{{ create_element(why, what, copy, target, 'l', label, type, placeholder, format, name, route, '', '') }}

				{% if not questions[next][20] | layout %}
					</div>
				{% endif %}

		


			{% else %}

				<div class="row">
					{{ create_element(why, what, copy, target, 'l', label, type, placeholder, format, name, route, tile_h6, tile_p) }}
				</div>

			{% endif %}


		{% else %}

			<div class="row">
				{{ create_element(question[6], question[8], question[9], question[0],'p', question[13], question[18], question[19], question[20], question[21], '', '') }}
			</div>

		{% endif %}

	{% endfor %}

{% endmacro %}








