{% extends "layouts/login_layout.html" %}
{% block title %}
<title>Market(r) - Create Account</title>
{% endblock%}


{% block header %}
<h2>Let's get started.</h2>
<div class="authSeparator">
<hr>
</div>
<p>You'll want to set aside about 20 minutes right now for us to build your marketing plan. Don't worry&mdash;your progress will be saved as you go through. You can always log back in and finish at another time.</p><br>
<p>At the end, we'll have all of the information we need to grow your business beyond your wildest expectations.</p>
{% endblock%}

{% block form %}

    <form class="new_user" id="new_user" action="{{ url_for('create_user') }}" accept-charset="UTF-8" method="post">
      <fieldset>
        <div class="fieldCont">
          <input required="required" type="email" name="username" id="user_email">
          <label class="over">Your e-mail address</label>
        </div>

        <div class="fieldCont last">
          <input autocomplete="off" required="required" type="password" name="password" id="user_password">
          <label class="over">Password</label>
        </div>
        <span class="format"> </span>

      </fieldset>

      <div class="formActions">
        <div class="buttonCont">
          <input id="hovers" type="submit" name="commit" value="Let's go" data-disable-with="Log in">
        </div>
      </div>
    </form>

{% endblock %}

{% block otherLinks %}
<a href="/login_page">Customer Login</a>
{% endblock %}