{% extends "layout.html" %}
{% from "_macros.html" import form_open, text_input, breadcrumb, left_nav, form_body, popout, create_element, autocomplete %}

{% block title %}
<title>Market(r) - {{ page.title | capitalize }}</title>
{% endblock %}

{% block content %}
	{{ left_nav(page.stage, True) }}
	{% include "/topbar/topbar-customer.html" %}

	<div class="panel-header panel-header-sm">
	</div>
	<div class="content">
		<div class="row row_cancel">
			<div class="col-md-12">
				<div class="card" style="padding: 5%;">

					{{ form_open(page.title, request.args.get('home')) }}

						<div class="card-header">
							{{ breadcrumb(page.title, page.stage, page.title) }}

							<div class="row yellow_border row_cancel">
							
								<h2 class="blue_header">{{ page.header | safe }}</h2>
								<p>{{ page.intro | safe }}</p>

							</div>

						</div>

<!-- 						<div class="reveal_container">
	                    	<a class="reveal_button continue">Let's do this</a>
	                    </div> -->

	                    <div class="">

							<div class="card-body all-icons">

								<div class="container-fluid">
								
									{{ form_body(page.questions) | safe | clean_chars }}
									
								</div>

							</div>

						</div>

						<div class="onward">
							<input type="submit" class="continue">
						</div>
					
					</form>

				</div>
			</div>
		</div>
	</div>

{% endblock %}