{% extends "layouts/login_layout.html" %}

{% block title %}
<title>Market(r) - Login</title>
{% endblock %}

{%block header %}<h2>Log in to Market(r):</h2>{% endblock %}

{% block form %}  

  <form class="new_user" id="new_user" action="{{ url_for('customer_login') }}" accept-charset="UTF-8" method="post">

    <div class="authSeparator">
      <hr>

    </div>

    <fieldset>
      <div class="fieldCont">
        <input placeholder="Your e-mail address" required="required" type="email" name="username" id="user_email">
        <!-- <label class="over">Your e-mail address</label> -->
      </div>

      <div class="fieldCont last">
        <input autocomplete="off" placeholder="password" required="required" type="password" name="password" id="user_password">
        <!-- <label class="over">Password</label> -->
      </div>
    </fieldset>

    <div class="formActions">
      <div class="buttonCont">
        <input id="hovers" type="submit" name="commit" value="Log in" data-disable-with="Log in">
      </div>
    </div>
  </form>

{% endblock %}

{% block otherLinks %}
  <a href="/new">Sign up</a>
  <a href="/forgot">Forgot your password?</a>
{% endblock %}


