<p class="small_txt"><strong>Achievements</strong></p>


{% set achievements = page.data['achievements']['achievements'] %}
{% if achievements %}
    {% macro achievement_call(ach) %}
        {{ achievement(            
            title=ach.get('title'),
            credits=ach.get('credits'),
            completed=True if ach.get('customer_id') else False,
            claimed=True if ach.get('claimed') == 1 else False,
            id=ach.get('id')
        )}}
    {% endmacro %}
    {% for ach in achievements %}
        {% if ach.get('customer_id') %}
            {{ achievement_call(ach) }}
        {% endif %}
    {% endfor %}
    {% for ach in achievements %}
        {% if not ach.get('customer_id') %}
            {{ achievement_call(ach) }}
        {% endif %}
    {% endfor %}
{% endif %}
