{% from "macros/_macros.html" import notifications %}
{% block topbar %}
<div class="modal fade" id="confirm_home" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Possible unsaved work</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you want to return home or save your changes?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Stay here</button>
        <a class="btn btn-primary" href="/home">Return home</a>
      </div>
    </div>
  </div>
</div>


<div class="main-panel">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-sm navbar-transparent navbar-absolute bg-primary fixed-top">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="navbar-toggle">
          <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navigation">
<!--         <form>
          <div class="input-group no-border">
            <input type="text" value="" class="form-control" placeholder="Search...">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="now-ui-icons ui-1_zoom-bold"></i>
              </div>
            </div>
          </div>
        </form> -->
        {% if request.args.get('home') %}
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm_home">
            Return home
          </button>
          {% else %}
          <div class="need_help hidden">
            <span id="xx">x</span><br>
            <h6 class="title">Feeling a bit overwhelmed? Get help from a marketing expert!</h6><br><br>
            <a class="continue" href="/">Schedule a call</a>
          </div>
        {% endif %}
        
        

        <ul class="navbar-nav">
          {{ notifications() }}
          <li style="list-style-type: none;" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" arias-haspopup="true" aria-expanded="false">
              <i class="now-ui-icons users_single-02"></i>
              <p>
                <span class="d-lg-none d-md-block">Account</span>
              </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/logout">Logout</a>
                {% if page %}
                  <div class="input-group-text"><i class="fa fa-user-circle"></i>{{ page.name }}</div>
                {% endif %}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

{% endblock %}

